<link rel="apple-touch-icon" sizes="180x180" href="/assets/admin/assets/img/favicons/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/admin/assets/img/favicons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/admin/assets/img/favicons/favicon-16x16.png">
<link rel="shortcut icon" type="image/x-icon" href="/assets/admin/assets/img/favicons/favicon.ico">
<meta name="msapplication-TileImage" content="/assets/img/favicons/mstile-150x150.png">
<meta name="theme-color" content="#ffffff">
<script src="/assets/admin/assets/vendors/imagesloaded/imagesloaded.pkgd.min.js"></script>
<script src="/assets/admin/assets/vendors/simplebar/simplebar.min.js"></script>
<script src="/assets/admin/assets/js/config.js"></script>

<!-- ===============================================-->
<!--    Stylesheets-->
<!-- ===============================================-->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
<link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&amp;display=swap"
      rel="stylesheet">
<link href="/assets/admin/assets/vendors/simplebar/simplebar.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
<link href="/assets/admin/assets/css/theme-rtl.min.css" type="text/css" rel="stylesheet" id="style-rtl"
      disabled="disabled">
<link href="/assets/admin/assets/css/theme.min.css" type="text/css" rel="stylesheet" id="style-default">
<link href="/assets/admin/assets/css/user-rtl.min.css" type="text/css" rel="stylesheet" id="user-style-rtl"
      disabled="disabled">
<link href="/assets/admin/assets/css/user.min.css" type="text/css" rel="stylesheet" id="user-style-default">

<main class="main" id="top">
    <!--====== Start Preloader ======-->
    <div class="preloader" ng-show="isLoading">
        <div class="loader">
            <div class="pre-shadow"></div>
            <div class="pre-box"></div>
        </div>
    </div><!--====== End Preloader ======-->
    <div class="container-fluid bg-300 dark__bg-1200">
        <div class="bg-holder bg-auth-card-overlay"
             style="background-image:url(/assets/admin/assets/img/bg/37.png);"></div>
        <!--/.bg-holder-->
        <div class="row flex-center position-relative min-vh-100 g-0 py-5">
            <div class="col-11 col-sm-10 col-xl-8">
                <div class="card border border-200 auth-card">
                    <div class="card-body pe-md-0">
                        <div class="row align-items-center gx-0 gy-7">
                            <div class="col-auto bg-100 dark__bg-1100 rounded-3 position-relative overflow-hidden auth-title-box">
                                <div class="bg-holder"
                                     style="background-image:url(/assets/admin/assets/img/bg/38.png);"></div>
                                <!--/.bg-holder-->
                                <div class="position-relative px-4 px-lg-7 pt-7 pb-7 pb-sm-5 text-center text-md-start pb-lg-7 pb-md-7">
                                    <h3 class="mb-3 text-black fs-1">ĐỘI NGŨ NHÂN VIÊN TRAVEL TOUR</h3>
                                    <p class="text-700">Travel Tour - Sứ mệnh của chúng tôi là biến mỗi chuyến đi thành
                                        cuộc phiêu lưu đầy nhiệt huyết và trải nghiệm đáng nhớ. Trân trọng và lịch sự
                                        với mọi khách hàng!</p>
                                    <ul class="list-unstyled mb-0 w-max-content w-md-auto mx-auto">
                                        <li class="d-flex align-items-center"><span
                                                class="uil uil-check-circle text-success me-2"></span><span
                                                class="text-700 fw-semi-bold">Trung thực</span></li>
                                        <li class="d-flex align-items-center"><span
                                                class="uil uil-check-circle text-success me-2"></span><span
                                                class="text-700 fw-semi-bold">Nhiệt huyết</span></li>
                                        <li class="d-flex align-items-center"><span
                                                class="uil uil-check-circle text-success me-2"></span><span
                                                class="text-700 fw-semi-bold">Tận tâm</span></li>
                                    </ul>
                                </div>
                                <div class="position-relative z-index--1 mb-6 d-none d-md-block text-center mt-md-15">
                                    <img class="auth-title-box-img d-dark-none"
                                         src="/assets/admin/assets/img/spot-illustrations/auth.png" alt=""><img
                                        class="auth-title-box-img d-light-none"
                                        src="/assets/admin/assets/img/spot-illustrations/auth-dark.png" alt=""></div>
                            </div>
                            <div class="col mx-auto">
                                <div class="auth-form-box">
                                    <div class="text-center mb-4">
                                        <a class="d-flex flex-center text-decoration-none mb-4" href="#"
                                           ng-click="goHome()">
                                            <div class="d-flex align-items-center fw-bolder fs-5 d-inline-block">
                                                <img src="/assets/admin/assets/img/icons/logo.png" alt="logo"
                                                     width="50"/>
                                                <p class="logo-text text-dark ms-1 d-none d-sm-block fw-bolder">
                                                    TravelTour</p>
                                            </div>
                                        </a>
                                        <h3 class="text-1000">Đăng nhập</h3>
                                    </div>
                                    <form ng-submit="loginAccountAdmin()" method="POST" role="form" name="loginForm">
                                        <div class="mb-3 text-start">
                                            <label class="form-label" for="email">
                                                Địa chỉ email
                                            </label>
                                            <div class="form-icon-container">
                                                <input class="form-control form-icon-input"
                                                       id="email"
                                                       type="email"
                                                       name="email"
                                                       ng-model="user.email"
                                                       ng-class="{ 'is-invalid': loginForm.email.$invalid && loginForm.email.$touched, 'is-valid': loginForm.email.$valid && loginForm.email.$touched }"
                                                       ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]+$/"
                                                       required
                                                       placeholder="name@example.com"
                                                >
                                                <svg class="svg-inline--fa fa-user text-900 fs--1 form-icon"
                                                     aria-hidden="true" focusable="false" data-prefix="fas"
                                                     data-icon="user"
                                                     role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"
                                                     data-fa-i2svg="">
                                                    <path fill="currentColor"
                                                          d="M224 256c70.7 0 128-57.31 128-128s-57.3-128-128-128C153.3 0 96 57.31 96 128S153.3 256 224 256zM274.7 304H173.3C77.61 304 0 381.6 0 477.3c0 19.14 15.52 34.67 34.66 34.67h378.7C432.5 512 448 496.5 448 477.3C448 381.6 370.4 304 274.7 304z"></path>
                                                </svg>
                                                <small class="text-danger"
                                                       ng-show="loginForm.email.$touched && loginForm.email.$error.required">
                                                    Vui lòng nhập địa chỉ email !
                                                </small>
                                                <small class="text-danger"
                                                       ng-show="loginForm.email.$touched && loginForm.email.$error.pattern">
                                                    Địa chỉ email không đúng định dạng !
                                                </small>
                                            </div>
                                        </div>
                                        <div class="mb-3 text-start">
                                            <label class="form-label" for="password">Mật khẩu</label>
                                            <div class="form-icon-container">
                                                <input class="form-control form-icon-input"
                                                       id="password"
                                                       type="password"
                                                       name="password"
                                                       ng-model="user.password"
                                                       ng-class="{ 'is-invalid': loginForm.password.$invalid && loginForm.password.$touched, 'is-valid': loginForm.password.$valid && loginForm.password.$touched }"
                                                       ng-minlength="6"
                                                       placeholder="password"
                                                       required
                                                >
                                                <svg class="svg-inline--fa fa-key text-900 fs--1 form-icon"
                                                     aria-hidden="true" focusable="false" data-prefix="fas"
                                                     data-icon="key"
                                                     role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"
                                                     data-fa-i2svg="">
                                                    <path fill="currentColor"
                                                          d="M282.3 343.7L248.1 376.1C244.5 381.5 238.4 384 232 384H192V424C192 437.3 181.3 448 168 448H128V488C128 501.3 117.3 512 104 512H24C10.75 512 0 501.3 0 488V408C0 401.6 2.529 395.5 7.029 391L168.3 229.7C162.9 212.8 160 194.7 160 176C160 78.8 238.8 0 336 0C433.2 0 512 78.8 512 176C512 273.2 433.2 352 336 352C317.3 352 299.2 349.1 282.3 343.7zM376 176C398.1 176 416 158.1 416 136C416 113.9 398.1 96 376 96C353.9 96 336 113.9 336 136C336 158.1 353.9 176 376 176z"></path>
                                                </svg>
                                                <small class="text-danger"
                                                       ng-show="loginForm.password.$touched && loginForm.password.$error.required">
                                                    Vui lòng nhập mật khẩu !
                                                </small>
                                                <small class="text-danger"
                                                       ng-show="loginForm.password.$error.minlength && loginForm.password.$dirty">
                                                    Mật khẩu cần ít nhất 6 ký tự.
                                                </small>
                                            </div>
                                        </div>
                                        <div class="row flex-between-center mb-3">
                                            <div class="col-auto">
                                                <div class="form-check mb-0">
                                                    <input class="form-check-input" id="basic-checkbox" type="checkbox"
                                                           checked="checked"><label
                                                        class="form-check-label mb-0" for="basic-checkbox">
                                                    Nhớ mật khẩu
                                                </label>
                                                </div>
                                            </div>
                                            <div class="col-auto">
                                                <div class="form-check mb-0">
                                                    <a href="#" ng-click="goHome()" class="fs--1 text-dark">
                                                        Quay về trang chủ
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-primary w-100 mb-3">
                                            Đăng nhập
                                        </button>
                                    </form>

                                    <div class="position-relative">
                                        <hr class="bg-200 mt-5 mb-4">
                                        <div class="divider-content-center bg-white">Hoặc sử dụng tài khoản Google</div>
                                    </div>
                                    <a href="/oauth2/authorization/google" class="btn btn-phoenix-secondary w-100 mb-3"
                                       role="button">
                                        <svg class="svg-inline--fa fa-google text-danger me-2 fs--1" aria-hidden="true"
                                             focusable="false" data-prefix="fab" data-icon="google" role="img"
                                             xmlns="http://www.w3.org/2000/svg" viewBox="0 0 488 512" data-fa-i2svg="">
                                            <path fill="currentColor"
                                                  d="M488 261.8C488 403.3 391.1 504 248 504 110.8 504 0 393.2 0 256S110.8 8 248 8c66.8 0 123 24.5 166.3 64.9l-67.5 64.9C258.5 52.6 94.3 116.6 94.3 256c0 86.5 69.1 156.6 153.7 156.6 98.2 0 135-70.4 140.8-106.9H248v-85.3h236.1c2.3 12.7 3.9 24.9 3.9 41.4z"></path>
                                        </svg>
                                        Đăng nhập bằng google
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<script src="/assets/admin/assets/vendors/popper/popper.min.js"></script>
<script src="/assets/admin/assets/vendors/bootstrap/bootstrap.min.js"></script>
<script src="/assets/admin/assets/vendors/anchorjs/anchor.min.js"></script>
<script src="/assets/admin/assets/vendors/is/is.min.js"></script>
<script src="/assets/admin/assets/vendors/fontawesome/all.min.js"></script>
<script src="/assets/admin/assets/vendors/lodash/lodash.min.js"></script>
<script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
<script src="/assets/admin/assets/vendors/list.js/list.min.js"></script>
<script src="/assets/admin/assets/vendors/feather-icons/feather.min.js"></script>
<script src="/assets/admin/assets/vendors/dayjs/dayjs.min.js"></script>
<script src="/assets/admin/assets/js/phoenix.js"></script>