<section id="business-information">
    <div class="container-fluid">
        <div class="logo text-center">
            <div class="d-flex align-items-center justify-content-center">
                <img src="/assets/admin/assets/img/icons/logo.png" alt="logo" width="40"/>
                <p class="logo-text text-dark ms-1 d-none d-sm-block fw-bolder">TravelTour</p>
            </div>
            <div class="content-text mt-3">
                <div class="h4">Đăng kí thông tin đối tác TravelTour</div>
            </div>
            <div class="progress-register">
                <!-- Tiến dộ -->
                <div class="progress-container">
                    <div class="container">
                        <div class="d-flex justify-content-center">
                            <div class="item">
                                <div class="item-1">
                                    <div class="vector-wrapper">
                                        <svg class="vector" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"
                                             id="tick">
                                            <path d="M223.9 329.7c-2.4 2.4-5.8 4.4-8.8 4.4s-6.4-2.1-8.9-4.5l-56-56 17.8-17.8 47.2 47.2L340 177.3l17.5 18.1-133.6 134.3z"></path>
                                        </svg>
                                    </div>
                                    <div class="text-wrapper">Tạo doanh nghiệp</div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="item-1">
                                    <div class="vector-wrapper">
                                        <span class="num">2</span>
                                    </div>
                                    <div class="text-wrapper">Thông tin lưu trú</div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="item-1">
                                    <div class="vector-wrapper">
                                        <span class="num">3</span>
                                    </div>
                                    <div class="text-wrapper">Tiện ích nơi lưu trú</div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="item-1">
                                    <div class="vector-wrapper">
                                        <span class="num">4</span>
                                    </div>
                                    <div class="text-wrapper">Thông tin phòng</div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="item-1">
                                    <div class="vector-wrapper">
                                        <span class="num">5</span>
                                    </div>
                                    <div class="text-wrapper">Xác nhận thông tin</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="main d-flex justify-content-center theme-wizard">
            <div class="form card">
                <form class="row g-3">
                    <div class="h3 color-greend fw-medium">TẠO DOANH NGHIỆP</div>
                    <div class="col-12">
                        <label for="inputNameBusiness" class="form-label">Tên doanh nghiệp</label>
                        <input type="text" class="form-control" id="inputNameBusiness"
                               placeholder="Công ty du lịch TravelTour">
                    </div>
                    <div class="col-12">
                        <label for="inputFullname" class="form-label">Tên người đại diện</label>
                        <input type="text" class="form-control" id="inputFullname" placeholder="Nguyễn Văn A">
                    </div>
                    <div class="col-md-6">
                        <label for="inputEmail4" class="form-label">Mã số thuế</label>
                        <input type="text" class="form-control" id="inputEmail4" placeholder="1423142144">
                    </div>
                    <div class="col-md-6">
                        <label for="inputPassword4" class="form-label"> Số điện thoại</label>
                        <input type="text" class="form-control" id="inputPassword4" placeholder="0969653264">
                    </div>
                    <div class="col-md-4">
                        <label for="inputState" class="form-label">Tỉnh</label>
                        <select id="inputState" class="form-select">
                            <option selected>Choose...</option>
                            <option>...</option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <label for="inputState" class="form-label">Huyện</label>
                        <select id="inputState" class="form-select">
                            <option selected>Choose...</option>
                            <option>...</option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <label for="inputState" class="form-label">Xã</label>
                        <select id="inputState" class="form-select">
                            <option selected>Choose...</option>
                            <option>...</option>
                        </select>
                    </div>
                    <div class="col-12">
                        <label for="inputAddress" class="form-label">Địa chỉ</label>
                        <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
                    </div>
                    <div class="col-12">
                        <label for="formFile" class="form-label">Chứng minh giấy tờ</label>
                        <input class="form-control" type="file" id="formFile">
                    </div>

                    <div class="d-flex justify-content-end mt-5">
                        <button type="submit" class="btn btn-submit-form">Tiếp tục ...</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>