<!--====== Start Preloader ======-->
<div class="preloader" ng-show="isLoading">
    <div class="loader">
        <div class="pre-shadow"></div>
        <div class="pre-box"></div>
    </div>
    <div class="bg"></div>
</div><!--====== End Preloader ======-->

<div class="container">
    <div class="header-control mb-4">
        <div class="header-control-center">
            <div class="d-flex justify-content-between align-items-center row ">
                <div class="col-xl-6 mt-3">
                    <h3 class="color-green fw-bold">DANH SÁCH LOẠI PHÒNG</h3>
                </div>
                <div class="col-xl-6 d-flex align-items-center justify-content-end header-control-center mt-3">
                    <div class="row ">
                        <div class="col-sm-3 d-flex align-items-center">
                            <button class="btn d-flex ">
                                <i class="fa-solid fa-file-export"></i>
                                <span>Xuất</span>
                            </button>
                        </div>
                        <div class="col-sm-9">
                            <a href="/business/hotel/room-type-list/create" class="btn btn-green"><i
                                    class="fa-solid fa-plus" style="margin-right: 10px"></i>
                                Tạo phòng mới
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="">
        <div class="card card-customer">
            <div class="row" style="margin: 20px 16px 20px 16px">
                <div class="col-xl-4">
                    Bạn muốn tìm kiếm gì ?
                    <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1"><i
                                    class="fa-solid fa-magnifying-glass bg-light"></i></span>
                        <input type="text" class="form-control" placeholder="Tìm kiếm" ng-model="searchTerm"
                               ng-change="searchRoomTypeDetail()"
                               aria-label="Username" aria-describedby="basic-addon1">
                    </div>
                </div>
                <div class="col-xl-3 mb-3">
                    Giờ nhận phòng
                    <select class="form-select" aria-label="Default select example">
                        <option selected>Tất cả</option>
                        <option value="1">12 giờ tới</option>
                        <option value="2">24 giờ tới</option>
                        <option value="3">36 giờ tới</option>
                    </select>
                </div>
                <div class="col-xl-3 mb-3">
                    Trạng thái
                    <select class="form-select" aria-label="Default select example">
                        <option selected>Tất cả</option>
                        <option value="0">Chưa xác nhận</option>
                        <option value="1">Đã thanh toán</option>
                        <option value="2">Đã xác nhận</option>
                        <option value="3">Hoàn tất</option>
                        <option value="4">Đã hủy bởi khách</option>
                        <option value="5">Đã hủy bởi tôi</option>
                    </select>
                </div>
                <div class="col-xl-2 d-flex align-items-center justify-content-end mb-3 h-100"
                     style="margin: 16px 0 0 0">
                    <button class="btn btn-primary">Tìm kiếm</button>
                </div>
            </div>
        </div>
    </div>


    <div class="table-components table-responsive mb-5">
        <div class="card table-responsive table-customer">
            <div class="card-header ">
                <div class="row">
                    <div class="h4 col-lg-5 d-flex align-items-center h-100">
                        <div class="d-flex align-items-center">
                            <span class="h4">Danh sách loại phòng</span>
                        </div>
                    </div>
                    <div class="d-flex justify-content-end align-items-baseline col-lg-2">
                        <select class="form-select" aria-label="Default select example"
                                ng-model="pageSize"
                                ng-init="pageSize='5'"
                                ng-change="pageSizeChanged()">
                            <option value="5">5</option>
                            <option value="10">10</option>
                            <option value="15">15</option>
                        </select>
                    </div>
                    <div class="d-flex align-items-center justify-content-end h-100 col-lg-5">
                        <nav aria-label="Page navigation example float-end">
                            <ul class="pagination justify-content-center align-items-center">
                                <!-- Previous Page -->
                                <li class="page-item" ng-class="{disabled: currentPage === 0}">
                                    <a class="page-link" ng-click="setPage(0)">
                                        <i class="fa-solid fa-angles-left"></i>
                                    </a>
                                </li>

                                <!-- Ellipsis at the beginning -->
                                <li class="page-item" ng-if="currentPage > 2 && totalPages > 5">
                                    <span class="page-link">...</span>
                                </li>

                                <!-- Pagination Numbers -->
                                <li class="page-item" ng-repeat="n in getPaginationRange()"
                                    ng-class="{active: n === currentPage}">
                                    <a class="page-link" ng-click="setPage(n)">{{ n + 1 }}</a>
                                </li>

                                <!-- Ellipsis at the end -->
                                <li class="page-item" ng-if="currentPage < totalPages - 3 && totalPages > 5">
                                    <span class="page-link">...</span>
                                </li>

                                <!-- Next Page -->
                                <li class="page-item" ng-class="{disabled: currentPage === totalPages - 1}">
                                    <a class="page-link" ng-click="setPage(totalPages - 1)">
                                        <i class="fa-solid fa-angles-right"></i>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
            <table class="table table-responsive text-center">
                <thead>
                <tr class="bg-light">
                    <th scope="col" class="cursor-pointer"># <i class="fa-solid fa-sort"></i></th>
                    <th scope="col" class="cursor-pointer" ng-click="sortData('id')">ID <i class="fa-solid fa-sort"></i>
                    </th>
                    <th scope="col" class="cursor-pointer" ng-click="sortData('customerName')">Tên khách hàng <i
                            class="fa-solid fa-sort"></i></th>
                    <th scope="col" class="cursor-pointer" ng-click="sortData('customerPhone')">Số điện thoại <i
                            class="fa-solid fa-sort"></i></th>
                    <th scope="col" class="cursor-pointer" ng-click="sortData('capacityAdult')">Số người lớn <i
                            class="fa-solid fa-sort"></i></th>
                    <th scope="col" class="cursor-pointer" ng-click="sortData('capacityKid')">Số trẻ em <i
                            class="fa-solid fa-sort"></i></th>
                    <th scope="col" class="cursor-pointer" ng-click="sortData('checkIn')">Giờ vào<i
                            class="fa-solid fa-sort"></i></th>
                    <th scope="col" class="cursor-pointer" ng-click="sortData('checkOut')">Giờ ra<i
                            class="fa-solid fa-sort"></i></th>
                    <th scope="col" class="cursor-pointer" ng-click="sortData('price')">Trạng thái<i
                            class="fa-solid fa-sort"></i></th>
                    <th scope="col" class="cursor-pointer">Thao tác</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="order in orderHotels" ng-if="orderHotels.length > 0">
                    <td>{{ $index + 1 }}</td>
                    <td>{{ order.id }}</td>
                    <td>{{ order.customerName }}</td>
                    <td>{{ order.customerPhone }}</td>
                    <td>{{ order.capacityAdult }}</td>
                    <td>{{ order.capacityKid }}</td>
                    <td>{{ order.checkIn | formatDate }}</td>
                    <td>{{ order.checkOut | formatDate }}</td>
                    <td>
                        <span class="status-dot"
                              ng-class="{ 'text-warning': order.orderStatus === 0, 'text-success': order.orderStatus === 1, 'text-primary': order.orderStatus === 2, 'text-danger': order.orderStatus === 3, 'text-secondary': order.orderStatus === 4 }">
        <i class="fas fa-circle" style="font-size: 8px"></i>
    </span>
                        <span ng-if="order.orderStatus === 0">Chưa thanh toán</span>
                        <span ng-if="order.orderStatus === 1">Đã thanh toán</span>
                        <span ng-if="order.orderStatus === 2">Đã xác nhận</span>
                        <span ng-if="order.orderStatus === 3">Hoàn tất</span>
                        <span ng-if="order.orderStatus === 4">Đã hủy</span>
                        <span ng-if="order.orderStatus === 5">Hủy bởi tôi</span>

                    </td>
                    <td class="d-flex align-items-center justify-content-center" style="padding-right: 10px">
                        <button class="btn text-info" ng-click="openModalDetailsOrder(order.id)"><i
                                class="fa-regular fa-eye"></i></button>
                    </td>
                </tr>
                <tr ng-if="orderHotels.length === 0">
                    <td colspan="14">Trang này không có dữ liệu.</td>
                </tr>
                </tbody>
            </table>
            <div class="card-footer">
                <div class="">
                    <button class="btn text-danger float-start" ng-click="deleteSelectedItems()"
                            ng-show="showDeleteButton" ng-disabled="selectedItems.length === 0">Xóa Tất Cả
                    </button>
                    <div class="float-end">
                        {{ getDisplayRange() }} trong tổng số {{ totalElements }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div ng-include="'app/component/agent/hotel/views/pages/booking/modal/details-booking-modal.html'"></div>


