<!--<h3 class="mb-4" style="font-weight: 600;color: #63ab45;border-bottom: 1px solid #9fa6bc73;line-height: 60px;">CẬP NHẬT THÔNG TIN NHÂN VIÊN</h3>-->

<!--<form class="row g-3 was-validated">-->
<!--    <div class="d-flex align-items-end position-relative col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12"><input class="d-none" id="upload-avatar" type="file" />-->
<!--        <div class="hoverbox" style="width: 150px; height: 150px">-->
<!--            <div class="hoverbox-content bg-black rounded-circle d-flex flex-center z-index-1" style="&#45;&#45;phoenix-bg-opacity: .56;"><span class="fa-solid fa-camera fs-7 text-300"></span></div>-->
<!--            <div class="position-relative bg-400 rounded-circle cursor-pointer d-flex flex-center mb-xxl-7">-->
<!--                <div class="avatar avatar-5xl"><img class="rounded-circle" src="https://prium.github.io/phoenix/v1.13.0/assets/img/team/150x150/58.webp" alt="" /></div><label class="w-100 h-100 position-absolute z-index-1" for="upload-avatar"></label>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6 col-xs-12">-->
<!--        <label for="fullName" class="form-label" style="padding-left: 0;font-size: medium;padding-bottom: 10px;">HỌ VÀ TÊN</label>-->
<!--        <input type="text" class="form-control is-invalid" id="fullName" placeholder="Nhập họ và tên" required>-->
<!--        <div class="invalid-feedback">-->
<!--            Vui lòng nhập họ và tên!-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6 col-xs-12">-->
<!--        <label for="phoneNumber" class="form-label" style="padding-left: 0;font-size: medium;padding-bottom: 10px;">SỐ ĐIỆN THOẠI</label>-->
<!--        <input type="text" class="form-control is-valid" id="phoneNumber" placeholder="Nhập số điện thoại" required>-->
<!--        <div class="valid-feedback">-->
<!--            phải như vậy!-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6 col-xs-12">-->
<!--        <label for="email" class="form-label" style="padding-left: 0;font-size: medium;padding-bottom: 10px;">EMAIL</label>-->
<!--        <input type="text" class="form-control is-valid" id="email" placeholder="Nhập email" required>-->
<!--        <div class="valid-feedback">-->
<!--            Looks good!-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6 col-xs-12">-->
<!--        <label for="password" class="form-label" style="padding-left: 0;font-size: medium;padding-bottom: 10px;">NGÀY SINH</label>-->
<!--        <input type="date" class="form-control is-valid" id="password" placeholder="Nhập mật khẩu" required>-->
<!--        <div class="valid-feedback">-->
<!--            Looks good!-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6 col-xs-12">-->
<!--        <label for="address" class="form-label" style="padding-left: 0;font-size: medium;padding-bottom: 10px;">ĐỊA CHỈ</label>-->
<!--        <input type="text" class="form-control is-valid" id="address" placeholder="Nhập địa chỉ" required>-->
<!--        <div class="valid-feedback">-->
<!--            Looks good!-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6 col-xs-12">-->
<!--        <label for="citizen-card" class="form-label" style="padding-left: 0;font-size: medium;padding-bottom: 10px;">CĂN CƯỚC CÔNG DÂN</label>-->
<!--        <input type="text" class="form-control is-valid" id="citizen-card" placeholder="Nhập căn cước công dân" required>-->
<!--        <div class="valid-feedback">-->
<!--            Looks good!-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6 col-xs-12">-->
<!--        <label for="gender" class="form-label" style="padding-left: 0;font-size: medium;padding-bottom: 10px;">GIỚI TÍNH</label>-->
<!--        <select class="form-select is-invalid" id="gender" required>-->
<!--            <option selected disabled value="">Choose your gender</option>-->
<!--            <option>Nam</option>-->
<!--            <option>Nữ</option>-->
<!--        </select>-->
<!--        <div class="invalid-feedback">-->
<!--            Vui lòng chọn-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6 col-xs-12">-->
<!--        <label for="role" class="form-label" style="padding-left: 0;font-size: medium;padding-bottom: 10px;">TRẠNG THÁI</label>-->
<!--        <select class="form-select is-invalid" id="role" required>-->
<!--            <option selected disabled value="">Choose...</option>-->
<!--            <option>...</option>-->
<!--        </select>-->
<!--        <div id="validationServer04Feedback" class="invalid-feedback">-->
<!--            Vui lòng chọn-->
<!--        </div>-->
<!--    </div>-->
<!--</form>-->

<!--<div class="mb-6 mt-5">-->
<!--    <div class="mb-4">-->
<!--        <div class="d-flex flex-wrap gap-3">-->
<!--            &lt;!&ndash;export&ndash;&gt;-->
<!--            <div class="ms-xxl-auto">-->
<!--                &lt;!&ndash;thêm tài khoản mới&ndash;&gt;-->
<!--                <button class="btn btn-primary me-1 ms-1">-->
<!--                    <i class="fa-solid fa-pen-to-square"></i>-->
<!--                    <span class="d-none d-sm-inline">Cập nhật</span>-->
<!--                </button>-->
<!--                <button class="btn btn-secondary me-1 ms-1">-->
<!--                    <i class="fa-solid fa-arrows-rotate"></i>-->
<!--                    <span class="d-none d-sm-inline">Làm mới</span>-->
<!--                </button>-->
<!--                <a class="btn btn-warning me-1 ms-1" href="/admin/staff-list">-->
<!--                    <i class="fa-solid fa-left-long"></i>-->
<!--                    <span class="d-none d-sm-inline">Trở về</span>-->
<!--                </a>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<main class="main" id="top">
    <div class="content" style="padding-top: 0">
        <div class="border-bottom mb-7 mx-n3 px-2 mx-lg-n6 px-lg-6">
            <div class="row">
                <div class="col-xl-9">
                    <div class="d-sm-flex justify-content-between">
                        <h2 class="mb-4">Cập nhật thông tin nhân viên</h2>
                        <div class="d-flex mb-3">
                            <a class="btn btn-warning me-1 ms-1" href="/admin/staff-list">
                                <i class="fa-solid fa-left-long"></i>
                                <span class="d-none d-sm-inline">Trở về</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-9">
                    <form class="row g-3 mb-9" ng-submit="submitAdminStaffEdit()" 
                          method="POST" role="form" name="staffform">
                        <div class="col-sm-12 col-md-12">
                            <div class="form-floating">
                                <input class="d-none" id="upload-avatar" type="file" />
                                <div class="hoverbox" style="width: 150px; height: 150px">
                                    <div class="hoverbox-content bg-black rounded-circle d-flex flex-center z-index-1" style="--phoenix-bg-opacity: .56;">
                                        <span class="fa-solid fa-camera fs-7 text-300"></span>
                                    </div>
                                    <div class="position-relative bg-400 rounded-circle cursor-pointer d-flex flex-center mb-xxl-7">
                                        <div class="avatar avatar-5xl">
                                            <img class="rounded-circle" src="https://prium.github.io/phoenix/v1.13.0/assets/img/team/150x150/58.webp" alt="" />
                                        </div><label class="w-100 h-100 position-absolute z-index-1" for="upload-avatar"></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h4 class="mb-3">Thông tin cá nhân </h4>
                        <div class="col-sm-6 col-md-4">
                            <div class="form-floating">
                                <input class="form-control" id="fullname" type="text" 
                                       placeholder="First name" 
                                       name="fullname"
                                       ng-model="user.fullname"
                                       ng-class="{ 'is-invalid': staffform.fullname.$invalid && staffform.fullname.$touched, 'is-valid': staffform.fullname.$valid && staffform.fullname.$touched }"
                                       ng-pattern="/^[\p{L}'][\p{L}'\s-]{0,}$/u"
                                       required/>
                                <label for="fullname">Họ tên</label></div>
                                <small class="text-danger"
                                       ng-show="staffform.fullname.$touched && staffform.fullname.$error.required">
                                    Vui lòng nhập họ tên nhân viên !
                                </small>
                                <small class="text-danger"
                                       ng-show="staffform.fullname.$touched && staffform.fullname.$error.pattern">
                                    Tên nhân viên không đúng định dạng !
                                </small>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <div class="form-floating">
                                <input class="form-control" id="phone" type="text"
                                       placeholder="Last name"
                                       name="phoneNumber"
                                       ng-pattern="/^\d{10}(\d{1})?$/"
                                       ng-model="user.phoneNumber"
                                       ng-class="{ 'is-invalid': staffform.phoneNumber.$invalid && staffform.phoneNumber.$touched, 'is-valid': staffform.phoneNumber.$valid && staffform.phoneNumber.$touched }"
                                       required/>
                                <label for="phone">Số điện thoại</label>
                                <small class="text-danger"
                                       ng-show="staffform.phoneNumber.$touched && staffform.phoneNumber.$error.required">
                                    Vui lòng nhập số điện thoại !
                                </small>
                                <small class="text-danger"
                                       ng-show="staffform.phoneNumber.$touched && staffform.phoneNumber.$error.pattern">
                                    Số điện thoại bao gồm 10 hoặc 11 số !
                                </small>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <div class="form-floating">
                                <input class="form-control" id="email" type="email"
                                       placeholder="Company"
                                       name="email"
                                       ng-pattern="/^[\w\.-]+@[a-zA-Z\d\.-]+\.[a-zA-Z]{2,}$/"
                                       ng-model="user.email"
                                       ng-class="{ 'is-invalid': staffform.email.$invalid && staffform.email.$touched, 'is-valid': staffform.email.$valid && staffform.email.$touched }"
                                       required/>
                                <label for="email">Email</label>
                                <small class="text-danger"
                                       ng-show="staffform.email.$touched && staffform.email.$error.required">
                                    Vui lòng nhập email !
                                </small>
                                <small class="text-danger"
                                       ng-show="staffform.email.$touched && staffform.email.$error.pattern">
                                    Email không hợp lệ !
                                </small>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <div class="form-floating">
                                <input class="form-control" id="birth" type="date"
                                       placeholder="title"
                                       name="birth"
                                       ng-model="user.birth"
                                       ng-class="{ 'is-invalid': isBirthInvalid(), 'is-valid': isBirthValid() }"
                                       ng-change="checkBirth()"
                                       required/>
                                <label for="birth">Ngày sinh</label>
                                <small class="text-danger"
                                       ng-show="staffform.birth.$touched && staffform.birth.$error.required">
                                    Vui lòng nhập ngày sinh !
                                </small>
                                <small class="text-danger"
                                       ng-show="staffform.birth.$touched && isBirthInvalid()">
                                    Yêu cầu trên 16 tuổi !
                                </small>

                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <div class="form-floating">
                                <input class="form-control" id="citizenid" type="text"
                                       placeholder="citizenid"
                                       name="citizenid"
                                       ng-pattern="/^[0-9]{12}$/"
                                       ng-model="user.citizenid"
                                       ng-class="{ 'is-invalid': staffform.citizenid.$invalid && staffform.citizenid.$touched, 'is-valid': staffform.citizenid.$valid && staffform.citizenid.$touched }"
                                       required/>
                                <label for="citizenid">Căn cước công dân</label>
                                <small class="text-danger"
                                       ng-show="staffform.citizenid.$touched && staffform.citizenid.$error.required">
                                    Vui lòng nhập căn cước công dân !
                                </small>
                                <small class="text-danger"
                                       ng-show="staffform.citizenid.$touched && staffform.citizenid.$error.pattern">
                                    Căn cước công dân yêu cầu 12 số !
                                </small>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <div class="form-floating">
                            <select class="form-select" id="gender" 
                                    style=" padding-bottom: 2px; padding-top: 20px;"
                                    name="gender"
                                    ng-model="user.gender"
                                    ng-class="{ 'is-invalid': staffform.gender.$invalid && staffform.gender.$touched, 'is-valid': staffform.gender.$valid && staffform.gender.$touched }"
                                    required>
                                <option value="0">Nam</option>
                                <option value="1">Nữ</option>
                            </select>
                            <label for="gender">Giới tính</label></div>
                            <small class="text-danger"
                                   ng-show="staffform.gender.$touched && staffform.gender.$error.required">
                                Vui lòng chọn giới tính !
                            </small>
                        </div>

                        <div class="col-sm-12">
                            <div class="form-floating">
                                <input class="form-control" id="address" 
                                       type="text"
                                       placeholder="zip code"
                                       name="address"
                                       ng-model="user.address"
                                       ng-class="{ 'is-invalid': staffform.address.$invalid && staffform.address.$touched, 'is-valid': staffform.address.$valid && staffform.address.$touched }"
                                       required/>
                                <label for="address">Địa chỉ</label>
                                <small class="text-danger"
                                       ng-show="staffform.address.$touched && staffform.address.$error.required">
                                    Vui lòng nhập địa chỉ !
                                </small>
                            </div>
                        </div>
                        <h4 class="mt-6">Trạng thái</h4>
                        <div class="col-12">
                            <div class="form-floating">
                                <div class="form-floating">
                                <select class="form-select" id="staffstatus" style=" padding-bottom: 2px; padding-top: 20px;"
                                        name="staffstatus"
                                        ng-model="user.staffstatus"
                                        ng-class="{ 'is-invalid': staffform.staffstatus.$invalid && staffform.staffstatus.$touched, 'is-valid': staffform.staffstatus.$valid && staffform.staffstatus.$touched }"
                                        required>
                                    <option value="0" selected="selected"> Đang hoạt động</option>
                                    <option value="1">Ngừng hoạt động</option>
                                </select>
                                    <label for="staffstatus">Trạng thái hoạt động</label>
                                    <small class="text-danger"
                                           ng-show="staffform.staffstatus.$touched && staffform.staffstatus.$error.required">
                                        Vui lòng chọn trạng thái !
                                    </small>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 d-flex justify-content-end mt-6">
                            <div class="ms-xxl-auto">
                                <!--thêm tài khoản mới-->
                                <button class="btn btn-success me-1 ms-1" ng-disabled="staffform.$invalid" type="submit">
                                    <i class="fa-solid fa-plus"></i>
                                    <span class="d-none d-sm-inline">Cập nhật</span>
                                </button>
                                <button class="btn btn-secondary me-1 ms-1">
                                    <i class="fa-solid fa-arrows-rotate"></i>
                                    <span class="d-none d-sm-inline">Làm mới</span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
