<section>
    <div class="container">
        <div class="container-fluid">
            <div class="header-control mb-4">
                <div class="">
                    <div class="d-flex align-items-center row">
                        <div class="col-lg-6">
                            <h3 class="color-green fw-bold">CHỈNH SỬA THÔNG TIN LOẠI PHÒNG</h3>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card card-custom">
                <form class="row g-3 form-input-custom" name="editInfoRoomForm">
                    <!-- Tên loại phòng -->
                    <div class="col-12">
                        <label for="inputEmail4" class="form-label">Tên loại phòng</label>
                        <input type="text"
                               class="form-control"
                               id="inputEmail4"
                               placeholder="Phòng Studio"
                               name="roomTypeName"
                               ng-model="editInfoRoom.roomTypeName"
                               ng-class="{ 'is-invalid': editInfoRoomForm.roomTypeName.$invalid && editInfoRoomForm.roomTypeName.$touched,
                                            'is-valid': editInfoRoomForm.roomTypeName.$valid && editInfoRoomForm.roomTypeName.$touched }"
                               required
                        >
                        <small class="text-danger"
                               ng-show="editInfoRoomForm.roomTypeName.$touched && editInfoRoomForm.roomTypeName.$error.required">
                            Vui lòng nhập tên loại phòng!
                        </small>
                    </div>

                    <!-- Loại giường -->
                    <div class="col-12">
                        <label for="inputState" class="form-label">Loại giường</label>
                        <select id="inputState"
                                class="form-select"
                                name="bedTypeId"
                                ng-class="{ 'is-invalid': editInfoRoomForm.bedTypeId.$invalid && editInfoRoomForm.bedTypeId.$touched, 'is-valid': editInfoRoomForm.bedTypeId.$valid && editInfoRoomForm.bedTypeId.$touched }"
                                ng-options="bedType.id as bedType.bedTypeName for bedType in bedTypeList"
                                ng-model="editInfoRoom.roomBedsById[0].bedTypeId"
                                required
                        >
                            <option selected>Chọn loại giường ...</option>
                        </select>
                        <small class="text-danger"
                               ng-show="editInfoRoomForm.bedType.$touched && editInfoRoomForm.bedType.$error.required">
                            Vui lòng chọn loại giường!
                        </small>
                        <small class="text-danger" ng-if="errorBedTypeList !== null">
                            {{errorBedTypeList}}
                        </small>
                    </div>

                    <!-- Số người lớn -->
                    <div class="col-md-6">
                        <label for="inputcapacityAdults" class="form-label">Số người lớn</label>
                        <input type="text"
                               class="form-control"
                               id="inputcapacityAdults"
                               placeholder="2"
                               name="capacityAdults"
                               ng-model="editInfoRoom.capacityAdults"
                               ng-class="{ 'is-invalid': editInfoRoomForm.capacityAdults.$invalid && editInfoRoomForm.capacityAdults.$touched, 'is-valid': editInfoRoomForm.capacityAdults.$valid && editInfoRoomForm.capacityAdults.$touched }"
                               required
                        >
                        <small class="text-danger"
                               ng-show="editInfoRoomForm.capacityAdults.$touched && editInfoRoomForm.capacityAdults.$error.required">
                            Vui lòng nhập số người lớn!
                        </small>
                    </div>

                    <!-- Số trẻ em -->
                    <div class="col-md-6">
                        <label for="inputcapacityChildren" class="form-label">Số trẻ em</label>
                        <input type="text"
                               class="form-control"
                               id="inputcapacityChildren"
                               placeholder="1"
                               name="capacityChildren"
                               ng-model="editInfoRoom.capacityChildren"
                               ng-class="{ 'is-invalid': editInfoRoomForm.capacityChildren.$invalid && editInfoRoomForm.capacityChildren.$touched, 'is-valid': editInfoRoomForm.capacityChildren.$valid && editInfoRoomForm.capacityChildren.$touched }"
                               required
                        >
                        <small class="text-danger"
                               ng-show="editInfoRoomForm.capacityChildren.$touched && editInfoRoomForm.capacityChildren.$error.required">
                            Vui lòng nhập số trẻ em!
                        </small>
                    </div>

                    <!-- Số lượng phòng -->
                    <div class="col-md-6">
                        <label for="inputeditInfoRooms" class="form-label">Số lượng phòng</label>
                        <input type="text"
                               class="form-control"
                               id="inputeditInfoRooms"
                               placeholder="20"
                               name="amountRoom"
                               ng-model="editInfoRoom.amountRoom"
                               ng-class="{ 'is-invalid': editInfoRoomForm.amountRoom.$invalid && editInfoRoomForm.amountRoom.$touched, 'is-valid': editInfoRoomForm.amountRoom.$valid && editInfoRoomForm.amountRoom.$touched }"
                               required
                        >
                        <small class="text-danger"
                               ng-show="editInfoRoomForm.amountRoom.$touched && editInfoRoomForm.amountRoom.$error.required">
                            Vui lòng nhập số lượng phòng!
                        </small>
                    </div>

                    <!-- Giá phòng -->
                    <div class="col-md-6">
                        <label for="inputPrice" class="form-label">Giá phòng</label>
                        <input type="text"
                               class="form-control"
                               id="inputPrice"
                               placeholder="300.000"
                               name="price"
                               ng-model="editInfoRoom.price"
                               vietnam-currency-input
                               ng-class="{ 'is-invalid': editInfoRoomForm.price.$invalid && editInfoRoomForm.price.$touched, 'is-valid': editInfoRoomForm.price.$valid && editInfoRoomForm.price.$touched }"
                               required
                        >
                        <small class="text-danger"
                               ng-show="editInfoRoomForm.price.$touched && editInfoRoomForm.price.$error.required">
                            Vui lòng nhập giá phòng!
                        </small>
                    </div>

                    <!-- Giờ nhận phòng -->
                    <div class="col-md-6">
                        <label for="inputPrice" class="form-label">Giờ nhận phòng</label>
                        <input type="time"
                               class="form-control"
                               id="inputCheckinTime"
                               placeholder="12:00"
                               name="checkinTime"
                               ng-model="editInfoRoom.checkinTime"
                               ng-class="{ 'is-invalid': addRoomTypeName.checkinTime.$invalid && addRoomTypeName.checkinTime.$touched, 'is-valid': addRoomTypeName.checkinTime.$valid && addRoomTypeName.checkinTime.$touched }"
                               required
                        >
                        <small class="text-danger"
                               ng-show="addRoomTypeName.checkinTime.$touched && addRoomTypeName.checkinTime.$error.required">
                            Vui lòng nhập giờ nhận phòng!
                        </small>
                    </div>

                    <!-- Giờ trả phòng -->
                    <div class="col-md-6">
                        <label for="inputPrice" class="form-label">Giờ trả phòng</label>
                        <input type="time"
                               class="form-control"
                               id="inputChecoutTime"
                               placeholder="12:00"
                               name="checkoutTime"
                               ng-model="editInfoRoom.checkoutTime"
                               ng-class="{ 'is-invalid': addRoomTypeName.checkoutTime.$invalid && addRoomTypeName.checkoutTime.$touched, 'is-valid': addRoomTypeName.checkoutTime.$valid && addRoomTypeName.checkoutTime.$touched }"
                               required
                        >
                        <small class="text-danger"
                               ng-show="addRoomTypeName.checkoutTime.$touched && addRoomTypeName.checkoutTime.$error.required">
                            Vui lòng nhập giờ trả phòng!
                        </small>
                    </div>

                    <!-- Mô tả -->
                    <div class="col-12">
                        <label for="inputAddress" class="form-label">Mô tả</label>
                        <input type="text"
                               class="form-control"
                               id="inputAddress"
                               name="roomTypeDescription"
                               ng-model="editInfoRoom.roomTypeDescription"
                               placeholder="Phòng rất sang trọng hiện đại">
                    </div>
                    <!-- Tiện ích phòng khách sạn -->
                    <div class="mb-3 mt-3">
                        <label for="formFile" class="form-label mb-3">Tiện ích mở rộng</label>
                        <div class="row" >
                            <div class="col-sm-4 col-xl-4">
                                <div class="form-check">
                                    <input class="form-check-input"
                                           type="checkbox"
                                           ng-model="editInfoRoom.breakfastIncluded"
                                           ng-change="updateCheckboxCount()"
                                    >
                                    <label class="form-check-label" for="{{checkbox.id}}">
                                        Miễn phí ăn sáng
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-4 col-xl-4">
                                <div class="form-check">
                                    <input class="form-check-input"
                                           type="checkbox"
                                           ng-model="editInfoRoom.freeCancellation"
                                           ng-change="updateCheckboxCount()"
                                    >
                                    <label class="form-check-label" for="{{checkbox.id}}">
                                        Miễn phí hủy phòng
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="row" ng-if="showErrorListPlaceMessage !== null">
                            <p ng-show="showErrorListPlaceMessage"></p>
                        </div>
                    </div>
                    <div class="col-12 d-flex justify-content-end mt-5">
                        <button class="btn" style="margin-right: 20px"><a class="btn" href="/business/hotel/room-type-list">Trở về</a></button>
                        <button type="submit"
                                class="btn btn-submit"
                                ng-click="editInfoRoomType()"
                                ng-disabled="editInfoRoomForm.$invalid">Sửa loại phòng
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>