<!--====== Start Preloader ======-->
<div class="preloader" ng-show="isLoading">
    <div class="loader">
        <div class="pre-shadow"></div>
        <div class="pre-box"></div>
    </div>
    <div class="bg"></div>
</div><!--====== End Preloader ======-->

<section>
    <div class="container">
        <div class="container-fluid">
            <div class="header-control mb-4">
                <div class="">
                    <div class="d-flex align-items-center row">
                        <div class="col-lg-6">
                            <h3 class="color-green fw-bold">THÊM LOẠI PHÒNG</h3>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card card-custom" >
                <form class="row g-3 form-input-custom" name="addRoomTypeName">
                    <!-- Tên loại phòng -->
                    <div class="col-12">
                        <label for="inputEmail4" class="form-label">Tên loại phòng</label>
                        <input type="text"
                               class="form-control"
                               id="inputEmail4"
                               placeholder="Phòng Studio"
                               name="roomTypeName"
                               ng-model="roomTypes.roomTypeName"
                               ng-class="{ 'is-invalid': addRoomTypeName.roomTypeName.$invalid && addRoomTypeName.roomTypeName.$touched, 
                                            'is-valid': addRoomTypeName.roomTypeName.$valid && addRoomTypeName.roomTypeName.$touched }"
                               required
                        >
                        <small class="text-danger"
                               ng-show="addRoomTypeName.roomTypeName.$touched && addRoomTypeName.roomTypeName.$error.required">
                            Vui lòng nhập tên loại phòng!
                        </small>
                    </div>

                    <!-- Loại giường -->
                    <div class="col-12">
                        <label for="inputState" class="form-label">Loại giường</label>
                        <select id="inputState"
                                class="form-select"
                                name="bedTypeId"
                                ng-model="roomTypes.bedTypeId"
                                ng-class="{
                                'is-invalid': addRoomTypeName.bedTypeId.$invalid && addRoomTypeName.bedTypeId.$touched,
                                'is-valid': addRoomTypeName.bedTypeId.$valid && addRoomTypeName.bedTypeId.$touched }"
                                ng-options="bedType.id as bedType.bedTypeName for bedType in bedTypeList"
                                required
                        >
                            <option selected>Chọn loại giường ...</option>
                        </select>
                        <small class="text-danger"
                               ng-show="addRoomTypeName.bedType.$touched && addRoomTypeName.bedType.$error.required">
                            Vui lòng chọn loại giường!
                        </small>
                        <small class="text-danger" ng-if="errorBedTypeList !== null">
                            {{errorBedTypeList}}
                        </small>
                    </div>

                    <!-- Số người lớn -->
                    <div class="col-md-6">
                        <label for="inputcapacityAdults" class="form-label">Số người lớn</label>
                        <input type="text"
                               class="form-control"
                               id="inputcapacityAdults"
                               placeholder="2"
                               name="capacityAdults"
                               ng-model="roomTypes.capacityAdults"
                               ng-class="{ 'is-invalid': addRoomTypeName.capacityAdults.$invalid && addRoomTypeName.capacityAdults.$touched, 'is-valid': addRoomTypeName.capacityAdults.$valid && addRoomTypeName.capacityAdults.$touched }"
                               required
                        >
                        <small class="text-danger"
                               ng-show="addRoomTypeName.capacityAdults.$touched && addRoomTypeName.capacityAdults.$error.required">
                            Vui lòng nhập số người lớn!
                        </small>
                    </div>

                    <!-- Số trẻ em -->
                    <div class="col-md-6">
                        <label for="inputcapacityChildren" class="form-label">Số trẻ em</label>
                        <input type="text"
                               class="form-control"
                               id="inputcapacityChildren"
                               placeholder="1"
                               name="capacityChildren"
                               ng-model="roomTypes.capacityChildren"
                               ng-class="{ 'is-invalid': addRoomTypeName.capacityChildren.$invalid && addRoomTypeName.capacityChildren.$touched, 'is-valid': addRoomTypeName.capacityChildren.$valid && addRoomTypeName.capacityChildren.$touched }"
                               required
                        >
                        <small class="text-danger"
                               ng-show="addRoomTypeName.capacityChildren.$touched && addRoomTypeName.capacityChildren.$error.required">
                            Vui lòng nhập số trẻ em!
                        </small>
                    </div>

                    <!-- Số lượng phòng -->
                    <div class="col-md-6">
                        <label for="inputroomTypess" class="form-label">Số lượng phòng</label>
                        <input type="text"
                               class="form-control"
                               id="inputroomTypess"
                               placeholder="20"
                               name="amountRoom"
                               ng-model="roomTypes.amountRoom"
                               ng-class="{ 'is-invalid': addRoomTypeName.amountRoom.$invalid && addRoomTypeName.amountRoom.$touched, 'is-valid': addRoomTypeName.amountRoom.$valid && addRoomTypeName.amountRoom.$touched }"
                               required
                        >
                        <small class="text-danger"
                               ng-show="addRoomTypeName.amountRoom.$touched && addRoomTypeName.amountRoom.$error.required">
                            Vui lòng nhập số lượng phòng!
                        </small>
                    </div>

                    <!-- Giá phòng -->
                    <div class="col-md-6">
                        <label for="inputPrice" class="form-label">Giá phòng</label>
                        <input type="text"
                               class="form-control"
                               id="inputPrice"
                               placeholder="300.000"
                               name="price"
                               ng-model="roomTypes.price"
                               format-price-input
                               ng-class="{ 'is-invalid': addRoomTypeName.price.$invalid && addRoomTypeName.price.$touched, 'is-valid': addRoomTypeName.price.$valid && addRoomTypeName.price.$touched }"
                               required
                        >
                        <small class="text-danger"
                               ng-show="addRoomTypeName.price.$touched && addRoomTypeName.price.$error.required">
                            Vui lòng nhập giá phòng!
                        </small>
                    </div>
                    <!-- Giờ nhận phòng -->
                    <div class="col-md-6">
                        <label for="inputPrice" class="form-label">Giờ nhận phòng</label>
                        <input type="time"
                               class="form-control"
                               id="inputCheckinTime"
                               placeholder="12:00"
                               name="checkinTime"
                               ng-model="roomTypes.checkinTime"
                               ng-class="{ 'is-invalid': addRoomTypeName.checkinTime.$invalid && addRoomTypeName.checkinTime.$touched, 'is-valid': addRoomTypeName.checkinTime.$valid && addRoomTypeName.checkinTime.$touched }"
                               required
                        >
                        <small class="text-danger"
                               ng-show="addRoomTypeName.checkinTime.$touched && addRoomTypeName.checkinTime.$error.required">
                            Vui lòng nhập giờ nhận phòng!
                        </small>
                    </div>
                    <!-- Giờ trả phòng -->
                    <div class="col-md-6">
                        <label for="inputPrice" class="form-label">Giờ trả phòng</label>
                        <input type="time"
                               class="form-control"
                               id="inputChecoutTime"
                               placeholder="12:00"
                               name="checkoutTime"
                               ng-model="roomTypes.checkoutTime"
                               ng-class="{ 'is-invalid': addRoomTypeName.checkoutTime.$invalid && addRoomTypeName.checkoutTime.$touched, 'is-valid': addRoomTypeName.checkoutTime.$valid && addRoomTypeName.checkoutTime.$touched }"
                               required
                        >
                        <small class="text-danger"
                               ng-show="addRoomTypeName.checkoutTime.$touched && addRoomTypeName.checkoutTime.$error.required">
                            Vui lòng nhập giờ trả phòng!
                        </small>
                    </div>

                    <!-- Mô tả -->
                    <div class="col-12">
                        <label for="inputAddress" class="form-label">Mô tả</label>
                        <input type="text"
                               class="form-control"
                               id="inputAddress"
                               name="roomTypeDescription"
                               ng-model="roomTypes.roomTypeDescription"
                               placeholder="Phòng rất sang trọng hiện đại">
                    </div>

                    <!-- Ảnh đại diện phòng -->
                    <div class="mb-3">
                        <label for="roomTypeAvatar" class="form-label">Ảnh đại diện phòng</label>
                        <input class="form-control"
                               type="file"
                               id="roomTypeAvatar"
                               name="roomTypeAvatar"
                               accept="image/*"
                               ng-model="roomTypes.roomTypeAvatar"
                               ngf-select="validateRoomTypeAvatar()"
                               multiple
                               required
                        >
                        <small class="text-danger"
                               ng-show="addRoomTypeName.roomTypeAvatar.$touched && addRoomTypeName.roomTypeAvatar.$error.required">
                            Vui lòng chọn ít nhất một ảnh!
                        </small>
                        <small class="text-danger"
                               ng-show="addRoomTypeName.roomTypeAvatar.$error.maxImages">
                            Số lượng ảnh tối đa là 1!
                        </small>
                    </div>

                    <!-- Ảnh đại diện phòng -->
                    <div class="mb-3">
                        <label for="formFile" class="form-label">Ảnh phòng khách sạn</label>
                        <input class="form-control"
                               type="file"
                               id="formFile"
                               name="listRoomTypeImg"
                               accept="image/*"
                               ng-model="roomTypes.listRoomTypeImg"
                               ngf-select="validateListRoomTypeImg()"
                               multiple
                               required
                        >
                        <small class="text-danger"
                               ng-show="addRoomTypeName.listRoomTypeImg.$touched && addRoomTypeName.listRoomTypeImg.$error.required">
                            Vui lòng chọn ít nhất một ảnh!
                        </small>
                        <small class="text-danger"
                               ng-show="addRoomTypeName.listRoomTypeImg.$error.maxImages">
                            Số lượng ảnh tối đa là 30!
                        </small>
                    </div>

                    <!-- Tiện ích phòng khách sạn -->
                    <div class="mb-3 mt-3">
                        <label for="formFile" class="form-label mb-3">Tiện ích khách sạn</label>
                        <div class="row" ng-if="checkboxes && checkboxes.length > 0">
                            <div class="col-sm-4 col-xl-4" ng-repeat="checkbox in checkboxes">
                                <div class="form-check">
                                    <input class="form-check-input"
                                           type="checkbox"
                                           id="{{checkbox.label}}"
                                           ng-model="checkbox.checked"
                                           ng-change="updateCheckboxCount()"
                                    >
                                    <label class="form-check-label" for="{{checkbox.label}}">
                                        {{checkbox.label}}
                                    </label>
                                </div>
                            </div>

                            <small class="text-danger" ng-show="checkboxCount === 0">
                                Vui lòng chọn ít nhất một tiện ích!
                            </small>
                        </div>

                        <div class="row" ng-if="showErrorListPlaceMessage !== null">
                            <p ng-show="showErrorListPlaceMessage"></p>
                        </div>
                    </div>

                    <!-- Tiện ích mở rộng phòng khách sạn -->
                    <div class="mb-3 mt-3">
                        <label for="formFile" class="form-label mb-3">Tiện ích mở rộng</label>
                        <div class="row" >
                            <div class="col-sm-4 col-xl-4">
                                <div class="form-check">
                                    <input class="form-check-input"
                                           type="checkbox"
                                           id="breakfastIncluded"
                                           ng-model="roomTypes.breakfastIncluded"
                                           ng-change="updateCheckboxCount()"
                                    >
                                    <label class="form-check-label" for="breakfastIncluded">
                                        Miễn phí ăn sáng
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-4 col-xl-4">
                                <div class="form-check">
                                    <input class="form-check-input"
                                           type="checkbox"
                                           id="freeCancellation"
                                           ng-model="roomTypes.freeCancellation"
                                           ng-change="updateCheckboxCount()"
                                    >
                                    <label class="form-check-label" for="freeCancellation">
                                        Miễn phí hủy phòng
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="row" ng-if="showErrorListPlaceMessage !== null">
                            <p ng-show="showErrorListPlaceMessage"></p>
                        </div>
                    </div>

                    <div class="col-12 d-flex justify-content-end mt-5">
                        <button class="btn" style="margin-right: 20px"><a class="btn" href="/business/hotel/room-type-list">Trở về</a></button>
                        <button type="submit"
                                class="btn btn-submit"
                                ng-click="saveRoomType()"
                                ng-disabled="addRoomTypeName.$invalid || noCheckboxSelected() || !isImageSelected || !isListImageSelected">Thêm loại phòng
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>