<main class="main" id="top">
    <div class="content" style="padding-top: 0">
        <div class="mb-9">
            <div class="row g-2 mb-4">
                <div class="col-auto">
                    <h2 class="mb-0">DANH SÁCH DOANH NGHIỆP</h2>
                </div>
            </div>
            <ul class="nav nav-links mb-3 mb-lg-2 mx-n3">
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="#"><span>All </span><span class="text-700 fw-semi-bold">(68817)</span></a></li>
                <li class="nav-item"><a class="nav-link" href="#"><span>New </span><span class="text-700 fw-semi-bold">(6)</span></a></li>
                <li class="nav-item"><a class="nav-link" href="#"><span>Abandoned checkouts </span><span class="text-700 fw-semi-bold">(17)</span></a></li>
                <li class="nav-item"><a class="nav-link" href="#"><span>Locals </span><span class="text-700 fw-semi-bold">(6,810)</span></a></li>
                <li class="nav-item"><a class="nav-link" href="#"><span>Email subscribers </span><span class="text-700 fw-semi-bold">(8)</span></a></li>
                <li class="nav-item"><a class="nav-link" href="#"><span>Top reviews </span><span class="text-700 fw-semi-bold">(2)</span></a></li>
            </ul>
            <div id="products" data-list='{"valueNames":["customer","email","total-orders","total-spent","city","last-seen","last-order"],"page":10,"pagination":true}'>
                <div class="mb-4">
                    <div class="row g-3">
                        <div class="col-auto">
                            <div class="search-box">
                                <form class="position-relative" data-bs-toggle="search" data-bs-display="static"><input class="form-control search-input search" type="search" placeholder="Search customers" aria-label="Search" />
                                    <span class="fas fa-search search-box-icon"></span>
                                </form>
                            </div>
                        </div>
                        <div class="col-auto scrollbar overflow-hidden-y flex-grow-1 d-none d-sm-inline">
                            <div class="btn-group position-static" role="group">
                                <div class="btn-group position-static text-nowrap">
                                    <button class="btn btn-phoenix-secondary px-7 flex-shrink-0" type="button"
                                            data-bs-toggle="dropdown" data-boundary="window" aria-haspopup="true"
                                            aria-expanded="false" data-bs-reference="parent"> Trạng thái<span class="fas fa-angle-down ms-2"></span></button>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="#">Nam</a></li>
                                        <li><a class="dropdown-item" href="#">Nữ</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-auto"><button class="btn btn-link text-900 me-4 px-0">
                            <span class="fa-solid fa-file-export fs--1 me-2"></span>Export</button>
                            <a class="btn btn-primary" href="/admin/agency-add">
                                <span class="fas fa-plus me-2 d-none d-sm-inline"></span>Thêm doanh nghiệp
                            </a>
                        </div>
                    </div>
                </div>
                <div class="mx-n4 px-4 mx-lg-n6 px-lg-6 bg-white border-top border-bottom border-200 position-relative top-1">
                    <div class="table-responsive scrollbar-overlay mx-n1 px-1">
                        <table class="table table-sm fs--1 mb-0">
                            <thead>
                            <tr>
                                <th class="sort text-center align-middle" scope="col" style="width:1%;">STT</th>
                                <th class="sort text-center align-middle" scope="col" style="width:5%;">ID</th>
                                <th class="sort text-center align-middle" scope="col" style="width:22%;">TÊN D.NGHIỆP</th>
                                <th class="sort text-center align-middle" scope="col" style="width:20%;">NG.ĐẠI DIỆN</th>
                                <th class="sort text-center align-middle" scope="col" style="width:8%">LIÊN LẠC</th>
                                <th class="sort text-center align-middle" scope="col" style="width:10%">ĐỊA CHỈ</th>
                                <th class="sort text-center align-middle" scope="col" style="width:15%;">T.THÁI</th>
                                <th class="sort text-center align-middle" scope="col" style="width:10%;">NG.TẠO</th>
                                <th class="sort text-center align-middle" scope="col" style="width:9%;min-width: 150px;">HOẠT ĐỘNG</th>
                            </tr>
                            </thead>
                            <tbody class="list" id="customers-table-body">
                            <tr class="hover-actions-trigger btn-reveal-trigger position-static">
                                <td class="total-orders align-middle white-space-nowrap fw-semi-bold text-center">1</td>
                                <td class="total-orders align-middle white-space-nowrap fw-semi-bold text-center text-1000">89</td>
                                <td class="customer align-middle white-space-nowrap pe-5">
                                    <p class="mb-0 ms-3 text-1100">Công ty TNHH 20 người PayLak</p>
                                </td>
                                <td class="customer align-middle white-space-nowrap pe-5">
                                    <p class="mb-0 ms-3 text-1100 fw-bold">Trương Mai Vy</p>
                                </td>
                                <td class="total-orders align-middle white-space-nowrap fw-semi-bold text-center text-1000">0942050606</td>
                                <td class="email align-middle white-space-nowrap text-center text-1000" data-bs-toggle="tooltip" data-bs-placement="top" title="12 Bảo Khánh, Cầu Giấy, Hà Nội">
                                    Hà Nội
                                </td>
                                <td class="total-spent align-middle white-space-nowrap fw-bold text-center text-1100">Hoạt động</td>
                                <td class="city align-middle white-space-nowrap text-center text-1000">12/02/2024</td>
                                <td class="last-seen align-middle white-space-nowrap text-700 text-center">
                                    <a class="btn btn-warning me-1 mb-1" href="/admin/agency-edit"><i class="fa-solid fa-pen-to-square"></i></a>
                                    <a class="btn btn-danger me-1 mb-1"><i class="fa-solid fa-trash-can"></i></a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="row align-items-center justify-content-between py-2 pe-0 fs--1">
                        <div class="col-auto d-flex">
                            <p class="mb-0 d-none d-sm-block me-3 fw-semi-bold text-900" data-list-info="data-list-info"></p><a class="fw-semi-bold" href="#!" data-list-view="*">View all<span class="fas fa-angle-right ms-1" data-fa-transform="down-1"></span></a><a class="fw-semi-bold d-none" href="#!" data-list-view="less">View Less<span class="fas fa-angle-right ms-1" data-fa-transform="down-1"></span></a>
                        </div>
                        <div class="col-auto d-flex"><button class="page-link" data-list-pagination="prev"><span class="fas fa-chevron-left"></span></button>
                            <ul class="mb-0 pagination"></ul><button class="page-link pe-0" data-list-pagination="next"><span class="fas fa-chevron-right"></span></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>