<h3 class="fw-light text-success mb-3">TOUR CƠ BẢN</h3>

<form name="tourForm" class="row g-3 was-validated" novalidate>
    <!-- Tên Tour -->
    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <label for="tourName" class="form-label">TÊN TOUR</label>
        <input type="text" class="form-control is-invalid" id="tourName" name="tourName" placeholder="Nhập tên tour"
               ng-model="tour.name" ng-class="{'is-invalid': tourForm.tourName.$invalid && (tourForm.tourName.$touched || submitted)}">
        <div ng-show="tourForm.tourName.$invalid && submitted" class="invalid-feedback">
            Vui lòng nhập tên tour!
        </div>
    </div>

    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <label for="tourType" class="form-label">LOẠI TOUR</label>
        <select class="form-select is-invalid" id="tourType" name="tourType" ng-model="tour.type" required
                ng-class="{'is-invalid': tourForm.tourType.$invalid && submitted}">
            <option selected disabled value="">Chọn loại tour...</option>
            <option value="adventure">Phiêu lưu</option>
            <option value="beach">Biển</option>
            <option value="cultural">Văn hóa</option>
        </select>
        <div ng-show="tourForm.tourType.$invalid && submitted" class="invalid-feedback">
            Hãy chọn loại tour!
        </div>
    </div>

    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <label for="tourStatus" class="form-label">TRẠNG THÁI</label>
        <select class="form-select is-invalid" id="tourStatus" name="tourStatus" ng-model="tour.status" required
                ng-class="{'is-invalid': tourForm.tourStatus.$invalid && submitted}">
            <option selected disabled value="">Chọn trạng thái...</option>
            <option value="active">Hoạt động</option>
            <option value="inactive">Không hoạt động</option>
        </select>
        <div ng-show="tourForm.tourStatus.$invalid && submitted" class="invalid-feedback">
            Hãy chọn trạng thái!
        </div>
    </div>

    <!-- Thêm Ảnh Tour -->
    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <label for="tourImage" class="form-label">THÊM ẢNH TOUR</label>
        <input type="file" class="form-control is-invalid" id="tourImage" name="tourImage" required ng-model="tour.image"
               ng-class="{'is-invalid': tourForm.tourImage.$dirty && tourForm.tourImage.$invalid}">
        <div ng-show="tourForm.tourImage.$dirty && tourForm.tourImage.$invalid" class="invalid-feedback">
            Vui lòng thêm ảnh!
        </div>
    </div>

</form>

<div class="mb-6 mt-5">
    <div class="mb-4">
        <div class="d-flex flex-wrap gap-3">
            <!--search-->
            <div class="search-box order-2 order-xl-1">
                <form class="position-relative" data-bs-toggle="search" data-bs-display="static">
                    <input class="form-control search-input search" type="search" placeholder="Tìm kiếm"
                           aria-label="Search">
                    <svg class="svg-inline--fa fa-magnifying-glass search-box-icon" aria-hidden="true" focusable="false"
                         data-prefix="fas" data-icon="magnifying-glass" role="img" xmlns="http://www.w3.org/2000/svg"
                         viewBox="0 0 512 512" data-fa-i2svg="">
                        <path fill="currentColor"
                              d="M500.3 443.7l-119.7-119.7c27.22-40.41 40.65-90.9 33.46-144.7C401.8 87.79 326.8 13.32 235.2 1.723C99.01-15.51-15.51 99.01 1.724 235.2c11.6 91.64 86.08 166.7 177.6 178.9c53.8 7.189 104.3-6.236 144.7-33.46l119.7 119.7c15.62 15.62 40.95 15.62 56.57 0C515.9 484.7 515.9 459.3 500.3 443.7zM79.1 208c0-70.58 57.42-128 128-128s128 57.42 128 128c0 70.58-57.42 128-128 128S79.1 278.6 79.1 208z"></path>
                    </svg><!-- <span class="fas fa-search search-box-icon"></span> Font Awesome fontawesome.com -->
                </form>
            </div>

            <!--export-->
            <div class="ms-xxl-auto order-1 order-xl-2">
                <button class="btn btn-link text-900 me-4 px-0 mb-3">
                    <i class="fa-solid fa-file-export me-1"></i>
                    Xuất
                </button>

                <!--thêm tài khoản mới-->
                <button class="btn btn-success me-1 ms-1  mb-3" ng-click="submitTourForm()">
                    <i class="fa-solid fa-plus"></i>
                    Thêm
                </button>
                <button class="btn btn-primary me-1 ms-1  mb-3" ng-click="submitTourForm()">
                    <i class="fa-solid fa-pen-to-square"></i>
                    Cập nhật
                </button>
                <button class="btn btn-secondary me-1 ms-1  mb-3">
                    <i class="fa-solid fa-arrows-rotate"></i>
                    Làm mới
                </button>
            </div>
        </div>
    </div>
</div>


<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
        <tr>
            <th class="text-center fw-normal">STT</th>
            <th class="text-center fw-normal">ID</th>
            <th class="text-center fw-normal">HỌ TÊN</th>
            <th class="text-center fw-normal">EMAIL</th>
            <th class="text-center fw-normal">SỐ ĐIỆN THOẠI</th>
            <th class="text-center fw-normal">GIỚI TÍNH</th>
            <th class="text-center fw-normal">HOẠT ĐỘNG</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="p-2 text-center">1</td>
            <td class="p-2 text-center">Mark</td>
            <td class="p-2 text-center">Otto</td>
            <td class="p-2 text-center">@mdo</td>
            <td class="p-2 text-center">@mdo</td>
            <td class="p-2 text-center">@mdo</td>
            <td class="p-2 text-center ">
                <a class="me-2"><i class="fa-regular fa-pen-to-square"></i></a>
                <a class=""><i class="fa-regular fa-square-minus text-danger"></i></a>
            </td>
        </tr>
        <tr>
            <td class="p-2 text-center">2</td>
            <td class="p-2 text-center">Mark</td>
            <td class="p-2 text-center">Otto</td>
            <td class="p-2 text-center">@mdo</td>
            <td class="p-2 text-center">@mdo</td>
            <td class="p-2 text-center">@mdo</td>
            <td class="p-2 text-center ">
                <a class="me-2"><i class="fa-regular fa-pen-to-square"></i></a>
                <a class=""><i class="fa-regular fa-square-minus text-danger"></i></a>
            </td>
        </tr>
        <tr>
            <td class="p-2 text-center">3</td>
            <td class="p-2 text-center">Mark</td>
            <td class="p-2 text-center">Otto</td>
            <td class="p-2 text-center">@mdo</td>
            <td class="p-2 text-center">@mdo</td>
            <td class="p-2 text-center">@mdo</td>
            <td class="p-2 text-center ">
                <a class="me-2"><i class="fa-regular fa-pen-to-square"></i></a>
                <a class=""><i class="fa-regular fa-square-minus text-danger"></i></a>
            </td>
        </tr>
        <tr>
            <td class="p-2 text-center">4</td>
            <td class="p-2 text-center">Mark</td>
            <td class="p-2 text-center">Otto</td>
            <td class="p-2 text-center">@mdo</td>
            <td class="p-2 text-center">@mdo</td>
            <td class="p-2 text-center">@mdo</td>
            <td class="p-2 text-center ">
                <a class="me-2"><i class="fa-regular fa-pen-to-square"></i></a>
                <a class=""><i class="fa-regular fa-square-minus text-danger"></i></a>
            </td>
        </tr>
        <tr>
            <td class="p-2 text-center">5</td>
            <td class="p-2 text-center">Mark</td>
            <td class="p-2 text-center">Otto</td>
            <td class="p-2 text-center">@mdo</td>
            <td class="p-2 text-center">@mdo</td>
            <td class="p-2 text-center">@mdo</td>
            <td class="p-2 text-center ">
                <a class="me-2"><i class="fa-regular fa-pen-to-square"></i></a>
                <a class=""><i class="fa-regular fa-square-minus text-danger"></i></a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<!--PHÂN TRANG-->
<div class="row align-items-center justify-content-between py-2 pe-0 fs--1">
    <div class="col-auto d-flex">
        <p class="mb-0 d-none d-sm-block me-3 fw-semi-bold text-900" data-list-info="data-list-info">1 đến 10 <span
                class="text-600"> của </span> 12 </p>
    </div>
    <div class="col-auto d-flex">
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-end">
                <li class="page-item">
                    <a class="page-link" href="#">
                        <i class="fa-solid fa-angle-left"></i>
                    </a>
                </li>
                <li class="page-item active" aria-current="page">
                    <a class="page-link" href="#">1</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">2</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">
                        <i class="fa-solid fa-angle-right"></i>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>
