<h3 class="fw-light text-success mb-3">TOUR CHI TIẾT</h3>

<form class="row g-3 was-validated">
    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <label for="fullName" class="form-label">HỌ VÀ TÊN</label>
        <input type="text" class="form-control is-invalid" id="fullName" placeholder="Nhập họ và tên" required>
        <div class="invalid-feedback">
            Vui lòng nhập họ và tên!
        </div>
    </div>
    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <label for="phoneNumber" class="form-label">SỐ ĐIỆN THOẠI</label>
        <input type="tel" class="form-control is-valid" id="phoneNumber" placeholder="Nhập số điện thoại" required>
        <div class="valid-feedback">
            phải như vậy!
        </div>
    </div>
    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <label for="email" class="form-label">EMAIL</label>
        <input type="email" class="form-control is-valid" id="email" placeholder="Nhập email" required>
        <div class="valid-feedback">
            Looks good!
        </div>
    </div>
    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <label for="password" class="form-label">MẬT KHẨU</label>
        <input type="password" class="form-control is-valid" id="password" placeholder="Nhập mật khẩu" required>
        <div class="valid-feedback">
            Looks good!
        </div>
    </div>
    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <label for="role" class="form-label">VAI TRÒ</label>
        <select class="form-select is-invalid" id="role" required>
            <option selected disabled value="">Choose...</option>
            <option>...</option>
        </select>
        <div id="validationServer04Feedback" class="invalid-feedback">
            chọn 1 cái đi cu
        </div>
    </div>
    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6 col-xs-12 d-flex align-items-center">
        <label class="form-label me-3">GIỚI TÍNH</label>
        <div class="form-check form-check-inline">
            <input type="radio" class="form-check-input" id="male" name="radio-stacked" required>
            <label class="form-check-label" for="male">Nam</label>
        </div>
        <div class="form-check form-check-inline">
            <input type="radio" class="form-check-input" id="female" name="radio-stacked" required>
            <label class="form-check-label" for="female">Nữ</label>
        </div>
    </div>
</form>

<div class="mb-6 mt-5">
    <div class="mb-4">
        <div class="d-flex flex-wrap gap-3">
            <!--search-->
            <div class="search-box order-2 order-xl-1">
                <form class="position-relative" data-bs-toggle="search" data-bs-display="static">
                    <input class="form-control search-input search" type="search" placeholder="Tìm kiếm"
                           aria-label="Search">
                    <svg class="svg-inline--fa fa-magnifying-glass search-box-icon" aria-hidden="true" focusable="false"
                         data-prefix="fas" data-icon="magnifying-glass" role="img" xmlns="http://www.w3.org/2000/svg"
                         viewBox="0 0 512 512" data-fa-i2svg="">
                        <path fill="currentColor"
                              d="M500.3 443.7l-119.7-119.7c27.22-40.41 40.65-90.9 33.46-144.7C401.8 87.79 326.8 13.32 235.2 1.723C99.01-15.51-15.51 99.01 1.724 235.2c11.6 91.64 86.08 166.7 177.6 178.9c53.8 7.189 104.3-6.236 144.7-33.46l119.7 119.7c15.62 15.62 40.95 15.62 56.57 0C515.9 484.7 515.9 459.3 500.3 443.7zM79.1 208c0-70.58 57.42-128 128-128s128 57.42 128 128c0 70.58-57.42 128-128 128S79.1 278.6 79.1 208z"></path>
                    </svg><!-- <span class="fas fa-search search-box-icon"></span> Font Awesome fontawesome.com -->
                </form>
            </div>

            <!--export-->
            <div class="ms-xxl-auto order-1 order-xl-2">
                <button class="btn btn-link text-900 me-4 px-0 mb-3">
                    <i class="fa-solid fa-file-export me-1"></i>
                    Xuất
                </button>

                <!--thêm tài khoản mới-->
                <button class="btn btn-success me-1 ms-1  mb-3">
                    <i class="fa-solid fa-plus"></i>
                    Thêm
                </button>
                <button class="btn btn-primary me-1 ms-1  mb-3">
                    <i class="fa-solid fa-pen-to-square"></i>
                    Cập nhật
                </button>
                <button class="btn btn-secondary me-1 ms-1  mb-3">
                    <i class="fa-solid fa-arrows-rotate"></i>
                    Làm mới
                </button>
            </div>
        </div>
    </div>
</div>


<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
        <tr>
            <th class="text-center fw-normal">STT</th>
            <th class="text-center fw-normal">ID</th>
            <th class="text-center fw-normal">TÊN TOUR</th>
            <th class="text-center fw-normal">LOẠI TOUR</th>
            <th class="text-center fw-normal">NGÀY TẠO</th>
            <th class="text-center fw-normal">TRẠNG THÁI</th>
            <th class="text-center fw-normal">HOẠT ĐỘNG</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="p-2 text-center">1</td>
            <td class="p-2 text-center">Mark</td>
            <td class="p-2 text-center">Otto</td>
            <td class="p-2 text-center">@mdo</td>
            <td class="p-2 text-center">@mdo</td>
            <td class="p-2 text-center">@mdo</td>
            <td class="p-2 text-center ">
                <a class="me-2"><i class="fa-regular fa-pen-to-square"></i></a>
                <a class=""><i class="fa-regular fa-square-minus text-danger"></i></a>
            </td>
        </tr>
        <tr>
            <td class="p-2 text-center">2</td>
            <td class="p-2 text-center">Mark</td>
            <td class="p-2 text-center">Otto</td>
            <td class="p-2 text-center">@mdo</td>
            <td class="p-2 text-center">@mdo</td>
            <td class="p-2 text-center">@mdo</td>
            <td class="p-2 text-center ">
                <a class="me-2"><i class="fa-regular fa-pen-to-square"></i></a>
                <a class=""><i class="fa-regular fa-square-minus text-danger"></i></a>
            </td>
        </tr>
        <tr>
            <td class="p-2 text-center">3</td>
            <td class="p-2 text-center">Mark</td>
            <td class="p-2 text-center">Otto</td>
            <td class="p-2 text-center">@mdo</td>
            <td class="p-2 text-center">@mdo</td>
            <td class="p-2 text-center">@mdo</td>
            <td class="p-2 text-center ">
                <a class="me-2"><i class="fa-regular fa-pen-to-square"></i></a>
                <a class=""><i class="fa-regular fa-square-minus text-danger"></i></a>
            </td>
        </tr>
        <tr>
            <td class="p-2 text-center">4</td>
            <td class="p-2 text-center">Mark</td>
            <td class="p-2 text-center">Otto</td>
            <td class="p-2 text-center">@mdo</td>
            <td class="p-2 text-center">@mdo</td>
            <td class="p-2 text-center">@mdo</td>
            <td class="p-2 text-center ">
                <a class="me-2"><i class="fa-regular fa-pen-to-square"></i></a>
                <a class=""><i class="fa-regular fa-square-minus text-danger"></i></a>
            </td>
        </tr>
        <tr>
            <td class="p-2 text-center">5</td>
            <td class="p-2 text-center">Mark</td>
            <td class="p-2 text-center">Otto</td>
            <td class="p-2 text-center">@mdo</td>
            <td class="p-2 text-center">@mdo</td>
            <td class="p-2 text-center">@mdo</td>
            <td class="p-2 text-center ">
                <a class="me-2"><i class="fa-regular fa-pen-to-square"></i></a>
                <a class=""><i class="fa-regular fa-square-minus text-danger"></i></a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<!--PHÂN TRANG-->
<div class="row align-items-center justify-content-between py-2 pe-0 fs--1">
    <div class="col-auto d-flex">
        <p class="mb-0 d-none d-sm-block me-3 fw-semi-bold text-900" data-list-info="data-list-info">1 đến 10 <span
                class="text-600"> của </span> 12 </p>
    </div>
    <div class="col-auto d-flex">
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-end">
                <li class="page-item">
                    <a class="page-link" href="#">
                        <i class="fa-solid fa-angle-left"></i>
                    </a>
                </li>
                <li class="page-item active" aria-current="page">
                    <a class="page-link" href="#">1</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">2</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">
                        <i class="fa-solid fa-angle-right"></i>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>
