.img-card-dashboard {
    height: 300px;
}

.img-card-dashboard img {
    height: 300px;
    object-fit: cover;
    width: 100%;
}

.btn-green {
    background: #63ab45;
    color: #fff;
}

.btn-green:hover {
    background: #366c1f;
    color: #fff;
}