/* CSS cho cột và biểu tượng sắp xếp */
.btn-flex {
    display: flex;
    align-items: center;
}

.btn-flex i.material-icons {
    margin-right: 10px;
    font-size: 0.9rem;
}

.btn-flex span {
    font-size: 0.9rem;
}

/* CSS cho biểu tượng sắp xếp */
.sorting-icon {
    font-size: 1.1rem !important;
    vertical-align: middle;
    color: #666;
    transition: color 0.3s ease;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    line-height: 1; /* Đặt line-height về 1 để loại bỏ khoảng trắng không mong muốn */
    opacity: 0.75; /* Đặt mức độ mờ mặc định */
}

/* Hiển thị màu và opacity khi hover vào cột */
th.cursor-pointer:hover .sorting-icon,
.sort-active {
    color: #333;
    opacity: 1;
}

/* Điều chỉnh opacity cho cột không được sắp xếp */
.sort-inactive {
    opacity: 0.7;
}

th.cursor-pointer:hover {
    background-color: #f2f2f2; /* Màu nền nhẹ khi hover vào cột */
}

/* CSS cho cột và biểu tượng sắp xếp */
.icon-left {
    display: flex;
    align-items: center;
    justify-content: center; /* Canh giữa theo chiều ngang */
    white-space: nowrap; /* Ngăn ngừng text tràn xuống dòng mới */
    overflow: hidden; /* Ẩn nội dung dư thừa nếu màn hình quá nhỏ */
    text-overflow: ellipsis; /* Hiển thị ba dấu chấm (...) nếu nội dung quá dài */
}

.icon-left svg {
    margin: 0 5px; /* Khoảng cách giữa biểu tượng và văn bản */
    width: 0.5em; /* Kích thước của biểu tượng SVG */
    padding-bottom: 1px;
    transform: scale(0.85); /* giảm tỷ lệ lên 0.9 lần */
}

th, td {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
}

