<div ng-include="'app/component/utils/loading-html.html'"></div>

<div class="container" style="width: 35%;">
  <div class="header-control mb-4">
    <div class="">
      <div class="d-flex align-items-center row">
        <div class="col-lg-12">
          <h3 class="color-green fw-bold text-uppercase text-center">HIỆN TẠI LINK NÀY ĐÃ HẾT HẠN</h3>
        </div>
      </div>
    </div>
  </div>

  <div class="card card-custom">
    <form  class="form-input-custom" role="form">
      <div class="col-12">
        <div class="col-md-12">
          <label class="mb-2" style="text-align: justify; color: #959595">Đường link yêu cầu đổi mật khẩu này đã hết hạn, bạn hãy click vào nút dưới đây để thực
          hiện lại thao tác này nhé.
          </label>
          <label class="mb-2" style="text-align: justify; color: #959595">Chúc bạn một ngày tốt lành!.
          </label>
        </div>

        <div class="col-12 d-flex justify-content-end mt-5">
          <button type="submit" class="btn btn-submit fw-bold">
            <a style="color: white; text-decoration: none" href="/admin-forgot-password">Làm lại</a>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
