
<div ng-include="'app/component/utils/loading-html.html'"></div>

<div class="container" style="width: 35%;">
    <div class="header-control mb-4">
        <div class="">
            <div class="d-flex align-items-center row">
                <div class="col-lg-12">
                    <h3 class="color-green fw-bold text-uppercase text-center">THAY ĐỔI MẬT KHẨU</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="card card-custom">
        <form  class="signup-form form-input-custom" id="form-newpass" ng-submit="updateCustomPassWord()" method="post" name="newPassForm"
               role="form">
            <div class="col-12">
                <div class="col-md-12">
                    <label class="form-label mb-2 mt-2">
                        Nhập mật khẩu mới
                        <span id="toggleNewPassword" class="eye-icon" ng-click="toggleNewPass()"><i class="fa-solid fa-eye-slash"></i></span>
                    </label>
                    <input type="password"
                           class="form-control"
                           id="newPassword"
                           placeholder="*********"
                           name="newPass"
                           ng-class="{ 'is-invalid': newPassForm.newPassInput.$invalid && newPassForm.newPassInput.$touched, 'is-valid': newPassForm.newPassInput.$valid && newPassForm.newPassInput.$touched }"
                           ng-model="users.newPass"
                           ng-minlength="6"
                           required
                    >
                    <small class="text-danger"
                           ng-show="newPassForm.newPass.$touched && newPassForm.newPass.$error.required">
                        Vui lòng nhập mật khẩu !
                    </small>
                    <small class="text-danger"
                           ng-show="newPassForm.newPass.$error.minlength && newPassForm.newPass.$dirty">
                        Mật khẩu cần ít nhất 6 ký tự.
                    </small>
                </div>
                <div class="col-md-12">
                    <label class="form-label mb-2 mt-4">
                        Xác nhận lại mật khẩu
                        <span id="toggleConfirmNewPassword" class="eye-icon"
                              ng-click="toggleConfirmNewPass()">
                                        <i class="fa-solid fa-eye-slash"></i></span>
                    </label>
                    <input type="password" class="form-control"
                           name="confirmPass"
                           id="confirmNewPass"
                           placeholder="*********"
                           ng-class="{ 'is-invalid': newPassForm.confirmPass.$invalid && newPassForm.confirmPass.$touched, 'is-valid': newPassForm.confirmPass.$valid && newPassForm.confirmPass.$touched }"
                           ng-pattern="users.newPass"
                           ng-minlength="6"
                           ng-model="users.confirmPass"
                           required>
                    <small class="text-danger"
                           ng-show="newPassForm.confirmPass.$touched && newPassForm.confirmPass.$error.required">
                        Vui lòng nhập mật khẩu !
                    </small>
                    <small class="text-danger"
                           ng-show="newPassForm.confirmPass.$error.minlength && newPassForm.confirmPass.$dirty">
                        Mật khẩu cần ít nhất 6 ký tự.
                    </small>
                    <small class="text-danger"
                           ng-show="newPassForm.confirmPass.$touched && newPassForm.confirmPass.$error.pattern">
                        Xác nhận mật khẩu không khớp.
                    </small>
                </div>

                <div class="col-12 d-flex justify-content-end mt-5">
                    <button type="button" class="btn btn-submit fw-bold" style="margin-right: 20px; background-color: white; color:black">
                        <a style="color: black; text-decoration: none" href="/login-admin">Đăng nhập</a>
                    </button>
                    <button type="submit" ng-disabled="newPassForm.$invalid"
                            class="btn btn-submit fw-bold">Xác nhận
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>






