<footer class="main-footer black-bg pt-230" ng-if="!isAuthPage() && !isManagerPage()">
    <div class="container">
        <!--=== Footer CTA ===-->
        <div class="footer-cta pb-40">
            <div class="row">
                <div class="col-lg-6">
                    <!--=== Single CTA Item ===-->
                    <div class="single-cta-item pr-lg-60 mb-40">
                        <div class="icon">
                            <img src="/assets/customers/images/icon/support.png" alt="Icon">
                        </div>
                        <div class="content">
                            <h3 class="title">
                                Có chuyến đi mơ ước của bạn trong tầm tay của bạn.
                            </h3>
                            <a href="#" class="icon-btn">
                                <span class="fas fa-arrow-right"></span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <!--=== Single CTA Item ===-->
                    <div class="single-cta-item pl-lg-60 mb-40">
                        <div class="icon">
                            <img src="/assets/customers/images/icon/travel.png" alt="Icon">
                        </div>
                        <div class="content">
                            <h3 class="title">Sẵn sàng để bắt đầu với kỳ nghỉ !</h3>
                            <a href="#" class="icon-btn">
                                <span class="fas fa-arrow-right"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--=== Footer Widget ===-->
        <div class="footer-widget-area pt-75 pb-30">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <!--=== Footer Widget ===-->
                    <div class="footer-widget about-company-widget mb-40">
                        <h4 class="widget-title">Về chúng tôi</h4>

                        <div class="footer-content">
                            <p>Dịch vụ du lịch chuyên nghiệp mang đến trải nghiệm hấp dẫn và độc đáo cho du khách.</p>
                            <a href="#" class="footer-logo">
                                <img src="/assets/customers/images/logo/logo-white.png" alt="Site Logo">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 col-md-6">
                    <!--=== Footer Widget ===-->
                    <div class="footer-widget service-nav-widget mb-40 pl-lg-70">
                        <h4 class="widget-title">Sản phẩm</h4>
                        <div class="footer-content">
                            <ul class="footer-widget-nav">
                                <li><a href="#">Vé máy bay</a></li>
                                <li><a href="#">Khách sạn</a></li>
                                <li><a href="#">Combo tiết kiệm</a></li>
                                <li><a href="#">Đưa đón sân bay</a></li>
                                <li><a href="#">Căn hộ</a></li>
                                <li><a href="#">Vé xe khách</a></li>
                            </ul>
                            <ul class="footer-widget-nav">
                                <li><a href="#">Cách đặt chỗ</a></li>
                                <li><a href="#">Liên hệ chúng tôi</a></li>
                                <li><a href="#">Trợ giúp</a></li>
                                <li><a href="#">Về chúng tôi</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <!--=== Footer Widget ===-->
                    <div class="footer-widget footer-newsletter-widget mb-40 pl-lg-100">
                        <h4 class="widget-title">Dịch vụ</h4>
                        <div class="footer-content">
                            <p>Luôn được cập nhật về các lời khuyên du lịch, đề xuất và khuyến mãi mới nhất.</p>
                            <form>
                                <div class="form_group">
                                    <label><i class="far fa-paper-plane"></i></label>
                                    <input type="email"
                                           class="form_control"
                                           placeholder="Địa chỉ email của bạn"
                                           name="email"
                                           required
                                    >
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--=== Footer Copyright ===-->
        <div class="footer-copyright">
            <div class="row">
                <div class="col-lg-6">
                    <!--=== Footer Text ===-->
                    <div class="footer-text">
                        <p> Thiết kế bởi <span style="color: #F7921E;">TravelTour</span></p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <!--=== Footer Nav ===-->
                    <div class="footer-nav float-lg-end">
                        <ul>
                            <li><a href="#">Chính sách & bảo mật</a></li>
                            <li><a href="#">FAQ</a></li>
                            <li><a href="#">Hỗ trợ</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer><!--====== End Footer ======-->