<!--====== Start Header ======-->
<header class="header-area header-three" ng-if="!isAuthPage() && !isManagerPage()">
    <!--====== Header Top Bar ======-->
    <div class="header-top-bar pt-30 pb-30">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-3 d-none d-xl-block">
                    <!--====== Site Branding ======-->
                    <div class="site-brading">
                        <a href="/home" class="brand-logo">
                            <img src="/assets/customers/images/logo/logo-black.png" alt="Logo"></a>
                    </div>
                </div>
                <div class="col-xl-9 col-lg-12">
                    <!--====== Information Wrapper ======-->
                    <div class="information-wrapper">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="single-info-item-two">
                                    <div class="inner-info">
                                        <div class="icon">
                                            <span class="fas fa-location-arrow"></span>
                                        </div>
                                        <div class="info">
                                            <span class="title">Ví trị hiện tại</span>
                                            <h5>Cần Thơ, Việt Nam</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="single-info-item-two">
                                    <div class="inner-info">
                                        <div class="icon">
                                            <i class="far fa-envelope"></i>
                                        </div>
                                        <div class="info">
                                            <span class="title">Địa chỉ Email</span>
                                            <h5>
                                                <a href="javascript:void(0)">
                                                    <span class="__cf_email__"
                                                          data-cfemail="e1929491918e9395a1868c80888dcf828e8c">support&#64;gmail.com</span>
                                                </a>
                                            </h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="single-info-item-two">
                                    <div class="inner-info">
                                        <div class="icon">
                                            <span class="fas fa-phone-volume"></span>
                                        </div>
                                        <div class="info">
                                            <span class="title">Số điện thoại</span>
                                            <h5><a href="tel:+(0292) 381 301">+(0292) 381 301</a></h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--====== Header Navigation ======-->
    <div class="header-navigation">
        <div class="nav-overlay"></div>
        <div class="container-fluid">
            <div class="primary-menu gray-bg">
                <!--====== Site Branding ======-->
                <div class="site-brading d-block d-xl-none">
                    <a href="" class="brand-logo">
                        <img src="/assets/customers/images/logo/logo-black.png" alt="Logo">
                    </a>
                </div>
                <!--====== Nav Menu ======-->
                <div class="nav-menu">
                    <!--====== Site Branding ======-->
                    <div class="mobile-logo mb-30 d-block d-xl-none">
                        <a href="" class="brand-logo">
                            <img src="/assets/customers/images/logo/logo-black.png" alt="Site Logo">
                        </a>
                    </div>
                    <!--=== Nav Search ===-->
                    <div class="nav-search mb-30 d-block d-xl-none ">
                        <form>
                            <div class="form_group">
                                <input type="email"
                                       class="form_control"
                                       placeholder="Search Here"
                                       name="email"
                                       required
                                >
                                <button class="search-btn">
                                    <i class="fas fa-search"></i>
                                </button>
                            </div>
                        </form>
                    </div>
                    <!--====== Main Menu ======-->
                    <nav class="main-menu">
                        <ul>
                            <li class="menu-item has-children"><a href="/home">Trang chủ</a></li>
                            <li class="menu-item has-children"><a href="/tours">Tours</a></li>
                            <li class="menu-item has-children"><a href="/hotel">Khách sạn</a></li>
                            <li class="menu-item has-children"><a href="/drive-move">Di chuyển</a></li>
                            <li class="menu-item has-children"><a href="/tourism-location">Điểm tham quan</a></li>
                            <li class="menu-item has-children">
                                <a href="javascript:void(0)">Xem thêm
                                    <span class="fas fa-angle-down"></span>
                                </a>
                                <ul class="sub-menu">
                                    <li><a href="/travel-guide">Cẩm nang du lịch</a></li>
                                    <li><a href="/introduce">Giới thiệu</a></li>
                                    <li><a href="/contact">Liên hệ</a></li>
                                </ul>
                            </li>
                            <li class="menu-item search-item">
                                <div class="search-btn" data-bs-toggle="modal" data-bs-target="#search-modal">
                                    <span class="fas fa-search"></span>
                                </div>
                            </li>
                        </ul>
                    </nav>
                    <!--====== Menu Button ======-->
                    <div class="menu-button mt-40 d-xl-none">
                        <a href="" class="main-btn secondary-btn">
                            Book Now
                            <i class="fas fa-paper-plane"></i>
                        </a>
                    </div>
                </div>
                <!--====== Nav Right Item ======-->
                <div class="nav-right-item" ng-if="!isAuthenticated || role !== 'ROLE_CUSTOMER'">
                    <div class="menu-button d-xl-block d-none">
                        <a href="/sign-in" class="main-btn primary-btn">
                            Đăng nhập
                            <span class="fas fa-user-circle"></span>
                        </a>
                    </div>
                </div>
                <div class="nav-right-item" ng-if="isAuthenticated && role === 'ROLE_CUSTOMER'">
                    <nav class="main-menu">
                        <ul>
                            <li class="menu-item has-children">
                                <a href="javascript:void(0)">Xin chào, {{ user.fullName }}
                                    <span class="fas fa-angle-down"></span>
                                </a>
                                <ul class="sub-menu">
                                    <li><a href="/home/infomation">Thông tin cá nhân</a></li>
                                    <li><a href="/home/infomation/changepassword">Đổi mật khẩu</a></li>
                                    <li><a href="">Lịch sử đi Tour</a></li>
                                    <li><a href="">Lịch trình</a></li>
                                    <li><a href="javascript:void(0)" ng-click="logoutAuth()">Đăng xuất</a></li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header><!--====== End Header ======-->