<!--====== Start Blog Details Section ======-->
<section class="blog-details-section pt-100 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="title-information mb-3">
                    <h4>Đặt chỗ của tôi</h4>
                    <p>Điền thông tin và xem lại chỗ</p>
                </div>
            </div>
            <div class="col-xl-8">
                <!--=== Blog Details Wrapper ===-->
                <div class="blog-details-wrapper pr-lg-50">
                    <div class="sidebar-widget-area">
                        <!--=== Category Widget ===-->
                        <div class="sidebar-widget category-widget mb-30 wow fadeInUp">
                            <h4 class="widget-title fs-6">Thông tin liên hệ (nhận vé/phiếu thanh toán)</h4>
                            <form method="post">
                                <div class="mb-4">
                                    <label for="full_name">Họ tên<span class="text-danger">*</span></label>
                                    <input type="text"
                                           class="form-control"
                                           id="full_name"
                                           name=""
                                           placeholder="Như trên CMND/CCCD"
                                    >
                                </div>
                                <div class="row mb-3">
                                    <div class="col-6 mb-3">
                                        <label for="phone">Điện thoại di động<span class="text-danger">*</span></label>
                                        <input type="text"
                                               class="form-control"
                                               name=""
                                               id="phone"
                                               placeholder="VD: 0901234567"
                                        >
                                    </div>
                                    <div class="col-6 mb-3">
                                        <label for="email">Email<span class="text-danger">*</span></label>
                                        <input type="text"
                                               class="form-control"
                                               name=""
                                               id="email"
                                               placeholder="VD: email@example.com"
                                        >
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-6">
                                        <label class="form-check-label" for="customer_tq">
                                            <input type="radio"
                                                   class="form-check-input"
                                                   name="category_customer"
                                                   id="customer_tq"
                                            >
                                            Tôi là khách tham quan
                                        </label>
                                    </div>
                                    <div class="col-6">
                                        <label class="form-check-label" for="customer">
                                            <input type="radio"
                                                   class="form-check-input"
                                                   name="category_customer"
                                                   id="customer"
                                            >
                                            Tôi đặt cho người khác
                                        </label>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="sidebar-widget category-widget mb-30 wow fadeInUp">
                            <h4 class="widget-title fs-6">Thông tin khách (người đại diện)</h4>
                            <form method="post">
                                <div class="row mb-3">
                                    <div class="col-3 mb-3">
                                        <div class="form-group">
                                            <label>Danh xưng<span class="text-danger">*</span></label>
                                            <select class="form-control">
                                                <option>Anh</option>
                                                <option>Chị</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-9 mb-3">
                                        <label>Họ tên<span class="text-danger">*</span></label>
                                        <input type="text"
                                               class="form-control"
                                               placeholder="Như trên CMND/CCCD"
                                        >
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-6 mb-3">
                                        <label>Điện thoại di động<span class="text-danger">*</span></label>
                                        <input type="text"
                                               class="form-control"
                                               name=""
                                               placeholder="VD: 0901234567"
                                        >
                                    </div>
                                    <div class="col-6 mb-3">
                                        <label>Email<span class="text-danger">*</span></label>
                                        <input type="text"
                                               class="form-control"
                                               name=""
                                               placeholder="VD: email@example.com"
                                        >
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="sidebar-widget category-widget mb-30 wow fadeInUp">
                            <h5 class="widget-title fs-6">Yêu cầu thêm (tuỳ chọn)</h5>
                            <textarea class="form-control" rows="2" placeholder="Yêu cầu đặc biệt"></textarea>
                            <span>
                                Định dạng: bằng tiếng Anh hoặc ngôn ngữ địa phương tại điểm đến. Yêu cầu tuỳ vào tình
                                hình thực tế của nhà cung cấp.
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="sidebar-widget-area">
                    <!--=== Category Widget ===-->
                    <div class="sidebar-widget category-widget mb-30 wow fadeInUp">
                        <h4 class="widget-title fs-6">Tóm tắt đặt chỗ</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!--====== End Blog Details Section ======-->