<section style="margin-top: 150px">
    <div class="mt-5">
        <div class="container">
            <div class="row">
                <div class="col-xl-7" style="padding-right: 30px">
                    <h2 class=" mb-5">Hãy đăng kí tài khoản của bạn để <span class="text-green">tiếp cận nguồn khách hàng</span> trên toàn quốc</h2>
                    <div class="text-muted mb-4">
                        <div class="d-flex align-items-center">
                            <img src="/assets/customers/images/register-agency/BasicSetupEmptyState.png" width="50px"
                                 alt="img" class="mx-3">
                            <div>
                                <div class="h4 ">Đăng kí nhanh chóng</div>
                                <p>Thiết lập sản phẩm và dịch vụ của bạn chưa đầy 15 phút</p>
                            </div>
                        </div>
                    </div>
                    <div class="text-muted mb-4">
                        <div class="d-flex align-items-center">
                            <img src="/assets/customers/images/register-agency/Websites.png" width="50px"
                                 alt="img" class="mx-3">
                            <div>
                                <div class="h4 ">Dễ dàng nhập thông tin sản phẩm và dịch vụ</div>
                                <p>Thêm thông tin sản phẩm và dịch vụ của bạn cực kì đơn giản và nhanh chóng với TravelTour</p>
                            </div>
                        </div>
                    </div>
                    <div class="text-muted mb-4">
                        <div class="d-flex align-items-center">
                            <img src="/assets/customers/images/register-agency/CustomerSupport.png" width="50px"
                                 alt="img" class="mx-3">
                            <div>
                                <div class="h4">Hỗ trợ 24/7</div>
                                <p>Chúng tôi luôn hỗ trợ khách hàng 24/7 giúp bạn tối ưu hóa doanh số bán hàng</p>
                            </div>
                        </div>
                    </div>
                    <div class="text-muted mb-4">
                        <div class="d-flex align-items-center">
                            <img src="/assets/customers/images/register-agency/BoardChartUp.png" width="50px"
                                 alt="img" class="mx-3">
                            <div>
                                <div class="h4 ">Thanh toán an toàn</div>
                                <p>Đảm bảo nhận được tiền thanh toán và bảo vệ trước các trường hợp gian lận với Thanh toán Online bởi TravelTour</p>
                            </div>
                        </div>
                    </div>
                    <div class="text-muted mb-4">
                        <div class="d-flex align-items-center">
                            <img src="/assets/customers/images/register-agency/ChannelManager.png" width="50px"
                                 alt="img" class="mx-3">
                            <div>
                                <div class="h4 ">Vận hành tinh giản</div>
                                <p>Quản lí sản phẩm và dịch vụ của bạn hiệu quả hơn với TravelTour</p>
                            </div>
                        </div>
                    </div>
                    <div class="text-muted mb-4">
                        <div class="d-flex align-items-center">
                            <img src="/assets/customers/images/register-agency/Document.png" width="50px"
                                 alt="img" class="mx-3">
                            <div>
                                <div class="h4 ">Phí hoa hồng minh bạch</div>
                                <p>Biết rõ Quý vị sẽ trả hoa hồng cho khoản nào và cho ai với phí hoa hồng minh bạch</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-5" >
                    <div class="form-input fancy-icon-box-two mb-5" style="width: 600px">
                        <div class="p-4">
                            <div class="h2 text-center">Tạo tài khoản đối tác</div>
                            <p class="text-muted mb-4 text-center">Vui lòng điền đầy đủ thông tin để tạo tài khoản của
                                bạn</p>
                            <form>
                                <div class="form-group mb-3">
                                    <label for="email">Email:</label>
                                    <input type="email" class="form-control" id="email" name="email" required>
                                </div>
                                <div class="form-group mb-3">
                                    <label for="password">Mật khẩu:</label>
                                    <input type="password" class="form-control" id="password" name="password" required>
                                </div>
                                <div class="form-group mb-3">
                                    <label for="confirmPassword">Xác nhận mật khẩu:</label>
                                    <input type="password" class="form-control" id="confirmPassword"
                                           name="confirmPassword"
                                           required>
                                </div>
                                <div class="form-group mb-3">
                                    <label for="phoneNumber">Số điện thoại:</label>
                                    <input type="tel" class="form-control" id="phoneNumber" name="phoneNumber" required>
                                </div>
                                <hr>
                                <div>
                                    <div class="form-group mb-3">
                                        <button type="submit" class="btn btn-green w-100">Tạo tài khoản</button>
                                    </div>
                                </div>
                                <hr>
                                <div class="text-center mb-3">
                                    Nếu quý vị có thắc mắc về bất kì vấn đề nào? Đừng ngần ngại hãy nhắn tin trực tiếp
                                    cho chúng tôi
                                    để được giải đáp.
                                </div>
                                <div>
                                    <div class="form-group mb-3">
                                        <button type="submit" class="btn border-green text-green w-100">Đăng nhập
                                        </button>
                                    </div>
                                </div>
                                <hr>
                                <div class="text-center mb-3">
                                    Qua việc đăng nhập hoặc tạo tài khoản, bạn đồng ý với các Điều khoản và Điều kiện
                                    cũng như
                                    Chính sách An toàn và Bảo mật của chúng tôi
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>