<style>
    .close:focus {

        outline: 1px dotted #fff !important;
    }

    .modal-body {

        padding: 0rem !important;
    }

    .fa-close {
        color: #fff;
    }

    .heading {

        font-weight: 500 !important;
    }

    .subheadings {
        font-size: 14px;
        color: #9c27b0;
    }

    .dots {
        height: 10px;
        width: 10px;
        background-color: green;
        border-radius: 50%;
        display: inline-block;
        margin-right: 5px;
    }

    .gallery img {

        margin-right: 10px;
    }

    .fs-9 {
        font-size: 9px;
    }

    .btn-back {
        color: white;
        font-weight: 500;
        background-color: #ffc107;
        border-radius: 20px;
        padding: 5px 10px 5px 10px;
    }

    .btn-ok {
        color: white;
        font-weight: 500;
        background-color: #ab4eff;
        border-radius: 20px;
        padding: 5px 10px 5px 10px;
    }

    .btn-cancel {
        color: white;
        font-weight: 500;
        background-color: #dc3545;
        border-radius: 20px;
        padding: 5px 10px 5px 10px;
    }

    .btn-back:hover {
        color: #ffc107;
        border: 1px solid #ffc107;
        background-color: white;
    }

    .btn-ok:hover {
        color: #ab4eff;
        border: 1px solid #ab4eff;
        background-color: white;
    }

    .btn-cancel:hover {
        color: #dc3545;
        border: 1px solid #dc3545;
        background-color: white;
    }
</style>

<div class="container">
    <div class="header-control mb-4">
        <div class="header-control-center mb-4">
            <div class="d-flex justify-content-between align-items-center row ">
                <div class="col-xl-6 mt-3">
                    <h3 class="color-green fw-bold">QUẢN LÝ PHƯƠNG TIỆN</h3>
                </div>
            </div>
        </div>
        <div class="">
            <div class="card card-customer">
                <div class="row" style="margin: 20px 16px 20px 16px">
                    <div class="col-xl-4">
                        Bạn muốn tìm kiếm gì ?
                        <div class="input-group mb-3">
                              <span class="input-group-text" id="basic-addon1">
                                <a href="#" class="bg-light text-dark">
                                  <i class="fa-solid fa-magnifying-glass bg-light"></i>
                                </a>
                              </span>
                            <input type="text" class="form-control"
                                   placeholder="Nhập tên hãng xe cần tìm"
                                   ng-model="searchTerm" ng-change="searchName()">
                        </div>
                    </div>
                    <div class="col-xl-8 d-flex align-items-center justify-content-end mb-3 h-100"
                         style="margin: 20px 0 0 0">
                    </div>
                </div>
            </div>
        </div>
        <div class="table-components table-responsive mb-5">
            <div class="card table-responsive table-customer">
                <div class="card-header">
                    <div class="row">
                        <div class="mt-2 h4 col-lg-5 d-flex align-items-center h-100">
                            <div class="d-flex align-items-center">
                                <span class="h4">Danh sách thương hiệu</span>
                            </div>
                        </div>
                        <div class="d-flex justify-content-end align-items-baseline col-lg-3">
                            <select class="form-select" aria-label="Default select example"
                                    ng-model="isAccepted"
                                    ng-init="isAccepted='true'"
                                    ng-change="getChangeStatus()">
                                <option value="true">Hợp lệ</option>
                                <option value="false">Không hợp lệ</option>
                            </select>
                        </div>
                        <div class="d-flex justify-content-end align-items-baseline col-lg-2">
                            <select class="form-select" aria-label="Default select example"
                                    ng-model="pageSize"
                                    ng-init="pageSize='5'"
                                    ng-change="pageSizeChanged()">
                                <option value="5">5</option>
                                <option value="10">10</option>
                                <option value="15">15</option>
                            </select>
                        </div>
                        <div class="d-flex align-items-center justify-content-end h-100 col-lg-2">
                            <nav aria-label="Page navigation example float-end" ng-if="brandPostList.length > 0">
                                <ul class="pagination justify-content-center align-items-center">
                                    <li class="page-item" ng-class="{disabled: currentPage === 0}">
                                        <a class="page-link" ng-click="setPage(0)">
                                            <i class="fa-solid fa-angles-left"></i>
                                        </a>
                                    </li>
                                    <!-- Ellipsis at the beginning -->
                                    <li class="page-item" ng-if="currentPage > 2 && totalPages > 5">
                                        <span class="page-link">...</span>
                                    </li>

                                    <!-- Pagination Numbers -->
                                    <li class="page-item cursor-pointer" ng-repeat="n in getPaginationRange()"
                                        ng-class="{active: n === currentPage}">
                                        <a class="page-link" ng-click="setPage(n)">{{ n + 1 }}</a>
                                    </li>

                                    <!-- Ellipsis at the end -->
                                    <li class="page-item" ng-if="currentPage < totalPages - 3 && totalPages > 5">
                                        <span class="page-link">...</span>
                                    </li>

                                    <!-- Next Page -->
                                    <li class="page-item" ng-class="{disabled: currentPage === totalPages - 1}">
                                        <a class="page-link" ng-click="setPage(totalPages - 1)">
                                            <i class="fa-solid fa-angles-right"></i>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
                <table class="table table-responsive text-center">
                    <div ng-include="'app/component/utils/loading-table.html'"></div>
                    <thead>
                    <tr class="bg-light">
                        <th scope="col"># <i class="fa-solid fa-sort"></i></th>
                        <th ng-click="sortData('transportationBrandName')">
                            <div class="icon-left">Tên hãng xe
                                <span class="sorting-icon" ng-bind-html="getSortIcon('nameAgency')"></span>
                            </div>
                        </th>
                        <th ng-click="sortData('phone')">
                            <div class="icon-left">Tên doanh nghiệp
                                <span class="sorting-icon" ng-bind-html="getSortIcon('phone')"></span>
                            </div>
                        </th>
                        <th ng-click="">
                            <div class="icon-left">Ngày đăng ký
                                <span class="sorting-icon" ng-bind-html=""></span>
                            </div>
                        </th>
                        <th ng-click="sortData('isAccepted')">
                            <div class="icon-left">Trạng thái
                                <span class="sorting-icon" ng-bind-html="getSortIcon('isAccepted')"></span>
                            </div>
                        </th>
                        <th scope="col">Thao tác</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="br in brandPostList">
                        <td style="font-size: small">{{ $index + 1 }}</td>
                        <td>{{ br.transportationBrandName || 'Đang cập nhật' }}</td>
                        <td>{{ br.agencies.nameAgency || 'Đang cập nhật' }}</td>
                        <td>{{ (br.dateCreated | vietnameseDateTime) || 'Đang cập nhật' }}</td>
                        <td>
                            <div ng-if="br.isAccepted === true"
                                 class="d-flex align-items-center justify-content-center">
                                <span class="status-success"></span> <span class="text-status-success">Hợp lệ</span>
                            </div>
                            <div ng-if="br.isAccepted === false"
                                 class="d-flex align-items-center justify-content-center">
                                <span class="status-error"></span> <span class="text-status-error">Không hợp lệ</span>
                            </div>
                        </td>
                        <td class="">
                            <a role="button" class="fs-1 btn text-info px-2" ng-click="openModal(br)"
                               title="Xem hồ sơ">
                                <i class="fa-regular fa-newspaper"></i>
                            </a>
                            <a role="button" class="fs-1 btn text-warning px-2 cursor-pointer"
                               ng-click="redirectPage('/admin/post/brand-post-list/transportation-post-list/', br.id)"
                               title="Danh sách phương tiện">
                                <i class="fa-solid fa-car-side"></i>
                            </a>
                        </td>
                    </tr>
                    <tr ng-if="brandPostList.length === 0">
                        <td colspan="8">Trang này không có dữ liệu.</td>
                    </tr>
                    </tbody>
                </table>
                <div class="card-footer">
                    <div class="d-flex justify-content-end">
                        {{ getDisplayRange() }} trong tổng số {{ totalElements }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="brandModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" style="max-width: 600px; padding-top: 40px">
        <div class="modal-content">
            <button type="button" ng-click="closeModal()" style="width: 30px;border-radius: 50px;
                                    border: 1px solid grey;margin-top: -15px;align-self: self-end;
                                    background: #ffffff;margin-right: -15px;color: grey;">
                <span aria-hidden="true"><i class="fa fa-close"></i></span>
            </button>
            <div class="modal-body">
                <div class="row g-0">
                    <div class="col-md-12 border-right">
                        <div class="status p-3 pb-2">
                            <div class="profile" style="text-align-last: center;">
                                <img src="{{brands.transportationBrandImg || 'https://langem.geologia.unam.mx/wp-content/uploads/2018/04/placeholder.png'}}"
                                     width="200" class="img-thumbnail">
                                <span class="heading d-block pt-2">Tên hãng xe</span>
                                <span class="subheadings"
                                      style="font-size: x-large;text-transform: uppercase;font-weight: 700;">{{ brands.transportationBrandName || 'Đang cập nhật' }}</span>
                            </div>
                        </div>
                        <div class="status p-3 pb-4">
                            <table class="table table-bordered">
                                <tbody>
                                <tr>
                                    <td style="padding-top: 0px;" colspan="2">
                                        <div class="d-flex flex-column">
                                            <span class="heading d-block">Doanh nghiệp quản lý</span>
                                            <span class="subheadings">{{ brands.agencies.nameAgency || 'Đang cập nhật' }}</span>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-top: 0px; width: 50%">
                                        <div class="d-flex flex-column">
                                            <span class="heading d-block">Mã hãng xe</span>
                                            <span class="subheadings">{{ brands.id || 'Đang cập nhật' }}</span>
                                        </div>
                                    </td>
                                    <td style="padding-top: 0px; width: 50%">
                                        <div class="d-flex flex-column">
                                            <span class="heading d-block">Ngày đăng ký</span>
                                            <span class="subheadings">{{ (brands.dateCreated | vietnameseDateTime) || 'Đang cập nhật' }}</span>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="pt-1" colspan="2">
                                        <div class="d-flex flex-column">
                                            <span class="heading d-block">Trạng thái phê duyệt</span>
                                            <span class="subheadings" ng-if="brands.isAccepted === false"><i
                                                    class="dots bg-warning"></i>Không hợp lệ</span>
                                            <span class="subheadings" ng-if="brands.isAccepted === true"><i
                                                    class="dots bg-success"></i> Hợp lệ</span>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="pt-3" colspan="2">
                                        <div class="about-doctor" style="text-align: right;">
                                            <button class="btn btn-cancel" ng-if="brands.isAccepted === true"
                                                    ng-click="deniedFormBrand(brands)"
                                                    style="margin-right:10px">
                                                <i class="fa-solid fa-trash"></i> Từ chối
                                            </button>
                                            <button class="btn btn-ok" ng-if="brands.isAccepted === false"
                                                    ng-click="acceptFormBrand(brands)"
                                                    style="margin-right:10px">
                                                <i class="fa-solid fa-circle-check"></i> Phê duyệt
                                            </button>
                                            <button class="btn btn-back" data-bs-dismiss="modal"
                                                    ng-click="closeModal()"
                                                    style="margin-right:5px">
                                                <i class="fa-solid fa-circle-left"></i> Trở về
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
