<section id="dashboard-hotel">
    <div class="container">
        <header>
            <div class="bg">
                <div class="">
                    <div class="h3 fw-bold text-uppercase mb-5 color-greend">Danh sách khách sạn</div>
                </div>
                <div class="list-hotel">
                    <div class="list-hotel-item">
                        <div class="row">
                            <div class="col-xl-4">
                                <div class="item">
                                    <div class="card card-banner">
                                        <div class="card-header">
                                            <img src="/assets/admin/assets/img/bg/default-image-hotel.png" class="img-fluid"/>
                                            <div class="item-title mt-3">
                                                <div class="h4 fw-medium">Khách sạn mường thanh cần thơ</div>
                                                <div class="">ID: <span>KS145235</span></div>
                                            </div>
                                        </div>
                                        <div class="card-footer d-flex justify-content-between">
                                            <a class="btn btn-primary" href="">Sửa thông tin khách sạn</a>
                                            <a class="btn" href="">Tiếp tục ></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4">
                                <div class="item">
                                    <div class="card card-banner">
                                        <div class="card-header">
                                            <img src="/assets/admin/assets/img/bg/default-image-hotel.png" class="img-fluid"/>
                                            <div class="item-title mt-3">
                                                <div class="h4 fw-medium">Khách sạn mường thanh cần thơ</div>
                                                <div class="">ID: <span>KS145235</span></div>
                                            </div>
                                        </div>
                                        <div class="card-footer d-flex justify-content-between">
                                            <a class="btn btn-primary" href="">Sửa thông tin khách sạn</a>
                                            <a class="btn" href="">Tiếp tục ></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4">
                                <div class="item">
                                    <div class="card card-banner">
                                        <div class="card-header">
                                            <img src="/assets/admin/assets/img/bg/default-image-hotel.png" class="img-fluid"/>
                                            <div class="item-title mt-3">
                                                <div class="h4 fw-medium">Khách sạn mường thanh cần thơ</div>
                                                <div class="">ID: <span>KS145235</span></div>
                                            </div>
                                        </div>
                                        <div class="card-footer d-flex justify-content-between">
                                            <a class="btn btn-primary" href="">Sửa thông tin khách sạn</a>
                                            <a class="btn" href="">Tiếp tục ></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <section>
            <div class="add-hotel-container">
                <div class="add-hotel-item">
                    <div class="row">
                        <div class="col-xl-4">
                            <div class="card">
                                <div class="card-header">
                                    <div class="h4 fw-medium">Tôi muốn liệt kê khách sạn mới</div>
                                    <div class="">Chúng tôi rất vui khi nghe điều đó hãy click vào nút bên dưới để tiến hành liệt kê</div>
                                </div>
                                <div class="card-footer d-flex justify-content-end">
                                    <a href="" class="btn btn-primary">Thêm khách sạn mới</a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>