<form ng-submit="submitDataRegisterTrans()" name="register_hotel" method="post">
    <div ng-show="currentStep === 1">
        <section id="business-information">
            <div class="container-fluid">
                <div class="logo text-center">
                    <div class="d-flex align-items-center justify-content-center mb-4">
                        <img src="/assets/admin/assets/img/icons/logo.png" alt="logo" width="60"/>
                        <p class="logo-text text-dark ms-1 d-none d-sm-block fw-bolder fs-4">TravelTour</p>
                    </div>
                    <div class="content-text mt-3">
                        <div class="h4">Đăng kí thông tin đối tác khách sạn của TravelTour</div>
                    </div>
                    <div class="progress-register">
                        <!-- Tiến dộ -->
                        <div class="progress-container">
                            <div class="container">
                                <div class="d-flex justify-content-center">
                                    <div class="item">
                                        <div class="item-1 ">
                                            <div class="vector-wrapper">
                                                <svg class="vector" xmlns="http://www.w3.org/2000/svg"
                                                     viewBox="0 0 512 512"
                                                     id="tick">
                                                    <path d="M223.9 329.7c-2.4 2.4-5.8 4.4-8.8 4.4s-6.4-2.1-8.9-4.5l-56-56 17.8-17.8 47.2 47.2L340 177.3l17.5 18.1-133.6 134.3z"></path>
                                                </svg>
                                            </div>
                                            <div class="text-wrapper">Tạo doanh nghiệp</div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="item-1">
                                            <div class="vector-wrapper">
                                                <span class="num">2</span>
                                            </div>
                                            <div class="text-wrapper">Thông tin khách sạn</div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="item-1">
                                            <div class="vector-wrapper">
                                                <span class="num">3</span>
                                            </div>
                                            <div class="text-wrapper">Thông tin phòng</div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="item-1">
                                            <div class="vector-wrapper">
                                                <span class="num">4</span>
                                            </div>
                                            <div class="text-wrapper">Xác nhận thông tin</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main d-flex justify-content-center theme-wizard">
                <div class="form card">
                    <div class="row g-3">
                        <div class="h3 color-greend fw-medium">THÔNG TIN KHÁCH SẠN</div>
                        <!-- Tên doanh nghiệp -->
                        <div class="col-12">
                            <label for="inputHotelName" class="form-label">Tên khách sạn</label>
                            <input type="text"
                                   class="form-control"
                                   id="inputHotelName"
                                   placeholder="Tập đoàn traveltour"
                                   name="hotelName"
                                   ng-model="business.hotelName"
                                   ng-class="{ 'is-invalid': register_hotel.hotelName.$invalid && register_hotel.hotelName.$touched, 'is-valid': register_hotel.hotelName.$valid && register_hotel.hotelName.$touched }"
                                   required
                            >
                            <small class="text-danger"
                                   ng-show="register_hotel.hotelName.$touched && register_hotel.hotelName.$error.required">
                                Vui lòng nhập tên khách sạn!
                            </small>
                        </div>

                        <!-- Loại khách sạn -->
                        <div class="col-12">
                            <label for="inputWard" class="form-label">Loại khách sạn</label>
                            <select id="inputWard"
                                    class="form-select"
                                    name="hotelType"
                                    ng-model="business.hotelType"
                                    ng-class="{ 'is-invalid': register_hotel.hotelType.$invalid && register_hotel.hotelType.$touched, 'is-valid': register_hotel.hotelType.$valid && register_hotel.hotelType.$touched }"
                                    required
                            >
                                <option selected>Choose...</option>
                                <!-- Thêm các tùy chọn phường/xã -->
                            </select>
                            <small class="text-danger"
                                   ng-show="register_hotel.hotelType.$touched && register_hotel.hotelType.$error.required">
                                Vui lòng chọn phường/xã!
                            </small>
                        </div>

                        <!-- Website -->
                        <div class="col-md-6">
                            <label for="inputTaxCode" class="form-label">Website</label>
                            <input type="text"
                                   class="form-control"
                                   id="inputTaxCode"
                                   placeholder="www://traveltour.vn"
                                   name="websiteHotel"
                                   ng-model="business.websiteHotel"
                                   ng-class="{ 'is-invalid': register_hotel.websiteHotel.$invalid && register_hotel.websiteHotel.$touched, 'is-valid': register_hotel.websiteHotel.$valid && register_hotel.websiteHotel.$touched }"
                                   required
                            >
                            <small class="text-danger"
                                   ng-show="register_hotel.websiteHotel.$touched && register_hotel.websiteHotel.$error.required">
                                Vui lòng nhập website!
                            </small>
                        </div>

                        <!-- Số điện thoại -->
                        <div class="col-md-6">
                            <label for="inputhotelPhone" class="form-label">Số điện thoại</label>
                            <input type="text"
                                   class="form-control"
                                   id="inputhotelPhone"
                                   placeholder="0969653264"
                                   name="hotelPhone"
                                   ng-model="business.hotelPhone"
                                   ng-class="{ 'is-invalid': register_hotel.hotelPhone.$invalid && register_hotel.hotelPhone.$touched, 'is-valid': register_hotel.hotelPhone.$valid && register_hotel.hotelPhone.$touched }"
                                   required
                            >
                            <small class="text-danger"
                                   ng-show="register_hotel.hotelPhone.$touched && register_hotel.hotelPhone.$error.required">
                                Vui lòng nhập số điện thoại!
                            </small>
                        </div>

                        <!-- Thành phố -->
                        <div class="col-md-4">
                            <label for="inputcityHotel" class="form-label">Thành phố</label>
                            <select id="inputcityHotel"
                                    class="form-select"
                                    name="cityHotel"
                                    ng-model="business.cityHotel"
                                    ng-class="{ 'is-invalid': register_hotel.cityHotel.$invalid && register_hotel.cityHotel.$touched, 'is-valid': register_hotel.cityHotel.$valid && register_hotel.cityHotel.$touched }"
                                    required
                            >
                                <option selected>Choose...</option>
                                <!-- Thêm các tùy chọn thành phố -->
                            </select>
                            <small class="text-danger"
                                   ng-show="register_hotel.cityHotel.$touched && register_hotel.cityHotel.$error.required">
                                Vui lòng chọn thành phố!
                            </small>
                        </div>

                        <!-- Quận/Huyện -->
                        <div class="col-md-4">
                            <label for="inputdistrictHotel" class="form-label">Quận/Huyện</label>
                            <select id="inputdistrictHotel"
                                    class="form-select"
                                    name="districtHotel"
                                    ng-model="business.districtHotel"
                                    ng-class="{ 'is-invalid': register_hotel.districtHotel.$invalid && register_hotel.districtHotel.$touched, 'is-valid': register_hotel.districtHotel.$valid && register_hotel.districtHotel.$touched }"
                                    required
                            >
                                <option selected>Choose...</option>
                                <!-- Thêm các tùy chọn quận/huyện -->
                            </select>
                            <small class="text-danger"
                                   ng-show="register_hotel.districtHotel.$touched && register_hotel.districtHotel.$error.required">
                                Vui lòng chọn quận/huyện!
                            </small>
                        </div>

                        <!-- Phường/Xã -->
                        <div class="col-md-4">
                            <label for="inputWard" class="form-label">Phường/Xã</label>
                            <select id="inputWard"
                                    class="form-select"
                                    name="wardHotel"
                                    ng-model="business.wardHotel"
                                    ng-class="{ 'is-invalid': register_hotel.wardHotel.$invalid && register_hotel.wardHotel.$touched, 'is-valid': register_hotel.wardHotel.$valid && register_hotel.wardHotel.$touched }"
                                    required
                            >
                                <option selected>Choose...</option>
                                <!-- Thêm các tùy chọn phường/xã -->
                            </select>
                            <small class="text-danger"
                                   ng-show="register_hotel.wardHotel.$touched && register_hotel.wardHotel.$error.required">
                                Vui lòng chọn phường/xã!
                            </small>
                        </div>

                        <!-- Số tầng -->
                        <div class="col-md-6">
                            <label for="inputTaxCode" class="form-label">Số tầng</label>
                            <input type="text"
                                   class="form-control"
                                   id="inputTaxCode"
                                   placeholder="www://traveltour.vn"
                                   name="floors"
                                   ng-model="business.floors"
                                   ng-class="{ 'is-invalid': register_hotel.floors.$invalid && register_hotel.floors.$touched, 'is-valid': register_hotel.floors.$valid && register_hotel.floors.$touched }"
                                   required
                            >
                            <small class="text-danger"
                                   ng-show="register_hotel.floors.$touched && register_hotel.floors.$error.required">
                                Vui lòng nhập số tầng!
                            </small>
                        </div>

                        <!-- Số phòng -->
                        <div class="col-md-6">
                            <label for="inputRoomHotel" class="form-label">Số phòng</label>
                            <input type="text"
                                   class="form-control"
                                   id="inputRoomHotel"
                                   placeholder="0969653264"
                                   name="room"
                                   ng-model="business.room"
                                   ng-class="{ 'is-invalid': register_hotel.room.$invalid && register_hotel.room.$touched, 'is-valid': register_hotel.room.$valid && register_hotel.room.$touched }"
                                   required
                            >
                            <small class="text-danger"
                                   ng-show="register_hotel.room.$touched && register_hotel.room.$error.required">
                                Vui lòng nhập số phòng!
                            </small>
                        </div>
                        <!-- Địa chỉ -->
                        <div class="col-12">
                            <label for="inputBusinessAddress" class="form-label">Địa chỉ</label>
                            <input type="text"
                                   class="form-control"
                                   id="inputBusinessAddress"
                                   placeholder="1234 Main St"
                                   name="hotelAddress"
                                   ng-model="business.hotelAddress"
                                   ng-class="{ 'is-invalid': register_hotel.hotelAddress.$invalid && register_hotel.hotelAddress.$touched, 'is-valid': register_hotel.hotelAddress.$valid && register_hotel.hotelAddress.$touched }"
                                   required
                            >
                            <small class="text-danger"
                                   ng-show="register_hotel.hotelAddress.$touched && register_hotel.hotelAddress.$error.required">
                                Vui lòng nhập địa chỉ!
                            </small>
                        </div>

                        <!-- Hình ảnh -->
                        <div class="mb-3">
                            <label for="formFile" class="form-label">Hình ảnh</label>
                            <input class="form-control"
                                   type="file"
                                   id="formFile"
                                   name="imageFiles"
                                   accept="image/*"
                                   ng-model="room.imageFiles"
                                   ngf-select="validateImageFiles()"
                                   multiple
                                   required
                            >
                            <small class="text-danger"
                                   ng-show="register_hotel.imageFiles.$touched && register_hotel.imageFiles.$error.required">
                                Vui lòng chọn ít nhất một ảnh!
                            </small>
                            <small class="text-danger"
                                   ng-show="register_hotel.imageFiles.$error.maxImages">
                                Số lượng ảnh tối đa là 10!
                            </small>
                        </div>

                        <!-- Tiện ích phòng khách sạn -->
                        <div class="row mb-3 mt-3">
                            <label for="formFile" class="form-label mb-3">Tiện ích khách sạn</label>

                            <div class="col-sm-4 col-xl-4" ng-repeat="checkbox in checkboxes">
                                <div class="form-check">
                                    <input class="form-check-input"
                                           type="checkbox"
                                           id="{{checkbox.id}}"
                                           ng-model="checkbox.checked"
                                           ng-change="updateCheckboxCount()"
                                    >
                                    <label class="form-check-label" for="{{checkbox.id}}">
                                        {{ checkbox.label }}
                                    </label>
                                </div>
                            </div>

                            <small class="text-danger" ng-show="checkboxCount === 0">
                                Vui lòng chọn ít nhất một tiện ích!
                            </small>
                        </div>
                        <div class="d-flex justify-content-end">
                            <div class="d-flex justify-content-end mt-5">
                                <a role="button"
                                   href="/business/select-type"
                                   class="btn btn-submit-form"
                                   style="background: #5c636a; margin-right: 20px"
                                >
                                    <i class="fa-solid fa-arrow-left"></i> Trở về
                                </a>
                                <button type="submit"
                                        class="btn btn-submit-form"
                                        ng-click="nextStep()"
                                >
                                    Tiếp tục <i class="fa-solid fa-arrow-right"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <div ng-show="currentStep === 2">
        <section id="business-information">
            <div class="container-fluid">
                <div class="logo text-center">
                    <div class="d-flex align-items-center justify-content-center mb-4">
                        <img src="/assets/admin/assets/img/icons/logo.png" alt="logo" width="60"/>
                        <p class="logo-text text-dark ms-1 d-none d-sm-block fw-bolder fs-4">TravelTour</p>
                    </div>
                    <div class="content-text mt-3">
                        <div class="h4">Đăng kí thông tin đối tác khách sạn của TravelTour</div>
                    </div>
                    <!-- Tiến dộ -->
                    <div class="progress-register">
                        <!-- Tiến dộ -->
                        <div class="progress-container">
                            <div class="container">
                                <div class="d-flex justify-content-center">
                                    <div class="item">
                                        <div class="item-1 ">
                                            <div class="vector-wrapper">
                                                <svg class="vector" xmlns="http://www.w3.org/2000/svg"
                                                     viewBox="0 0 512 512"
                                                     id="tick">
                                                    <path d="M223.9 329.7c-2.4 2.4-5.8 4.4-8.8 4.4s-6.4-2.1-8.9-4.5l-56-56 17.8-17.8 47.2 47.2L340 177.3l17.5 18.1-133.6 134.3z"></path>
                                                </svg>
                                            </div>
                                            <div class="text-wrapper">Tạo doanh nghiệp</div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="item-1">
                                            <div class="vector-wrapper">
                                                <svg class="vector" xmlns="http://www.w3.org/2000/svg"
                                                     viewBox="0 0 512 512"
                                                     id="tick">
                                                    <path d="M223.9 329.7c-2.4 2.4-5.8 4.4-8.8 4.4s-6.4-2.1-8.9-4.5l-56-56 17.8-17.8 47.2 47.2L340 177.3l17.5 18.1-133.6 134.3z"></path>
                                                </svg>
                                            </div>
                                            <div class="text-wrapper">Thông tin khách sạn</div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="item-1">
                                            <div class="vector-wrapper">
                                                <span class="num">3</span>
                                            </div>
                                            <div class="text-wrapper">Thông tin phòng</div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="item-1">
                                            <div class="vector-wrapper">
                                                <span class="num">4</span>
                                            </div>
                                            <div class="text-wrapper">Xác nhận thông tin</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="main d-flex justify-content-center theme-wizard">
                    <div class="form card">
                        <div class="row g-3">
                            <div class="h3 color-greend fw-medium">THÔNG TIN PHÒNG</div>
                            <div class="col-12">
                                <label for="inputNameBusiness" class="form-label">Tên loại phòng</label>
                                <input type="text" class="form-control" id="inputNameBusiness"
                                       placeholder="Phòng luxury">
                            </div>
                            <div class="col-12">
                                <label for="inputState" class="form-label">Loại giường</label>
                                <select id="inputState" class="form-select">
                                    <option selected>Choose...</option>
                                    <option>...</option>
                                </select>
                            </div>
                            <div class="col-md-6">
                                <label for="inputEmail4" class="form-label">Số người lớn</label>
                                <input type="number" class="form-control" id="inputEmail4"
                                       placeholder="1">
                            </div>
                            <div class="col-md-6">
                                <label for="inputPassword4" class="form-label">Số trẻ em</label>
                                <input type="number" class="form-control" id="inputPassword4" placeholder="1">
                            </div>
                            <div class="col-md-6">
                                <label for="inputEmail4" class="form-label">Số lượng phòng</label>
                                <input type="number" class="form-control" id="inputEmail4"
                                       placeholder="1">
                            </div>
                            <div class="col-md-6">
                                <label for="inputPassword4" class="form-label">Giá phòng</label>
                                <input type="text" class="form-control" id="inputPassword4" placeholder="300.000">
                            </div>
                            <div class="col-12">
                                <label for="inputAddress" class="form-label">Mô tả</label>
                                <input type="text" class="form-control" id="inputAddress" placeholder="">
                            </div>

                            <div class="col-12">
                                <label for="formFile" class="form-label">Hình ảnh</label>
                                <input class="form-control" type="file" id="formFile">
                            </div>
                            <!-- Tiện ích phòng khách sạn -->
                            <div class="row mb-3 mt-3">
                                <label for="formFile" class="form-label mb-3">Tiện ích phòng khách sạn</label>

                                <div class="col-sm-4 col-xl-4" ng-repeat="checkbox in checkboxes">
                                    <div class="form-check">
                                        <input class="form-check-input"
                                               type="checkbox"
                                               id="{{checkbox.id}}"
                                               ng-model="checkbox.checked"
                                               ng-change="updateCheckboxCount()"
                                        >
                                        <label class="form-check-label" for="{{checkbox.id}}">
                                            {{ checkbox.label }}
                                        </label>
                                    </div>
                                </div>

                                <small class="text-danger" ng-show="checkboxCount === 0">
                                    Vui lòng chọn ít nhất một tiện ích!
                                </small>
                            </div>
                            <div class="d-flex justify-content-end mt-5">
                                <button type="submit"
                                        class="btn btn-submit-form btn-prev"
                                        style="background: #5c636a; margin-right: 20px"
                                        ng-click="prevStep()"
                                >
                                    <i class="fa-solid fa-arrow-left"></i> Trở về
                                </button>
                                <button type="submit"
                                        class="btn btn-submit-form"
                                        ng-click="nextStep()"
                                >
                                    Tiếp tục <i class="fa-solid fa-arrow-right"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <div ng-show="currentStep === 3">
        <section id="business-information">
            <div class="container-fluid">
                <div class="logo text-center">
                    <div class="d-flex align-items-center justify-content-center mb-4">
                        <img src="/assets/admin/assets/img/icons/logo.png" alt="logo" width="60"/>
                        <p class="logo-text text-dark ms-1 d-none d-sm-block fw-bolder fs-4">TravelTour</p>
                    </div>
                    <div class="content-text mt-3">
                        <div class="h4">Đăng kí thông tin đối tác khách sạn của TravelTour</div>
                    </div>
                    <div class="progress-register">
                        <!-- Tiến dộ -->
                        <div class="progress-container">
                            <div class="container">
                                <div class="d-flex justify-content-center">
                                    <div class="item">
                                        <div class="item-1 ">
                                            <div class="vector-wrapper">
                                                <svg class="vector" xmlns="http://www.w3.org/2000/svg"
                                                     viewBox="0 0 512 512"
                                                     id="tick">
                                                    <path d="M223.9 329.7c-2.4 2.4-5.8 4.4-8.8 4.4s-6.4-2.1-8.9-4.5l-56-56 17.8-17.8 47.2 47.2L340 177.3l17.5 18.1-133.6 134.3z"></path>
                                                </svg>
                                            </div>
                                            <div class="text-wrapper">Tạo doanh nghiệp</div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="item-1">
                                            <div class="vector-wrapper">
                                                <svg class="vector" xmlns="http://www.w3.org/2000/svg"
                                                     viewBox="0 0 512 512"
                                                     id="tick">
                                                    <path d="M223.9 329.7c-2.4 2.4-5.8 4.4-8.8 4.4s-6.4-2.1-8.9-4.5l-56-56 17.8-17.8 47.2 47.2L340 177.3l17.5 18.1-133.6 134.3z"></path>
                                                </svg>
                                            </div>
                                            <div class="text-wrapper">Thông tin khách sạn</div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="item-1">
                                            <div class="vector-wrapper">
                                                <svg class="vector" xmlns="http://www.w3.org/2000/svg"
                                                     viewBox="0 0 512 512"
                                                     id="tick">
                                                    <path d="M223.9 329.7c-2.4 2.4-5.8 4.4-8.8 4.4s-6.4-2.1-8.9-4.5l-56-56 17.8-17.8 47.2 47.2L340 177.3l17.5 18.1-133.6 134.3z"></path>
                                                </svg>
                                            </div>
                                            <div class="text-wrapper">Thông tin phòng</div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="item-1">
                                            <div class="vector-wrapper">
                                                <span class="num">4</span>
                                            </div>
                                            <div class="text-wrapper">Xác nhận thông tin</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="main d-flex justify-content-center theme-wizard">
                    <div class="form card">
                        <div class="row g-3">
                            <div class="col-12">
                                <label class="form-check-label">
                                    <input type="checkbox" class="form-check-input" name="" id="">
                                    Tôi cam kết cung cấp thông tin đầy đủ, chính xác và minh bạch khi đăng ký bán phòng
                                    trên
                                    trang
                                    web du lịch. Chúng tôi hiểu rằng sự minh bạch và tin cậy là yếu tố quan trọng để tạo
                                    ra một
                                    môi
                                    trường kinh doanh tích cực và lâu dài.
                                </label>
                            </div>

                            <div class="d-flex justify-content-end mt-5">
                                <button type="submit"
                                        class="btn btn-submit-form btn-prev"
                                        style="background: #5c636a; margin-right: 20px"
                                        ng-click="prevStep()"
                                >
                                    <i class="fa-solid fa-arrow-left"></i> Trở về
                                </button>
                                <button type="submit"
                                        class="btn btn-submit-form"
                                >
                                    Xác nhận<i class="fa-solid fa-arrow-right"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</form>