<!--====== Start Preloader ======-->
<div class="preloader" ng-show="isLoading">
    <div class="loader">
        <div class="pre-shadow"></div>
        <div class="pre-box"></div>
    </div>
    <div class="bg"></div>
</div><!--====== End Preloader ======-->

<form ng-submit="submitRegisterHotel()" name="register_hotels" method="post">
    <div ng-show="currentStep === 1">
        <section id="business-information">
            <div class="container-fluid">
                <div class="logo text-center">
                    <div class="d-flex align-items-center justify-content-center mb-4">
                        <img src="/assets/admin/assets/img/icons/logo.png" alt="logo" width="60"/>
                        <p class="logo-text text-dark ms-1 d-none d-sm-block fw-bolder fs-4">TravelTour</p>
                    </div>
                    <div class="content-text mt-3">
                        <div class="h4">Đăng kí thông tin đối tác khách sạn của TravelTour</div>
                    </div>
                    <div class="progress-register">
                        <!-- Tiến dộ -->
                        <div class="progress-container">
                            <div class="container">
                                <div class="d-flex justify-content-center">
                                    <div class="item">
                                        <div class="item-1 ">
                                            <div class="vector-wrapper">
                                                <svg class="vector" xmlns="http://www.w3.org/2000/svg"
                                                     viewBox="0 0 512 512"
                                                     id="tick">
                                                    <path d="M223.9 329.7c-2.4 2.4-5.8 4.4-8.8 4.4s-6.4-2.1-8.9-4.5l-56-56 17.8-17.8 47.2 47.2L340 177.3l17.5 18.1-133.6 134.3z"></path>
                                                </svg>
                                            </div>
                                            <div class="text-wrapper">Tạo doanh nghiệp</div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="item-1">
                                            <div class="vector-wrapper">
                                                <span class="num">2</span>
                                            </div>
                                            <div class="text-wrapper">Thông tin khách sạn</div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="item-1">
                                            <div class="vector-wrapper">
                                                <span class="num">3</span>
                                            </div>
                                            <div class="text-wrapper">Thông tin phòng</div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="item-1">
                                            <div class="vector-wrapper">
                                                <span class="num">4</span>
                                            </div>
                                            <div class="text-wrapper">Xác nhận thông tin</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main d-flex justify-content-center theme-wizard">
                <div class="form card">
                    <div class="row">
                        <div class="h3 color-greend fw-medium mb-3">THÔNG TIN KHÁCH SẠN</div>
                        <!-- Tên doanh nghiệp -->
                        <div class="col-12 mb-3">
                            <label for="inputNameBusiness" class="form-label">Tên khách sạn</label>
                            <input type="text"
                                   class="form-control"
                                   id="inputNameBusiness"
                                   placeholder="Tập đoàn traveltour"
                                   name="hotelName"
                                   ng-model="hotels.hotelName"
                                   ng-class="{ 'is-invalid': register_hotels.hotelName.$invalid && register_hotels.hotelName.$touched, 'is-valid': register_hotels.hotelName.$valid && register_hotels.hotelName.$touched }"
                                   required
                            >
                            <small class="text-danger"
                                   ng-show="register_hotels.hotelName.$touched && register_hotels.hotelName.$error.required">
                                Vui lòng nhập tên doanh nghiệp!
                            </small>
                        </div>

                        <!-- Số điện thoại -->
                        <div class="col-md-6 mb-3">
                            <label for="inputPhoneNumber" class="form-label">Số điện thoại</label>
                            <input type="text"
                                   class="form-control"
                                   id="inputPhoneNumber"
                                   placeholder="0969653264"
                                   name="phone"
                                   ng-model="hotels.phone"
                                   ng-pattern="/^(0[0-9]{9}|84[0-9]{9})$/"
                                   ng-class="{ 'is-invalid': register_hotels.phone.$invalid && register_hotels.phone.$touched, 'is-valid': register_hotels.phone.$valid && register_hotels.phone.$touched && !phoneError }"
                                   ng-change="checkDuplicatePhone()"
                                   required
                            >
                            <small class="text-danger"
                                   ng-show="register_hotels.phone.$touched && register_hotels.phone.$error.required">
                                Vui lòng nhập số điện thoại!
                            </small>
                            <small class="text-danger"
                                   ng-show="register_hotels.phone.$touched && register_hotels.phone.$error.pattern">
                                Số điện thoại không đúng định dạng !
                            </small>
                            <small class="text-danger" ng-show="register_hotels.phone.$touched && phoneError">
                                Số điện thoại đã tồn tại ở một tài khoản khác !
                            </small>
                        </div>


                        <!-- Website -->
                        <div class="col-6 mb-3">
                            <label for="inputWebsite" class="form-label">Website</label>
                            <input type="text"
                                   class="form-control"
                                   id="inputWebsite"
                                   placeholder="www://traveltour.vn"
                                   name="urlWebsite"
                                   ng-model="hotels.urlWebsite"
                                   ng-class="{ 'is-invalid': register_hotels.urlWebsite.$invalid && register_hotels.urlWebsite.$touched, 'is-valid': register_hotels.urlWebsite.$valid && register_hotels.urlWebsite.$touched }"
                                   required
                            >
                            <small class="text-danger"
                                   ng-show="register_hotels.urlWebsite.$touched && register_hotels.urlWebsite.$error.required">
                                Vui lòng nhập website!
                            </small>
                        </div>

                        <!-- Loại phòng -->
                        <div class="col-md-6 mb-3">
                            <label class="form-label">Loại khách sạn</label>
                            <select class="form-select"
                                    name="hotelTypeId"
                                    ng-class="{ 'is-invalid': register_hotels.hotelTypeId.$invalid && register_hotels.hotelTypeId.$touched, 'is-valid': register_hotels.hotelTypeId.$valid && register_hotels.hotelTypeId.$touched }"
                                    ng-options="hotelTypeId.id as hotelTypeId.hotelTypeName for hotelTypeId in hotelTypes"
                                    ng-model="hotels.hotelTypeId"
                                    required
                            >
                                <option value="" disabled selected>Chọn thể loại phòng</option>
                            </select>
                            <small class="text-danger"
                                   ng-show="register_hotels.hotelTypeId.$touched && register_hotels.hotelTypeId.$error.required">
                                Vui lòng chọn loại khách sạn
                            </small>
                        </div>

                        <!-- Số tầng -->
                        <div class="col-md-6 mb-3">
                            <label for="inputfloors" class="form-label">Số lượng tầng</label>
                            <input type="number"
                                   class="form-control"
                                   id="inputfloors"
                                   placeholder="2"
                                   name="floorNumber"
                                   ng-model="hotels.floorNumber"
                                   ng-class="{ 'is-invalid': (register_hotels.floorNumber.$invalid || hotels.floorNumber < 0) && register_hotels.floorNumber.$touched, 'is-valid': register_hotels.floorNumber.$valid && register_hotels.floorNumber.$touched }"
                                   required
                            >
                            <small class="text-danger"
                                   ng-show="register_hotels.floorNumber.$touched && register_hotels.floorNumber.$error.required">
                                Vui lòng nhập số tầng!
                            </small>
                            <small class="text-danger"
                                   ng-show="hotels.floorNumber < 0">
                                Số tầng phải lớn hơn 0!
                            </small>
                        </div>

                        <!-- Thành phố -->
                        <div class="col-md-4 mb-3">
                            <label class="form-label">Tỉnh/Thành phố</label>
                            <select class="form-select"
                                    name="province"
                                    ng-class="{ 'is-invalid': register_hotels.province.$invalid && register_hotels.province.$touched, 'is-valid': register_hotels.province.$valid && register_hotels.province.$touched }"
                                    ng-options="province.Id as province.Name for province in provinces"
                                    ng-change="onProvinceChange()"
                                    ng-model="address.province"
                                    required
                            >
                                <option value="" disabled selected>Chọn Tỉnh/Thành phố</option>
                            </select>
                            <small class="text-danger"
                                   ng-show="register_hotels.province.$touched && register_hotels.province.$error.required">
                                Vui lòng chọn tỉnh/thành phố.
                            </small>
                        </div>

                        <!-- Quận huyện -->
                        <div class="col-md-4 mb-3">
                            <label class="form-label">Quận/Huyện</label>
                            <select class="form-select"
                                    name="districts"
                                    ng-class="{ 'is-invalid': register_hotels.districts.$invalid && register_hotels.districts.$touched, 'is-valid': register_hotels.districts.$valid && register_hotels.districts.$touched }"
                                    ng-options="district.Id as district.Name for district in districts"
                                    ng-disabled="!address.province"
                                    ng-change="onDistrictChange()"
                                    ng-model="address.district"
                                    required
                            >
                                <option value="" disabled selected>Chọn Quận/Huyện</option>
                            </select>
                            <small class="text-danger"
                                   ng-show="register_hotels.districts.$touched && register_hotels.districts.$error.required">
                                Vui lòng chọn quận/huyện.
                            </small>
                        </div>

                        <!-- Phường xã -->
                        <div class="col-md-4 mb-3">
                            <label class="form-label">Phường/Xã</label>
                            <select class="form-select"
                                    name="ward"
                                    ng-class="{ 'is-invalid': register_hotels.ward.$invalid && register_hotels.ward.$touched, 'is-valid': register_hotels.ward.$valid && register_hotels.ward.$touched }"
                                    ng-options="ward.Id as ward.Name for ward in wards"
                                    ng-disabled="!address.district"
                                    ng-change="onWardChange()"
                                    ng-model="address.ward"
                                    required
                            >
                                <option value="" disabled selected>Chọn Phường/Xã</option>
                            </select>
                            <small class="text-danger"
                                   ng-show="register_hotels.ward.$touched && register_hotels.ward.$error.required">
                                Vui lòng chọn phường/xã.
                            </small>
                        </div>

                        <!-- Địa chỉ -->
                        <div class="col-12 mb-3">
                            <label for="inputAddress" class="form-label">Địa chỉ</label>
                            <input type="text"
                                   class="form-control"
                                   id="inputAddress"
                                   placeholder="1234 Main St"
                                   name="address"
                                   ng-model="hotels.address"
                                   ng-class="{ 'is-invalid': register_hotels.address.$invalid && register_hotels.address.$touched, 'is-valid': register_hotels.address.$valid && register_hotels.address.$touched }"
                                   required
                            >
                            <small class="text-danger"
                                   ng-show="register_hotels.address.$touched && register_hotels.address.$error.required">
                                Vui lòng nhập địa chỉ!
                            </small>
                        </div>

                        <!-- Ảnh đại diện khách sạn -->
                        <div class="mb-3 mb-3">
                            <label class="form-label">Ảnh đại diện khách sạn</label>
                            <input class="form-control"
                                   type="file"
                                   name="hotelAvatar"
                                   accept="image/*"
                                   ng-model="hotels.hotelAvatar"
                                   ng-class="{ 'is-invalid': register_hotels.hotelAvatar.$invalid && register_hotels.hotelAvatar.$touched, 'is-valid': register_hotels.hotelAvatar.$valid && register_hotels.hotelAvatar.$touched }"
                                   ngf-select="uploadAvatarImages($file)"
                                   ngf-max-size="10MB"
                                   required
                            >
                            <small class="text-danger"
                                   ng-show="register_hotels.hotelAvatar.$touched && register_hotels.hotelAvatar.$error.required">
                                Vui lòng chọn ít nhất một ảnh!
                            </small>
                        </div>

                        <!-- Tiện ích khách sạn -->
                        <div class="mb-3 mt-3">
                            <label class="form-label mb-3">Tiện ích khách sạn</label>
                            <div class="row" ng-if="placeUtilitiesList && placeUtilitiesList.length > 0">
                                <div class="col-sm-4 col-xl-4" ng-repeat="place in placeUtilitiesList">
                                    <div class="form-check">
                                        <input class="form-check-input"
                                               type="checkbox"
                                               id="{{place.id}}"
                                               ng-model="place.isSelected"
                                               ng-change="updatePlaceUtilities()"
                                        >
                                        <label class="form-check-label" for="{{place.id}}">
                                            {{ place.label }}
                                        </label>
                                    </div>
                                </div>

                                <small class="text-danger" ng-show="placeUtilitiesCheck === 0">
                                    Vui lòng chọn ít nhất một tiện ích!
                                </small>
                            </div>
                            <div class="row" ng-if="placeUtilitiesList && placeUtilitiesList.length <= 0">
                                <p>Lỗi không tìm thấy tiện ích vui lòng thử lại</p>
                            </div>
                        </div>

                        <div class="d-flex justify-content-end">
                            <div class="d-flex justify-content-end mt-5">
                                <a role="button"
                                   href="/business/select-type"
                                   class="btn btn-submit-form"
                                   style="background: #5c636a; margin-right: 20px"
                                >
                                    <i class="fa-solid fa-arrow-left"></i> Trở về
                                </a>
                                <button type="button" class="btn btn-submit-form" ng-click="nextStep()"
                                >
                                    Tiếp tục <i class="fa-solid fa-arrow-right"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <div ng-show="currentStep === 2">
        <section id="business-information">
            <div class="container-fluid">
                <div class="logo text-center">
                    <div class="d-flex align-items-center justify-content-center mb-4">
                        <img src="/assets/admin/assets/img/icons/logo.png" alt="logo" width="60"/>
                        <p class="logo-text text-dark ms-1 d-none d-sm-block fw-bolder fs-4">TravelTour</p>
                    </div>
                    <div class="content-text mt-3">
                        <div class="h4">Đăng kí thông tin đối tác khách sạn của TravelTour</div>
                    </div>
                    <!-- Tiến dộ -->
                    <div class="progress-register">
                        <!-- Tiến dộ -->
                        <div class="progress-container">
                            <div class="container">
                                <div class="d-flex justify-content-center">
                                    <div class="item">
                                        <div class="item-1 ">
                                            <div class="vector-wrapper">
                                                <svg class="vector" xmlns="http://www.w3.org/2000/svg"
                                                     viewBox="0 0 512 512"
                                                     id="tick">
                                                    <path d="M223.9 329.7c-2.4 2.4-5.8 4.4-8.8 4.4s-6.4-2.1-8.9-4.5l-56-56 17.8-17.8 47.2 47.2L340 177.3l17.5 18.1-133.6 134.3z"></path>
                                                </svg>
                                            </div>
                                            <div class="text-wrapper">Tạo doanh nghiệp</div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="item-1">
                                            <div class="vector-wrapper">
                                                <svg class="vector" xmlns="http://www.w3.org/2000/svg"
                                                     viewBox="0 0 512 512"
                                                     id="tick">
                                                    <path d="M223.9 329.7c-2.4 2.4-5.8 4.4-8.8 4.4s-6.4-2.1-8.9-4.5l-56-56 17.8-17.8 47.2 47.2L340 177.3l17.5 18.1-133.6 134.3z"></path>
                                                </svg>
                                            </div>
                                            <div class="text-wrapper">Thông tin khách sạn</div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="item-1">
                                            <div class="vector-wrapper">
                                                <span class="num">3</span>
                                            </div>
                                            <div class="text-wrapper">Thông tin phòng</div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="item-1">
                                            <div class="vector-wrapper">
                                                <span class="num">4</span>
                                            </div>
                                            <div class="text-wrapper">Xác nhận thông tin</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="main d-flex justify-content-center theme-wizard">
                    <div class="form card">
                        <div class="row g-3">
                            <div class="h3 color-greend fw-medium">THÔNG TIN PHÒNG</div>
                            <div class="col-12">
                                <label for="inputNameBusiness" class="form-label">Tên loại phòng</label>
                                <input type="text"
                                       class="form-control"
                                       placeholder="Phòng luxury"
                                       name="roomTypeName"
                                       ng-model="rooms.roomTypeName"
                                       ng-class="{ 'is-invalid': register_hotels.roomTypeName.$invalid && register_hotels.roomTypeName.$touched, 'is-valid': register_hotels.roomTypeName.$valid && register_hotels.roomTypeName.$touched }"
                                       required
                                >
                                <small class="text-danger"
                                       ng-show="register_hotels.roomTypeName.$touched && register_hotels.roomTypeName.$error.required">
                                    Vui lòng nhập tên loại phòng!
                                </small>
                            </div>

                            <div class="col-12">
                                <label for="inputState" class="form-label">Loại giường</label>
                                <select id="inputState"
                                        class="form-select"
                                        name="hotelId"
                                        ng-class="{ 'is-invalid': (register_hotels.hotelId.$invalid || rooms.hotelId < 1) && register_hotels.hotelId.$touched, 'is-valid': register_hotels.hotelId.$valid && register_hotels.hotelId.$touched }"
                                        ng-options="bed_type.id as bed_type.bedTypeName for bed_type in bedTypes"
                                        ng-model="rooms.hotelId"
                                        required
                                >
                                    <option value="" disabled selected>Vui lòng chọn loại giường</option>
                                </select>
                                <small class="text-danger"
                                       ng-show="register_hotels.hotelId.$touched && register_hotels.hotelId.$error.required">
                                    Vui lòng chọn loại giường!
                                </small>
                            </div>

                            <!-- Số người lớn -->
                            <div class="col-md-6">
                                <label for="inputAdults" class="form-label">Số người lớn</label>
                                <input type="text"
                                       class="form-control"
                                       id="inputAdults"
                                       placeholder="2"
                                       name="capacityAdults"
                                       ng-model="rooms.capacityAdults"
                                       ng-class="{ 'is-invalid': register_hotels.capacityAdults.$invalid && register_hotels.capacityAdults.$touched, 'is-valid': register_hotels.capacityAdults.$valid && register_hotels.capacityAdults.$touched }"
                                       required
                                >
                                <small class="text-danger"
                                       ng-show="register_hotels.capacityAdults.$touched && register_hotels.capacityAdults.$error.required">
                                    Vui lòng nhập số người lớn!
                                </small>
                            </div>

                            <!-- Số trẻ em -->
                            <div class="col-md-6">
                                <label for="inputChildren" class="form-label">Số trẻ em</label>
                                <input type="text"
                                       class="form-control"
                                       id="inputChildren"
                                       placeholder="1"
                                       name="capacityChildren"
                                       ng-model="rooms.capacityChildren"
                                       ng-class="{ 'is-invalid': register_hotels.capacityChildren.$invalid && register_hotels.capacityChildren.$touched, 'is-valid': register_hotels.capacityChildren.$valid && register_hotels.capacityChildren.$touched }"
                                       required
                                >
                                <small class="text-danger"
                                       ng-show="register_hotels.capacityChildren.$touched && register_hotels.capacityChildren.$error.required">
                                    Vui lòng nhập số trẻ em!
                                </small>
                            </div>

                            <!-- Số lượng phòng -->
                            <div class="col-md-6">
                                <label class="form-label">Số lượng phòng</label>
                                <input type="text"
                                       class="form-control"
                                       placeholder="20"
                                       name="amountRoom"
                                       ng-model="rooms.amountRoom"
                                       ng-class="{ 'is-invalid': register_hotels.amountRoom.$invalid && register_hotels.amountRoom.$touched, 'is-valid': register_hotels.amountRoom.$valid && register_hotels.amountRoom.$touched }"
                                       required
                                >
                                <small class="text-danger"
                                       ng-show="register_hotels.amountRoom.$touched && register_hotels.amountRoom.$error.required">
                                    Vui lòng nhập số lượng phòng!
                                </small>
                            </div>

                            <!-- Giá phòng -->
                            <div class="col-md-6">
                                <label class="form-label">Giá phòng</label>
                                <input type="text"
                                       class="form-control"
                                       id="inputPrice"
                                       placeholder="300.000"
                                       name="price"
                                       format-price-input
                                       ng-model="rooms.price"
                                       ng-class="{ 'is-invalid': register_hotels.price.$invalid && register_hotels.price.$touched, 'is-valid': register_hotels.price.$valid && register_hotels.price.$touched }"
                                       required
                                >
                                <small class="text-danger"
                                       ng-show="register_hotels.price.$touched && register_hotels.price.$error.required">
                                    Vui lòng nhập giá phòng!
                                </small>
                            </div>

                            <!-- Mô tả -->
                            <div class="col-12">
                                <label class="form-label">Mô tả</label>
                                <input type="text"
                                       class="form-control"
                                       placeholder="Phòng rất sang trọng hiện đại"
                                       name="roomTypeDescription"
                                       ng-class="{ 'is-invalid': register_hotels.roomTypeDescription.$invalid && register_hotels.roomTypeDescription.$touched, 'is-valid': register_hotels.roomTypeDescription.$valid && register_hotels.roomTypeDescription.$touched }"
                                       ng-model="rooms.roomTypeDescription"
                                >
                            </div>

                            <!-- Ảnh đại diện khách sạn -->
                            <div class="col-12">
                                <label class="form-label">Ảnh đại diện phòng</label>
                                <input class="form-control"
                                       type="file"
                                       name="roomTypeAvatar"
                                       accept="image/*"
                                       ng-model="rooms.roomTypeAvatar"
                                       ng-class="{ 'is-invalid': register_hotels.roomTypeAvatar.$invalid && register_hotels.roomTypeAvatar.$touched, 'is-valid': register_hotels.roomTypeAvatar.$valid && register_hotels.roomTypeAvatar.$touched }"
                                       ngf-select="uploadAvatarRooms($file)"
                                       ngf-max-size="10MB"
                                       required
                                >
                                <small class="text-danger"
                                       ng-show="register_hotels.roomTypeAvatar.$touched && register_hotels.roomTypeAvatar.$error.required">
                                    Vui lòng chọn ít nhất một ảnh!
                                </small>
                            </div>

                            <!-- Hình ảnh -->
                            <div class="mb-3">
                                <label class="form-label">Hình ảnh phòng</label>
                                <input class="form-control"
                                       type="file"
                                       name="roomTypeImage"
                                       ng-model="rooms.roomTypeImage"
                                       accept="image/*"
                                       ng-class="{ 'is-invalid': register_hotels.roomTypeImage.$invalid && register_hotels.roomTypeImage.$touched, 'is-valid': register_hotels.roomTypeImage.$valid && register_hotels.roomTypeImage.$touched }"
                                       ngf-select="uploadRoomTypeImages($files)"
                                       ngf-multiple="true"
                                       ngf-max-size="10MB"
                                       required
                                >
                                <small class="text-danger"
                                       ng-show="register_hotels.roomTypeImage.$touched && register_hotels.roomTypeImage.$error.required">
                                    Vui lòng chọn ít nhất một ảnh!
                                </small>
                            </div>

                            <!-- Tiện ích phòng khách sạn -->
                            <div class="row mb-3 mt-3">
                                <label class="form-label mb-3">Tiện ích phòng khách sạn</label>
                                <div class="col-sm-4 col-xl-4" ng-repeat="room in roomUtilitiesList">
                                    <div class="form-check">
                                        <input class="form-check-input"
                                               type="checkbox"
                                               id="{{room.id + 'room'}}"
                                               ng-model="room.isSelected"
                                               ng-change="updateRoomUtilities()"
                                        >
                                        <label class="form-check-label" for="{{room.id + 'room'}}">
                                            {{ room.label }}
                                        </label>
                                    </div>
                                </div>
                                <small class="text-danger" ng-show="roomUtilitiesCheck === 0">
                                    Vui lòng chọn ít nhất một tiện ích!
                                </small>
                                <div class="row" ng-if="roomUtilitiesList && roomUtilitiesList.length <= 0">
                                    <p>Lỗi không tìm thấy tiện ích vui lòng thử lại</p>
                                </div>
                            </div>

                            <div class="d-flex justify-content-end mt-5">
                                <button type="button"
                                        class="btn btn-submit-form btn-prev"
                                        style="background: #5c636a; margin-right: 20px"
                                        ng-click="prevStep()"
                                >
                                    <i class="fa-solid fa-arrow-left"></i> Trở về
                                </button>
                                <button type="button"
                                        class="btn btn-submit-form"
                                        ng-disabled="register_hotels.$invalid || phoneError"
                                        ng-click="nextStep()"
                                >
                                    Tiếp tục <i class="fa-solid fa-arrow-right"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <div ng-show="currentStep === 3">
        <section id="business-information">
            <div class="container-fluid">
                <div class="logo text-center">
                    <div class="d-flex align-items-center justify-content-center mb-4">
                        <img src="/assets/admin/assets/img/icons/logo.png" alt="logo" width="60"/>
                        <p class="logo-text text-dark ms-1 d-none d-sm-block fw-bolder fs-4">TravelTour</p>
                    </div>
                    <div class="content-text mt-3">
                        <div class="h4">Đăng kí thông tin đối tác khách sạn của TravelTour</div>
                    </div>
                    <div class="progress-register">
                        <!-- Tiến dộ -->
                        <div class="progress-container">
                            <div class="container">
                                <div class="d-flex justify-content-center">
                                    <div class="item">
                                        <div class="item-1 ">
                                            <div class="vector-wrapper">
                                                <svg class="vector" xmlns="http://www.w3.org/2000/svg"
                                                     viewBox="0 0 512 512"
                                                     id="tick">
                                                    <path d="M223.9 329.7c-2.4 2.4-5.8 4.4-8.8 4.4s-6.4-2.1-8.9-4.5l-56-56 17.8-17.8 47.2 47.2L340 177.3l17.5 18.1-133.6 134.3z"></path>
                                                </svg>
                                            </div>
                                            <div class="text-wrapper">Tạo doanh nghiệp</div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="item-1">
                                            <div class="vector-wrapper">
                                                <svg class="vector" xmlns="http://www.w3.org/2000/svg"
                                                     viewBox="0 0 512 512"
                                                     id="tick">
                                                    <path d="M223.9 329.7c-2.4 2.4-5.8 4.4-8.8 4.4s-6.4-2.1-8.9-4.5l-56-56 17.8-17.8 47.2 47.2L340 177.3l17.5 18.1-133.6 134.3z"></path>
                                                </svg>
                                            </div>
                                            <div class="text-wrapper">Thông tin khách sạn</div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="item-1">
                                            <div class="vector-wrapper">
                                                <svg class="vector" xmlns="http://www.w3.org/2000/svg"
                                                     viewBox="0 0 512 512"
                                                     id="tick">
                                                    <path d="M223.9 329.7c-2.4 2.4-5.8 4.4-8.8 4.4s-6.4-2.1-8.9-4.5l-56-56 17.8-17.8 47.2 47.2L340 177.3l17.5 18.1-133.6 134.3z"></path>
                                                </svg>
                                            </div>
                                            <div class="text-wrapper">Thông tin phòng</div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="item-1">
                                            <div class="vector-wrapper">
                                                <span class="num">4</span>
                                            </div>
                                            <div class="text-wrapper">Xác nhận thông tin</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="main d-flex justify-content-center theme-wizard">
                    <div class="form card">
                        <div class="row g-3">
                            <div class="col-12">
                                <label class="form-check-label">
                                    <input type="checkbox" class="form-check-input" name="" id="">
                                    Tôi cam kết cung cấp thông tin đầy đủ, chính xác và minh bạch khi đăng ký bán phòng
                                    trên trang web du lịch. Chúng tôi hiểu rằng sự minh bạch và tin cậy là yếu tố quan
                                    trọng để tạo ra một môi trường kinh doanh tích cực và lâu dài.
                                </label>
                            </div>

                            <div class="d-flex justify-content-end mt-5">
                                <button type="button"
                                        class="btn btn-submit-form btn-prev"
                                        style="background: #5c636a; margin-right: 20px"
                                        ng-click="prevStep()"
                                >
                                    <i class="fa-solid fa-arrow-left"></i> Trở về
                                </button>
                                <button type="submit"
                                        class="btn btn-submit-form"
                                >
                                    Xác nhận<i class="fa-solid fa-arrow-right"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</form>