<!--====== Start Preloader ======-->
<div class="preloader" ng-show="isLoading">
    <div class="loader">
        <div class="pre-shadow"></div>
        <div class="pre-box"></div>
    </div>
    <div class="bg"></div>
</div><!--====== End Preloader ======-->

<div>
    <div ng-show="currentStep === 1">
        <section id="business-information">
            <div class="container-fluid">
                <div class="logo text-center">
                    <div class="d-flex align-items-center justify-content-center mb-4">
                        <img src="/assets/admin/assets/img/icons/logo.png" alt="logo" width="60"/>
                        <p class="logo-text text-dark ms-1 d-none d-sm-block fw-bolder fs-4">TravelTour</p>
                    </div>
                    <div class="content-text mt-3">
                        <div class="h4">Đăng kí thông tin đối tác khách sạn của TravelTour</div>
                    </div>
                    <div class="progress-register">
                        <!-- Tiến dộ -->
                        <div class="progress-container">
                            <div class="container">
                                <div class="d-flex justify-content-center">
                                    <div class="item">
                                        <div class="item-1 ">
                                            <div class="vector-wrapper">
                                                <svg class="vector" xmlns="http://www.w3.org/2000/svg"
                                                     viewBox="0 0 512 512"
                                                     id="tick">
                                                    <path d="M223.9 329.7c-2.4 2.4-5.8 4.4-8.8 4.4s-6.4-2.1-8.9-4.5l-56-56 17.8-17.8 47.2 47.2L340 177.3l17.5 18.1-133.6 134.3z"></path>
                                                </svg>
                                            </div>
                                            <div class="text-wrapper">Tạo doanh nghiệp</div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="item-1">
                                            <div class="vector-wrapper">
                                                <span class="num">2</span>
                                            </div>
                                            <div class="text-wrapper fw-medium">Thông tin khách sạn</div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="item-1">
                                            <div class="vector-wrapper">
                                                <span class="num">3</span>
                                            </div>
                                            <div class="text-wrapper">Thông tin phòng</div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="item-1">
                                            <div class="vector-wrapper">
                                                <span class="num">4</span>
                                            </div>
                                            <div class="text-wrapper">Xác nhận thông tin</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main d-flex justify-content-center theme-wizard">
                <div class="form card">
                    <div class="row g-3 form-input-custom">
                        <form class="row mb-3 mt-3 " name="register_hotels">
                            <!-- Tên doanh nghiệp -->
                            <div class="col-12 mb-3">
                                <label for="inputhotelName" class="form-label">Tên doanh nghiệp <span class="text-danger">*</span></label>
                                <input type="text"
                                       class="form-control"
                                       id="inputhotelName"
                                       placeholder="Tập đoàn traveltour"
                                       name="hotelName"
                                       ng-model="hotels.hotelName"
                                       ng-class="{ 'is-invalid': register_hotels.hotelName.$invalid && register_hotels.hotelName.$touched,
                        'is-valid': register_hotels.hotelName.$valid && register_hotels.hotelName.$touched }"
                                       required
                                >
                                <small class="text-danger"
                                       ng-show="register_hotels.hotelName.$touched && register_hotels.hotelName.$error.required">
                                    Vui lòng nhập tên doanh nghiệp!
                                </small>
                            </div>

                            <!-- Số điện thoại -->
                            <div class="col-12 mb-3">
                                <label for="inputphone" class="form-label">Số điện thoại <span class="text-danger">*</span></label>
                                <input type="text"
                                       class="form-control"
                                       id="inputphone"
                                       placeholder="0969653264"
                                       name="phone"
                                       ng-model="hotels.phone"
                                       ng-pattern="/^[0-9]{9,13}$/"
                                       ng-class="{ 'is-invalid': register_hotels.phone.$invalid && register_hotels.phone.$touched,
                       'is-valid': register_hotels.phone.$valid && register_hotels.phone.$touched }"
                                       required
                                >
                                <small class="text-danger"
                                       ng-show="register_hotels.phone.$touched && register_hotels.phone.$error.required">
                                    Vui lòng nhập số điện thoại!
                                </small>
                                <small class="text-danger"
                                       ng-show="register_hotels.phone.$error.pattern">
                                    Số điện thoại không hợp lệ!
                                </small>
                            </div>


                            <!-- urlWebsite -->
                            <div class="col-6 mb-3">
                                <label for="inputurlWebsite" class="form-label">urlWebsite <span class="text-danger">*</span></label>
                                <input type="text"
                                       class="form-control"
                                       id="inputurlWebsite"
                                       placeholder="www://traveltour.vn"
                                       name="urlWebsite"
                                       ng-model="hotels.urlWebsite"
                                       ng-class="{ 'is-invalid': register_hotels.urlWebsite.$invalid && register_hotels.urlWebsite.$touched,
                        'is-valid': register_hotels.urlWebsite.$valid && register_hotels.urlWebsite.$touched }"
                                       required
                                >
                                <small class="text-danger"
                                       ng-show="register_hotels.urlWebsite.$touched && register_hotels.urlWebsite.$error.required">
                                    Vui lòng nhập urlWebsite!
                                </small>
                            </div>

                            <!-- Loại phòng -->
                            <div class="col-md-6 mb-3">
                                <label class="form-label">Loại khách sạn <span class="text-danger">*</span></label>
                                <select class="form-select"
                                        name="hotelType"
                                        ng-class="{ 'is-invalid': register_hotels.hotelType.$invalid && register_hotels.hotelType.$touched, 'is-valid': register_hotels.hotelType.$valid && register_hotels.hotelType.$touched }"
                                        ng-options="hotelType.id as hotelType.hotelTypeName for hotelType in hotelTypes"
                                        ng-model="hotels.hotelType"
                                        required
                                >
                                    <option value="" disabled selected>Chọn thể loại phòng</option>
                                </select>
                                <small class="text-danger"
                                       ng-show="register_hotels.hotelType.$touched && register_hotels.hotelType.$error.required">
                                    Vui lòng chọn loại khách sạn
                                </small>
                            </div>

                            <!-- Thành phố -->
                            <div class="col-md-4 mb-3">
                                <label class="form-label">Tỉnh/Thành phố <span class="text-danger">*</span></label>
                                <select class="form-select"
                                        name="province"
                                        ng-class="{ 'is-invalid': register_hotels.province.$invalid && register_hotels.province.$touched, 'is-valid': register_hotels.province.$valid && register_hotels.province.$touched }"
                                        ng-options="province.Id as province.Name for province in provinces"
                                        ng-change="onProvinceChange()"
                                        ng-model="hotels.province"
                                        required
                                >
                                    <option value="" disabled selected>Chọn Tỉnh/Thành phố</option>
                                </select>
                                <small class="text-danger"
                                       ng-show="register_hotels.province.$touched && register_hotels.province.$error.required">
                                    Vui lòng chọn tỉnh/thành phố.
                                </small>
                            </div>

                            <!-- Quận huyện -->
                            <div class="col-md-4 mb-3">
                                <label class="form-label">Quận/Huyện <span class="text-danger">*</span></label>
                                <select class="form-select"
                                        name="districts"
                                        ng-class="{ 'is-invalid': register_hotels.districts.$invalid && register_hotels.districts.$touched, 'is-valid': register_hotels.districts.$valid && register_hotels.districts.$touched }"
                                        ng-options="district.Id as district.Name for district in districts"
                                        ng-disabled="!hotels.province"
                                        ng-change="onDistrictChange()"
                                        ng-model="hotels.district"
                                        required
                                >
                                    <option value="" disabled selected>Chọn Quận/Huyện</option>
                                </select>
                                <small class="text-danger"
                                       ng-show="register_hotels.districts.$touched && register_hotels.districts.$error.required">
                                    Vui lòng chọn quận/huyện.
                                </small>
                            </div>

                            <!-- Phường xã -->
                            <div class="col-md-4 mb-3">
                                <label class="form-label">Phường/Xã <span class="text-danger">*</span></label>
                                <select class="form-select"
                                        name="ward"
                                        ng-class="{ 'is-invalid': register_hotels.ward.$invalid && register_hotels.ward.$touched, 'is-valid': register_hotels.ward.$valid && register_hotels.ward.$touched }"
                                        ng-options="ward.Id as ward.Name for ward in wards"
                                        ng-disabled="!hotels.district"
                                        ng-change="onWardChange()"
                                        ng-model="hotels.ward"
                                        required
                                >
                                    <option value="" disabled selected>Chọn Phường/Xã</option>
                                </select>
                                <small class="text-danger"
                                       ng-show="register_hotels.ward.$touched && register_hotels.ward.$error.required">
                                    Vui lòng chọn phường/xã.
                                </small>
                            </div>

                            <!-- Địa chỉ -->
                            <div class="col-12 mb-3">
                                <label for="inputAddress" class="form-label">Địa chỉ <span class="text-danger">*</span></label>
                                <input type="text"
                                       class="form-control"
                                       id="inputAddress"
                                       placeholder="1234 Main St"
                                       name="address"
                                       ng-model="hotels.address"
                                       ng-class="{ 'is-invalid': register_hotels.address.$invalid && register_hotels.address.$touched,
                        'is-valid': register_hotels.address.$valid && register_hotels.address.$touched }"
                                       required
                                >
                                <small class="text-danger"
                                       ng-show="register_hotels.address.$touched && register_hotels.address.$error.required">
                                    Vui lòng nhập địa chỉ!
                                </small>
                            </div>

                            <!-- Địa chỉ -->
                            <div class="col-12 mb-3">
                                <label for="inputAddress" class="form-label">Mô tả khách sạn <span class="text-danger">*</span></label>
                                <textarea rows="10"
                                       class="form-control"
                                       id="inputhotelDescription"
                                       placeholder="1234 Main St"
                                       name="hotelDescription"
                                       ng-model="hotels.hotelDescription"
                                       ng-class="{ 'is-invalid': register_hotels.hotelDescription.$invalid && register_hotels.hotelDescription.$touched,
                        'is-valid': register_hotels.hotelDescription.$valid && register_hotels.hotelDescription.$touched }"
                                       required
                                ></textarea>
                                <small class="text-danger"
                                       ng-show="register_hotels.hotelDescription.$touched && register_hotels.hotelDescription.$error.required">
                                    Vui lòng nhập địa chỉ!
                                </small>
                            </div>

                            <!-- Ảnh đại diện khách sạn -->
                            <div class="mb-3 mb-3">
                                <label for="formFile" class="form-label">Ảnh đại diện khách sạn <span class="text-danger">*</span></label>
                                <input class="form-control"
                                       type="file"
                                       id="formFile"
                                       name="avataHotel"
                                       accept="image/*"
                                       ng-model="hotels.avatarHotel"
                                       ngf-select="validateAvataHotel()"
                                       ngf-validate="{maxSize: 10 * 1024 * 1024}"
                                       multiple
                                       required
                                >
                                <small class="text-danger"
                                       ng-show="register_hotels.avataHotel.$touched && register_hotels.avataHotel.$error.required">
                                    Vui lòng chọn ít nhất một ảnh!
                                </small>
                                <small class="text-danger"
                                       ng-show="register_hotels.avataHotel.$error.maxImages">
                                    Số lượng ảnh tối đa là 1!
                                </small>
                            </div>

                            <!-- Tiện ích khách sạn -->
                            <div class="mb-3 mt-3">
                                <label for="formFile" class="form-label mb-3">Tiện ích khách sạn <span class="text-danger">*</span></label>
                                <div class="row" ng-if="checkboxHotel && checkboxHotel.length > 0">
                                    <div class="col-sm-4 col-xl-4" ng-repeat="checkbox in checkboxHotel">
                                        <div class="form-check">
                                            <input class="form-check-input"
                                                   type="checkbox"
                                                   id="{{checkbox.id}}"
                                                   ng-model="checkbox.checked"
                                                   ng-change="updateCheckboxCountHotel()"
                                            >
                                            <label class="form-check-label" for="{{checkbox.id}}">
                                                {{checkbox.label}}
                                            </label>
                                        </div>
                                    </div>

                                    <small class="text-danger" ng-show="checkboxCountHotels === 0">
                                        Vui lòng chọn ít nhất một tiện ích!
                                    </small>
                                </div>

                                <div class="row" ng-if="showErrorListPlaceMessage !== null || showErrorListPlaceMessage">
                                    <p ng-show="showErrorListPlaceMessage"></p>
                                </div>
                            </div>
                            <div class="mb-3 mt-3">
                                <label class="form-label mb-3">Vị trí khách sạn của bạn trên bản đồ <span class="text-danger">*</span></label>
                                <div id="map" style="height: 400px;"
                                     ng-click="isLocationSelected()"></div>
                            </div>

                            <div class="col-12 d-flex justify-content-end mt-5">
                                <button class="btn" style="margin-right: 20px" ng-click="prevStep()">Trở về</button>
                                <button type="button"
                                        class="btn btn-submit fw-bold"
                                        ng-disabled="register_hotels.$invalid || noCheckboxSelected() || isLocationSelected()"
                                        ng-click="nextStep()">Tiếp theo
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <div ng-show="currentStep === 2">
        <section id="business-information">
            <div class="container-fluid">
                <div class="logo text-center">
                    <div class="d-flex align-items-center justify-content-center mb-4">
                        <img src="/assets/admin/assets/img/icons/logo.png" alt="logo" width="60"/>
                        <p class="logo-text text-dark ms-1 d-none d-sm-block fw-bolder fs-4">TravelTour</p>
                    </div>
                    <div class="content-text mt-3">
                        <div class="h4">Đăng kí thông tin đối tác khách sạn của TravelTour</div>
                    </div>
                    <!-- Tiến dộ -->
                    <div class="progress-register">
                        <!-- Tiến dộ -->
                        <div class="progress-container">
                            <div class="container">
                                <div class="d-flex justify-content-center">
                                    <div class="item">
                                        <div class="item-1 ">
                                            <div class="vector-wrapper">
                                                <svg class="vector" xmlns="http://www.w3.org/2000/svg"
                                                     viewBox="0 0 512 512"
                                                     id="tick">
                                                    <path d="M223.9 329.7c-2.4 2.4-5.8 4.4-8.8 4.4s-6.4-2.1-8.9-4.5l-56-56 17.8-17.8 47.2 47.2L340 177.3l17.5 18.1-133.6 134.3z"></path>
                                                </svg>
                                            </div>
                                            <div class="text-wrapper">Tạo doanh nghiệp</div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="item-1">
                                            <div class="vector-wrapper">
                                                <svg class="vector" xmlns="http://www.w3.org/2000/svg"
                                                     viewBox="0 0 512 512"
                                                     id="tick">
                                                    <path d="M223.9 329.7c-2.4 2.4-5.8 4.4-8.8 4.4s-6.4-2.1-8.9-4.5l-56-56 17.8-17.8 47.2 47.2L340 177.3l17.5 18.1-133.6 134.3z"></path>
                                                </svg>
                                            </div>
                                            <div class="text-wrapper">Thông tin khách sạn</div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="item-1">
                                            <div class="vector-wrapper">
                                                <span class="num">3</span>
                                            </div>
                                            <div class="text-wrapper fw-medium">Thông tin phòng</div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="item-1">
                                            <div class="vector-wrapper">
                                                <span class="num">4</span>
                                            </div>
                                            <div class="text-wrapper">Xác nhận thông tin</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="main d-flex justify-content-center theme-wizard">
                    <div class="form card">
                        <form class="row g-3 form-input-custom" name="register_roomType">
                            <!-- Tên loại phòng -->
                            <div class="col-12">
                                <label for="inputEmail4" class="form-label">Tên loại phòng <span class="text-danger">*</span></label>
                                <input type="text"
                                       class="form-control"
                                       id="inputEmail4"
                                       placeholder="Phòng Studio"
                                       name="roomTypeName"
                                       ng-model="roomTypes.roomTypeName"
                                       ng-class="{ 'is-invalid': register_roomType.roomTypeName.$invalid && register_roomType.roomTypeName.$touched, 
                                            'is-valid': register_roomType.roomTypeName.$valid && register_roomType.roomTypeName.$touched }"
                                       required
                                >
                                <small class="text-danger"
                                       ng-show="register_roomType.roomTypeName.$touched && register_roomType.roomTypeName.$error.required">
                                    Vui lòng nhập tên loại phòng!
                                </small>
                            </div>

                            <!-- Loại giường -->
                            <div class="col-12">
                                <label for="inputState" class="form-label">Loại giường <span class="text-danger">*</span></label>
                                <select id="inputState"
                                        class="form-select"
                                        name="bedTypeId"
                                        ng-model="roomTypes.bedTypeId"
                                        ng-class="{
                                'is-invalid': register_roomType.bedTypeId.$invalid && register_roomType.bedTypeId.$touched,
                                'is-valid': register_roomType.bedTypeId.$valid && register_roomType.bedTypeId.$touched }"
                                        ng-options="bedType.id as bedType.bedTypeName for bedType in bedTypeList"
                                        required
                                >
                                    <option selected>Chọn loại giường ...</option>
                                </select>
                                <small class="text-danger"
                                       ng-show="register_roomType.bedType.$touched && register_roomType.bedType.$error.required">
                                    Vui lòng chọn loại giường!
                                </small>
                                <small class="text-danger" ng-if="errorBedTypeList !== null">
                                    {{errorBedTypeList}}
                                </small>
                            </div>

                            <!-- Số người lớn -->
                            <div class="col-md-6">
                                <label for="inputcapacityAdults" class="form-label">Số người lớn <span class="text-danger">*</span></label>
                                <input type="text"
                                       class="form-control"
                                       id="inputcapacityAdults"
                                       placeholder="2"
                                       name="capacityAdults"
                                       ng-model="roomTypes.capacityAdults"
                                       ng-class="{ 'is-invalid': register_roomType.capacityAdults.$invalid && register_roomType.capacityAdults.$touched, 'is-valid': register_roomType.capacityAdults.$valid && register_roomType.capacityAdults.$touched }"
                                       required
                                >
                                <small class="text-danger"
                                       ng-show="register_roomType.capacityAdults.$touched && register_roomType.capacityAdults.$error.required">
                                    Vui lòng nhập số người lớn!
                                </small>
                            </div>

                            <!-- Số trẻ em -->
                            <div class="col-md-6">
                                <label for="inputcapacityChildren" class="form-label">Số trẻ em <span class="text-danger">*</span></label>
                                <input type="text"
                                       class="form-control"
                                       id="inputcapacityChildren"
                                       placeholder="1"
                                       name="capacityChildren"
                                       ng-model="roomTypes.capacityChildren"
                                       ng-class="{ 'is-invalid': register_roomType.capacityChildren.$invalid && register_roomType.capacityChildren.$touched, 'is-valid': register_roomType.capacityChildren.$valid && register_roomType.capacityChildren.$touched }"
                                       required
                                >
                                <small class="text-danger"
                                       ng-show="register_roomType.capacityChildren.$touched && register_roomType.capacityChildren.$error.required">
                                    Vui lòng nhập số trẻ em!
                                </small>
                            </div>

                            <!-- Số lượng phòng -->
                            <div class="col-md-6">
                                <label for="inputroomTypess" class="form-label">Số lượng phòng <span class="text-danger">*</span></label>
                                <input type="text"
                                       class="form-control"
                                       id="inputroomTypess"
                                       placeholder="20"
                                       name="amountRoom"
                                       ng-model="roomTypes.amountRoom"
                                       ng-class="{ 'is-invalid': register_roomType.amountRoom.$invalid && register_roomType.amountRoom.$touched, 'is-valid': register_roomType.amountRoom.$valid && register_roomType.amountRoom.$touched }"
                                       required
                                >
                                <small class="text-danger"
                                       ng-show="register_roomType.amountRoom.$touched && register_roomType.amountRoom.$error.required">
                                    Vui lòng nhập số lượng phòng!
                                </small>
                            </div>

                            <!-- Giá phòng -->
                            <div class="col-md-6">
                                <label for="inputPrice" class="form-label">Giá phòng <span class="text-danger">*</span></label>
                                <input type="text"
                                       class="form-control"
                                       id="inputPrice"
                                       placeholder="300.000"
                                       name="price"
                                       ng-model="roomTypes.price"
                                       format-price-input
                                       ng-class="{ 'is-invalid': register_roomType.price.$invalid && register_roomType.price.$touched, 'is-valid': register_roomType.price.$valid && register_roomType.price.$touched }"
                                       required
                                >
                                <small class="text-danger"
                                       ng-show="register_roomType.price.$touched && register_roomType.price.$error.required">
                                    Vui lòng nhập giá phòng!
                                </small>
                            </div>
                            <!-- Giờ nhận phòng -->
                            <div class="col-md-6">
                                <label for="inputPrice" class="form-label">Giờ nhận phòng <span class="text-danger">*</span></label>
                                <input type="time"
                                       class="form-control"
                                       id="inputCheckinTime"
                                       placeholder="12:00"
                                       name="checkinTime"
                                       ng-model="roomTypes.checkinTime"
                                       ng-class="{ 'is-invalid': register_roomType.checkinTime.$invalid && register_roomType.checkinTime.$touched, 'is-valid': register_roomType.checkinTime.$valid && register_roomType.checkinTime.$touched }"
                                       required
                                >
                                <small class="text-danger"
                                       ng-show="register_roomType.checkinTime.$touched && register_roomType.checkinTime.$error.required">
                                    Vui lòng nhập giờ nhận phòng!
                                </small>
                            </div>
                            <!-- Giờ trả phòng -->
                            <div class="col-md-6">
                                <label for="inputPrice" class="form-label">Giờ trả phòng <span class="text-danger">*</span></label>
                                <input type="time"
                                       class="form-control"
                                       id="inputChecoutTime"
                                       placeholder="12:00"
                                       name="checkoutTime"
                                       ng-model="roomTypes.checkoutTime"
                                       ng-class="{ 'is-invalid': register_roomType.checkoutTime.$invalid && register_roomType.checkoutTime.$touched, 'is-valid': register_roomType.checkoutTime.$valid && register_roomType.checkoutTime.$touched }"
                                       required
                                >
                                <small class="text-danger"
                                       ng-show="register_roomType.checkoutTime.$touched && register_roomType.checkoutTime.$error.required">
                                    Vui lòng nhập giờ trả phòng!
                                </small>
                            </div>

                            <!-- Ảnh đại diện phòng -->
                            <div class="mb-3">
                                <label for="roomTypeAvatar" class="form-label">Ảnh đại diện phòng <span class="text-danger">*</span></label>
                                <input class="form-control"
                                       type="file"
                                       id="roomTypeAvatar"
                                       name="roomTypeAvatar"
                                       accept="image/*"
                                       ng-model="roomTypes.roomTypeAvatar"
                                       ngf-select="validateRoomTypeAvatar()"
                                       multiple
                                       required
                                >
                                <small class="text-danger"
                                       ng-show="register_roomType.roomTypeAvatar.$touched && register_roomType.roomTypeAvatar.$error.required">
                                    Vui lòng chọn ít nhất một ảnh!
                                </small>
                                <small class="text-danger"
                                       ng-show="register_roomType.roomTypeAvatar.$error.maxImages">
                                    Số lượng ảnh tối đa là 1!
                                </small>
                            </div>

                            <!-- Ảnh đại diện phòng -->
                            <div class="mb-3">
                                <label for="formFile" class="form-label">Ảnh phòng khách sạn <span class="text-danger">*</span></label>
                                <input class="form-control"
                                       type="file"
                                       id="formFile"
                                       name="listRoomTypeImg"
                                       accept="image/*"
                                       ng-model="roomTypes.listRoomTypeImg"
                                       ngf-select="validateListRoomTypeImg()"
                                       multiple
                                       required
                                >
                                <small class="text-danger"
                                       ng-show="register_roomType.listRoomTypeImg.$touched && register_roomType.listRoomTypeImg.$error.required">
                                    Vui lòng chọn ít nhất một ảnh!
                                </small>
                                <small class="text-danger"
                                       ng-show="register_roomType.listRoomTypeImg.$error.maxImages">
                                    Số lượng ảnh tối đa là 30!
                                </small>
                            </div>

                            <!-- Tiện ích phòng khách sạn -->
                            <div class="mb-3 mt-3" ng-init="checkboxCountRoomType = 0">
                                <label for="formFile" class="form-label mb-3">Tiện ích khách sạn <span class="text-danger">*</span></label>
                                <div class="row" ng-if="checkboxRoomType && checkboxRoomType.length > 0">
                                    <div class="col-sm-4 col-xl-4" ng-repeat="checkbox in checkboxRoomType">
                                        <div class="form-check">
                                            <input class="form-check-input"
                                                   type="checkbox"
                                                   id="{{checkbox.label}}"
                                                   ng-model="checkbox.checked"
                                                   ng-change="updateCheckboxCountRoomType()"
                                            >
                                            <label class="form-check-label" for="{{checkbox.label}}">
                                                {{checkbox.label}}
                                            </label>
                                        </div>
                                    </div>

                                    <small class="text-danger" ng-show="checkboxCountRoomType === 0 && checkboxRoomType.length > 0 && pageLoaded">
                                        Vui lòng chọn ít nhất một tiện ích!
                                    </small>
                                </div>

                                <div class="row" ng-if="showErrorListPlaceMessage !== null">
                                    <p ng-show="showErrorListPlaceMessage"></p>
                                </div>
                            </div>


                            <!-- Tiện ích mở rộng phòng khách sạn -->
                            <div class="mb-3 mt-3">
                                <label for="formFile" class="form-label mb-3">Tiện ích mở rộng</label>
                                <div class="row" >
                                    <div class="col-sm-4 col-xl-4">
                                        <div class="form-check">
                                            <input class="form-check-input"
                                                   type="checkbox"
                                                   id="breakfastIncluded"
                                                   ng-model="roomTypes.breakfastIncluded"
                                            >
                                            <label class="form-check-label" for="breakfastIncluded">
                                                Miễn phí ăn sáng
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 col-xl-4">
                                        <div class="form-check">
                                            <input class="form-check-input"
                                                   type="checkbox"
                                                   id="freeCancellation"
                                                   ng-model="roomTypes.freeCancellation"
                                            >
                                            <label class="form-check-label" for="freeCancellation">
                                                Miễn phí hủy phòng
                                            </label>
                                        </div>
                                    </div>
                                </div>

                                <div class="row" ng-if="showErrorListPlaceMessage !== null">
                                    <p ng-show="showErrorListPlaceMessage"></p>
                                </div>
                            </div>

                            <div class="col-12 d-flex justify-content-end mt-5">
                                <button class="btn" style="margin-right: 20px" ng-click="prevStep()">Trở về</button>
                                <button type="submit"
                                        class="btn btn-submit fw-bold"
                                        ng-click="nextStep()"
                                        ng-disabled="register_roomType.$invalid || noCheckboxSelectedRoomType() || !isImageSelected || !isListImageSelected">Tiếp theo
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <div ng-show="currentStep === 3">
        <section id="business-information">
            <div class="container-fluid">
                <div class="logo text-center">
                    <div class="d-flex align-items-center justify-content-center mb-4">
                        <img src="/assets/admin/assets/img/icons/logo.png" alt="logo" width="60"/>
                        <p class="logo-text text-dark ms-1 d-none d-sm-block fw-bolder fs-4">TravelTour</p>
                    </div>
                    <div class="content-text mt-3">
                        <div class="h4">Đăng kí thông tin đối tác khách sạn của TravelTour</div>
                    </div>
                    <div class="progress-register">
                        <!-- Tiến dộ -->
                        <div class="progress-container">
                            <div class="container">
                                <div class="d-flex justify-content-center">
                                    <div class="item">
                                        <div class="item-1 ">
                                            <div class="vector-wrapper">
                                                <svg class="vector" xmlns="http://www.w3.org/2000/svg"
                                                     viewBox="0 0 512 512"
                                                     id="tick">
                                                    <path d="M223.9 329.7c-2.4 2.4-5.8 4.4-8.8 4.4s-6.4-2.1-8.9-4.5l-56-56 17.8-17.8 47.2 47.2L340 177.3l17.5 18.1-133.6 134.3z"></path>
                                                </svg>
                                            </div>
                                            <div class="text-wrapper">Tạo doanh nghiệp</div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="item-1">
                                            <div class="vector-wrapper">
                                                <svg class="vector" xmlns="http://www.w3.org/2000/svg"
                                                     viewBox="0 0 512 512"
                                                     id="tick">
                                                    <path d="M223.9 329.7c-2.4 2.4-5.8 4.4-8.8 4.4s-6.4-2.1-8.9-4.5l-56-56 17.8-17.8 47.2 47.2L340 177.3l17.5 18.1-133.6 134.3z"></path>
                                                </svg>
                                            </div>
                                            <div class="text-wrapper">Thông tin khách sạn</div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="item-1">
                                            <div class="vector-wrapper">
                                                <svg class="vector" xmlns="http://www.w3.org/2000/svg"
                                                     viewBox="0 0 512 512"
                                                     id="tick">
                                                    <path d="M223.9 329.7c-2.4 2.4-5.8 4.4-8.8 4.4s-6.4-2.1-8.9-4.5l-56-56 17.8-17.8 47.2 47.2L340 177.3l17.5 18.1-133.6 134.3z"></path>
                                                </svg>
                                            </div>
                                            <div class="text-wrapper">Thông tin phòng</div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="item-1">
                                            <div class="vector-wrapper">
                                                <span class="num">4</span>
                                            </div>
                                            <div class="text-wrapper fw-medium">Xác nhận thông tin</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="main d-flex justify-content-center theme-wizard">
                    <div class="form card">
                        <div class="row g-3">
                            <div class="col-12">
                                <label class="form-check-label">
                                    <input type="checkbox"
                                           class="form-check-input"
                                           ng-model="checkboxChecked"
                                           name="" id=""
                                    >
                                    Tôi cam kết cung cấp thông tin đầy đủ, chính xác và minh bạch khi đăng ký bán phòng
                                    trên trang web du lịch. Chúng tôi hiểu rằng sự minh bạch và tin cậy là yếu tố quan
                                    trọng để tạo ra một môi trường kinh doanh tích cực và lâu dài.
                                </label>
                            </div>

                            <div class="d-flex justify-content-end mt-5">
                                <button type="button"
                                        class="btn btn-submit-form btn-prev"
                                        style="background: #5c636a; margin-right: 20px"
                                        ng-click="prevStep()"
                                >
                                    <i class="fa-solid fa-arrow-left"></i> Trở về
                                </button>
                                <button type="submit"
                                        class="btn btn-submit-form fw-bold"
                                        ng-click="registerHotel()"
                                        ng-disabled="!checkboxChecked"
                                >
                                    Hoàn tất<i class="fa-solid fa-arrow-right"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>