<div class="container">
    <div class="header-control mb-4">
        <div class="header-control-center">
            <div class="d-flex justify-content-between align-items-center row ">
                <div class="col-xl-6 mt-3">
                    <h3 class="color-green fw-bold">LỊCH HOẠT ĐỘNG PHƯƠNG TIỆN</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="">
        <div class="card card-customer">
            <div class="row" style="margin: 20px 16px 20px 16px">
                <div class="col-xl-4">
                    Bạn muốn tìm kiếm gì ?
                    <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1">
                                <a href="#" class="bg-light text-dark">
                                    <i class="fa-solid fa-magnifying-glass bg-light"></i>
                                </a>
                            </span>
                        <input type="text"
                               class="form-control"
                               placeholder="Tìm kiếm"
                               ng-model="searchTerm"
                        >
                    </div>
                </div>
                <div class="col-xl-8 d-flex align-items-center justify-content-end mb-3 h-100"
                     style="margin: 20px 0 0 0">
                    <a href="/business/transport/trip-management/create-trip" class="btn btn-primary">
                        <i class="fa-solid fa-plus" style="margin-right: 10px"></i>
                        Tạo chuyến đi
                    </a>
                </div>
            </div>
        </div>
    </div>


    <div class="table-components table-responsive mb-5">
        <div class="card table-responsive table-customer">
            <div class="card-header ">
                <div class="row">
                    <div class="h4 col-lg-5 d-flex align-items-center h-100">
                        <div class="d-flex align-items-center">
                            <span class="h4">Danh sách chuyến đi</span>
                        </div>
                    </div>
                    <div class="d-flex justify-content-end align-items-baseline col-lg-2">
                        <select class="form-select" aria-label="Default select example"
                                ng-model="pageSize"
                                ng-init="pageSize='5'"
                                ng-change="pageSizeChanged()">
                            <option value="5">5</option>
                            <option value="10">10</option>
                            <option value="15">15</option>
                        </select>
                    </div>
                    <div class="d-flex align-items-center justify-content-end h-100 col-lg-5">
                        <nav aria-label="Page navigation example float-end">
                            <ul class="pagination justify-content-center align-items-center">
                                <!-- Previous Page -->
                                <li class="page-item cursor-pointer" ng-class="{disabled: currentPage === 0}">
                                    <a class="page-link" ng-click="setPage(0)">
                                        <i class="fa-solid fa-angles-left"></i>
                                    </a>
                                </li>

                                <!-- Ellipsis at the beginning -->
                                <li class="page-item" ng-if="currentPage > 2 && totalPages > 5">
                                    <span class="page-link">...</span>
                                </li>

                                <!-- Pagination Numbers -->
                                <li class="page-item cursor-pointer" ng-repeat="n in getPaginationRange()"
                                    ng-class="{active: n === currentPage}">
                                    <a class="page-link" ng-click="setPage(n)">{{ n + 1 }}</a>
                                </li>

                                <!-- Ellipsis at the end -->
                                <li class="page-item" ng-if="currentPage < totalPages - 3 && totalPages > 5">
                                    <span class="page-link">...</span>
                                </li>

                                <!-- Next Page -->
                                <li class="page-item cursor-pointer"
                                    ng-class="{disabled: currentPage === totalPages - 1}">
                                    <a class="page-link" ng-click="setPage(totalPages - 1)">
                                        <i class="fa-solid fa-angles-right"></i>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
            <table class="table table-responsive text-center">
                <thead>
                <tr class="bg-light">
                    <th>
                        <span>
                            <input class="form-check-input checkbox-all" type="checkbox" value="">
                        </span>
                    </th>
                    <th>#
                        <i class="fa-solid fa-sort"></i>
                    </th>
                    <th class="cursor-pointer" ng-click="sortData('id')">ID
                        <i class="fa" ng-class="getSortIcon('id')"></i>
                    </th>
                    <th class="cursor-pointer" ng-click="sortData('licensePlate')">Phương tiện
                        <i class="fa" ng-class="getSortIcon('licensePlate')"></i>
                    </th>
                    <th class="cursor-pointer" ng-click="sortData('licensePlate')">Điểm đi
                        <i class="fa" ng-class="getSortIcon('licensePlate')"></i>
                    </th>
                    <th class="cursor-pointer" ng-click="sortData('licensePlate')">Điểm đến
                        <i class="fa" ng-class="getSortIcon('licensePlate')"></i>
                    </th>
                    <th class="cursor-pointer" ng-click="sortData('transportationTypeId')">Số chổ ngồi
                        <i class="fa" ng-class="getSortIcon('transportationTypeId')"></i>
                    </th>
                    <th class="cursor-pointer" ng-click="sortData('amountSeat')">Đã đặt
                        <i class="fa" ng-class="getSortIcon('amountSeat')"></i>
                    </th>
                    <th class="cursor-pointer" ng-click="sortData('dateCreated')">Đơn giá
                        <i class="fa" ng-class="getSortIcon('dateCreated')"></i>
                    </th>
                    <th class="cursor-pointer" ng-click="sortData('isActive')">Trạng thái
                        <i class="fa" ng-class="getSortIcon('isActive')"></i>
                    </th>
                    <th>Thao tác</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="schedule in transportationSchedules">
                    <td>
                        <span>
                            <input class="form-check-input" type="checkbox" value="">
                        </span>
                    </td>
                    <td>{{ $index + 1 }}</td>
                    <td>{{ schedule.id }}</td>
                    <td>{{ schedule.transportationId }}</td>
                    <td>{{ schedule.fromLocation }}</td>
                    <td>{{ schedule.toLocation }}</td>
                    <td>{{ schedule.bookedSeat }}</td>
                    <td>{{ schedule.bookedSeat }}</td>
                    <td>{{ schedule.unitPrice }}</td>
                    <td ng-if="schedule.isStatus == 0">
                        <div class="d-flex align-items-center justify-content-center">
                            <span class="status-success"></span>
                            <span class="text-status-success">Chờ đi chuyển</span>
                        </div>
                    </td>
                    <td ng-if="schedule.isStatus == 1">
                        <div class="d-flex align-items-center justify-content-center">
                            <span class="status-error"></span>
                            <span class="text-status-error">Đang di chuyển</span>
                        </div>
                    </td>
                    <td ng-if="schedule.isStatus == 2">
                        <div class="d-flex align-items-center justify-content-center">
                            <span class="status-error"></span>
                            <span class="text-status-error">Đã hoàn tất</span>
                        </div>
                    </td>
                    <td class="d-flex align-items-center justify-content-center" style="padding-right: 10px">
                        <a href="/business/transport/trip-management/update-trip/{{ schedule.id }}"
                           role="button" class="fs-1 btn text-warning">
                            <i class="fa-solid fa-pen-to-square"></i>
                        </a>
                        <a href="#" ng-click="deleteSchedule(schedule.id, schedule.toLocation)"
                           role="button" class="fs-1 btn text-danger">
                            <i class="fa-solid fa-trash"></i>
                        </a>
                    </td>
                </tr>
                <tr ng-if="transportationSchedules.length === 0">
                    <td colspan="11">Không có dữ liệu chuyến đi.</td>
                </tr>
                </tbody>
            </table>
            <div class="card-footer">
                <div class="d-flex justify-content-end">
                    {{ getDisplayRange() }} trong tổng số {{ totalElements }}
                </div>
            </div>
        </div>
    </div>
</div>