<div ng-include="'app/component/utils/loading-html.html'"></div>
<!--====== Start Breadcrumb Section ======-->
<section class="page-banner overlay pt-170 pb-170 bg_cover"
         style="background-image: url(/assets/customers/images/bg/banner-1.jpg);">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="page-banner-content text-center text-white">
                    <h1 class="page-title">Địa Điểm Tham Quan</h1>
                    <ul class="breadcrumb-link text-white">
                        <li><a href="/home">Trang chủ</a></li>
                        <li><a href="/tourism-location">Tham quan</a></li>
                        <li><a href="/tourism-location/tourism-location-detail/{{locationDetailIdBase64}}">Chi tiết tham quan</a></li>
                        <li class="active">Chọn dịch vụ</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section><!--====== End Breadcrumb Section ======-->

<!--====== Tiến trình ======-->
<section id="business-information" class="mb-20">
    <div class="container-fluid">
        <div class="logo text-center">
            <div class="progress-register">
                <!-- Tiến dộ -->
                <div class="progress-container">
                    <div class="container">
                        <div class="d-flex justify-content-center">
                            <div class="item">
                                <div class="item-1">
                                    <div class="vector-wrapper">
                                        <span class="num">1</span>
                                    </div>
                                    <div class="text-wrapper fw-medium">Chổ mong muốn</div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="item-1">
                                    <div class="vector-wrapper">
                                        <span class="num">2</span>
                                    </div>
                                    <div class="text-wrapper">Nhập thông tin</div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="item-1">
                                    <div class="vector-wrapper">
                                        <span class="num">3</span>
                                    </div>
                                    <div class="text-wrapper">Thanh toán</div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="item-1">
                                    <div class="vector-wrapper">
                                        <span class="num">4</span>
                                    </div>
                                    <div class="text-wrapper">Xem lại thông tin</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- Tiến dộ -->
            </div>
        </div>
    </div>
</section><!--====== Tiến trình ======-->

<!--====== Start Blog Details Section ======-->
<section class="blog-details-section pb-70">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="title-information mb-3">
                    <h4>Phương thức thanh toán</h4>
                    <p>Vui lòng chọn phương thức thanh toán</p>
                </div>
            </div>
            <div class="col-xl-8">
                <div class="blog-details-wrapper pr-lg-50">
                    <div class="sidebar-widget-area">
                        <!--=== Category Widget ===-->
                        <div class="sidebar-widget category-widget mb-30 wow fadeInUp">
                            <h4 class="widget-title fs-6">Chọn một trong các phương thức sau:</h4>
                            <div class="mb-3 row">
                                <div class="col-lg-4 col-md-4 col-6">
                                    <div class="form-group">
                                        <input type="text"
                                               class="form-control input-payment"
                                               name="discountCode"
                                               ng-model="service.discountCode"
                                               placeholder="Mã khuyến mãi"
                                        >
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-6 p-0">
                                    <button type="button"
                                            ng-click="submitDiscountCode()"
                                            class="btn btn-orange fw-medium p-2 ps-4 px-4"
                                    >
                                        ÁP DỤNG
                                    </button>
                                </div>
                                <div class="col-md-5 col-sm-5 col-xs-12">
                                    <ul class="text-danger mt-2 fs-6">
                                        <li>Chỉ áp dụng cho thanh toán online.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-6 mb-3">
                                <label class="card card-payment" payment-method="VNPay" ng-click="showContent('VNPay')"
                                       ng-class="{ 'selected': selectedPaymentMethod === 'VNPay' }">
                                    <input type="radio"
                                           class="form-check-input d-none"
                                           name="paymentMethod"
                                           ng-model="service.paymentMethod"
                                           value="VNPay"
                                           required
                                    >
                                    <div>
                                        <div class="image-payment d-flex justify-content-center">
                                            <img src="/assets/customers/images/payment/vnpay.png"
                                                 class="img-fluid mt-4 rounded-3" width="100"
                                                 alt=""
                                            >
                                        </div>
                                    </div>
                                </label>
                            </div>
                            <div class="col-lg-3 col-md-3 col-6 mb-3">
                                <label class="card card-payment" payment-method="ZaloPay"
                                       ng-click="showContent('ZaloPay')"
                                       ng-class="{ 'selected': selectedPaymentMethod === 'ZaloPay' }">
                                    <input type="radio"
                                           class="form-check-input d-none"
                                           name="paymentMethod"
                                           ng-model="service.paymentMethod"
                                           value="ZaloPay"
                                           required
                                    >
                                    <div class="image-payment d-flex justify-content-center">
                                        <img src="/assets/customers/images/payment/zalopay.jpg"
                                             class="img-fluid mt-4 rounded-3" width="100"
                                             alt=""
                                        >
                                    </div>
                                </label>
                            </div>
                            <div class="col-lg-3 col-md-3 col-6 mb-3">
                                <label class="card card-payment" payment-method="Momo" ng-click="showContent('Momo')"
                                       ng-class="{ 'selected': selectedPaymentMethod === 'Momo' }">
                                    <input type="radio"
                                           class="form-check-input d-none"
                                           name="paymentMethod"
                                           ng-model="service.paymentMethod"
                                           value="Momo"
                                           required
                                    >
                                    <div class="image-payment d-flex justify-content-center">
                                        <img src="/assets/customers/images/payment/momo.webp"
                                             class="img-fluid mt-4 rounded-3" width="100"
                                             alt=""
                                        >
                                    </div>
                                </label>
                            </div>
                            <div class="col-lg-3 col-md-3 col-6 mb-3">
                                <label class="card card-payment" payment-method="Travel"
                                       ng-click="showContent('Travel')"
                                       ng-class="{ 'selected': selectedPaymentMethod === 'Travel' }">
                                    <input type="radio"
                                           class="form-check-input d-none"
                                           name="paymentMethod"
                                           ng-model="service.paymentMethod"
                                           value="Travel"
                                           required
                                    >
                                    <div class="image-payment d-flex justify-content-center">
                                        <img src="/assets/customers/images/payment/traveltour.jpg"
                                             class="img-fluid mt-4 rounded-3" width="115"
                                             alt=""
                                        >
                                    </div>
                                </label>
                            </div>

                            <div class="col-12 padding-payment" ng-show="selectedPaymentMethod"
                                 ng-class="{ 'ng-hide-add': !selectedPaymentMethod, 'ng-hide-remove': selectedPaymentMethod }">
                                <div class="fw-medium sidebar-widget category-widget" ng-bind-html="selectedContent">
                                </div>
                            </div>

                            <div class="private-policy mt-4">
                                <div class="mb-3">
                                    <label class="form-check-label">
                                        <input type="checkbox"
                                               class="form-check-input"
                                               ng-model="checkPrivatePolicy"
                                        >
                                        Tôi đã đọc và đồng ý
                                        <strong class="fw-medium text-green">
                                            <a href="/payment-policy">điều khoản</a>
                                        </strong>
                                    </label>
                                    <br>
                                    <div style="width:100%;height:250px;overflow-y: scroll;padding: 10px;margin:0;border: 1px solid #ccc;border-right: 2px solid #ccc;">
                                        <p>Điều khoản này là sự thoả thuận đồng ý của quý khách khi sử dụng dịch vụ
                                            thanh toán trên trang web <a href="">TravelTour</a>
                                            của Công ty Dịch vụ Lữ hành TravelTour (Lữ hành TravelTour) và những
                                            trang web của bên thứ ba. Việc quý khách đánh dấu vào ô “Đồng ý” và nhấp
                                            chuột vào thanh “Chấp nhận” nghĩa là quý khách đồng ý tất cả các điều khoản
                                            thỏa thuận trong các trang web này.</p>

                                        <p>&nbsp;</p>

                                        <p><strong>Giải thích từ ngữ</strong></p>

                                        <p>Điều khoản: là những điều quy định giữa Lữ hành TravelTour và quý
                                            khách</p>

                                        <p>Bên thứ ba: là những đơn vị liên kết với Lữ hành TravelTour (OnePay,
                                            Vietcombank) nhằm hỗ trợ việc thanh toán qua mạng cho quý khách</p>

                                        <p>Vé điện tử: là những thông tin và hành trình của quý khách cho chuyến đi được
                                            thể hiện trên một trang giấy mà quý khách có thể in ra được</p>

                                        <p><strong>Về sở hữu bản quyền</strong></p>

                                        <p>Trang web <a href="">TravelTour</a>
                                            thuộc quyền sở hữu của Lữ hành TravelTour và được bảo vệ theo luật bản
                                            quyền, quý khách chỉ được sử dụng trang web này với mục đích xem thông tin
                                            và đăng ký thanh toán online cho cá nhân chứ không được sử dụng cho bất cứ
                                            mục đích thương mại nào khác.</p>

                                        <p>Việc lấy nội dung để tham khảo, làm tài liệu cho nghiên cứu phải ghi rõ ràng
                                            nguồn lấy từ nội dung trang web Lữ hành TravelTour. Không được sử dụng
                                            các logo, các nhãn hiệu&nbsp;Lữ hành Lữ hành TravelTour dưới mọi hình
                                            thức nếu chưa có sự đồng ý của&nbsp;Lữ hành&nbsp;TravelTour bằng văn
                                            bản.</p>

                                        <p><strong>Về thông tin khách hàng</strong></p>

                                        <p>Khi đăng ký thanh toán qua mạng, quý khách sẽ được yêu cầu cung cấp một số
                                            thông tin cá nhân và thông tin tài khoản.</p>

                                        <p>Đối với thông tin cá nhân: Những thông tin này chỉ để phục vụ cho nhu cầu xác
                                            nhận sự mua dịch vụ của quý khách và sẽ hiển thị những nội dung cần thiết
                                            trên vé điện tử. Lữ hành TravelTour cũng sẽ sử dụng những thông tin liên
                                            lạc này để gửi đến quý khách những sự kiện, những tin tức khuyến mãi và
                                            những ưu đãi đặc biệt nếu quý khách đồng ý. Những thông tin này của quý
                                            khách sẽ được Lữ hành TravelTour bảo mật và không tiết lộ cho bên thứ ba
                                            biết ngoại trừ sự đồng ý của quý khách hoặc là phải tiết lộ theo sự tuân thủ
                                            luật pháp quy định.</p>

                                        <p>Đối với thông tin tài khoản: Những thông tin này sẽ được Lữ hành
                                            TravelTour và bên thứ ba áp dụng những biện pháp bảo mật cao nhất do các
                                            hệ thống thanh toán nổi tiếng trên thế giới như Visa và MasterCard cung cấp
                                            nhằm đảm bảo sự an toàn tuyệt đối của thông tin tài khoản quý khách.</p>

                                        <p><strong>Về trang web liên kết</strong></p>

                                        <p>Các trang web của Lữ hành TravelTour có chứa những liên hệ kết nối với
                                            trang web của bên thứ ba. Việc liên kết trang web của bên thứ ba này nhằm
                                            chỉ cung cấp những sự tiện lợi cho quý khách chứ không phải là sự tán thành,
                                            chấp nhận những nội dung, thông tin sản phẩm của những trang web bên thứ ba.
                                            Lữ hành TravelTour sẽ không chiu trách nhiệm về bất cứ trách nhiệm pháp
                                            lý nào liên quan đến những thông tin gì trong các trang web bên thứ ba.</p>

                                        <p><strong>Về hủy tour</strong></p>

                                        <p>Trong trường hợp hủy tour, quý khách vui lòng gửi email thông báo hủy tour
                                            đến Lữ hành TravelTour. Lữ hành TravelTour sẽ trao đổi và xác nhận lại
                                            tất cả các thông tin của quý khách. Khi hoàn tất việc xác nhận thông tin, Lữ
                                            hành TravelTour sẽ hoàn tiền vào đúng tài khoản quý khách đã thanh toán
                                            sau khi trừ các khoản lệ phí hủy tour. Lệ phí hủy tour sẽ tùy thuộc vào từng
                                            tour tuyến quý khách đăng ký.</p>

                                        <p><strong>Trách nhiệm của Lữ hành TravelTour</strong></p>

                                        <p>Lữ hành TravelTour có nhiệm vụ bảo mật và lưu trữ an toàn các thông tin
                                            của quý khách với sự nghiêm túc cao nhất.</p>

                                        <p>Giải quyết những thắc mắc, sai sót, vi phạm mà quý khách gặp phải trong quá
                                            trình thanh toán nếu do lỗi của Lữ hành TravelTour.</p>

                                        <p>Đảm bảo thực hiện đầy đủ mọi dịch vụ theo đúng chương trình mà quý khách đăng
                                            ký. Tuy nhiên chúng tôi có toàn quyền thay đổi lộ trình hoặc hủy bỏ chuyến
                                            đi du lịch bất cứ lúc nào mà chúng tôi thấy cần thiết vì sự an toàn cho quý
                                            khách.</p>

                                        <p>Mọi thay đổi nếu có sẽ được thông báo nhanh chóng cho quý khách ngay trước
                                            ngày khởi hành hoặc ngay sau khi phát hiện những phát sinh.</p>

                                        <p><strong>Trường hợp miễm trách nhiệm đối với Lữ hành TravelTour</strong>
                                        </p>

                                        <p>Lữ hành TravelTour không chịu trách nhiệm về tất cả những thông tin mà quý
                                            khách cung cấp bởi chúng tôi không dễ dàng xác nhận chính xác quý khách nào
                                            đăng ký thông tin.</p>

                                        <p>Lữ hành TravelTour không chịu trách nhiệm về việc thông tin của quý khách
                                            bị lấy cắp nếu như việc lấy cắp được thực hiện từ máy của quý khách do bị
                                            nhiễm virus máy tính hay do nguyên nhân nào khác.</p>

                                        <p>Lữ hành TravelTour không chịu trách nhiệm đối với quý khách nếu xảy ra
                                            việc hệ thống máy tính của quý khách bị hư hại trong khi đang thanh toán
                                            hoặc bị can thiệp liên quan tới việc sử dụng một trang bên ngoài.</p>

                                        <p>Lữ hành TravelTour không chịu trách nhiệm về việc mất dữ liệu thông tin
                                            của quý khách do sự cố khách quan như: thiên tai, hạn hán, hỏa hoạn, chiến
                                            tranh,…</p>

                                        <p><strong>Trách nhiệm của khách hàng</strong></p>

                                        <p>Quý khách cam kết hoàn toàn chịu trách nhiệm về các thông tin cá nhân, thông
                                            tin thẻ tín dụng đã được khai báo là trung thực, chính xác. Nếu có sai sót,
                                            giả mạo hay tranh chấp phát sinh thì Lữ hành TravelTour có quyền hủy tour
                                            đã mua của quý khách.</p>

                                        <p>Quý khách có nhiệm vụ kiểm tra thông tin tài khoản để kịp thời để báo cho Lữ
                                            hành TravelTour nếu có những sự cố. Thời hạn trong vòng 30 ngày tính từ
                                            ngày thanh toán, Lữ hành TravelTour sẽ không nhận giải quyết bất cứ kiếu
                                            nại nào từ việc thanh toán.</p>

                                        <p>Quý khách không sử dụng các nội dung của trang web do Lữ hành TravelTour
                                            quản lý cho mục đích thương mại nếu như chưa có sự đồng ý.</p>

                                        <p>Quý khách cần tự áp dụng cài đặt các biện pháp phòng ngừa để bảo đảm rằng bất
                                            cứ lựa chọn nào của quý khách khi sử dụng các trang web của Lữ hành
                                            TravelTour không bị virus hoặc bất cứ mối đe dọa nào khác từ ngoài có thể
                                            can thiệp hoặc gây hư hại cho hệ thống máy tính của quý khách.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="button-footer">
                                <a class="btn btn-outline-green rounded-0 ps-4 p-2 px-4 ms-4"
                                   href="/tourism-location/tourism-location-detail/{{ locationDetailIdBase64 }}"
                                   role="button">
                                    <i class="fa-solid fa-arrow-left"></i>
                                    TRỞ VỀ
                                </a>
                                <button type="button"
                                        ng-click="acceptPassForm()"
                                        class="btn btn-outline-green rounded-0 ps-4 p-2 px-4 mx-4 float-end">
                                    TIẾP THEO
                                    <i class="fa-solid fa-arrow-right"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-4">
                <div class="sidebar-widget-area">
                    <!--=== Booking Widget ===-->
                    <div class="sidebar-widget bg-white booking-form-widget wow fadeInUp mb-40">
                        <h4 class="mb-4">Thông tin đơn của bạn</h4>
                        <div class="sidebar-booking-form">
                            <div class="booking-date-time mb-20">
                                <img src="{{ locationDetail.visitLocationImage }}"
                                     class="img-fluid rounded-2 mb-2"
                                     alt="avatar tour"
                                >
                                <span class="fs-6 fw-medium text-transform-uppercase">
                                    {{ locationDetail.visitLocationName  }}
                                </span>
                            </div>
                            <div class="booking-date-time mb-20">
                                <div class="booking-item">
                                    <label class="fw-normal">
                                        <i class="fa-solid fa-barcode"></i>
                                        Mã:
                                    </label>
                                    <div class="bk-item booking-date fw-medium">
                                        <span>{{ locationDetail.id }}</span>
                                    </div>
                                </div>
                                <div class="booking-item">
                                    <label class="fw-normal">
                                        <i class="fa-regular fa-calendar-minus"></i>
                                        Ngày:
                                    </label>
                                    <div class="bk-item booking-date fw-medium">
                                        <span>{{ tickets.departureDate | formatDate }}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="booking-guest-box mb-20">
                                <h6 class="mb-20">Vé</h6>
                                <div class="booking-item" ng-if="tickets.adultTickets > 0">
                                    <label>
                                        <i class="fa fa-user-secret"></i>
                                        Vé người lớn:
                                    </label>
                                    <div class="bk-item booking-user">
                                        <span class="fw-medium">
                                            {{ tickets.adultPrice | vnCurrency }} x {{ tickets.adultTickets }}
                                        </span>
                                    </div>
                                </div>
                                <div class="booking-item" ng-if="tickets.childrenTickets > 0">
                                    <label>
                                        <i class="fa fa-child"></i>
                                        Vé trẻ em:
                                    </label>
                                    <div class="bk-item booking-user">
                                       <span class="fw-medium">
                                            {{ tickets.childrenPrice | vnCurrency }} x {{ tickets.childrenTickets }}
                                        </span>
                                    </div>
                                </div>
                                <div class="booking-item">
                                    <label>
                                        <i class="fa-solid fa-user-check"></i>
                                        Tổng số lượng:
                                    </label>
                                    <div class="bk-item booking-user">
                                        <span class="fw-medium">
                                            {{ tickets.totalTickets }} vé
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="booking-total mb-20">
                                <div class="total fs-5">
                                    <label>Tổng tiền</label>
                                    <span class="price fw-medium text-green">
                                        {{ tickets.totalPrice | vnCurrency }}
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div><!--=== Booking Info Widget ===-->
                </div>
            </div>
        </div>
    </div>
</section><!--====== End Blog Details Section ======-->