<div ng-include="'app/component/utils/loading-html.html'"></div>

<div class="container mt-3 mb-5" style="width: 45%">
    <div class="header-control mb-4">
        <div class="">
            <div class="d-flex align-items-center row">
                <div class="col-lg-6">
                    <h3 class="color-green fw-bold text-uppercase">thay đổi mật khẩu</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="card card-custom">
        <form class="row g-3 form-input-custom" ng-submit="submit_changePassAdmin()" name="changepassForm"
              role="form">
            <div class="col-12">

            <div class="col-md-12">
                <label class="form-label mb-2">Mật khẩu hiện tại</label>
                <input type="password"
                       class="form-control"
                       id="currentPass"
                       name="currentPass"
                       autocomplete="new-password"
                       ng-model="currentPass"
                       ng-class="{ 'is-invalid': changepassForm.currentPass.$touched && !currentPassError,
                                   'is-valid': changepassForm.currentPass.$valid && changepassForm.currentPass.$touched && currentPassError}"
                       ng-minlength="6"
                       required
                       ng-change="checkPasswordMatch()"
                >
                <small class="text-danger"
                       ng-show="changepassForm.currentPass.$touched && changepassForm.currentPass.$error.required">
                    Vui lòng nhập mật khẩu hiện tại !
                </small>
                <small class="text-danger"
                       ng-show="changepassForm.currentPass.$error.minlength && changepassForm.currentPass.$dirty">
                    Mật khẩu cần ít nhất 6 ký tự.
                </small>
                <small class="text-danger" ng-show="changepassForm.currentPass.$touched && !currentPassError">
                    Mật khẩu hiện tại sai !
                </small>
            </div>

            <div class="col-md-12 mt-3">
                <label class="form-label mb-2">Mật khẩu mới</label>
                <input type="password"
                       class="form-control"
                       id="newPass"
                       name="newPass"
                       ng-class="{ 'is-invalid': changepassForm.newPass.$invalid && changepassForm.newPass.$touched || passwordMatchError,
                                   'is-valid': changepassForm.newPass.$valid && changepassForm.newPass.$touched && !passwordMatchError}"
                       ng-minlength="6"
                       ng-model="passUpdate.newPass"
                       required
                       ng-change="checkPasswordMatch()"
                >
                <small class="text-danger"
                       ng-show="changepassForm.newPass.$touched && changepassForm.newPass.$error.required">
                    Vui lòng nhập mật khẩu mới !
                </small>
                <small class="text-danger"
                       ng-show="changepassForm.newPass.$error.minlength && changepassForm.newPass.$dirty">
                    Mật khẩu cần ít nhất 6 ký tự.
                </small>
                <small class="text-danger"
                       ng-show="changepassForm.newPass.$touched && passwordMatchError">
                    Mật khẩu mới không được trùng với mật khẩu hiện tại!
                </small>
            </div>
            <div class="col-md-12 mt-3">
                <label class="form-label mb-2">Nhập lại mật khẩu mới</label>
                <input type="password"
                       class="form-control"
                       name="confirmPass"
                       ng-class="{ 'is-invalid': changepassForm.confirmPass.$invalid && changepassForm.confirmPass.$touched,
                                                            'is-valid': changepassForm.confirmPass.$valid && changepassForm.confirmPass.$touched }"
                       ng-pattern="passUpdate.newPass"
                       ng-minlength="6"
                       ng-model="passUpdate.confirmPass"
                       required
                >
                <small class="text-danger"
                       ng-show="changepassForm.confirmPass.$touched && changepassForm.confirmPass.$error.required">
                    Vui lòng xác thực mật khẩu !
                </small>
                <small class="text-danger"
                       ng-show="changepassForm.confirmPass.$touched && changepassForm.confirmPass.$error.pattern">
                    Xác nhận mật khẩu không khớp.
                </small>
                <small class="text-danger"
                       ng-show="changepassForm.confirmPass.$touched && changepassForm.confirmPass.$error.minlength">
                    Mật khẩu cần ít nhất 6 ký tự.
                </small>
            </div>

            <div class="col-12 d-flex justify-content-end mt-5">
                <button type="button" class="btn" style="margin-right: 20px"
                        ng-if="hasRole('ROLE_AGENT_TRANSPORT') || hasRole('ROLE_AGENT_HOTEL') || hasRole('ROLE_AGENT_PLACE')">
                    <a class="btn" href="/business/select-type">Trở về</a>
                </button>
                <button type="button" class="btn" style="margin-right: 20px"
                        ng-if="!hasRole('ROLE_AGENT_TRANSPORT') || !hasRole('ROLE_AGENT_HOTEL') || !hasRole('ROLE_AGENT_PLACE')">
                    <a class="btn" href="/admin/dashboard">Trở về</a>
                </button>
                <button type="submit" ng-disabled="changepassForm.$invalid || !currentPassError || passwordMatchError"
                        class="btn btn-green btn-change">Đổi mật khẩu</button>
            </div>
        </form>
    </div>
</div>


