<div ng-include="'app/component/utils/loading-html.html'"></div>

<div class="container" style="width: 70%">
    <div class="header-control mb-4">
        <div class="">
            <div class="d-flex align-items-center row">
                <div class="col-lg-6">
                    <h3 class="color-green fw-bold text-uppercase">thông tin cá nhân</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="card card-custom" style="padding:30px" ng-if="!isLoading">
        <form class="row g-3 form-input-custom" ng-submit="updateAdminInfoSubmit()" name="customerForm"
              role="form">
            <div class="col-4">
                <div class="form-floating" style="text-align: -webkit-center;">
                    <div class="hoverbox" style="width: 150px; height: 150px">
                        <div class="hoverbox-content bg-black rounded-circle d-flex flex-center z-index-1"
                             style="--phoenix-bg-opacity: .56;">
                            <span class="fa-solid fa-camera fs-7 text-300"></span>
                        </div>
                        <div class="position-relative bg-400 rounded-circle cursor-pointer d-flex flex-center mb-xxl-7">
                            <div class="avatar avatar-5xl">
                                <img class="rounded-circle"
                                     ng-src="{{ getCurrentAvatarSource() }}"
                                     alt=""/>
                            </div>
                            <label class="w-100 h-100 position-absolute z-index-1" for="upload-avatar"></label>
                        </div>
                    </div>
                    <input class="d-none" id="upload-avatar" type="file" name="avatar"
                           ng-model="customer.avatar"
                           ng-class="{ 'is-invalid': customerForm.avatar.$invalid,
                                                'is-valid': customerForm.avatar.$valid }"
                           ngf-select="uploadCustomerAvatar($file)" accept=".png, .jpg, .jpeg">
                    <small class="text-danger"
                           ng-show="customerForm.avatar.$error.required">Vui
                        lòng tải lên ảnh tour!</small>
                </div>
            </div>

            <div class="col-md-4">
                <div style="min-height: 85px">
                    <label class="form-label">ĐỊA CHỈ EMAIL</label>
                    <input type="text"
                           class="form-control"
                           placeholder="exam@gmail.com"
                           name="email"
                           ng-model="customer.email"
                           ng-class="{ 'is-invalid': customerForm.email.$invalid, 'is-valid': customerForm.email.$valid && !emailError }"
                           ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]+$/"
                           ng-change="checkDuplicateEmail()"
                           readonly disabled
                    >
                    <small class="text-danger"
                           ng-show="customerForm.email.$error.required">
                        Vui lòng nhập địa chỉ email !
                    </small>
                    <small class="text-danger"
                           ng-show="customerForm.email.$error.pattern">
                        Địa chỉ email không đúng định dạng !
                    </small>
                    <small class="text-danger" ng-show="emailError">
                        Email đã tồn tại ở một tài khoản khác!
                    </small>
                </div>
                <div style="min-height: 85px">
                    <label class="form-label">HỌ VÀ TÊN</label>
                    <input type="text"
                           class="form-control"
                           placeholder="Nguyễn Văn A"
                           name="fullName"
                           ng-model="customer.fullName"
                           ng-class="{ 'is-invalid': customerForm.fullName.$invalid, 'is-valid': customerForm.fullName.$valid }"
                           ng-pattern="/^[\p{L}'][\p{L}'\s-]{0,}$/u"
                           required
                    >
                    <small class="text-danger"
                           ng-show="customerForm.fullName.$error.required">
                        Vui lòng nhập họ và tên !
                    </small>
                    <small class="text-danger"
                           ng-show="customerForm.fullName.$error.pattern">
                        Họ và tên không đúng định dạng !
                    </small>
                </div>
            </div>
            <div class="col-md-4">
                <div style="min-height: 85px">
                    <label for="birth" class="form-label">Ngày sinh</label>
                    <input class="form-control" id="birth" type="date"
                           name="birth"
                           ng-model="customer.birth"
                           ng-class="{ 'is-invalid': isBirthInvalid(),
                                            'is-valid': isBirthValid() }"
                           ng-change="checkBirth()"
                           required/>
                    <small class="text-danger"
                           ng-show="customerForm.birth.$error.required">
                        Vui lòng nhập ngày sinh !
                    </small>
                    <small class="text-danger"
                           ng-show="isBirthInvalid()">
                        Yêu cầu trên 16 tuổi !
                    </small>
                </div>
                <div style="min-height: 85px">
                    <label class="form-label">SỐ ĐIỆN THOẠI</label>
                    <input type="text"
                           class="form-control"
                           placeholder="0969653264"
                           name="phone"
                           ng-model="customer.phone"
                           ng-class="{ 'is-invalid': customerForm.phone.$invalid,
                                                'is-valid': customerForm.phone.$valid && !phoneError }"
                           ng-pattern="/^(0[0-9]{9}|84[0-9]{9})$/"
                           ng-change="checkDuplicateThisPhone()"
                           required
                    >
                    <small class="text-danger"
                           ng-show="customerForm.phone.$error.required">
                        Vui lòng nhập số điện thoại !
                    </small>
                    <small class="text-danger"
                           ng-show="customerForm.phone.$error.pattern">
                        Số điện thoại không đúng định dạng !
                    </small>
                    <small class="text-danger" ng-show="phoneError">
                        Số điện thoại đã tồn tại ở một tài khoản khác !
                    </small>
                </div>
            </div>

            <div class="col-md-12 mt-0 mb-3">
                <label class="form-label">Địa chỉ</label>
                <input type="text"
                       class="form-control"
                       placeholder="1234 Main St"
                       name="address"
                       ng-model="customer.address"
                       ng-class="{ 'is-invalid': customerForm.address.$invalid, 'is-valid': customerForm.address.$valid}"
                       required
                >
                <small class="text-danger"
                       ng-show="customerForm.address.$touched && customerForm.address.$error.required">
                    Vui lòng nhập địa chỉ !
                </small>
            </div>
            <div class="col-md-6">
                <label class="form-label">CMND / CCCD</label>
                <input type="text"
                       class="form-control"
                       placeholder="089388928928"
                       name="citizenCard"
                       ng-model="customer.citizenCard"
                       ng-class="{ 'is-invalid': customerForm.citizenCard.$invalid,
                                            'is-valid': customerForm.citizenCard.$valid && !cardError }"
                       ng-pattern="/^[0-9]{9,12}$/"
                       ng-change="checkDuplicateCard()"
                       required
                >
                <small class="text-danger"
                       ng-show="customerForm.citizenCard.$error.required">
                    Vui lòng nhập CMND / CCCD !
                </small>
                <small class="text-danger"
                       ng-show="customerForm.citizenCard.$error.pattern">
                    CMND / CCCD không đúng định dạng !
                </small>
                <small class="text-danger" ng-show="cardError">
                    CMND / CCCD đã tồn tại ở một tài khoản khác !
                </small>
            </div>
            <div class="col-md-6">
                <label class="form-label">TRẠNG THÁI HOẠT ĐỘNG</label>
                <select class="form-select"
                        name="isActive"
                        ng-class="{ 'is-invalid': customerForm.isActive.$invalid, 'is-valid': customerForm.isActive.$valid}"
                        ng-model="customer.isActive"
                        required
                        ng-disabled="true"
                >
                    <option value="" disabled selected>Chọn trạng thái</option>
                    <option ng-selected="customer.isActive" value="true">Hoạt động</option>
                    <option ng-selected="customer.isActive === false" value="false">Ngưng hoạt động</option>
                </select>
                <small class="text-danger"
                       ng-show="customerForm.isActive.$error.required">
                    Vui lòng chọn trạng thái !
                </small>
            </div>

            <div class="col-12 d-flex justify-content-end mt-5">
                <button type="button" class="btn" style="margin-right: 20px"
                        ng-if="hasRole('ROLE_AGENT_TRANSPORT') || hasRole('ROLE_AGENT_HOTEL') || hasRole('ROLE_AGENT_PLACE')">
                    <a class="btn" href="/business/select-type">Trở về</a>
                </button>
                <button type="button" class="btn" style="margin-right: 20px"
                        ng-if="hasRole('ROLE_ADMIN') || hasRole('ROLE_SUPERADMIN') || hasRole('ROLE_STAFF') || hasRole('ROLE_GUIDE')">
                    <a class="btn" href="/admin/dashboard">Trở về</a>
                </button>
                <button type="submit" ng-disabled="customerForm.$invalid || emailError || phoneError || cardError"
                        class="btn btn-submit fw-bold">
                    Cập nhật
                </button>
            </div>
        </form>
    </div>
</div>


