<section>
    <div class="container">
        <div class="container-fluid">
            <div class="header-control mb-4">
                <div class="">
                    <div class="d-flex align-items-center row">
                        <div class="col-lg-6">
                            <h1 class="color-green fw-medium">Thêm booking</h1>
                        </div>
                    </div>
                    <div class="mt-3">Tên khách sạn: <span>Khách sạn Traveltour</span></div>
                </div>
            </div>

            <div class="card card-custom" >
                <form class="row g-3 form-input-custom">
                    <div class="row mb-3 mt-3 ">
                        <div class="col-12">
                            <label for="inputNameBusiness" class="form-label">Tên doanh nghiệp</label>
                            <input type="text" class="form-control" id="inputNameBusiness"
                                   placeholder="Tập đoàn traveltour">
                        </div>
                        <div class="col-12">
                            <label for="inputNameBusiness" class="form-label">Tên người đại diện</label>
                            <input type="text" class="form-control" id="inputNameBusiness"
                                   placeholder="Nguyễn An">
                        </div>
                        <div class="col-md-6">
                            <label for="inputEmail4" class="form-label">Mã số thuế</label>
                            <input type="text" class="form-control" id="inputEmail4" placeholder="1234971274">
                        </div>
                        <div class="col-md-6">
                            <label for="inputPassword4" class="form-label">Số điện thoại</label>
                            <input type="text" class="form-control" id="inputPassword4" placeholder="0969653264">
                        </div>
                        <div class="col-12">
                            <label for="inputNameBusiness" class="form-label">Website</label>
                            <input type="text" class="form-control" id="inputNameBusiness"
                                   placeholder="www://traveltour.vn">
                        </div>
                        <div class="col-md-4">
                            <label for="inputState" class="form-label">Thành phố</label>
                            <select id="inputState" class="form-select">
                                <option selected>Choose...</option>
                                <option>...</option>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <label for="inputState" class="form-label">Quận/Huyện</label>
                            <select id="inputState" class="form-select">
                                <option selected>Choose...</option>
                                <option>...</option>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <label for="inputState" class="form-label">Phường/Xã</label>
                            <select id="inputState" class="form-select">
                                <option selected>Choose...</option>
                                <option>...</option>
                            </select>
                        </div>
                        <div class="col-12">
                            <label for="inputAddress" class="form-label">Địa chỉ</label>
                            <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
                        </div>
                        <div class="col-12">
                            <div class="mb-3">
                                <label for="formFile" class="form-label">Chứng minh giấy tờ</label>
                                <input class="form-control" type="file" id="formFile">
                            </div>
                        </div>
                    <div class="col-12 d-flex justify-content-end mt-5">
                        <button class="btn" style="margin-right: 20px"><a class="btn" href="/admin/amenities/hotel-amenities-list">Trở về</a></button>
                        <button type="submit" class="btn btn-submit">Cập nhật booking</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>