<div ng-include="'app/component/utils/loading-html.html'"></div>

<section id="information-section">
    <div class="container mt-5 mb-5">
        <div class="">
            <div class="h2 mb-3">Thông tin tài khoản</div>
            <div class="row ">
                <!-- Sidebar -->
                <nav id="sidebar" class="col-md-3 col-lg-3 d-md-block sidebar">
                    <div ng-include="'app/component/customers/views/components/information/sidebar.html'"></div>
                </nav>

                <!-- Main content -->
                <main class="col-md-9 ms-sm-auto col-lg-9 px-md-4">
                    <div class="info-content">
                        <div class="h6">Hồ sơ</div>
                        <div class="profile bg-light">
                            <div class=" d-flex align-items-center justify-content-between">
                                <div class="box-profile d-flex align-items-center">
                                    <img id="" ng-src="{{ customer.avatar || 'https://i.imgur.com/xm5Ufr5.jpg'}}"
                                         class="rounded-circle" style="width: 80px; height: 80px; object-fit: cover;"
                                         alt="example placeholder"/>
                                    <div class="profile-info">
                                        <div class="name h4"> {{ customer.fullName }}</div>
                                        <div class="d-flex align-items-center">
                                        <span class="label">Giới tính:
                                            <span class="fw-medium" ng-if="(customer.gender) == null">
                                               (Chưa Cập Nhật)
                                            </span>
                                             <span class="fw-medium" ng-if="(customer.gender) == 1">
                                               Nữ
                                            </span>
                                             <span class="fw-medium" ng-if="(customer.gender) == 2">
                                              Nam
                                            </span>
                                            <span class="fw-medium" ng-if="(customer.gender) == 3">
                                              Khác
                                            </span>
                                        </span>
                                            <span class="line"></span>
                                            <span class="label">Ngày sinh: <span
                                                    class="fw-medium"> {{ customer.birth | vietnameseDate }}</span></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="info-content mt-5">
                        <div class="h6">Đổi mật khẩu</div>
                        <div class="profile bg-light change-password-form">
                            <form class="mt-3" id="form-changepass" ng-submit="submit_changePass()"
                                  name="changepassForm">
                                <div class="row mb-3">
                                    <label for="inputAccount" class="col-sm-3 col-form-label">Tài khoản</label>
                                    <div class="col-sm-9">
                                        <input type="email" ng-model="customer.email" disabled class="form-control"
                                               id="inputAccount">
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label for="currentPass" class="col-sm-3 col-form-label">Mật khẩu cũ</label>
                                    <div class="col-sm-9">
                                        <input type="password"
                                               class="form-control"
                                               id="currentPass"
                                               name="currentPass"
                                               autocomplete="new-password"
                                               ng-model="currentPass"
                                               ng-class="{ 'is-invalid': changepassForm.currentPass.$touched && !currentPassError,
                                                           'is-valid': changepassForm.currentPass.$valid && changepassForm.currentPass.$touched && currentPassError}"
                                               ng-minlength="6"
                                               required
                                               ng-change="checkPasswordMatch()"
                                        >
                                        <small class="text-danger"
                                               ng-show="changepassForm.currentPass.$touched && changepassForm.currentPass.$error.required">
                                            Vui lòng nhập mật khẩu hiện tại !
                                        </small>
                                        <small class="text-danger"
                                               ng-show="changepassForm.currentPass.$error.minlength && changepassForm.currentPass.$dirty">
                                            Mật khẩu cần ít nhất 6 ký tự.
                                        </small>
                                        <small class="text-danger"
                                               ng-show="changepassForm.currentPass.$touched && !currentPassError">
                                            Mật khẩu hiện tại chưa chính xác !
                                        </small>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label for="newPass" class="col-sm-3 col-form-label">Mật khẩu mới</label>
                                    <div class="col-sm-9">
                                        <input type="password"
                                               class="form-control"
                                               id="newPass"
                                               name="newPass"
                                               ng-class="{ 'is-invalid': changepassForm.newPass.$invalid && changepassForm.newPass.$touched || passwordMatchError,
                                                            'is-valid': changepassForm.newPass.$valid && changepassForm.newPass.$touched && !passwordMatchError}"
                                               ng-minlength="6"
                                               ng-model="passUpdate.newPass"
                                               required
                                               ng-change="checkPasswordMatch()"
                                        >
                                        <small class="text-danger"
                                               ng-show="changepassForm.newPass.$touched && changepassForm.newPass.$error.required">
                                            Vui lòng nhập mật khẩu mới !
                                        </small>
                                        <small class="text-danger"
                                               ng-show="changepassForm.newPass.$error.minlength && changepassForm.newPass.$dirty">
                                            Mật khẩu cần ít nhất 6 ký tự.
                                        </small>
                                        <small class="text-danger"
                                               ng-show="changepassForm.newPass.$touched && passwordMatchError">
                                            Mật khẩu mới không được trùng với mật khẩu hiện tại !
                                        </small>
                                    </div>
                                </div>
                                <div class="row mb-4">
                                    <label for="newPass" class="col-sm-3 col-form-label">Nhập lại mật khẩu
                                        mới</label>
                                    <div class="col-sm-9">
                                        <input type="password" class="form-control"
                                               id="confirmPass"
                                               name="confirmPass"
                                               ng-class="{ 'is-invalid': changepassForm.confirmPass.$invalid && changepassForm.confirmPass.$touched,
                                                            'is-valid': changepassForm.confirmPass.$valid && changepassForm.confirmPass.$touched }"
                                               ng-pattern="passUpdate.newPass"
                                               ng-minlength="6"
                                               ng-model="passUpdate.confirmPass"
                                               required>
                                        <small class="text-danger"
                                               ng-show="changepassForm.confirmPass.$touched && changepassForm.confirmPass.$error.required">
                                            Vui lòng xác thực mật khẩu !
                                        </small>
                                        <small class="text-danger"
                                               ng-show="changepassForm.confirmPass.$touched && changepassForm.confirmPass.$error.pattern">
                                            Xác nhận mật khẩu không khớp.
                                        </small>
                                        <small class="text-danger"
                                               ng-show="changepassForm.confirmPass.$touched && changepassForm.confirmPass.$error.minlength">
                                            Mật khẩu cần ít nhất 6 ký tự.
                                        </small>
                                    </div>
                                </div>
                                <div class="mb-3 d-flex justify-content-end">
                                    <button type="submit"
                                            ng-disabled="changepassForm.$invalid || !currentPassError || passwordMatchError"
                                            class="btn btn-green btn-change">Đổi mật khẩu
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </main>
            </div>
        </div>
    </div>
</section>