<section id="information-section">
    <div class="container mt-5 mb-5">
        <div class="">
            <div class="h2 mb-3">Thông tin tài khoản</div>
            <div class="row ">
                <!-- Sidebar -->
                <nav id="sidebar" class="col-md-3 col-lg-3 d-md-block sidebar">
                    <div class="position-sticky">
                        <ul class="nav flex-column" style="font-size: 16px">
                            <!-- Thông tin cá nhân -->
                            <li class="nav-item ">
                                <a class="nav-link text-dark" href="/information">
                                    Thông tin tài khoản
                                </a>
                            </li>
                            <!-- Lịch trình -->
                            <li class="nav-item active bg-light fw-medium">
                                <a class="nav-link text-dark" href="/information/change-password">
                                    Đổi mật khẩu
                                </a>
                            </li>
                            <!-- Lịch trình -->
                            <li class="nav-item">
                                <a class="nav-link text-dark" href="#">
                                    Lịch sử đi tour
                                </a>
                            </li>
                            <!-- Lịch trình -->
                            <li class="nav-item">
                                <a class="nav-link text-dark" href="#">
                                    Lịch trình
                                </a>
                            </li>
                            <!-- Đăng xuất -->
                            <li class="nav-item">
                                <a class="nav-link text-dark" href="#" ng-click="logoutAuth()">
                                    Đăng xuất
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>

                <!-- Main content -->
                <main class="col-md-9 ms-sm-auto col-lg-9 px-md-4">
                    <div class="info-content">
                        <div class="h6">Đổi mật khẩu</div>
                        <div class="profile bg-light change-password-form">
                            <form class="mt-3">
                                <div class="row mb-3">
                                    <label for="inputAccount" class="col-sm-3 col-form-label">Tài khoản</label>
                                    <div class="col-sm-9">
                                        <input type="email" value="Anntpc04830@fpt.edu.vn" disabled class="form-control"
                                               id="inputAccount">
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-sm-10 offset-sm-2">
                                        <a href="" class="btn color-greend float-end">Quên mật khẩu</a>
                                    </div>
                                    <label for="inputOldPassword" class="col-sm-3 col-form-label">Mật khẩu cũ</label>
                                    <div class="col-sm-9">
                                        <input type="password" class="form-control" id="inputOldPassword">
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label for="inputNewPassword" class="col-sm-3 col-form-label">Mật khẩu mới</label>
                                    <div class="col-sm-9">
                                        <input type="password" class="form-control" id="inputNewPassword">
                                    </div>
                                </div>
                                <div class="row mb-4">
                                    <label for="RepaceNewPassword" class="col-sm-3 col-form-label">Nhập lại mật khẩu
                                        mới</label>
                                    <div class="col-sm-9">
                                        <input type="password" class="form-control" id="RepaceNewPassword">
                                    </div>
                                </div>
                                <div class="mb-3 d-flex justify-content-end">
                                    <button type="submit" class="btn btn-greend btn-change">Đổi mật khẩu</button>
                                </div>

                            </form>
                        </div>
                    </div>
                </main>
            </div>
        </div>
    </div>
</section>