<main class="main" id="top">
    <div class="px-3">
        <div class="row min-vh-100 flex-center p-5">
            <div class="col-12 col-xl-10 col-xxl-8">
                <div class="row justify-content-center g-5">
                    <div class="col-12 col-lg-6 text-center order-lg-1">
                        <img class="img-fluid w-lg-100 d-light-none"
                             src="/assets/admin/assets/img/error/register-success.png" alt="" width="400"/>
                        <img class="img-fluid w-md-50 w-lg-100 d-dark-none"
                             src="/assets/admin/assets/img/error/register-success.png" alt="" width="540"/>
                    </div>
                    <div class="col-12 col-lg-6 text-center text-lg-start">
                        <h1 class="text-800 fw-bolder mb-3 mb-5">
                            <span style="color: #63AB45">
                            Chúc mừng bạn đã đăng ký thành công!
                            </span>
                        </h1>
                        <p class="text-900 mb-5">Chúng tôi xin thông báo rằng thông tin đăng ký của bạn đã được nhận và
                            đang chờ xác nhận từ phía quản trị viên của chúng tôi. Quá trình duyệt thông tin có thể mất
                            khoảng 3-5 ngày làm việc.</p>
                        <p class="text-900 mb-5">Trong thời gian chờ đợi này, chúng tôi đánh giá cao sự kiên nhẫn của
                            bạn và xin chân thành cảm ơn sự quan tâm đặc biệt của bạn đối với dịch vụ của chúng tôi.</p>
                        <p class="text-900 mb-5">Trong trường hợp cần thêm thông tin hoặc có bất kỳ thay đổi nào, chúng
                            tôi sẽ liên hệ trực tiếp với bạn qua thông tin liên lạc bạn đã cung cấp.</p>
                        <p class="text-900 mb-5">Chân thành cảm ơn và chúng tôi mong chờ sớm gặp lại bạn trên nền tảng
                            của chúng tôi.</p>
                        <a class="btn btn-lg btn-primary" style="background: #63AB45" href="/home">
                            Quay về trang chủ
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>