<form ng-submit="submitDataRegisterVisits()" name="register_visits" method="post">
    <section id="business-information" ng-show="!showNextForm">
        <div class="container-fluid">
            <div class="logo text-center">
                <div class="d-flex align-items-center justify-content-center">
                    <img src="/assets/admin/assets/img/icons/logo.png" alt="logo" width="40"/>
                    <p class="logo-text text-dark ms-1 d-none d-sm-block fw-bolder">TravelTour</p>
                </div>
                <div class="content-text mt-3">
                    <div class="h4">Đăng kí thông tin đối tác TravelTour</div>
                </div>
                <div class="progress-register">
                    <!-- Tiến dộ -->
                    <div class="progress-container">
                        <div class="container">
                            <div class="d-flex justify-content-center">
                                <div class="item">
                                    <div class="item-1">
                                        <div class="vector-wrapper">
                                            <div class="vector-wrapper">
                                                <span class="num">1</span>
                                            </div>
                                        </div>
                                        <div class="text-wrapper">Tạo doanh nghiệp</div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="item-1">
                                        <div class="vector-wrapper">
                                            <span class="num">2</span>
                                        </div>
                                        <div class="text-wrapper">Thông tin địa điểm</div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="item-1">
                                        <div class="vector-wrapper">
                                            <span class="num">3</span>
                                        </div>
                                        <div class="text-wrapper">Thông tin vé</div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="item-1">
                                        <div class="vector-wrapper">
                                            <span class="num">4</span>
                                        </div>
                                        <div class="text-wrapper">Xác nhận thông tin</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main d-flex justify-content-center theme-wizard">
                <div class="form card">
                    <div class="row g-3">
                        <div class="h3 color-greend fw-medium">TẠO DOANH NGHIỆP</div>
                        <div class="col-12">
                            <label for="inputNameBusiness" class="form-label">Tên doanh nghiệp</label>
                            <input type="text"
                                   class="form-control"
                                   id="inputNameBusiness"
                                   placeholder="Công ty du lịch TravelTour"
                                   name="name"
                                   ng-model="agent.name"
                                   ng-class="{ 'is-invalid': register_visits.name.$invalid && register_visits.name.$touched, 'is-valid': register_visits.name.$valid && register_visits.name.$touched }"
                                   ng-pattern="/^[\p{L}'][\p{L}'\s-]{0,}$/u"
                                   required
                            >
                            <small class="text-danger"
                                   ng-show="register_visits.name.$touched && register_visits.name.$error.required">
                                Vui lòng nhập tên doanh nghiệp !
                            </small>
                            <small class="text-danger"
                                   ng-show="register_visits.name.$touched && register_visits.name.$error.pattern">
                                Tên doanh nghiệp không đúng định dạng !
                            </small>
                        </div>

                        <div class="col-12">
                            <label for="inputFullname" class="form-label">Tên người đại diện</label>
                            <input type="text"
                                   class="form-control"
                                   id="inputFullname"
                                   placeholder="Nguyễn Văn A"
                                   name="fname"
                                   ng-model="agent.fname"
                                   ng-class="{ 'is-invalid': register_visits.fname.$invalid && register_visits.fname.$touched, 'is-valid': register_visits.fname.$valid && register_visits.fname.$touched }"
                                   ng-pattern="/^[\p{L}'][\p{L}'\s-]{0,}$/u"
                                   required
                            >
                            <small class="text-danger"
                                   ng-show="register_visits.fname.$touched && register_visits.fname.$error.required">
                                Vui lòng nhập tên người đại diện !
                            </small>
                            <small class="text-danger"
                                   ng-show="register_visits.fname.$touched && register_visits.fname.$error.pattern">
                                Tên người đại diện không đúng định dạng !
                            </small>
                        </div>

                        <div class="col-md-6">
                            <label for="inputEmail4" class="form-label">Mã số thuế</label>
                            <input type="text"
                                   class="form-control"
                                   id="inputEmail4"
                                   placeholder="1423142144"
                                   name="mst"
                                   ng-model="agent.mst"
                                   ng-class="{ 'is-invalid': register_visits.mst.$invalid && register_visits.mst.$touched, 'is-valid': register_visits.mst.$valid && register_visits.mst.$touched }"
                                   ng-pattern="/^\d{10,13}$/"
                                   required
                            >
                            <small class="text-danger"
                                   ng-show="register_visits.mst.$touched && register_visits.mst.$error.required">
                                Vui lòng nhập mã số thuế !
                            </small>
                            <small class="text-danger"
                                   ng-show="register_visits.mst.$touched && register_visits.mst.$error.pattern">
                                Mã số thuế không đúng định dạng !
                            </small>
                        </div>

                        <div class="col-md-6">
                            <label for="inputPassword4" class="form-label"> Số điện thoại</label>
                            <input type="text"
                                   class="form-control"
                                   id="inputPassword4"
                                   placeholder="0969653264"
                                   name="phone"
                                   ng-model="agent.phone"
                                   ng-class="{ 'is-invalid': register_visits.phone.$invalid && register_visits.phone.$touched, 'is-valid': register_visits.phone.$valid && register_visits.phone.$touched }"
                                   ng-pattern="/^(0[0-9]{9}|84[0-9]{9})$/"
                                   required
                            >
                            <small class="text-danger"
                                   ng-show="register_visits.phone.$touched && register_visits.phone.$error.required">
                                Vui lòng nhập số điện thoại !
                            </small>
                            <small class="text-danger"
                                   ng-show="register_visits.phone.$touched && register_visits.phone.$error.pattern">
                                Số điện thoại không đúng định dạng !
                            </small>
                        </div>

                        <div class="col-md-4">
                            <label class="form-label">Tỉnh/Thành phố</label>
                            <select class="form-select"
                                    name="province"
                                    ng-class="{ 'is-invalid': register_visits.province.$invalid && register_visits.province.$touched, 'is-valid': register_visits.province.$valid && register_visits.province.$touched }"
                                    ng-options="city.Id as city.Name for city in provinces"
                                    ng-change="onProvinceChange()"
                                    ng-model="agent.province"
                                    required
                            >
                                <option value="" disabled selected>Chọn Tỉnh/Thành phố</option>
                            </select>
                            <small class="text-danger"
                                   ng-show="register_visits.province.$touched && register_visits.province.$error.required">
                                Vui lòng chọn tỉnh/thành phố.
                            </small>
                        </div>

                        <div class="col-md-4">
                            <label class="form-label">Quận/Huyện</label>
                            <select class="form-select"
                                    name="districts"
                                    ng-class="{ 'is-invalid': register_visits.districts.$invalid && register_visits.districts.$touched, 'is-valid': register_visits.districts.$valid && register_visits.districts.$touched }"
                                    ng-options="district.Id as district.Name for district in districts"
                                    ng-disabled="!agent.province"
                                    ng-change="onDistrictChange()"
                                    ng-model="agent.districts"
                                    required
                            >
                                <option value="" disabled selected>Chọn Quận/Huyện</option>
                            </select>
                            <small class="text-danger"
                                   ng-show="register_visits.districts.$touched && register_visits.districts.$error.required">
                                Vui lòng chọn quận/huyện.
                            </small>
                        </div>

                        <div class="col-md-4">
                            <label class="form-label">Phường/Xã</label>
                            <select class="form-select"
                                    name="ward"
                                    ng-class="{ 'is-invalid': register_visits.ward.$invalid && register_visits.ward.$touched, 'is-valid': register_visits.ward.$valid && register_visits.ward.$touched }"
                                    ng-options="ward.Id as ward.Name for ward in wards"
                                    ng-disabled="!agent.districts"
                                    ng-change="onWardChange()"
                                    ng-model="agent.ward"
                                    required
                            >
                                <option value="" disabled selected>Chọn Phường/Xã</option>
                            </select>
                            <small class="text-danger"
                                   ng-show="register_visits.ward.$touched && register_visits.ward.$error.required">
                                Vui lòng chọn phường/xã.
                            </small>
                        </div>

                        <div class="col-12">
                            <label class="form-label">Địa chỉ</label>
                            <input type="text"
                                   class="form-control"
                                   placeholder="1234 Main St"
                                   name="address"
                                   ng-model="agent.address"
                                   ng-class="{ 'is-invalid': register_visits.address.$invalid && register_visits.address.$touched, 'is-valid': register_visits.address.$valid && register_visits.address.$touched }"
                                   required
                            >
                            <small class="text-danger"
                                   ng-show="register_visits.address.$touched && register_visits.address.$error.required">
                                Vui lòng nhập địa chỉ doanh nghiệp !
                            </small>
                        </div>

                        <div class="col-12">
                            <label class="form-label">Giấy phép đăng ký kinh doanh</label>
                            <input class="form-control"
                                   type="file"
                                   name="business_license"
                                   ng-model="agent.business_license"
                                   ngf-max-size="10MB"
                                   ng-class="{ 'is-invalid': register_visits.business_license.$invalid && register_visits.business_license.$touched, 'is-valid': register_visits.business_license.$valid && register_visits.business_license.$touched }"
                                   ngf-select="uploadBusinessLicense($file)"
                                   required
                            >
                            <small class="text-danger"
                                   ng-show="register_visits.business_license.$touched && register_visits.business_license.$error.required">
                                Vui lòng tải lên giấy phép đăng ký kinh doanh !
                            </small>
                        </div>

                        <div class="d-flex justify-content-end mt-5">
                            <button type="button" class="btn btn-submit-form" ng-click="goToNextSection()">
                                Tiếp tục
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="business-information" ng-show="showNextForm && !showThirdForm">
        <div class="container-fluid">
            <div class="logo text-center">
                <div class="d-flex align-items-center justify-content-center">
                    <img src="/assets/admin/assets/img/icons/logo.png" alt="logo" width="40"/>
                    <p class="logo-text text-dark ms-1 d-none d-sm-block fw-bolder">TravelTour</p>
                </div>
                <div class="content-text mt-3">
                    <div class="h4">Đăng kí thông tin đối tác TravelTour</div>
                </div>
                <div class="progress-register">
                    <!-- Tiến dộ -->
                    <div class="progress-container">
                        <div class="container">
                            <div class="d-flex justify-content-center">
                                <div class="item">
                                    <div class="item-1">
                                        <div class="vector-wrapper">
                                            <svg class="vector" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"
                                                 id="tick">
                                                <path d="M223.9 329.7c-2.4 2.4-5.8 4.4-8.8 4.4s-6.4-2.1-8.9-4.5l-56-56 17.8-17.8 47.2 47.2L340 177.3l17.5 18.1-133.6 134.3z"></path>
                                            </svg>
                                        </div>
                                        <div class="text-wrapper">Tạo doanh nghiệp</div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="item-1">
                                        <div class="vector-wrapper">
                                            <span class="num">2</span>
                                        </div>
                                        <div class="text-wrapper">Thông tin địa điểm</div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="item-1">
                                        <div class="vector-wrapper">
                                            <span class="num">3</span>
                                        </div>
                                        <div class="text-wrapper">Thông tin vé</div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="item-1">
                                        <div class="vector-wrapper">
                                            <span class="num">4</span>
                                        </div>
                                        <div class="text-wrapper">Xác nhận thông tin</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main d-flex justify-content-center theme-wizard">
                <div class="form card">
                    <div class="row g-3">
                        <div class="h3 color-greend fw-medium">THÔNG TIN ĐỊA ĐIỂM</div>
                        <div class="col-12">
                            <label class="form-label">Tên địa điểm</label>
                            <input type="text"
                                   class="form-control"
                                   placeholder="Làng du lịch Ông Đề"
                                   name="name_agent"
                                   ng-class="{ 'is-invalid': register_visits.name_agent.$invalid && register_visits.name_agent.$touched, 'is-valid': register_visits.name_agent.$valid && register_visits.name_agent.$touched }"
                                   ng-model="agent.name_agent"
                                   ng-pattern="/^[\p{L}'][\p{L}'\s-]{0,}$/u"
                                   required
                            >
                            <small class="text-danger"
                                   ng-show="register_visits.name_agent.$touched && register_visits.name_agent.$error.required">
                                Vui lòng nhập tên địa điểm!
                            </small>
                            <small class="text-danger"
                                   ng-show="register_visits.name_agent.$touched && register_visits.name_agent.$error.pattern">
                                Tên địa điểm không đúng định dạng !
                            </small>
                        </div>

                        <div class="col-md-6">
                            <label for="locationType" class="form-label">Loại địa điểm</label>
                            <select id="locationType" class="form-select"
                                    name="locationType"
                                    ng-model="agent.locationType"
                                    ng-class="{ 'is-invalid': register_visits.locationType.$invalid && register_visits.locationType.$touched, 'is-valid': register_visits.locationType.$valid && register_visits.locationType.$touched }"
                                    required>
                                <option value="0" selected="selected">Di tích lịch sử</option>
                                <option value="1">Khu du lịch sính thái</option>
                            </select>
                            <small class="text-danger"
                                   ng-show="register_visits.locationType.$touched && register_visits.locationType.$error.required">
                                Vui lòng chọn trạng thái !
                            </small>
                        </div>

                        <div class="col-md-6">
                            <label for="website" class="form-label">Địa chỉ website</label>
                            <input class="form-control" id="website"
                                   type="text" placeholder="abc.vn"
                                   name="website"
                                   ng-pattern="/^[a-zA-Z0-9-]+\.[a-zA-Z]{2,}(\.[a-zA-Z]{2,})?$/"
                                   ng-model="agent.website"
                                   ng-class="{ 'is-invalid': register_visits.website.$invalid && register_visits.website.$touched, 'is-valid': register_visits.website.$valid && register_visits.website.$touched }"
                                   required/>
                            <small class="text-danger"
                                   ng-show="register_visits.website.$touched && register_visits.website.$error.required">
                                Vui lòng nhập địa chỉ website !
                            </small>
                            <small class="text-danger"
                                   ng-show="register_visits.website.$touched && register_visits.website.$error.pattern">
                                Website có dạng như example.abc, example.ab.cd !
                            </small>
                        </div>

                        <div class="col-md-4">
                            <label class="form-label">Tỉnh/Thành phố</label>
                            <select class="form-select"
                                    name="province"
                                    ng-class="{ 'is-invalid': register_visits.province.$invalid && register_visits.province.$touched, 'is-valid': register_visits.province.$valid && register_visits.province.$touched }"
                                    ng-options="city.Id as city.Name for city in provinces"
                                    ng-change="onProvinceChange()"
                                    ng-model="agent.province"
                                    required
                            >
                                <option value="" disabled selected>Chọn Tỉnh/Thành phố</option>
                            </select>
                            <small class="text-danger"
                                   ng-show="register_visits.province.$touched && register_visits.province.$error.required">
                                Vui lòng chọn tỉnh/thành phố.
                            </small>
                        </div>

                        <div class="col-md-4">
                            <label class="form-label">Quận/Huyện</label>
                            <select class="form-select"
                                    name="districts"
                                    ng-class="{ 'is-invalid': register_visits.districts.$invalid && register_visits.districts.$touched, 'is-valid': register_visits.districts.$valid && register_visits.districts.$touched }"
                                    ng-options="district.Id as district.Name for district in districts"
                                    ng-disabled="!agent.province"
                                    ng-change="onDistrictChange()"
                                    ng-model="agent.districts"
                                    required
                            >
                                <option value="" disabled selected>Chọn Quận/Huyện</option>
                            </select>
                            <small class="text-danger"
                                   ng-show="register_visits.districts.$touched && register_visits.districts.$error.required">
                                Vui lòng chọn quận/huyện.
                            </small>
                        </div>

                        <div class="col-md-4">
                            <label class="form-label">Phường/Xã</label>
                            <select class="form-select"
                                    name="ward"
                                    ng-class="{ 'is-invalid': register_visits.ward.$invalid && register_visits.ward.$touched, 'is-valid': register_visits.ward.$valid && register_visits.ward.$touched }"
                                    ng-options="ward.Id as ward.Name for ward in wards"
                                    ng-disabled="!agent.districts"
                                    ng-change="onWardChange()"
                                    ng-model="agent.ward"
                                    required
                            >
                                <option value="" disabled selected>Chọn Phường/Xã</option>
                            </select>
                            <small class="text-danger"
                                   ng-show="register_visits.ward.$touched && register_visits.ward.$error.required">
                                Vui lòng chọn phường/xã.
                            </small>
                        </div>

                        <div class="col-12">
                            <label class="form-label">Địa chỉ</label>
                            <input type="text"
                                   class="form-control"
                                   placeholder="1234 Main St"
                                   name="address"
                                   ng-model="agent.address"
                                   ng-class="{ 'is-invalid': register_visits.address.$invalid && register_visits.address.$touched, 'is-valid': register_visits.address.$valid && register_visits.address.$touched }"
                                   required
                            >
                            <small class="text-danger"
                                   ng-show="register_visits.address.$touched && register_visits.address.$error.required">
                                Vui lòng nhập địa chỉ !
                            </small>
                        </div>

                        <div class="col-md-6">
                            <label for="time_open" class="form-label">Thời gian mở cửa</label>
                            <input type="time"
                                   class="form-control"
                                   id="time_open"
                                   name="timeOpen"
                                   ng-model="agent.timeOpen"
                                   ng-class="{ 'is-invalid': register_visits.timeOpen.$invalid && register_visits.timeOpen.$touched, 'is-valid': register_visits.timeOpen.$valid && register_visits.time_open.$touched }"
                                   required>
                            <small class="text-danger"
                                   ng-show="register_visits.timeOpen.$touched && register_visits.timeOpen.$error.required">
                                Vui lòng nhập thời gian!
                            </small>
                        </div>

                        <div class="col-md-6">
                            <label for="time_close" class="form-label">Thời gian đóng cửa</label>
                            <input type="time"
                                   class="form-control"
                                   id="time_close"
                                   name="timeClose"
                                   ng-model="agent.timeClose"
                                   ng-class="{ 'is-invalid': register_visits.timeClose.$invalid && register_visits.timeClose.$touched, 'is-valid': register_visits.timeClose.$valid && register_visits.time_open.$touched }"
                                   required>
                            <small class="text-danger"
                                   ng-show="register_visits.timeClose.$touched && register_visits.timeClose.$error.required">
                                Vui lòng nhập thời gian!
                            </small>
                        </div>

                        <div class="col-12">
                            <label class="form-label">Hình ảnh chứng minh</label>
                            <input class="form-control"
                                   type="file"
                                   name="business_images"
                                   ng-model="agent.business_images"
                                   ngf-max-size="10MB"
                                   ng-class="{ 'is-invalid': register_visits.business_images.$invalid && register_visits.business_images.$touched, 'is-valid': register_visits.business_images.$valid && register_visits.business_images.$touched }"
                                   ngf-select="uploadBusinessImage($file)"
                                   required
                            >
                            <small class="text-danger"
                                   ng-show="register_visits.business_images.$touched && register_visits.business_images.$error.required">
                                Vui lòng tải lên hình ảnh của doanh nghiệp !
                            </small>
                        </div>

                        <div class="d-flex justify-content-end mt-5">
                            <a role="button" class="btn btn-submit-form mx-3" ng-click="goPreviousSectionOne()">
                                Quay về
                            </a>
                            <button type="button" class="btn btn-submit-form"
                                    ng-click="goToThirdSection()"
                            >
                                Tiếp tục
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="business-information" ng-show="showThirdForm && !showFourthForm">
        <div class="container-fluid">
            <div class="logo text-center">
                <div class="d-flex align-items-center justify-content-center">
                    <img src="/assets/admin/assets/img/icons/logo.png" alt="logo" width="40"/>
                    <p class="logo-text text-dark ms-1 d-none d-sm-block fw-bolder">TravelTour</p>
                </div>
                <div class="content-text mt-3">
                    <div class="h4">Đăng kí thông tin đối tác TravelTour</div>
                </div>
                <div class="progress-register">
                    <!-- Tiến dộ -->
                    <div class="progress-container">
                        <div class="container">
                            <div class="d-flex justify-content-center">
                                <div class="item">
                                    <div class="item-1">
                                        <div class="vector-wrapper">
                                            <svg class="vector" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"
                                                 id="tick">
                                                <path d="M223.9 329.7c-2.4 2.4-5.8 4.4-8.8 4.4s-6.4-2.1-8.9-4.5l-56-56 17.8-17.8 47.2 47.2L340 177.3l17.5 18.1-133.6 134.3z"></path>
                                            </svg>
                                        </div>
                                        <div class="text-wrapper">Tạo doanh nghiệp</div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="item-1">
                                        <div class="vector-wrapper">
                                            <svg class="vector" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"
                                                 id="tick">
                                                <path d="M223.9 329.7c-2.4 2.4-5.8 4.4-8.8 4.4s-6.4-2.1-8.9-4.5l-56-56 17.8-17.8 47.2 47.2L340 177.3l17.5 18.1-133.6 134.3z"></path>
                                            </svg>
                                        </div>
                                        <div class="text-wrapper">Thông tin địa điểm</div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="item-1">
                                        <div class="vector-wrapper">
                                            <span class="num">3</span>
                                        </div>
                                        <div class="text-wrapper">Thông tin vé</div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="item-1">
                                        <div class="vector-wrapper">
                                            <span class="num">4</span>
                                        </div>
                                        <div class="text-wrapper">Xác nhận thông tin</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main d-flex justify-content-center theme-wizard">
                <div class="form card">
                    <div class="row g-3">
                        <div class="h3 color-greend fw-medium">THÔNG TIN VÉ</div>

                        <div class="col-12 mb-3">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox"  value="">
                                <label class="form-check-label" for="free_ticket">Miễn phí vé</label>
                            </div>
                            <div class="input-group mt-3">
                                <input type="text"
                                       class="form-control"
                                       id="free_ticket"
                                       placeholder="0"
                                >
                            </div>
                        </div>

                        <div class="col-12 mb-3 ">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox"  value="">
                                <label class="form-check-label" for="free_ticket">Vé người lớn</label>
                            </div>

                            <div class="input-group mt-3">
                            <input type="text"
                                   class="form-control"
                                   id="adult_ticket"
                                   placeholder="300,000"
                                   name="adultTicket"
                                   ng-model="agent.adultTicket"
                                   ng-class="{ 'is-invalid': register_visits.adultTicket.$invalid && register_visits.adultTicket.$touched, 'is-valid': register_visits.adultTicket.$valid && register_visits.adultTicket.$touched }"
                                   ng-pattern="/^(\d{1,3}(,\d{3})*(,\d{1,3})*(,\d{3})*|\d+(,\d{1,3})*)$/"
                                   required
                            >
                            </div>
                            <small class="text-danger"
                                   ng-show="register_visits.adultTicket.$touched && register_visits.adultTicket.$error.required">
                                Vui lòng nhập giá !
                            </small>
                            <small class="text-danger"
                                   ng-show="register_visits.phone.$touched && register_visits.adultTicket.$error.pattern">
                                Giá không đúng định dạng !
                            </small>

                        </div>

                        <div class="col-12 mb-3 ">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox"  value="">
                                <label class="form-check-label" for="free_ticket">Vé trẻ em</label>
                            </div>

                            <div class="input-group mt-3">
                                <input type="text"
                                       class="form-control"
                                       id="child_ticket"
                                       placeholder="150,000"
                                       name="childTicket"
                                       ng-model="agent.childTicket"
                                       ng-class="{ 'is-invalid': register_visits.childTicket.$invalid && register_visits.childTicket.$touched, 'is-valid': register_visits.childTicket.$valid && register_visits.childTicket.$touched }"
                                       ng-pattern="/^(\d{1,3}(,\d{3})*(,\d{1,3})*(,\d{3})*|\d+(,\d{1,3})*)$/"
                                       required
                                >
                            </div>
                            <small class="text-danger"
                                   ng-show="register_visits.childTicket.$touched && register_visits.childTicket.$error.required">
                                Vui lòng nhập giá !
                            </small>
                            <small class="text-danger"
                                   ng-show="register_visits.childTicket.$touched && register_visits.childTicket.$error.pattern">
                                Giá không đúng định dạng !
                            </small>

                        </div>

                        <div class="d-flex justify-content-end mt-5">
                            <a role="button" class="btn btn-submit-form mx-3" ng-click="goPreviousSectionTwo()">
                                Quay về
                            </a>
                            <button type="button" class="btn btn-submit-form"
                                    ng-click="goToFourthSection()"
                                    ng-disabled="register_visits.$invalid"
                            >
                                Tiếp tục
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="business-information" ng-show="showFourthForm">
        <div class="container-fluid">
            <div class="logo text-center">
                <div class="d-flex align-items-center justify-content-center">
                    <img src="/assets/admin/assets/img/icons/logo.png" alt="logo" width="40"/>
                    <p class="logo-text text-dark ms-1 d-none d-sm-block fw-bolder">TravelTour</p>
                </div>
                <div class="content-text mt-3">
                    <div class="h4">Đăng kí thông tin đối tác TravelTour</div>
                </div>
                <div class="progress-register">
                    <!-- Tiến dộ -->
                    <div class="progress-container">
                        <div class="container">
                            <div class="d-flex justify-content-center">
                                <div class="item">
                                    <div class="item-1">
                                        <svg class="vector" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"
                                             id="tick">
                                            <path d="M223.9 329.7c-2.4 2.4-5.8 4.4-8.8 4.4s-6.4-2.1-8.9-4.5l-56-56 17.8-17.8 47.2 47.2L340 177.3l17.5 18.1-133.6 134.3z"></path>
                                        </svg>
                                        <div class="text-wrapper">Tạo doanh nghiệp</div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="item-1">
                                        <div class="vector-wrapper">
                                            <svg class="vector" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"
                                                 id="tick">
                                                <path d="M223.9 329.7c-2.4 2.4-5.8 4.4-8.8 4.4s-6.4-2.1-8.9-4.5l-56-56 17.8-17.8 47.2 47.2L340 177.3l17.5 18.1-133.6 134.3z"></path>
                                            </svg>
                                        </div>
                                        <div class="text-wrapper">Thông tin địa điểm</div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="item-1">
                                        <div class="vector-wrapper">
                                            <svg class="vector" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"
                                                 id="tick">
                                                <path d="M223.9 329.7c-2.4 2.4-5.8 4.4-8.8 4.4s-6.4-2.1-8.9-4.5l-56-56 17.8-17.8 47.2 47.2L340 177.3l17.5 18.1-133.6 134.3z"></path>
                                            </svg>
                                        </div>
                                        <div class="text-wrapper">Thông tin vé</div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="item-1">
                                        <div class="vector-wrapper">
                                            <span class="num">4</span>
                                        </div>
                                        <div class="text-wrapper">Xác nhận thông tin</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main d-flex justify-content-center theme-wizard">
                <div class="form card">
                    <div class="h3 color-greend fw-medium mb-3">XÁC NHẬN ĐĂNG KÝ PHƯƠNG TIỆN TRÊN TRAVEL TOUR</div>
                    <div class="col-12">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" ng-model="checkboxChecked" name="" id="">
                            Tôi cam kết cung cấp thông tin đầy đủ, chính xác và minh bạch khi đăng ký bán phòng trên
                            trang
                            web du lịch. Chúng tôi hiểu rằng sự minh bạch và tin cậy là yếu tố quan trọng để tạo ra một
                            môi
                            trường kinh doanh tích cực và lâu dài.
                        </label>
                    </div>

                    <div class="d-flex justify-content-end mt-5">
                        <a role="button" class="btn btn-submit-form mx-3" ng-click="goPreviousSectionTwo()">
                            Quay về
                        </a>
                        <button type="submit" class="btn btn-submit-form"
                                ng-disabled="!checkboxChecked">
                            Xác nhận
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</form>