<div id="watch-img-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="mb-3 d-flex justify-content-end">
                <button style="margin: 24px 24px 0 0" type="button" class="btn-close" data-dismiss="modal"
                        ng-click="closeModalWatchImg()"></button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="h4 mb-3">Hình ảnh khách sạn</div>
                    <div class="mb-3">
                        <div class="row">
                            <div class="col-xl-3">
                                <img src="https://ik.imagekit.io/tvlk/apr-asset/Ixf4aptF5N2Qdfmh4fGGYhTN274kJXuNMkUAzpL5HuD9jzSxIGG5kZNhhHY-p7nw/hotel/asset/20010764-8b02d5ef365eb6a7abd91ab0e567186a.jpeg?_src=imagekit&tr=c-at_max,h-360,q-40,w-640"
                                     alt="img-hotel" class="img-fluid"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mt-3 d-flex justify-content-center pb-5">
                <button type="button" class="btn btn-greend" style="padding: 8px 50px; border-radius: 30px">Cập nhật
                </button>
            </div>
        </div>
    </div>
</div>