#business-information .progress-container {
    margin: 30px 0 0 0;
    overflow: auto;
}

#business-information .item {
    width: 150px;
}

#business-information .vector {
    border-radius: 50%;
    border: 3px solid #63ab45;
    width: 50px;
    height: 50px;
    fill: #63ab45;
}

#business-information .vector-wrapper {
    text-align: center;
}

#business-information .num {
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    border: 3px solid #63ab45;
    width: 50px;
    height: 50px;
    line-height: 44px;
    font-size: 18px;
    font-weight: 600;
    background: #63ab45;
    color: #fff;
}

#business-information .text-wrapper {
    margin-top: 10px;
}

.tour-name {
    color: #63ab45;
}

.tour-name:hover {
    color: #1a5b00;
}