<!--====== Start Blog Details Section ======-->
<section class="blog-details-section pt-100 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-xl-9">
                <!--=== Blog Details Wrapper ===-->
                <div class="blog-details-wrapper pr-lg-50">
                    <div class="blog-post mb-60 wow fadeInUp">
                        <div class="post-thumbnail">
                            <img src="/assets/customers/images/blog/blog-demo.png" alt="Blog Image">
                        </div>
                        <div class="post-meta text-center pt-25 pb-15 mb-25">
                            <span><span class="fas fa-user"></span><a href="#">Matthew N. Davis</a></span>
                            <span><span class="fas fa-calendar-alt"></span><a href="#">November 23,2022</a></span>
                            <span><span class="fas fa-comment"></span><a ng-click="redirectToChatHotel(roomTypes[0].hotelsByHotelId.agenciesId)">Nhắn tin</a></span>
                        </div>
                        <div class="main-post">
                            <div class="entry-content">
                                <h3 class="title">{{ roomTypes[0].hotelsByHotelId.hotelName }}</h3>
                                <p>{{ roomTypes[0].hotelsByHotelId.hotelDescription }}</p>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="sidebar-widget category-widget mb-30 wow fadeInUp">
                                            <div class="h5">Các tiện nghi của khách sạn</div>
                                            <div ng-repeat="roomUtilitiesHotels in roomTypes[0].hotelsByHotelId.placeUtilities">
                                                <ul class="category-nav">
                                                    <li><a href="#">{{ roomUtilitiesHotels.placeUtilitiesName }}</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-3 w-100">
                                    <div class="row single-event-item" style="font-size: 13px">
                                        <div class="col-md-4">
                                            <label for="checkInDateFiller" class="form-label">Ngày nhận phòng</label>
                                            <input type="date" class="form-control" id="checkInDateFiller"
                                                   ng-model="filler.checkInDateFiller" ng-change="validateDates()">
                                            <span class="text-danger" ng-if="errorCheckInDateFiller">
                                {{ errorCheckInDateFiller }}
                            </span>
                                        </div>
                                        <div class="col-md-4">
                                            <label for="checkOutDateFiller" class="form-label">Ngày trả phòng</label>
                                            <input type="date" class="form-control" id="checkOutDateFiller"
                                                   ng-model="filler.checkOutDateFiller" ng-change="validateDates()">
                                            <span class="text-danger" ng-if="errorCheckOutDateFiller">
                                {{ errorCheckOutDateFiller }}
                            </span>
                                        </div>
                                        <div class="col-md-2">
                                            <label for="capacityAdultsFilter" class="form-label">Số người lớn</label>
                                            <input type="number" class="form-control" id="capacityAdultsFilter"
                                                   ng-model="filler.capacityAdultsFilter">
                                        </div>
                                        <div class="col-md-2">
                                            <label for="capacityChildrenFilter" class="form-label">Số trẻ em</label>
                                            <input type="number" class="form-control" id="capacityChildrenFilter"
                                                   ng-model="filler.capacityChildrenFilter">
                                        </div>
                                        <div class="d-flex justify-content-end mt-3">
                                            <button type="button" class="btn btn-green"
                                                    ng-click="searchRoomTypes()"><i
                                                    class="fa-solid fa-magnifying-glass"></i> Tìm khách sạn
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <blockquote>
                                    <table class="table" style="font-size: 12px">
                                        <thead>
                                        <tr class="btn-green">
                                            <td>Loại chỗ nghỉ</td>
                                            <td>Số lượng khách</td>
                                            <td>Giá hôm nay</td>
                                            <td>Các lựa chọn</td>
                                            <td>Chọn phòng</td>
                                            <td></td>
                                        </tr>
                                        </thead>
                                        <tbody ng-repeat="roomType in roomTypes">
                                        <tr>
                                            <td>
                                                <div class="h5">{{ roomType.roomTypeName }}</div>
                                                <div>Loại
                                                    giường: {{ getRoomBedsName(roomType.roomBedsById[0].bedTypeId) }}
                                                </div>
                                                <div ng-if="roomType.amountRoom <= 10 && roomType.amountRoom > 0"
                                                     class="text-danger fw-medium">
                                                    <i class="fa-solid fa-exclamation"></i> Chỉ
                                                    còn {{ roomType.amountRoom }} phòng với giá này trên trang của chúng
                                                    tôi
                                                </div>
                                                <div ng-if="roomType.amountRoom === 0"
                                                     class="text-danger fw-medium">
                                                    <i class="fa-solid fa-exclamation"></i> Phòng này đã hết, Nhưng bạn
                                                    có
                                                    thể chọn phòng khác của khách sạn
                                                </div>
                                            </td>
                                            <td>
                                                <div>{{ filler.capacityAdultsFilter }} người lớn</div>
                                                <div>{{ filler.capacityChildrenFilter }} trẻ em</div>
                                            </td>
                                            <td>
                                                <div class="h6"
                                                     style="width: 150px">{{ roomType.price | removeCurrencySymbol }}
                                                    VND
                                                </div>
                                                <div>Đã bao gồm thuế và phí</div>
                                            </td>
                                            <td>
                                                <div ng-if="roomType.breakfastIncluded" class="text-green">
                                                    <i class="fa-solid fa-check"></i> Miễn phí ăn sáng
                                                </div>
                                                <div ng-if="roomType.freeCancellation" class="text-green">
                                                    <i class="fa-solid fa-check"></i> Miễn phí hủy phòng
                                                </div>
                                            </td>
                                            <td>
                                                <select class="form-select" aria-label="selectAmountRoom"
                                                        style="font-size: 13px; width: 60px"
                                                        ng-model="roomType.amountRoomSelected"
                                                        ng-change="selectedRoomType(roomType.amountRoomSelected, roomType)"
                                                        ng-options="room as room + '' + ' (' + (room * roomType.price | removeCurrencySymbol) + ' VND)' for room in generateRoomNumbers(roomType.amountRoom)">
                                                    <option value="">0</option>
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>

                                        </tr>
                                        </tbody>
                                    </table>
                                </blockquote>
                            </div>
                        </div>
                        <div class="cart mt-5" ng-if="roomTypeSelected.length > 0 ">
                            <div class="h5">Khách sạn bạn đã chọn</div>
                            <table class="table" style="font-size: 12px">
                                <thead>
                                <tr class="btn-green">
                                    <td>Loại chỗ nghỉ</td>
                                    <td>Số lượng</td>
                                    <td>Đơn giá</td>
                                    <td>Dịch vụ của bạn</td>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="roomType in roomTypeSelected">
                                    <th class="d-flex">
                                        <img src="{{roomType.roomTypeAvatar}}" class="img-fluid" width="100"
                                             onerror="this.src='/assets/admin/assets/img/bg/default-image-hotel.png'"/>
                                        <div style="margin-left: 10px">
                                            <div class="h5">{{ roomType.roomTypeName }}</div>
                                            <p class="fw-light">{{ getRoomBedsName(roomType.roomBedsById[0].bedTypeId) }}</p>
                                        </div>
                                    </th>
                                    <td>
                                        <div>
                                            {{ roomType.amountRoomSelected }} phòng
                                        </div>
                                    </td>
                                    <td>
                                        <div class="h6">{{ roomType.amountRoomSelected * roomType.price | removeCurrencySymbol }}
                                            VND
                                        </div>
                                        <span>Đã bao gồm thuế và phí</span>
                                    </td>
                                    <td>
                                        <div ng-if="roomType.breakfastIncluded" class="text-green">
                                            <i class="fa-solid fa-check"></i> Miễn phí ăn sáng
                                        </div>
                                        <div ng-if="roomType.freeCancellation" class="text-green">
                                            <i class="fa-solid fa-check"></i> Miễn phí hủy phòng
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="1" class="text-end">
                                        <div class="">Miễn phí hủy phòng trước ngày</div>
                                    </td>
                                    <td colspan="2" class="text-end">
                                        <div class="h6">Tổng
                                            tiền: {{ totalAmountRoomSelected() | removeCurrencySymbol }} VND
                                        </div>
                                        <div class="h6">{{ roomTypeSelected[0].hotelsByHotelId.freeCancellationDate | date: 'dd/MM/yyyy' }}</div>
                                    <td colspan="1" class="text-end">
                                        <button class="btn btn-green" ng-click="paymentHotelNow()">Thanh toán ngay</button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="entry-footer wow fadeInUp">
                            <div class="tag-links">
                                <h6>Popular Tags</h6>
                                <a href="#">Camping</a>
                                <a href="#">Tent Camp</a>
                                <a href="#">Couple Cabin</a>
                            </div>
                            <div class="social-share">
                                <h6>Share News :</h6>
                                <a href="#"><span class="fab fa-facebook-f"></span></a>
                                <a href="#"><span class="fab fa-twitter"></span></a>
                                <a href="#"><span class="fab fa-instagram"></span></a>
                                <a href="#"><span class="fab fa-linkedin-in"></span></a>
                            </div>
                        </div>
                    </div>
                    <!--===  Post Author Box  ===-->
                    <div class="post-author-box d-flex pb-60 mb-60 wow fadeInUp">
                        <div class="author-thumb">
                            <img src="/assets/customers/images/blog/author-1.jpg" alt="post author">
                        </div>
                        <div class="author-content">
                            <h5>Bruno R. Bouchard</h5>
                            <span class="position">Author</span>
                            <p>Donec duis enim ipsum odio at cursus. Fames semper enim integer epsum ultricies faucibus
                                augue enim semper</p>
                            <ul class="social-link">
                                <li><a href="#"><span class="fab fa-facebook-f"></span></a></li>
                                <li><a href="#"><span class="fab fa-twitter"></span></a></li>
                                <li><a href="#"><span class="fab fa-instagram"></span></a></li>
                                <li><a href="#"><span class="fab fa-linkedin-in"></span></a></li>
                            </ul>
                        </div>
                    </div>
                    <!--===  Post Navigation  ===-->
                    <div class="post-navigation-item pb-30 mb-55 wow fadeInUp">
                        <div class="prev-post post-nav-item d-flex mb-30">
                            <div class="thumb">
                                <img src="/assets/customers/images/blog/prev-post.jpg" alt="Post Thumb">
                            </div>
                            <div class="content">
                                <h6><a href="#">Web Quality Assurance
                                    Requirements To Web
                                    Dev Risk Manage</a></h6>
                                <span class="post-date"><a href="#"><span class="fas fa-calendar-alt"></span>November 23,2022</a></span>
                            </div>
                        </div>
                        <div class="next-post post-nav-item d-flex mb-30">
                            <div class="thumb">
                                <img src="/assets/customers/images/blog/next-post.jpg" alt="Post Thumb">
                            </div>
                            <div class="content">
                                <h6><a href="#">Deep Dive Into Wonder
                                    World Of Displaements
                                    Filtering</a></h6>
                                <span class="post-date"><a href="#"><span class="fas fa-calendar-alt"></span>November 23,2022</a></span>
                            </div>
                        </div>
                    </div>
                    <!--===  Comments Area  ===-->
                    <div class="comments-area mb-60 wow fadeInUp">
                        <h5 class="comments-title mb-40">Popular Comments</h5>
                        <ul class="comments-list">
                            <li>
                                <div class="comment">
                                    <div class="comment-avatar">
                                        <img src="/assets/customers/images/blog/comment-1.jpg" alt="comment author">
                                    </div>
                                    <div class="comment-wrap">
                                        <div class="comment-author-content">
                                            <span class="author-name">Jonathan M. Dickinson<span class="date">September 25, 2022</span></span>
                                            <p>Nov ut perspiciatis unde omnis iste natus sit voluptatem accusantium
                                                doloremque
                                                laudantium, totam rem aperiam quae abillo inventore veritatis</p>
                                            <a href="#" class="btn-link">Reply<span
                                                    class="fas fa-angle-double-right"></span></a>
                                        </div>
                                    </div>
                                </div>
                                <ul class="comment-reply">
                                    <li>
                                        <div class="comment">
                                            <div class="comment-avatar">
                                                <img src="/assets/customers/images/blog/comment-2.jpg"
                                                     alt="comment author">
                                            </div>
                                            <div class="comment-wrap">
                                                <div class="comment-author-content">
                                                    <span class="author-name">Jonathan M. Dickinson<span class="date">September 25, 2022</span></span>
                                                    <p>Nov ut perspiciatis unde omnis iste natus sit voluptatem
                                                        accusantium doloremque
                                                        laudantium, totam rem aperiam quae abillo inventore
                                                        veritatis</p>
                                                    <a href="#" class="btn-link">Reply<span
                                                            class="fas fa-angle-double-right"></span></a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <div class="comment">
                                    <div class="comment-avatar">
                                        <img src="/assets/customers/images/blog/comment-3.jpg" alt="comment author">
                                    </div>
                                    <div class="comment-wrap">
                                        <div class="comment-author-content">
                                            <span class="author-name">Michael C. Paille<span class="date">September 25, 2022</span></span>
                                            <p>Nov ut perspiciatis unde omnis iste natus sit voluptatem accusantium
                                                doloremque
                                                laudantium, totam rem aperiam quae abillo inventore veritatis</p>
                                            <a href="#" class="btn-link">Reply<span
                                                    class="fas fa-angle-double-right"></span></a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!--===  Comments Form  ===-->
                    <div class="comments-respond mb-30 wow fadeInUp" id="comment-respond">
                        <h3 class="comments-heading">Leave a Comments</h3>
                        <p>Send us your valuable feedback about our services</p>
                        <form class="comment-form">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form_group">
                                        <input type="email" class="form_control" placeholder="Email Address" name="name"
                                               required>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form_group">
                                        <input type="text" class="form_control" placeholder="Enter Name" name="email"
                                               required>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="form_group">
                                        <textarea name="message" class="form_control" rows="4"
                                                  placeholder="Write Comments"></textarea>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="form_group">
                                        <button class="main-btn primary-btn">Send comments<span
                                                class="fas fa-angle-double-right"></span></button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-xl-3">
                <div class="sidebar-widget-area">
                    <!--=== Category Widget ===-->
                    <div class="sidebar-widget category-widget mb-30 wow fadeInUp">
                        <h4 class="widget-title">Liên hệ đặt khách sạn</h4>
                        <ul class="category-nav">
                            <li><a href="#">Dịch vụ khách sạn an toàn<span class="fas fa-arrow-right"></span></a></li>
                            <li><a href="#">Hotline: 19008622<span class="fas fa-arrow-right"></span></a></li>
                            <li><a href="#">Email: TravelTour&#64;gmail.com<span class="fas fa-arrow-right"></span></a>
                            </li>
                            <li><a href="#">Địa chỉ: Ninh Kiều Cần Thơ<span class="fas fa-arrow-right"></span></a></li>
                        </ul>
                    </div>
                    <!--=== Recent Post Widget ===-->
                    <div class="sidebar-widget recent-post-widget mb-40 wow fadeInUp">
                        <h4 class="widget-title">Khách sạn vừa xem</h4>
                        <ul class="recent-post-list">
                            <li class="post-thumbnail-content" ng-repeat="roomType in roomTypeViewed"
                                ng-if="roomTypeViewed.length >= 0">
                                <img src="{{roomType.roomTypeId.roomTypeAvatar}}" class="img-fluid object-fit-cover"
                                     style="max-width: 80px; max-height: 80px"
                                     onerror="this.src='/assets/admin/assets/img/bg/default-image-hotel.png'"/>
                                <div class="post-title-date">
                                    <p>{{ getHotelTypeName(roomType.roomTypeId.hotelsByHotelId.hotelTypeId) }}</p>
                                    <h5><a href="">{{ roomType.roomTypeId.hotelsByHotelId.hotelName }}</a></h5>
                                    <p>{{ roomType.roomTypeId.roomTypeName }}</p>
                                    <span class="posted-on"><span class="fas fa-calendar-alt"></span><a
                                            href="#">{{ roomType.lastUpdated | timeAgo }}</a></span>
                                </div>
                            </li>
                            <li class="post-thumbnail-content" ng-if="roomTypeViewed.length === 0">
                                <div class="d-flex justify-content-center align-items-center">
                                    <p>Không có khách sạn nào được xem gần đây</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!--====== End Blog Details Section ======-->

<!--====== Start Gallery Section ======-->
<section class="gallery-section mbm-150">
    <div class="container-fluid">
        <div class="slider-active-5-item wow fadeInUp">
            <!--=== Single Gallery Item ===-->
            <div class="single-gallery-item">
                <div class="gallery-img">
                    <img src="/assets/customers/images/gallery/gl-1.jpg" alt="Gallery Image">
                    <div class="hover-overlay">
                        <a href="/assets/customers/images/gallery/gl-1.jpg" class="icon-btn img-popup"><span
                                class="fas fa-plus"></span></a>
                    </div>
                </div>
            </div>
            <!--=== Single Gallery Item ===-->
            <div class="single-gallery-item">
                <div class="gallery-img">
                    <img src="/assets/customers/images/gallery/gl-2.jpg" alt="Gallery Image">
                    <div class="hover-overlay">
                        <a href="/assets/customers/images/gallery/gl-2.jpg" class="icon-btn img-popup"><span
                                class="fas fa-plus"></span></a>
                    </div>
                </div>
            </div>
            <!--=== Single Gallery Item ===-->
            <div class="single-gallery-item">
                <div class="gallery-img">
                    <img src="/assets/customers/images/gallery/gl-3.jpg" alt="Gallery Image">
                    <div class="hover-overlay">
                        <a href="/assets/customers/images/gallery/gl-3.jpg" class="icon-btn img-popup"><span
                                class="fas fa-plus"></span></a>
                    </div>
                </div>
            </div>
            <!--=== Single Gallery Item ===-->
            <div class="single-gallery-item">
                <div class="gallery-img">
                    <img src="/assets/customers/images/gallery/gl-4.jpg" alt="Gallery Image">
                    <div class="hover-overlay">
                        <a href="/assets/customers/images/gallery/gl-4.jpg" class="icon-btn img-popup"><span
                                class="fas fa-plus"></span></a>
                    </div>
                </div>
            </div>
            <!--=== Single Gallery Item ===-->
            <div class="single-gallery-item">
                <div class="gallery-img">
                    <img src="/assets/customers/images/gallery/gl-5.jpg" alt="Gallery Image">
                    <div class="hover-overlay">
                        <a href="/assets/customers/images/gallery/gl-5.jpg" class="icon-btn img-popup"><span
                                class="fas fa-plus"></span></a>
                    </div>
                </div>
            </div>
            <!--=== Single Gallery Item ===-->
            <div class="single-gallery-item">
                <div class="gallery-img">
                    <img src="/assets/customers/images/gallery/gl-3.jpg" alt="Gallery Image">
                    <div class="hover-overlay">
                        <a href="/assets/customers/images/gallery/gl-3.jpg" class="icon-btn img-popup"><span
                                class="fas fa-plus"></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!--====== End Gallery Section ======-->