<div ng-include="'app/component/customers/views/components/loader-search.html'"></div>

<!--====== Start Blog Details Section ======-->
<section class="blog-details-section pt-80 pb-70">
    <div class="container">
        <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);"
             aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item fw-medium"><a href="/home">Trang chủ</a></li>
                <li class="breadcrumb-item fw-medium"><a href="/hotel">Khách sạn</a></li>
                <li class="breadcrumb-item active fw-medium" aria-current="page">Chi tiết khách sạn</li>
            </ol>
        </nav>
        <div class="row">
            <div class="col-xl-9">
                <!--=== Blog Details Wrapper ===-->
                <div class="blog-details-wrapper pr-lg-50">
                    <div class="blog-post mb-60 wow fadeInUp">
                        <div class="post-thumbnail">
                            <div class="row mb-3">
                                <div class="col-8">
                                    <img ng-src="{{ roomTypes[0].roomTypeAvatar }}" style="height: 100%"
                                         alt="Main Image">
                                </div>
                                <div class="col-4">
                                    <div class="">
                                        <div style="height: 50%">
                                            <img class="img-fluid mb-3" ng-src="{{ listImageroomType[4].roomTypeImg }}"
                                                 alt="Main Image" loading="lazy" ng-if="listImageroomType[4]">
                                        </div>
                                        <div style="height: 50%">
                                            <img class="img-fluid" ng-src="{{ listImageroomType[5].roomTypeImg }}"
                                                 alt="Main Image" loading="lazy" ng-if="listImageroomType[5]">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-3" ng-repeat="image in listImageroomType.slice(0, 3)">
                                    <div class="thumbnail" ng-if="image">
                                        <img ng-src="{{ image.roomTypeImg }}" class="mb-3" style="height: 130px"
                                             alt="{{ image.roomTypeImg }}" loading="lazy">
                                    </div>
                                </div>
                                <div class="col-3 hover-bg-image" style="cursor: pointer"
                                     ng-show="listImageroomType.length > 5" ng-if="listImageroomType[6]"
                                     ng-click="showImageHotelModal()">
                                    <div class="thumbnail position-relative w-100 h-100">
                                        <div class="div">
                                            <img ng-src="{{listImageroomType[6].roomTypeImg}}" style="height: 130px"
                                                 alt="More Images" class="position-absolute mb-3" loading="lazy">
                                            <p class="position-absolute text-white fs-4 center-position">
                                                + {{ listImageroomType.length - 6 }} ảnh</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="post-meta text-center pt-25 pb-15 mb-25">
                            <span><span class="fas fa-user"></span><a href="#">Matthew N. Davis</a></span>
                            <span>
                                <span ng-click="likeHotel(roomTypes[0].hotelsByHotelId.id)">
                                    <a class="d-flex align-items-center">
                                        <i ng-if="isLikeHotel">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"
                                             style="width: 16px; fill: red; padding-bottom: 4px"> <!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path
                                                d="M47.6 300.4L228.3 469.1c7.5 7 17.4 10.9 27.7 10.9s20.2-3.9 27.7-10.9L464.4 300.4c30.4-28.3 47.6-68 47.6-109.5v-5.8c0-69.9-50.5-129.5-119.4-141C347 36.5 300.6 51.4 268 84L256 96 244 84c-32.6-32.6-79-47.5-124.6-39.9C50.5 55.6 0 115.2 0 185.1v5.8c0 41.5 17.2 81.2 47.6 109.5z"/></svg>
                                    </i>
                                        <i ng-if="!isLikeHotel">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"
                                                 style="width: 16px; padding-bottom: 4px"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path
                                                    d="M225.8 468.2l-2.5-2.3L48.1 303.2C17.4 274.7 0 234.7 0 192.8v-3.3c0-70.4 50-130.8 119.2-144C158.6 37.9 198.9 47 231 69.6c9 6.4 17.4 13.8 25 22.3c4.2-4.8 8.7-9.2 13.5-13.3c3.7-3.2 7.5-6.2 11.5-9c0 0 0 0 0 0C313.1 47 353.4 37.9 392.8 45.4C462 58.6 512 119.1 512 189.5v3.3c0 41.9-17.4 81.9-48.1 110.4L288.7 465.9l-2.5 2.3c-8.2 7.6-19 11.9-30.2 11.9s-22-4.2-30.2-11.9zM239.1 145c-.4-.3-.7-.7-1-1.1l-17.8-20c0 0-.1-.1-.1-.1c0 0 0 0 0 0c-23.1-25.9-58-37.7-92-31.2C81.6 101.5 48 142.1 48 189.5v3.3c0 28.5 11.9 55.8 32.8 75.2L256 430.7 431.2 268c20.9-19.4 32.8-46.7 32.8-75.2v-3.3c0-47.3-33.6-88-80.1-96.9c-34-6.5-69 5.4-92 31.2c0 0 0 0-.1 .1s0 0-.1 .1l-17.8 20c-.3 .4-.7 .7-1 1.1c-4.5 4.5-10.6 7-16.9 7s-12.4-2.5-16.9-7z"/></svg>
                                        </i>
                                        Yêu thích
                                    </a>
                                </span>
                            </span>
                            <span>
                                <i class="fa-regular fa-comment"></i>
                                <a ng-click="redirectToChatHotel(roomTypes[0].hotelsByHotelId.agenciesId)">
                                    Nhắn tin
                                </a>
                            </span>
                        </div>
                        <div class="main-post">
                            <div class="entry-content">
                                <h3 class="title">{{ roomTypes[0].hotelsByHotelId.hotelName }}</h3>
                                <p>{{ roomTypes[0].hotelsByHotelId.hotelDescription }}</p>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="sidebar-widget category-widget mb-30 wow fadeInUp">

                                        </div>
                                    </div>
                                </div>
                                <div class="mb-3 w-100">
                                    <div class="row single-event-item" style="font-size: 13px">
                                        <div class="col-md-4">
                                            <label for="checkInDateFiller" class="form-label">Ngày nhận phòng</label>
                                            <input type="date" class="form-control" id="checkInDateFiller"
                                                   ng-model="filler.checkInDateFiller" ng-change="validateDates()">
                                            <span class="text-danger" ng-if="errorCheckInDateFiller">
                                                {{ errorCheckInDateFiller }}
                                            </span>
                                        </div>
                                        <div class="col-md-4">
                                            <label for="checkOutDateFiller" class="form-label">Ngày trả phòng</label>
                                            <input type="date" class="form-control" id="checkOutDateFiller"
                                                   ng-model="filler.checkOutDateFiller" ng-change="validateDates()">
                                            <span class="text-danger" ng-if="errorCheckOutDateFiller">
                                                {{ errorCheckOutDateFiller }}
                                            </span>
                                        </div>
                                        <div class="col-md-2">
                                            <label for="capacityAdultsFilter" class="form-label">Số người lớn</label>
                                            <input type="number" class="form-control" id="capacityAdultsFilter"
                                                   ng-model="filler.capacityAdultsFilter">
                                        </div>
                                        <div class="col-md-2">
                                            <label for="capacityChildrenFilter" class="form-label">Số trẻ em</label>
                                            <input type="number" class="form-control" id="capacityChildrenFilter"
                                                   ng-model="filler.capacityChildrenFilter">
                                        </div>
                                        <div class="d-flex justify-content-end mt-3">
                                            <button type="button" class="btn btn-green"
                                                    ng-click="searchRoomTypes()"><i
                                                    class="fa-solid fa-magnifying-glass"></i> Tìm khách sạn
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <blockquote class="fs-content">
                                    <table class="table custom-table">
                                        <thead>
                                        <tr class="btn-green">
                                            <th>Loại chỗ nghỉ</th>
                                            <th class="text-center">Số lượng khách</th>
                                            <th>Giá hôm nay</th>
                                            <th>Chọn phòng</th>
                                        </tr>
                                        </thead>
                                        <tbody ng-repeat="roomType in roomTypes">
                                        <tr style="border-bottom: white">
                                            <td>
                                                <div class="room-type">
                                                    <div class="h5 text-green"
                                                         ng-click="showInfoRoomType(roomType.id)">{{ roomType.roomTypeName }}
                                                    </div>
                                                    <div>
                                                        <img style="width:200px; border-radius: 5px"
                                                             src="{{roomType.roomTypeAvatar}}" alt="" srcset="">
                                                    </div>
                                                    <div class="mt-1">
                                                        <strong style="font-weight:500">Loại
                                                            giường:</strong> {{ getRoomBedsName(roomType.roomBedsById[0].bedTypeId) }}
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="text-center">
                                                <div>
                                                    <strong>
                                                        {{ roomType.capacityAdults }} <i class="fa-solid fa-person"
                                                                                         style="font-size:medium"></i>
                                                    </strong>&nbsp;
                                                    <strong ng-if="roomType.capacityChildren > 0">
                                                        {{ roomType.capacityChildren }} <i
                                                            class="fa-solid fa-person"></i>
                                                    </strong>&nbsp;
                                                </div>
                                            </td>
                                            <td>
                                                <div class="h6">{{ roomType.price * daysBetween | removeCurrencySymbol }}
                                                    VND
                                                </div>
                                                <div class="fw-medium text-orange">{{ daysBetween }} đêm</div>
                                                <div>Đã bao gồm thuế và phí</div>
                                            </td>
                                            <td>
                                                <select class="form-select" aria-label="selectAmountRoom"
                                                        style="font-size: 13px; width: 60px"
                                                        ng-model="roomType.amountRoomSelected"
                                                        ng-change="selectedRoomType(roomType.amountRoomSelected, roomType)"
                                                        ng-options="room as room + '' + ' (' + (room * roomType.price * daysBetween | removeCurrencySymbol) + ' VND)' for room in generateRoomNumbers(roomType.amountRoom)">
                                                    <option value="">0</option>
                                                </select>
                                            </td>
                                        </tr>
                                        <tr style="border-bottom: white">
                                            <td colspan="4" class="pt-0 pb-0">
                                                <div ng-if="roomType.breakfastIncluded" class="text-green">
                                                    <i class="fa-solid fa-check"></i> Miễn phí ăn sáng
                                                </div>
                                                <div ng-if="roomType.freeCancellation" class="text-green">
                                                    <i class="fa-solid fa-check"></i> Miễn phí hủy phòng
                                                </div>
                                                <div ng-if="roomType.amountRoom <= 5 && roomType.amountRoom > 0"
                                                     class="text-danger fw-medium">
                                                    <i class="fa-solid fa-exclamation"></i> Chỉ
                                                    còn {{ roomType.amountRoom }} phòng với giá này trên trang của chúng
                                                    tôi
                                                </div>
                                                <div ng-if="roomType.amountRoom === 0" class="text-danger fw-medium">
                                                    <i class="fa-solid fa-exclamation"></i> Phòng này đã hết, Nhưng bạn
                                                    có thể chọn phòng khác của khách sạn
                                                </div>
                                            </td>
                                        </tr>
                                        <tr style="border-top: white">
                                            <td colspan="4">
                                                <div class="row">
                                                    <strong class="mb-1">Tiện ích của phòng</strong>
                                                    <div class="col-4"
                                                         ng-repeat="roomUtilities in roomType.roomUtilities">
                                                        <i class="fas fa-check-circle"></i>
                                                        <span ng-bind="roomUtilities.roomUtilitiesName"></span>
                                                    </div>
                                                    <div ng-if="roomType.roomUtilities.length === 0">
                                                        <i class="fas fa-check-circle"></i>
                                                        <span>Đang cập nhật</span>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </blockquote>

                            </div>
                        </div>
                        <div class="cart mt-5" ng-if="roomTypeSelected.length > 0 ">
                            <div class="h5">Khách sạn bạn đã chọn</div>
                            <table class="table fs-content">
                                <thead>
                                <tr class="btn-green">
                                    <td>Loại chỗ nghỉ</td>
                                    <td>Số lượng</td>
                                    <td>Thành tiền</td>
                                    <td>Dịch vụ của bạn</td>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="roomType in roomTypeSelected">
                                    <th class="d-flex">
                                        <img ng-src="{{roomType.roomTypeAvatar}}" class="img-fluid" width="100"
                                             onerror="this.src='/assets/admin/assets/img/bg/default-image-hotel.png'"
                                             alt="roomTypeAvatar"/>
                                        <div style="margin-left: 10px">
                                            <div class="h5">{{ roomType.roomTypeName }}</div>
                                            <p class="fw-light">{{ getRoomBedsName(roomType.roomBedsById[0].bedTypeId) }}</p>
                                        </div>
                                    </th>
                                    <td>
                                        <div>
                                            {{ roomType.amountRoomSelected }} phòng
                                        </div>
                                    </td>
                                    <td>
                                        <div class="h6">{{ roomType.amountRoomSelected * roomType.price * daysBetween | removeCurrencySymbol }}
                                            VND
                                        </div>
                                        <span>Đã bao gồm thuế và phí</span>
                                    </td>
                                    <td>
                                        <div ng-if="roomType.breakfastIncluded" class="text-green">
                                            <i class="fa-solid fa-check"></i> Miễn phí ăn sáng
                                        </div>
                                        <div ng-if="roomType.freeCancellation" class="text-green">
                                            <i class="fa-solid fa-check"></i> Miễn phí hủy phòng
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2" class="text-end">
                                        <div class="h6" style="line-height: 30px">Tổng
                                            tiền: {{ totalAmountRoomSelected() * daysBetween| removeCurrencySymbol }}
                                            VND
                                        </div>
                                        <div class="h6"
                                             style="line-height: 30px">{{ roomTypeSelected[0].hotelsByHotelId.freeCancellationDate | date: 'dd/MM/yyyy' }}
                                        </div>
                                    <td colspan="2" class="text-end">
                                        <button class="btn btn-green" ng-click="paymentHotelNow()">Thanh toán ngay
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!--=== Đánh giá ===-->
                    <div class="reviews-wrapper mb-60 wow fadeInUp">
                        <div class="reviews-inner-box">
                            <div class="rating-value">
                                <h5>Đánh giá của khách hàng</h5>
                                <div class="rate-score" ng-bind="ratingHotel.roundedAverageRating"></div>
                                <ul class="ratings d-flex justify-content-center align-items-center color-ratings">
                                    <div ng-repeat="star in stars track by $index">
                                        <span class="fas fa-star"></span>
                                    </div>
                                    <div ng-if="showHalfStar">
                                        <span class="fas fa-star-half-alt"></span>
                                    </div>
                                    <li><a href="#" ng-bind="'(' + ratingHotel.roundedAverageRating + ')'"></a></li>
                                </ul>
                                <span class="reviews" ng-bind="ratingHotel.numberOfRatings + ' Đánh giá'"></span>
                            </div>
                            <section class="row" style="max-width: 600px">
                                <div class="swiper-container">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide d-flex justify-content-center align-items-center"
                                             style="width: 500px"
                                             ng-repeat="rating in ratingHotel.userComments.content">
                                            <div class="text-center">
                                                <div class="text-center d-flex justify-content-center align-items-center">
                                                    <img ng-src="{{ rating.usersByUserId.avatar }}" alt="image"
                                                         style="width: 100px; height: 100px; border-radius: 100px"
                                                         class="text-center">
                                                </div>
                                                <span class="h5">{{ rating.usersByUserId.fullName }}</span>
                                                <ul class="ratings">
                                                    <li ng-repeat="index in [].constructor(rating.star) track by $index"><span
                                                            class="fas fa-star"></span></li>
                                                </ul>
                                                <p>{{ rating.content }}</p>
                                                <span class="time" style="font-size: 12px">
                                                    <span class="fas fa-clock text-green"></span>
                                                    {{ rating.dateCreated | timeAgo }}
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-button-next"></div>
                                    <div class="swiper-button-prev"></div>
                                    <div class="swiper-pagination"></div>
                                </div>
                            </section>
                        </div>
                    </div>
                    <!--=== Comments Area ===-->
                    <div class="comments-area wow fadeInUp">
                        <ul class="comment-list w-100" ng-repeat="rating in ratingHotel.userComments.content">
                            <li>
                                <div class="comment">
                                    <div class="comment-avatar">
                                        <img src="{{ rating.usersByUserId.avatar }}" style="border-radius: 50px"
                                             alt="comment author">
                                    </div>
                                    <div class="comment-wrap w-100">
                                        <div class="comment-author-content">
                                            <span class="author-name">{{ rating.usersByUserId.fullName }}
                                                <span class="time">
                                                    <span class="fas fa-clock"></span>
                                                    {{ rating.dateCreated | timeAgo }}
                                                </span>
                                            </span>
                                            <ul class="comment-rating-ul">
                                                <li>
                                                    <span ng-repeat="index in [].constructor(rating.star) track by $index">
                                                        <span class="fas fa-star"></span>
                                                    </span>
                                                </li>
                                            </ul>
                                            <p>{{ rating.content }}</p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <div ng-if="ratingHotel.userComments.totalElements > ratingHotel.userComments.content.numberOfElements">
                            <button class="btn text-green text-center"
                                    ng-click="findUserComments(roomTypes[0].hotelsByHotelId.id)">Hiển thị thêm
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3">
                <div class="sidebar-widget-area">
                    <!--=== Category Widget ===-->
                    <div class="sidebar-widget category-widget mb-30 wow fadeInUp">
                        <p class="fw-medium">Điểm nổi bật của khách sạn</p>
                        <ul class="category-nav">
                            <li ng-repeat="roomUtilitiesHotels in roomTypes[0].hotelsByHotelId.placeUtilities">
                                <p style="font-size: 13px">
                                <span render-html html-text="roomUtilitiesHotels.placeUtilitiesIcon"> <i
                                        class="fas fa-check-circle"></i></span>
                                    <span ng-bind="roomUtilitiesHotels.placeUtilitiesName"></span>
                                </p>
                            </li>
                        </ul>
                    </div>
                    <!--=== Recent Post Widget ===-->
                    <div class="sidebar-widget recent-post-widget mb-40 wow fadeInUp">
                        <h4 class="widget-title">Phòng vừa xem</h4>
                        <ul class="recent-post-list">
                            <li class="post-thumbnail-content fs-content" ng-repeat="roomType in roomTypeViewed"
                                ng-if="roomTypeViewed.length >= 0">
                                <img src="{{roomType.roomTypeId.roomTypeAvatar}}" class="img-fluid object-fit-cover"
                                     style="max-width: 80px; max-height: 80px"
                                     onerror="this.src='/assets/admin/assets/img/bg/default-image-hotel.png'"/>
                                <div class="post-title-date">
                                    <p>{{ getHotelTypeName(roomType.roomTypeId.hotelsByHotelId.hotelTypeId) }}</p>
                                    <h5><a href="">{{ roomType.roomTypeId.hotelsByHotelId.hotelName }}</a></h5>
                                    <p>{{ roomType.roomTypeId.roomTypeName }}</p>
                                    <span class="posted-on"><span class="fas fa-calendar-alt"></span><a
                                            href="#">{{ roomType.lastUpdated | timeAgo }}</a></span>
                                </div>
                            </li>
                            <li class="post-thumbnail-content" ng-if="roomTypeViewed.length === 0">
                                <div class="d-flex justify-content-center align-items-center">
                                    <p>Không có khách sạn nào được xem gần đây</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!--====== End Blog Details Section ======-->

<!--====== Start Gallery Section ======-->
<section class="gallery-section mbm-150">
    <div class="container-fluid">
        <div class="slider-active-5-item wow fadeInUp">
            <!--=== Single Gallery Item ===-->
            <div class="single-gallery-item">
                <div class="gallery-img">
                    <img src="/assets/customers/images/gallery/gl-1.jpg" alt="Gallery Image">
                    <div class="hover-overlay">
                        <a href="/assets/customers/images/gallery/gl-1.jpg" class="icon-btn img-popup"><span
                                class="fas fa-plus"></span></a>
                    </div>
                </div>
            </div>
            <!--=== Single Gallery Item ===-->
            <div class="single-gallery-item">
                <div class="gallery-img">
                    <img src="/assets/customers/images/gallery/gl-2.jpg" alt="Gallery Image">
                    <div class="hover-overlay">
                        <a href="/assets/customers/images/gallery/gl-2.jpg" class="icon-btn img-popup"><span
                                class="fas fa-plus"></span></a>
                    </div>
                </div>
            </div>
            <!--=== Single Gallery Item ===-->
            <div class="single-gallery-item">
                <div class="gallery-img">
                    <img src="/assets/customers/images/gallery/gl-3.jpg" alt="Gallery Image">
                    <div class="hover-overlay">
                        <a href="/assets/customers/images/gallery/gl-3.jpg" class="icon-btn img-popup"><span
                                class="fas fa-plus"></span></a>
                    </div>
                </div>
            </div>
            <!--=== Single Gallery Item ===-->
            <div class="single-gallery-item">
                <div class="gallery-img">
                    <img src="/assets/customers/images/gallery/gl-4.jpg" alt="Gallery Image">
                    <div class="hover-overlay">
                        <a href="/assets/customers/images/gallery/gl-4.jpg" class="icon-btn img-popup"><span
                                class="fas fa-plus"></span></a>
                    </div>
                </div>
            </div>
            <!--=== Single Gallery Item ===-->
            <div class="single-gallery-item">
                <div class="gallery-img">
                    <img src="/assets/customers/images/gallery/gl-5.jpg" alt="Gallery Image">
                    <div class="hover-overlay">
                        <a href="/assets/customers/images/gallery/gl-5.jpg" class="icon-btn img-popup"><span
                                class="fas fa-plus"></span></a>
                    </div>
                </div>
            </div>
            <!--=== Single Gallery Item ===-->
            <div class="single-gallery-item">
                <div class="gallery-img">
                    <img src="/assets/customers/images/gallery/gl-3.jpg" alt="Gallery Image">
                    <div class="hover-overlay">
                        <a href="/assets/customers/images/gallery/gl-3.jpg" class="icon-btn img-popup"><span
                                class="fas fa-plus"></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!--====== End Gallery Section ======-->

<div id="imageHotelModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-scrollable" style="max-width: 90%; height: 90vh">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="mapModalLabel" ng-bind="roomTypes[0].hotelsByHotelId.hotelName"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <button style="margin: 24px 24px 0 0" type="button" class="btn-close" data-dismiss="modal"
                            ng-click="closeImageHotelModal()"></button>
                </button>
            </div>
            <div class="modal-body row">
                <ul class="nav justify-content-center">
                    <li class="nav-item text-center" ng-class="{ 'active': activeTabIndex === -1 }"
                        ng-click="updateRoomImages(-1)">
                        <img src="{{roomTypes[0].hotelsByHotelId.hotelAvatar}}" class="img-fluid object-fit-cover"
                             style="max-width: 80px; max-height: 80px; border-radius: 8px">
                        <a class="nav-link active" aria-current="page" href="#">Tổng quan</a>
                    </li>
                    <li class="nav-item text-center" ng-class="{ 'active': $index === activeTabIndex }"
                        ng-click="updateRoomImages($index)" ng-repeat="roomType in roomTypes">
                        <img src="{{roomType.roomTypeAvatar}}" class="img-fluid object-fit-cover"
                             style="max-width: 80px; max-height: 80px; border-radius: 8px">
                        <a class="nav-link text-black" ng-bind="roomType.roomTypeName"></a>
                    </li>
                </ul>
                <div class="hotel-image">
                    <div class="row">
                        <div class="image-list col-xl-3 mb-4" ng-repeat="image in listImage">
                            <img loading="lazy" src="{{image.roomTypeImg}}" class="img-fluid object-fit-cover"
                                 style="width: 100%; max-height: 300px; border-radius: 8px" alt="image-hotel">
                        </div>
                    </div>
                </div>
            </div>
            <div class="mt-3 d-flex justify-content-center pb-5">
                <button type="button" class="btn btn-green" style="padding: 8px 50px; border-radius: 30px"
                        ng-click="closeImageHotelModal()">Đóng
                </button>
            </div>
        </div>
    </div>
</div>
<div id="infoRoomType" class="modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-scrollable" style="max-width: 80%; height: 80vh">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="" ng-bind="roomTypes[0].hotelsByHotelId.hotelName"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <button style="margin: 24px 24px 0 0" type="button" class="btn-close" data-dismiss="modal"
                            ng-click="closeInfoRoomTypeModal()"></button>
                </button>
            </div>
            <div class="modal-body row">
                <div class="hotel-image">
                    <div class="row">
                        <div class="image-list col-lg-6 mb-4">
                            <div class="owl-carousel" owl-carousel>
                                <div class="item" ng-repeat="image in infoRoomType.roomImagesById">
                                    <img ng-src="{{image.roomTypeImg}}" style="max-height: 500px" alt="image">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 px-2">
                            <div class="h5">Mô tả phòng này</div>
                            <p ng-bind="infoRoomType.roomTypeDescription" class="mb-3"></p>
                            <div class="h5">Các dịch vụ của khách sạn mà bạn có</div>
                            <ul>
                                <li ng-repeat="service in infoRoomType.hotelsByHotelId.placeUtilities">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div><i class="fas fa-check-circle"></i> <span
                                                ng-bind="service.placeUtilitiesName"></span></div>
                                    </div>
                                </li>
                            </ul>
                            <div class="h5">Các dịch vụ của phòng này</div>
                            <ul>
                                <li ng-repeat="service in infoRoomType.roomUtilities">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div><i class="fas fa-check-circle"></i> <span
                                                ng-bind="service.roomUtilitiesName"></span></div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mt-3 d-flex justify-content-center pb-5">
                <button type="button" class="btn btn-green" style="padding: 8px 50px; border-radius: 30px"
                        ng-click="closeInfoRoomTypeModal()">Đóng
                </button>
            </div>
        </div>
    </div>
</div>