<!--====== Start Breadcrumb Section ======-->
<section class="page-banner overlay pt-170 pb-170 bg_cover"
         style="background-image: url(/assets/customers/images/bg/page-bg-1.png);">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="page-banner-content text-center text-white">
                    <h1 class="page-title">Đặt Phòng - Khách Sạn</h1>
                    <ul class="breadcrumb-link text-white">
                        <li><a href="/home">Trang chủ</a></li>
                        <li class="active">Phòng - khách sạn</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section><!--====== End Breadcrumb Section ======-->

<!--====== Start Events Section ======-->
<section class="events-section pt-100 pb-100">
    <div class="container">
        <!--====== Products Filter ======-->
        <div class="page-item-filter mb-40 wow fadeInUp">
            <div class="row align-items-center justify-content-center">
                <div class="col-md-7">
                    <!--====== Show Text ======-->
                    <div class="show-text mb-20">
                        <h3>Đặt Phòng Khách Sạn</h3>
                    </div>
                </div>
                <div class="col-md-5">
                    <!--====== Product Dropdown ======-->
                    <div class="product-dropdown float-md-end">
                        <span class="title">Sắp xếp</span>
                        <select class="wide">
                            <option data-display="Default">Default</option>
                            <option value="01">Best Event</option>
                            <option value="02">New Events</option>
                            <option value="03">Upcoming Event</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-xl-4 col-md-6 col-sm-12">
                <div class="single-event-item mb-30 wow fadeInUp">
                    <div class="img-holder">
                        <img src="/assets/customers/images/event/event-1.jpg" alt="Event Image">
                    </div>
                    <div class="content">
                        <div class="meta">
                            <span><span class="fas fa-calendar-alt"></span><a href="#">September 25, 2022</a></span>
                            <h3 class="title"><a href="/hotel-detail">How To Enjoy Adventure
                                Trip With Gowilds</a></h3>
                            <p class="location"><span class="fas fa-map-marker-alt"></span> Gaafu Dhaalu Atoll, Maldives</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6 col-sm-12">
                <div class="single-event-item mb-30 wow fadeInUp">
                    <div class="img-holder">
                        <img src="/assets/customers/images/event/event-2.jpg" alt="Event Image">
                    </div>
                    <div class="content">
                        <div class="meta">
                            <span><span class="fas fa-calendar-alt"></span><a href="#">September 25, 2022</a></span>
                            <h3 class="title"><a href="#">Great Advice For Build Awesome Mintality</a></h3>
                            <p class="location"><span class="fas fa-map-marker-alt"></span> Gaafu Dhaalu Atoll, Maldives</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6 col-sm-12">
                <div class="single-event-item mb-30 wow fadeInUp">
                    <div class="img-holder">
                        <img src="/assets/customers/images/event/event-3.jpg" alt="Event Image">
                    </div>
                    <div class="content">
                        <div class="meta">
                            <span><span class="fas fa-calendar-alt"></span><a href="#">September 25, 2022</a></span>
                            <h3 class="title"><a href="#">How To Enjoy Adventure
                                Trip With Gowilds</a></h3>
                            <p class="location"><span class="fas fa-map-marker-alt"></span> Gaafu Dhaalu Atoll, Maldives</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6 col-sm-12">
                <div class="single-event-item mb-30 wow fadeInUp">
                    <div class="img-holder">
                        <img src="/assets/customers/images/event/event-4.jpg" alt="Event Image">
                    </div>
                    <div class="content">
                        <div class="meta">
                            <span><span class="fas fa-calendar-alt"></span><a href="#">September 25, 2022</a></span>
                            <h3 class="title"><a href="#">How To Enjoy Adventure
                                Trip With Gowilds</a></h3>
                            <p class="location"><span class="fas fa-map-marker-alt"></span> Gaafu Dhaalu Atoll, Maldives</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6 col-sm-12">
                <div class="single-event-item mb-30 wow fadeInUp">
                    <div class="img-holder">
                        <img src="/assets/customers/images/event/event-5.jpg" alt="Event Image">
                    </div>
                    <div class="content">
                        <div class="meta">
                            <span><span class="fas fa-calendar-alt"></span><a href="#">September 25, 2022</a></span>
                            <h3 class="title"><a href="#">Grocery & Specialty For Food West</a></h3>
                            <p class="location"><span class="fas fa-map-marker-alt"></span> Gaafu Dhaalu Atoll, Maldives</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6 col-sm-12">
                <div class="single-event-item mb-30 wow fadeInUp">
                    <div class="img-holder">
                        <img src="/assets/customers/images/event/event-6.jpg" alt="Event Image">
                    </div>
                    <div class="content">
                        <div class="meta">
                            <span><span class="fas fa-calendar-alt"></span><a href="#">September 25, 2022</a></span>
                            <h3 class="title"><a href="#">Vancouver International Travel Expo</a></h3>
                            <p class="location"><span class="fas fa-map-marker-alt"></span> Gaafu Dhaalu Atoll, Maldives</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6 col-sm-12">
                <div class="single-event-item mb-30 wow fadeInUp">
                    <div class="img-holder">
                        <img src="/assets/customers/images/event/event-7.jpg" alt="Event Image">
                    </div>
                    <div class="content">
                        <div class="meta">
                            <span><span class="fas fa-calendar-alt"></span><a href="#">September 25, 2022</a></span>
                            <h3 class="title"><a href="#">How To Enjoy Adventure
                                Trip With Gowilds</a></h3>
                            <p class="location"><span class="fas fa-map-marker-alt"></span> Gaafu Dhaalu Atoll, Maldives</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6 col-sm-12">
                <div class="single-event-item mb-30 wow fadeInUp">
                    <div class="img-holder">
                        <img src="/assets/customers/images/event/event-8.jpg" alt="Event Image">
                    </div>
                    <div class="content">
                        <div class="meta">
                            <span><span class="fas fa-calendar-alt"></span><a href="#">September 25, 2022</a></span>
                            <h3 class="title"><a href="#">How To Enjoy Adventure
                                Trip With Gowilds</a></h3>
                            <p class="location"><span class="fas fa-map-marker-alt"></span> Gaafu Dhaalu Atoll, Maldives</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6 col-sm-12">
                <div class="single-event-item mb-30 wow fadeInUp">
                    <div class="img-holder">
                        <img src="/assets/customers/images/event/event-9.jpg" alt="Event Image">
                    </div>
                    <div class="content">
                        <div class="meta">
                            <span><span class="fas fa-calendar-alt"></span><a href="#">September 25, 2022</a></span>
                            <h3 class="title"><a href="#">How To Enjoy Adventure
                                Trip With Gowilds</a></h3>
                            <p class="location"><span class="fas fa-map-marker-alt"></span> Gaafu Dhaalu Atoll, Maldives</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="gowilds-pagination wow fadeInUp text-center">
                    <li><a href="#"><span class="fas fa-arrow-left"></span></a></li>
                    <li><a href="#" class="active">01</a></li>
                    <li><a href="#">02</a></li>
                    <li><a href="#">03</a></li>
                    <li><a href="#">04</a></li>
                    <li><a href="#"><span class="fas fa-arrow-right"></span></a></li>
                </ul>
            </div>
        </div>
    </div>
</section><!--====== End Events Section ======-->

<!--====== Start Gallery Section ======-->
<section class="gallery-section mbm-150">
    <div class="container-fluid">
        <div class="slider-active-5-item wow fadeInUp">
            <!--=== Single Gallery Item ===-->
            <div class="single-gallery-item">
                <div class="gallery-img">
                    <img src="/assets/customers/images/gallery/gl-1.jpg" alt="Gallery Image">
                    <div class="hover-overlay">
                        <a href="/assets/customers/images/gallery/gl-1.jpg" class="icon-btn img-popup"><span
                                class="fas fa-plus"></span></a>
                    </div>
                </div>
            </div>
            <!--=== Single Gallery Item ===-->
            <div class="single-gallery-item">
                <div class="gallery-img">
                    <img src="/assets/customers/images/gallery/gl-2.jpg" alt="Gallery Image">
                    <div class="hover-overlay">
                        <a href="/assets/customers/images/gallery/gl-2.jpg" class="icon-btn img-popup"><span
                                class="fas fa-plus"></span></a>
                    </div>
                </div>
            </div>
            <!--=== Single Gallery Item ===-->
            <div class="single-gallery-item">
                <div class="gallery-img">
                    <img src="/assets/customers/images/gallery/gl-3.jpg" alt="Gallery Image">
                    <div class="hover-overlay">
                        <a href="/assets/customers/images/gallery/gl-3.jpg" class="icon-btn img-popup"><span
                                class="fas fa-plus"></span></a>
                    </div>
                </div>
            </div>
            <!--=== Single Gallery Item ===-->
            <div class="single-gallery-item">
                <div class="gallery-img">
                    <img src="/assets/customers/images/gallery/gl-4.jpg" alt="Gallery Image">
                    <div class="hover-overlay">
                        <a href="/assets/customers/images/gallery/gl-4.jpg" class="icon-btn img-popup"><span
                                class="fas fa-plus"></span></a>
                    </div>
                </div>
            </div>
            <!--=== Single Gallery Item ===-->
            <div class="single-gallery-item">
                <div class="gallery-img">
                    <img src="/assets/customers/images/gallery/gl-5.jpg" alt="Gallery Image">
                    <div class="hover-overlay">
                        <a href="/assets/customers/images/gallery/gl-5.jpg" class="icon-btn img-popup"><span
                                class="fas fa-plus"></span></a>
                    </div>
                </div>
            </div>
            <!--=== Single Gallery Item ===-->
            <div class="single-gallery-item">
                <div class="gallery-img">
                    <img src="/assets/customers/images/gallery/gl-3.jpg" alt="Gallery Image">
                    <div class="hover-overlay">
                        <a href="/assets/customers/images/gallery/gl-3.jpg" class="icon-btn img-popup"><span
                                class="fas fa-plus"></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!--====== End Gallery Section ======-->