<section>
    <div class="container">
        <div class="container-fluid">
            <div class="header-control mb-4">
                <div class="">
                    <div class="d-flex align-items-center row">
                        <div class="col-lg-6">
                            <h3 class="color-green fw-bold text-uppercase">Thêm khách hàng đi tour</h3>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card card-custom">
                <form class="row g-3 form-input-custom" name="tourCustomerForm" ng-submit="submitTourCustomer()"
                      novalidate>
                    <!-- Tên khách hàng -->
                    <div class="col-12">
                        <label for="name" class="form-label">Tên khách hàng</label>
                        <input class="form-control" id="name" type="text"
                               placeholder="Nguyen Van A"
                               name="customerName"
                               ng-model="tourCustomer.customerName"
                               ng-class="{ 'is-invalid': tourCustomerForm.customerName.$touched && tourCustomerForm.customerName.$invalid,
                                            'is-valid':  tourCustomerForm.customerName.$touched && tourCustomerForm.customerName.$valid }"
                               ng-pattern="/^[\p{L}'][\p{L}'\s-]{0,}$/u"
                               required/>
                        <small class="text-danger"
                               ng-show="tourCustomerForm.customerName.$touched && tourCustomerForm.customerName.$error.required">
                            Vui lòng nhập họ tên nhân viên !
                        </small>
                        <small class="text-danger"
                               ng-show="tourCustomerForm.customerName.$touched && tourCustomerForm.customerName.$error.pattern">
                            Tên nhân viên không đúng định dạng !
                        </small>
                    </div>

                    <!-- Số điện thoại -->
                    <div class="col-md-6">
                        <label for="phoneNumber" class="form-label">Số điện thoại</label>
                        <input class="form-control" id="phoneNumber"
                               type="text" placeholder="0942050505"
                               name="phoneNumber"
                               ng-pattern="/^\d{10}(\d{1})?$/"
                               ng-model="tourCustomer.phoneNumber"
                               ng-class="{ 'is-invalid': tourCustomerForm.phoneNumber.$invalid && tourCustomerForm.phoneNumber.$touched,
                                            'is-valid': tourCustomerForm.phoneNumber.$valid && tourCustomerForm.phoneNumber.$touched }"
                               required/>
                        <small class="text-danger"
                               ng-show="tourCustomerForm.phoneNumber.$touched && tourCustomerForm.phoneNumber.$error.required">
                            Vui lòng nhập số điện thoại !
                        </small>
                        <small class="text-danger"
                               ng-show="tourCustomerForm.phoneNumber.$touched && tourCustomerForm.phoneNumber.$error.pattern">
                            Số điện thoại bao gồm 10 hoặc 11 số !
                        </small>
                    </div>

                    <div class="col-md-6">
                        <label for="birth" class="form-label">Ngày sinh</label>
                        <input class="form-control" id="birth" type="date" name="birth" ng-model="tourCustomer.birth"
                               ng-class="{ 'is-invalid': isBirthInvalid(), 'is-valid': isBirthValid() }"
                               ng-change="checkBirth()" required/>
                        <small class="text-danger"
                               ng-show="tourCustomerForm.birth.$touched && tourCustomerForm.birth.$error.required">
                            Vui lòng nhập ngày sinh!
                        </small>
                        <small class="text-danger" ng-show="tourCustomerForm.birth.$touched && isBirthInvalid()">
                            Yêu cầu trên 16 tuổi!
                        </small>
                    </div>

                    <!-- Nút Submit -->
                    <div class="col-12 d-flex justify-content-end mt-5">
                        <button class="btn" style="margin-right: 20px"><a class="btn"
                                                                          href="/admin/tour-tourCustomer-list">Trở
                            về</a></button>
                        <button type="submit" class="btn btn-submit"
                                ng-disabled="tourCustomerForm.$invalid">
                            Thêm khách hàng
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>