<!--====== Start Breadcrumb Section ======-->
<section class="page-banner overlay pt-170 pb-170 bg_cover"
         style="background-image: url(/assets/customers/images/background-banner/tour-11.png);">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="page-banner-content text-center text-white">
                    <h1 class="page-title">Liên Hệ Với Chúng Tôi</h1>
                    <ul class="breadcrumb-link text-white">
                        <li><a href="/home">Trang chủ</a></li>
                        <li class="active">Liên hệ</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section><!--====== End Breadcrumb Section ======-->

<!--====== Start Info Section ======-->
<section class="contact-info-section pt-100 pb-60">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-8">
                <!--=== Section Title ===-->
                <div class="section-title text-center mb-45 wow fadeInDown">
                    <span class="sub-title">Liên Hệ</span>
                    <h2>Bạn có thể liên hệ chúng tôi qua các thông tin sau</h2>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 col-sm-12">
                <!--=== Contact Info Item ===-->
                <div class="contact-info-item text-center mb-40 wow fadeInUp">
                    <div class="icon">
                        <img src="/assets/customers/images/icon/icon-1.png" alt="icon">
                    </div>
                    <div class="info">
                        <span class="title">Địa chỉ công ty</span>
                        <p>Vincom Xuân Khánh plaza, Ninh Kiều, Cần Thơ</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <!--=== Contact Info Item ===-->
                <div class="contact-info-item text-center mb-40 wow fadeInDown">
                    <div class="icon">
                        <img src="/assets/customers/images/icon/icon-2.png" alt="icon">
                    </div>
                    <div class="info">
                        <span class="title">Địa chỉ Email</span>
                        <p>
                            <a href="#"><span class="__cf_email__">Travel Tour</span></a>
                        </p>
                        <p>
                            <a href="#">traveltourpass@gmail.com</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <!--=== Contact Info Item ===-->
                <div class="contact-info-item text-center mb-40 wow fadeInUp">
                    <div class="icon">
                        <img src="/assets/customers/images/icon/icon-3.png" alt="icon">
                    </div>
                    <div class="info">
                        <span class="title">Đường dây nóng</span>
                        <p><a href="#">+84 0929 456 888</a></p>
                        <p><a href="#">+84 0929 456 999</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!--====== End Info Section ======-->

<!--====== Start Contact Map Section ======-->
<section class="contact-page-map pb-100 wow fadeInUp">
    <!--=== Map Box ===-->
    <div class="map-box">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15715.293504292451!2d105.7845097!3d10.0314295!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31a0629f9a16bf9f%3A0x264327b310ff8fd9!2zQ2hpIG5ow6FuaCBM4buvIGjDoG5oIFNhaWdvbnRvdXJpc3QgdOG6oWkgQ-G6p24gVGjGoQ!5e0!3m2!1svi!2s!4v1712911021224!5m2!1svi!2s"
                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</section><!--====== End Contact Map Section ======-->

<!--====== Start Contact Section ======-->
<section class="contact-section pb-100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6">
                <div class="section-title text-center mb-50 wow fadeInDown">
                    <span class="sub-title">Để Lại Thông Tin</span>
                    <h2>Gửi tin nhắn cho chúng tôi</h2>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="contact-area wow fadeInUp">
                    <form class="contact-form">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form_group">
                                    <input type="text" placeholder="Họ và tên" class="form_control" name="name"
                                           required>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form_group">
                                    <input type="text" placeholder="Số điện thoại" class="form_control" name="number"
                                           required>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form_group">
                                    <input type="email" placeholder="Địa chỉ Email" class="form_control" name="email"
                                           required>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form_group">
                                    <input type="url" placeholder="Website" class="form_control" name="website"
                                           required>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form_group">
                                    <textarea name="message" placeholder="Nội dung..." class="form_control"
                                              rows="6"></textarea>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form_group text-center">
                                    <button class="main-btn primary-btn">Gửi tin nhắn
                                        <svg class="svg-inline--fa fa-paper-plane" aria-hidden="true" focusable="false"
                                             data-prefix="fas" data-icon="paper-plane" role="img"
                                             xmlns="http://www.w3.org/2000/svg" viewBox="0 0 650 512" data-fa-i2svg="">
                                            <path fill="currentColor"
                                                  d="M511.6 36.86l-64 415.1c-1.5 9.734-7.375 18.22-15.97 23.05c-4.844 2.719-10.27 4.097-15.68 4.097c-4.188 0-8.319-.8154-12.29-2.472l-122.6-51.1l-50.86 76.29C226.3 508.5 219.8 512 212.8 512C201.3 512 192 502.7 192 491.2v-96.18c0-7.115 2.372-14.03 6.742-19.64L416 96l-293.7 264.3L19.69 317.5C8.438 312.8 .8125 302.2 .0625 289.1s5.469-23.72 16.06-29.77l448-255.1c10.69-6.109 23.88-5.547 34 1.406S513.5 24.72 511.6 36.86z"></path>
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section><!--====== End Contact Section ======-->