<!--====== Start Breadcrumb Section ======-->
<section class="page-banner overlay pt-170 pb-220 bg_cover"
         style="background-image: url(/assets/customers/images/bg/page-bg-1.png);">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="page-banner-content text-center text-white">
                    <h1 class="page-title">Du Lịch Cùng TravelTour</h1>
                    <ul class="breadcrumb-link text-white">
                        <li><a href="/home">Trang chủ</a></li>
                        <li class="active">Du Lịch Cùng TravelTour</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section><!--====== End Breadcrumb Section ======-->

<!--====== Start Booking Section ======-->
<section class="booking-form-section pb-100">
    <div class="container-fluid">
        <div class="booking-form-wrapper p-r z-2">
            <form class="booking-form-two">
                <div class="form_group">
                    <span>Điểm đi</span>
                    <label><span class="fas fa-plane-departure"></span></label>
                    <input type="text" class="form_control datepicker" placeholder="Điểm đi">
                </div>
                <div class="form_group">
                    <span>Điểm đến</span>
                    <label><span class="fas fa-plane-arrival"></span></label>
                    <input type="text" class="form_control datepicker" placeholder="Điểm đến">
                </div>
                <div class="form_group">
                    <span>Khách hàng</span>
                    <label><span class="fas fa-user"></span></label>
                    <input type="text" class="form_control" placeholder="Khách hàng" name="text">
                </div>
                <div class="form_group">
                    <span>Ngày đi</span>
                    <input type="date" class="form_control" placeholder="Ngày đi" name="text">
                </div>
                <div class="form_group">
                    <button class="booking-btn" type="submit">Xác nhận
                        <span class="fas fa-angle-double-right"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</section><!--====== End Booking Section ======-->

<!--====== Start Places Section ======-->
<section class="places-section pb-100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-4 col-md-6 col-sm-12 places-column">
                <!--=== Single Place Item ===-->
                <div class="single-place-item mb-60 wow fadeInUp">
                    <div class="place-img">
                        <img src="/assets/customers/images/place/place-1.jpg" alt="Place Image">
                    </div>
                    <div class="place-content">
                        <div class="info">
                            <ul class="ratings">
                                <li><span class="fas fa-star"></span></li>
                                <li><span class="fas fa-star"></span></li>
                                <li><span class="fas fa-star"></span></li>
                                <li><span class="fas fa-star"></span></li>
                                <li><span class="fas fa-star"></span></li>
                                <li><a href="#">(4.9)</a></li>
                            </ul>
                            <h4 class="title"><a href="">Sitting on Boat Spreading Her Arms</a></h4>
                            <p class="location"><span class="fas fa-map-marker-alt"></span>North Province, Maldives</p>
                            <p class="price"><span class="far fa-money-bill-alt"></span>Price<span
                                    class="currency">$</span>93.65
                            </p>
                            <div class="meta">
                                <span><span class="fas fa-clock"></span>05 Days</span>
                                <span><span class="fas fa-user"></span>25</span>
                                <span><a href="/tour-detail">Details<span
                                        class="fas fa-long-arrow-right"></span></a></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6 col-sm-12 places-column">
                <!--=== Single Place Item ===-->
                <div class="single-place-item mb-60 wow fadeInUp">
                    <div class="place-img">
                        <img src="/assets/customers/images/place/place-2.jpg" alt="Place Image">
                    </div>
                    <div class="place-content">
                        <div class="info">
                            <ul class="ratings">
                                <li><span class="fas fa-star"></span></li>
                                <li><span class="fas fa-star"></span></li>
                                <li><span class="fas fa-star"></span></li>
                                <li><span class="fas fa-star"></span></li>
                                <li><span class="fas fa-star"></span></li>
                                <li><a href="#">(4.9)</a></li>
                            </ul>
                            <h4 class="title"><a href="">White Canopy Tent Near
                                Coastline</a></h4>
                            <p class="location"><span class="fas fa-map-marker-alt"></span>North Province, Maldives</p>
                            <p class="price"><span class="far fa-money-bill-alt"></span>Price<span
                                    class="currency">$</span>93.65
                            </p>
                            <div class="meta">
                                <span><span class="fas fa-clock"></span>05 Days</span>
                                <span><span class="fas fa-user"></span>25</span>
                                <span><a href="">Details<span class="fas fa-long-arrow-right"></span></a></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6 col-sm-12 places-column">
                <!--=== Single Place Item ===-->
                <div class="single-place-item mb-60 wow fadeInUp">
                    <div class="place-img">
                        <img src="/assets/customers/images/place/place-3.jpg" alt="Place Image">
                    </div>
                    <div class="place-content">
                        <div class="info">
                            <ul class="ratings">
                                <li><span class="fas fa-star"></span></li>
                                <li><span class="fas fa-star"></span></li>
                                <li><span class="fas fa-star"></span></li>
                                <li><span class="fas fa-star"></span></li>
                                <li><span class="fas fa-star"></span></li>
                                <li><a href="#">(4.9)</a></li>
                            </ul>
                            <h4 class="title"><a href="">Sitting on Boat Spreading Her Arms</a></h4>
                            <p class="location"><span class="fas fa-map-marker-alt"></span>Tambon Khlong Sok, Thailand
                            </p>
                            <p class="price"><span class="far fa-money-bill-alt"></span>Price<span
                                    class="currency">$</span>93.65
                            </p>
                            <div class="meta">
                                <span><span class="fas fa-clock"></span>05 Days</span>
                                <span><span class="fas fa-user"></span>25</span>
                                <span><a href="">Details<span
                                        class="fas fa-long-arrow-right"></span></a></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6 col-sm-12 places-column">
                <!--=== Single Place Item ===-->
                <div class="single-place-item mb-60 wow fadeInUp">
                    <div class="place-img">
                        <img src="/assets/customers/images/place/place-4.jpg" alt="Place Image">
                    </div>
                    <div class="place-content">
                        <div class="info">
                            <ul class="ratings">
                                <li><span class="fas fa-star"></span></li>
                                <li><span class="fas fa-star"></span></li>
                                <li><span class="fas fa-star"></span></li>
                                <li><span class="fas fa-star"></span></li>
                                <li><span class="fas fa-star"></span></li>
                                <li><a href="#">(4.9)</a></li>
                            </ul>
                            <h4 class="title"><a href="">Sitting on Boat Spreading Her Arms</a></h4>
                            <p class="location"><span class="fas fa-map-marker-alt"></span>Arefu, AG, Romania</p>
                            <p class="price"><span class="far fa-money-bill-alt"></span>Price<span
                                    class="currency">$</span>93.65
                            </p>
                            <div class="meta">
                                <span><span class="fas fa-clock"></span>05 Days</span>
                                <span><span class="fas fa-user"></span>25</span>
                                <span><a href="">Details<span
                                        class="fas fa-long-arrow-right"></span></a></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6 col-sm-12 places-column">
                <!--=== Single Place Item ===-->
                <div class="single-place-item mb-60 wow fadeInUp">
                    <div class="place-img">
                        <img src="/assets/customers/images/place/place-5.jpg" alt="Place Image">
                    </div>
                    <div class="place-content">
                        <div class="info">
                            <ul class="ratings">
                                <li><span class="fas fa-star"></span></li>
                                <li><span class="fas fa-star"></span></li>
                                <li><span class="fas fa-star"></span></li>
                                <li><span class="fas fa-star"></span></li>
                                <li><span class="fas fa-star"></span></li>
                                <li><a href="#">(4.9)</a></li>
                            </ul>
                            <h4 class="title"><a href="">Cottages In The Middle Of Beach</a></h4>
                            <p class="location"><span class="fas fa-map-marker-alt"></span>Vaitāpē, French Polynesia</p>
                            <p class="price"><span class="far fa-money-bill-alt"></span>Price<span
                                    class="currency">$</span>93.65
                            </p>
                            <div class="meta">
                                <span><span class="fas fa-clock"></span>05 Days</span>
                                <span><span class="fas fa-user"></span>25</span>
                                <span><a href="">Details<span
                                        class="fas fa-long-arrow-right"></span></a></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6 col-sm-12 places-column">
                <!--=== Single Place Item ===-->
                <div class="single-place-item mb-60 wow fadeInUp">
                    <div class="place-img">
                        <img src="/assets/customers/images/place/place-6.jpg" alt="Place Image">
                    </div>
                    <div class="place-content">
                        <div class="info">
                            <ul class="ratings">
                                <li><span class="fas fa-star"></span></li>
                                <li><span class="fas fa-star"></span></li>
                                <li><span class="fas fa-star"></span></li>
                                <li><span class="fas fa-star"></span></li>
                                <li><span class="fas fa-star"></span></li>
                                <li><a href="#">(4.9)</a></li>
                            </ul>
                            <h4 class="title"><a href="">Beautiful Floating Villa on River</a></h4>
                            <p class="location"><span class="fas fa-map-marker-alt"></span>Gaafu Dhaalu Atoll, Maldives
                            </p>
                            <p class="price"><span class="far fa-money-bill-alt"></span>Price<span
                                    class="currency">$</span>93.65
                            </p>
                            <div class="meta">
                                <span><span class="fas fa-clock"></span>05 Days</span>
                                <span><span class="fas fa-user"></span>25</span>
                                <span><a href="">Details<span
                                        class="fas fa-long-arrow-right"></span></a></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6 col-sm-12 places-column">
                <!--=== Single Place Item ===-->
                <div class="single-place-item mb-60 wow fadeInUp">
                    <div class="place-img">
                        <img src="/assets/customers/images/place/place-7.jpg" alt="Place Image">
                    </div>
                    <div class="place-content">
                        <div class="info">
                            <ul class="ratings">
                                <li><span class="fas fa-star"></span></li>
                                <li><span class="fas fa-star"></span></li>
                                <li><span class="fas fa-star"></span></li>
                                <li><span class="fas fa-star"></span></li>
                                <li><span class="fas fa-star"></span></li>
                                <li><a href="#">(4.9)</a></li>
                            </ul>
                            <h4 class="title"><a href="">Man and Woman Walks on Dock</a></h4>
                            <p class="location"><span class="fas fa-map-marker-alt"></span>Maldives</p>
                            <p class="price"><span class="far fa-money-bill-alt"></span>Price<span
                                    class="currency">$</span>93.65
                            </p>
                            <div class="meta">
                                <span><span class="fas fa-clock"></span>05 Days</span>
                                <span><span class="fas fa-user"></span>25</span>
                                <span><a href="">Details<span
                                        class="fas fa-long-arrow-right"></span></a></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6 col-sm-12 places-column">
                <!--=== Single Place Item ===-->
                <div class="single-place-item mb-60 wow fadeInUp">
                    <div class="place-img">
                        <img src="/assets/customers/images/place/place-8.jpg" alt="Place Image">
                    </div>
                    <div class="place-content">
                        <div class="info">
                            <ul class="ratings">
                                <li><span class="fas fa-star"></span></li>
                                <li><span class="fas fa-star"></span></li>
                                <li><span class="fas fa-star"></span></li>
                                <li><span class="fas fa-star"></span></li>
                                <li><span class="fas fa-star"></span></li>
                                <li><a href="#">(4.9)</a></li>
                            </ul>
                            <h4 class="title"><a href="">Trees Under White Clouds during Daytime</a>
                            </h4>
                            <p class="location"><span class="fas fa-map-marker-alt"></span>Vaitāpē, French Polynesia</p>
                            <p class="price"><span class="far fa-money-bill-alt"></span>Price<span
                                    class="currency">$</span>93.65
                            </p>
                            <div class="meta">
                                <span><span class="fas fa-clock"></span>05 Days</span>
                                <span><span class="fas fa-user"></span>25</span>
                                <span><a href="">Details<span
                                        class="fas fa-long-arrow-right"></span></a></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6 col-sm-12 places-column">
                <!--=== Single Place Item ===-->
                <div class="single-place-item mb-60 wow fadeInUp">
                    <div class="place-img">
                        <img src="/assets/customers/images/place/place-9.jpg" alt="Place Image">
                    </div>
                    <div class="place-content">
                        <div class="info">
                            <ul class="ratings">
                                <li><span class="fas fa-star"></span></li>
                                <li><span class="fas fa-star"></span></li>
                                <li><span class="fas fa-star"></span></li>
                                <li><span class="fas fa-star"></span></li>
                                <li><span class="fas fa-star"></span></li>
                                <li><a href="#">(4.9)</a></li>
                            </ul>
                            <h4 class="title"><a href="">Body of Water Near Mountain</a></h4>
                            <p class="location"><span class="fas fa-map-marker-alt"></span>Bali, Indonesia</p>
                            <p class="price"><span class="far fa-money-bill-alt"></span>Price<span
                                    class="currency">$</span>93.65
                            </p>
                            <div class="meta">
                                <span><span class="fas fa-clock"></span>05 Days</span>
                                <span><span class="fas fa-user"></span>25</span>
                                <span><a href="">Details<span
                                        class="fas fa-long-arrow-right"></span></a></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <!--=== Gowilds Pagination ===-->
                <ul class="gowilds-pagination wow fadeInUp text-center">
                    <li><a href="#"><span class="fas fa-arrow-left"></span></a></li>
                    <li><a href="#" class="active">01</a></li>
                    <li><a href="#">02</a></li>
                    <li><a href="#">03</a></li>
                    <li><a href="#">04</a></li>
                    <li><a href="#"><span class="fas fa-arrow-right"></span></a></li>
                </ul>
            </div>
        </div>
    </div>
</section><!--====== End Places Section ======-->

<!--====== Start What We Section ======-->
<section class="we-section pb-50">
    <div class="container">
        <div class="row align-items-xl-center">
            <div class="col-xl-6 order-2 order-xl-1">
                <!--=== We Image Box ===-->
                <div class="we-two_image-box mb-20">
                    <div class="row align-items-end">
                        <div class="col-md-6">
                            <!--=== We Image ===-->
                            <div class="we-image mb-30">
                                <img src="/assets/customers/images/gallery/rectangle-3.png" alt="we Image">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <!--=== We Image ===-->
                            <div class="we-image mb-30">
                                <img src="/assets/customers/images/gallery/rectangle-5.png" alt="we Image">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <!--=== We Image ===-->
                            <div class="we-image mb-30 pr-lg-30 text-md-end">
                                <img src="/assets/customers/images/gallery/rectangle-4.png" alt="we Image">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 order-1 order-xl-2">
                <!--=== We Content Box ===-->
                <div class="we-content-box pl-lg-50 mb-10">
                    <!--=== Section Title ===-->
                    <div class="section-title mb-30">
                        <span class="sub-title">VỀ CHÚNG TÔI</span>
                        <h2>Vì sao bạn nên chọn TravelTour</h2>
                    </div>
                    <!--=== Features List ===-->
                    <div class="features-list_one">
                        <!--=== Single Features List ===-->
                        <div class="single-features-list mb-40">
                            <div class="icon-inner d-flex align-items-center">
                                <div class="icon-check">
                                    <span class="far fa-check-circle"></span>
                                </div>
                                <div class="icon">
                                    <i class="flaticon-helmet"></i>
                                </div>
                            </div>
                            <div class="content">
                                <h4>An Toàn Luôn Được Ưu Tiên</h4>
                                <p>Tận hưởng mọi khoảnh khắc với
                                    sự chăm sóc đặc biệt và an toàn
                                    từ chúng tôi.</p>
                            </div>
                        </div>
                        <!--=== Single Features List ===-->
                        <div class="single-features-list mb-40">
                            <div class="icon-inner d-flex align-items-center">
                                <div class="icon-check">
                                    <span class="far fa-check-circle"></span>
                                </div>
                                <div class="icon">
                                    <i class="flaticon-best-price"></i>
                                </div>
                            </div>
                            <div class="content">
                                <h4>Giá cả hợp lý & thân thiện</h4>
                                <p>Giá cả hợp lý và phục vụ thân thiện
                                    để bạn có trải nghiệm du lịch
                                    trọn vẹn.</p>
                            </div>
                        </div>
                        <!--=== Single Features List ===-->
                        <div class="single-features-list mb-40">
                            <div class="icon-inner d-flex align-items-center">
                                <div class="icon-check">
                                    <span class="far fa-check-circle"></span>
                                </div>
                                <div class="icon">
                                    <i class="flaticon-travel"></i>
                                </div>
                            </div>
                            <div class="content">
                                <h4>Hướng dẫn du lịch uy tín</h4>
                                <p>Hướng dẫn du lịch của chúng tôi,
                                    giúp bạn khám phá những địa điểm
                                    tuyệt vời một cách an tâm.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!--====== End What We Section ======-->

<!--====== Start Activity Section ======-->
<section class="activity-section">
    <div class="activity-wrapper-bgc  text-white black-bg">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-7">
                    <div class="section-title text-center mb-50 wow fadeInDown">
                        <span class="sub-title">ĐỊA ĐIỂM NỔI BẬT</span>
                        <h2>Các địa điểm tham quan nghĩ dưỡng nổi tiếng</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <!--=== Activity Nav Tab ===-->
                    <div class="activity-nav-tab mb-50 wow fadeInLeft">
                        <ul class="nav nav-tabs">
                            <li>
                                <a href="#tab1" class="nav-link active" data-bs-toggle="tab" data-bs-target="#tab1">
                                    Du lịch Hạ Long
                                </a>
                            </li>
                            <li>
                                <a href="#tab2" class="nav-link" data-bs-toggle="tab" data-bs-target="#tab2">
                                    Đại Nội Huế
                                </a>
                            </li>
                            <li>
                                <a href="#tab3" class="nav-link" data-bs-toggle="tab" data-bs-target="#tab3">
                                    Hòn Ngọc Phú Quốc
                                </a>
                            </li>
                            <li>
                                <a href="#tab4" class="nav-link" data-bs-toggle="tab" data-bs-target="#tab4">
                                    Phật Tích Trúc Lâm
                                </a>
                            </li>
                            <li>
                                <a href="#tab5" class="nav-link" data-bs-toggle="tab" data-bs-target="#tab5">
                                    Phố Cổ Hội An
                                </a>
                            </li>
                            <li>
                                <a href="#tab6" class="nav-link" data-bs-toggle="tab" data-bs-target="#tab6">
                                    Tràng An - Ninh Bình
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-8">
                    <!--=== Tab Content ===-->
                    <div class="tab-content mb-50 wow fadeInRight">
                        <!--=== Tab Pane ===-->
                        <div class="tab-pane fade show active" id="tab1">
                            <div class="row align-items-center">
                                <div class="col-md-6">
                                    <!--=== Activity Content Box ===-->
                                    <div class="activity-content-box pl-lg-40">
                                        <div class="icon">
                                            <i class="flaticon-camp"></i>
                                        </div>
                                        <h3 class="title">Khám phá & nghỉ dưỡng</h3>
                                        <p>Uy tín luôn được chúng tôi đặt lên hàng đầu.
                                            Vì chất lượng của du lịch Việt Nam.</p>
                                        <ul class="check-list">
                                            <li><span class="far fa-check-circle"></span>Công tác</li>
                                            <li><span class="far fa-check-circle"></span>Nghĩ dưỡng</li>
                                            <li><span class="far fa-check-circle"></span>Tuần trăng mật</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <!--=== Activity Image Box ===-->
                                    <div class="activity-image-box">
                                        <img src="/assets/customers/images/gallery/activity.jpg" class="radius-12"
                                             alt="Image">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--=== Tab Pane ===-->
                        <div class="tab-pane fade" id="tab2">
                            <div class="row align-items-center">
                                <div class="col-md-6">
                                    <!--=== Activity Content Box ===-->
                                    <div class="activity-content-box pl-lg-40">
                                        <div class="icon">
                                            <span class="flaticon-camp"></span>
                                        </div>
                                        <h3 class="title">Khám phá & nghỉ dưỡng</h3>
                                        <p>Uy tín luôn được chúng tôi đặt lên hàng đầu.
                                            Vì chất lượng của du lịch Việt Nam.</p>
                                        <ul class="check-list">
                                            <li><span class="far fa-check-circle"></span>Công tác</li>
                                            <li><span class="far fa-check-circle"></span>Nghĩ dưỡng</li>
                                            <li><span class="far fa-check-circle"></span>Tuần trăng mật</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <!--=== Activity Image Box ===-->
                                    <div class="activity-image-box">
                                        <img src="/assets/customers/images/gallery/activity.jpg" class="radius-12"
                                             alt="Image">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--=== Tab Pane ===-->
                        <div class="tab-pane fade" id="tab3">
                            <div class="row align-items-center">
                                <div class="col-md-6">
                                    <!--=== Activity Content Box ===-->
                                    <div class="activity-content-box pl-lg-40">
                                        <div class="icon">
                                            <span class="flaticon-camp"></span>
                                        </div>
                                        <h3 class="title">Khám phá & nghỉ dưỡng</h3>
                                        <p>Uy tín luôn được chúng tôi đặt lên hàng đầu.
                                            Vì chất lượng của du lịch Việt Nam.</p>
                                        <ul class="check-list">
                                            <li><span class="far fa-check-circle"></span>Công tác</li>
                                            <li><span class="far fa-check-circle"></span>Nghĩ dưỡng</li>
                                            <li><span class="far fa-check-circle"></span>Tuần trăng mật</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <!--=== Activity Image Box ===-->
                                    <div class="activity-image-box">
                                        <img src="/assets/customers/images/gallery/activity.jpg" class="radius-12"
                                             alt="Image">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--=== Tab Pane ===-->
                        <div class="tab-pane fade" id="tab4">
                            <div class="row align-items-center">
                                <div class="col-md-6">
                                    <!--=== Activity Content Box ===-->
                                    <div class="activity-content-box pl-lg-40">
                                        <div class="icon">
                                            <span class="flaticon-camp"></span>
                                        </div>
                                        <h3 class="title">Khám phá & nghỉ dưỡng</h3>
                                        <p>Uy tín luôn được chúng tôi đặt lên hàng đầu.
                                            Vì chất lượng của du lịch Việt Nam.</p>
                                        <ul class="check-list">
                                            <li><span class="far fa-check-circle"></span>Công tác</li>
                                            <li><span class="far fa-check-circle"></span>Nghĩ dưỡng</li>
                                            <li><span class="far fa-check-circle"></span>Tuần trăng mật</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <!--=== Activity Image Box ===-->
                                    <div class="activity-image-box">
                                        <img src="/assets/customers/images/gallery/activity.jpg" class="radius-12"
                                             alt="Image">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--=== Tab Pane ===-->
                        <div class="tab-pane fade" id="tab5">
                            <div class="row align-items-center">
                                <div class="col-md-6">
                                    <!--=== Activity Content Box ===-->
                                    <div class="activity-content-box pl-lg-40">
                                        <div class="icon">
                                            <span class="flaticon-camp"></span>
                                        </div>
                                        <h3 class="title">Khám phá & nghỉ dưỡng</h3>
                                        <p>Uy tín luôn được chúng tôi đặt lên hàng đầu.
                                            Vì chất lượng của du lịch Việt Nam.</p>
                                        <ul class="check-list">
                                            <li><span class="far fa-check-circle"></span>Công tác</li>
                                            <li><span class="far fa-check-circle"></span>Nghĩ dưỡng</li>
                                            <li><span class="far fa-check-circle"></span>Tuần trăng mật</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <!--=== Activity Image Box ===-->
                                    <div class="activity-image-box">
                                        <img src="/assets/customers/images/gallery/activity.jpg" class="radius-12"
                                             alt="Image">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--=== Tab Pane ===-->
                        <div class="tab-pane fade" id="tab6">
                            <div class="row align-items-center">
                                <div class="col-md-6">
                                    <!--=== Activity Cotent Box ===-->
                                    <div class="activity-content-box pl-lg-40">
                                        <div class="icon">
                                            <span class="flaticon-camp"></span>
                                        </div>
                                        <h3 class="title">Real Adventure & Enjoy
                                            Your Dream Tours</h3>
                                        <p>Sit amet consectetur velit integer tincidunt
                                            scelerisque. Sodales volutpat neque fermeny
                                            malesuada scelerisque massa lacus</p>
                                        <ul class="check-list">
                                            <li><span class="far fa-check-circle"></span>Family Camping</li>
                                            <li><span class="far fa-check-circle"></span>Couple Camping</li>
                                            <li><span class="far fa-check-circle"></span>Wild Camping</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <!--=== Activity Image ===-->
                                    <div class="activity-image-box">
                                        <img src="/assets/customers/images/gallery/activity.jpg" class="radius-12"
                                             alt="Image">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!--====== End Activity Section ======-->

<!--====== Start Services Section ======-->
<section class="services-seciton pt-100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-8 col-lg-10">
                <!--=== Section Title ===-->
                <div class="section-title text-center mb-60 wow fadeInDown">
                    <span class="sub-title">KHÁCH SẠN</span>
                    <h2>Khách sạn được chọn nhiều nhất tại TravelTour</h2>
                </div>
            </div>
        </div>
        <div class="slider-active-3-item wow fadeInUp">
            <!--=== Single Service Item ===-->
            <div class="single-service-item mb-40">
                <div class="content">
                    <h3 class="title"><a href="#">Sheraton Hotel</a></h3>
                    <p>Cách Bến Ninh Kiều chỉ 2,4 km, tòa nhà trắng Sheraton Can Tho Hotel có hồ bơi ngoài trời tạo cảm
                        giác dễ chịu</p>
                    <div class="meta">
                        <span class="icon"><i class="flaticon-blanket"></i></span>
                        <span class="icon"><i class="flaticon-cat"></i></span>
                        <span class="icon"><i class="flaticon-tent"></i></span>
                        <span class="icon"><i class="flaticon-fire"></i></span>
                    </div>
                    <a href="#" class="icon-btn"><span class="fas fa-arrow-right"></span></a>
                </div>
                <div class="img-holder">
                    <img src="/assets/customers/images/service/service-1.jpg" alt="Service Image">
                </div>
            </div>
            <!--=== Single Service Item ===-->
            <div class="single-service-item mb-40">
                <div class="content">
                    <h3 class="title"><a href="#">Victoria Hotel</a></h3>
                    <p>Sự hoà quyện giữa kiến trúc Đông Dương tinh tế cùng vẻ đẹp thiên nhiên đôi bờ sông Hậu</p>
                    <div class="meta">
                        <span class="icon"><i class="flaticon-blanket"></i></span>
                        <span class="icon"><i class="flaticon-cat"></i></span>
                        <span class="icon"><i class="flaticon-tent"></i></span>
                        <span class="icon"><i class="flaticon-fire"></i></span>
                    </div>
                    <a href="#" class="icon-btn"><span class="fas fa-arrow-right"></span></a>
                </div>
                <div class="img-holder">
                    <img src="/assets/customers/images/service/service-2.jpg" alt="Service Image">
                </div>
            </div>
            <!--=== Single Service Item ===-->
            <div class="single-service-item mb-40">
                <div class="content">
                    <h3 class="title"><a href="#">Azerai Hotel</a></h3>
                    <p>Azerai Cần Thơ Resort là khu nghỉ dưỡng khách sạn cao cấp đầu tiên tại Đồng bằng sông Cửu
                        Long</p>
                    <div class="meta">
                        <span class="icon"><i class="flaticon-blanket"></i></span>
                        <span class="icon"><i class="flaticon-cat"></i></span>
                        <span class="icon"><i class="flaticon-tent"></i></span>
                        <span class="icon"><i class="flaticon-fire"></i></span>
                    </div>
                    <a href="#" class="icon-btn"><span class="fas fa-arrow-right"></span></a>
                </div>
                <div class="img-holder">
                    <img src="/assets/customers/images/service/service-3.jpg" alt="Service Image">
                </div>
            </div>
            <!--=== Single Service Item ===-->
            <div class="single-service-item mb-40">
                <div class="content">
                    <h3 class="title"><a href="#">Azerai Hotel</a></h3>
                    <p>Azerai Cần Thơ Resort là khu nghỉ dưỡng khách sạn cao cấp đầu tiên tại Đồng bằng sông Cửu
                        Long</p>
                    <div class="meta">
                        <span class="icon"><i class="flaticon-blanket"></i></span>
                        <span class="icon"><i class="flaticon-cat"></i></span>
                        <span class="icon"><i class="flaticon-tent"></i></span>
                        <span class="icon"><i class="flaticon-fire"></i></span>
                    </div>
                    <a href="#" class="icon-btn"><span class="fas fa-arrow-right"></span></a>
                </div>
                <div class="img-holder">
                    <img src="/assets/customers/images/service/service-3.jpg" alt="Service Image">
                </div>
            </div>
        </div>
    </div>
</section><!--====== End Services Section ======-->

<!--====== Start Features Section ======-->
<section class="features-section pb-60">
    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-lg-6 col-md-12">
                <!--=== Fancy Icon Box ===-->
                <div class="fancy-icon-box mb-30 wow fadeInUp">
                    <div class="icon">
                        <i class="flaticon-paper-plane"></i>
                    </div>
                    <div class="text">
                        <h4 class="title">An toàn tuyệt đối</h4>
                        <p>Luôn có bảo vệ 24/7 và cửa ổ khóa mở bằng thẻ đảm bảo an toàn.</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-12">
                <!--=== Fancy Icon Box ===-->
                <div class="fancy-icon-box mb-30 wow fadeInUp">
                    <div class="icon">
                        <i class="flaticon-wifi-router"></i>
                    </div>
                    <div class="text">
                        <h4 class="title">Wifi miễn phí</h4>
                        <p>Du khách có thể lướt Internet bằng WiFi miễn phí trong toàn bộ khuôn viên.</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-12">
                <!--=== Fancy Icon Box ===-->
                <div class="fancy-icon-box mb-30 wow fadeInUp">
                    <div class="icon">
                        <i class="flaticon-solar-energy"></i>
                    </div>
                    <div class="text">
                        <h4 class="title">Phục vụ tận tâm</h4>
                        <p>Nhân viên nói được hai thứ tiếng tại lễ tân có thể trợ giúp khách.</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-12">
                <!--=== Fancy Icon Box ===-->
                <div class="fancy-icon-box mb-30 wow fadeInUp">
                    <div class="icon">
                        <i class="flaticon-cycling"></i>
                    </div>
                    <div class="text">
                        <h4 class="title">Hành trình khám phá</h4>
                        <p>Công ty luôn cung cấp các tour khám phá và trải nghiệm tại địa phương.</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-12">
                <!--=== Fancy Icon Box ===-->
                <div class="fancy-icon-box mb-30 wow fadeInUp">
                    <div class="icon">
                        <i class="flaticon-fishing"></i>
                    </div>
                    <div class="text">
                        <h4 class="title">Hồ bơi ngoài trời</h4>
                        <p>Các khách cao cấp luôn có hồ bơi ngoài trời mở cửa quanh năm</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-12">
                <!--=== Fancy Icon Box ===-->
                <div class="fancy-icon-box mb-30 wow fadeInUp">
                    <div class="icon">
                        <i class="flaticon-gym"></i>
                    </div>
                    <div class="text">
                        <h4 class="title">Trung tâm sức khoẻ</h4>
                        <p>Trung tâm thể dục thể thao, nơi cung cấp studio tập pilates và yoga, spa.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!--====== End Features Section ======-->

<!--====== Start Gallery Section ======-->
<section class="gallery-section mbm-150">
    <div class="container-fluid">
        <div class="slider-active-5-item wow fadeInUp">
            <!--=== Single Gallery Item ===-->
            <div class="single-gallery-item">
                <div class="gallery-img">
                    <img src="/assets/customers/images/gallery/gl-1.jpg" alt="Gallery Image">
                    <div class="hover-overlay">
                        <a href="/assets/customers/images/gallery/gl-1.jpg" class="icon-btn img-popup"><span
                                class="fas fa-plus"></span></a>
                    </div>
                </div>
            </div>
            <!--=== Single Gallery Item ===-->
            <div class="single-gallery-item">
                <div class="gallery-img">
                    <img src="/assets/customers/images/gallery/gl-2.jpg" alt="Gallery Image">
                    <div class="hover-overlay">
                        <a href="/assets/customers/images/gallery/gl-2.jpg" class="icon-btn img-popup"><span
                                class="fas fa-plus"></span></a>
                    </div>
                </div>
            </div>
            <!--=== Single Gallery Item ===-->
            <div class="single-gallery-item">
                <div class="gallery-img">
                    <img src="/assets/customers/images/gallery/gl-3.jpg" alt="Gallery Image">
                    <div class="hover-overlay">
                        <a href="/assets/customers/images/gallery/gl-3.jpg" class="icon-btn img-popup"><span
                                class="fas fa-plus"></span></a>
                    </div>
                </div>
            </div>
            <!--=== Single Gallery Item ===-->
            <div class="single-gallery-item">
                <div class="gallery-img">
                    <img src="/assets/customers/images/gallery/gl-4.jpg" alt="Gallery Image">
                    <div class="hover-overlay">
                        <a href="/assets/customers/images/gallery/gl-4.jpg" class="icon-btn img-popup"><span
                                class="fas fa-plus"></span></a>
                    </div>
                </div>
            </div>
            <!--=== Single Gallery Item ===-->
            <div class="single-gallery-item">
                <div class="gallery-img">
                    <img src="/assets/customers/images/gallery/gl-5.jpg" alt="Gallery Image">
                    <div class="hover-overlay">
                        <a href="/assets/customers/images/gallery/gl-5.jpg" class="icon-btn img-popup"><span
                                class="fas fa-plus"></span></a>
                    </div>
                </div>
            </div>
            <!--=== Single Gallery Item ===-->
            <div class="single-gallery-item">
                <div class="gallery-img">
                    <img src="/assets/customers/images/gallery/gl-3.jpg" alt="Gallery Image">
                    <div class="hover-overlay">
                        <a href="/assets/customers/images/gallery/gl-3.jpg" class="icon-btn img-popup"><span
                                class="fas fa-plus"></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!--====== End Gallery Section ======-->

<!-- Modal -->
<div class="modal fade" id="modelTicket" tabindex="-1" aria-labelledby="modelTicketLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modelTicketLabel">Thông tin vé xe của khách
                    hàng {{ orderTransport.customerName }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-9">
                        <div class="mb-3">
                            <label>Họ và tên (người đại diện):
                                <span class="fw-bold">{{ orderTransport.customerName }} -</span>
                                <span class="fw-bold">{{ orderTransport.customerCitizenCard }}</span>
                            </label>
                        </div>
                        <div class="mb-3">
                            <label>Số điện thoại (người đại diện):
                                <span class="fw-bold">{{ orderTransport.customerPhone }}</span>
                            </label>
                        </div>
                        <div class="mb-3">
                            <label>Địa chỉ email (người đại diện):
                                <span class="fw-bold">{{ orderTransport.customerEmail }}</span>
                            </label>
                        </div>
                    </div>
                    <div class="col-3 mb-3">
                        <img ng-src="{{ orderTransport.orderCode }}" class="img-fluid rounded-top" width="120" alt="avatar">
                    </div>
                    <div class="col-4 mb-3">
                        <label>Số lượng vé:
                            <span class="fw-bold">{{ orderTransport.amountTicket }} vé</span>
                        </label>
                    </div>
                    <div class="col-4 mb-3">
                        <label>Đơn giá:
                            <span class="fw-bold">{{ transportSchedule.unitPrice | vnCurrency }}</span>
                        </label>
                    </div>
                    <div class="col-4 mb-3">
                        <label>Tổng tiền:
                            <span class="fw-bold">{{ orderTransport.orderTotal | vnCurrency }}</span>
                        </label>
                    </div>
                    <div class="col-12 mb-3">
                        <label>Chuyến đi:
                            <span class="fw-bold">{{ transportSchedule.fromLocation }}</span>
                            <i class="fa-solid fa-arrow-right fs--2"></i>
                            <span class="fw-bold">{{ transportSchedule.toLocation }}</span>
                        </label>
                    </div>
                    <div class="col-6 mb-3">
                        <label>Khởi hành vào lúc:
                            <span class="fw-bold">{{ transportSchedule.departureTime | vietnameseDateTime }}</span>
                        </label>
                    </div>
                    <div class="col-6 mb-3">
                        <label>Dự kiến đến vào lúc:
                            <span class="fw-bold">{{ transportSchedule.arrivalTime | vietnameseDateTime }}</span>
                        </label>
                    </div>
                    <div class="col-12 mb-3">
                        <label>Ghi chú:
                            <span class="fw-bold" ng-if="orderTransport.orderNote !== null">
                                {{ transportSchedule.orderNote }}
                            </span>
                            <span class="fw-bold" ng-if="orderTransport.orderNote === null">
                                Không có ghi chú.
                            </span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Thoát</button>
            </div>
        </div>
    </div>
</div>