<!--====== Start Breadcrumb Section ======-->
<section class="page-banner overlay pt-170 pb-170 bg_cover"
         style="background-image: url(/assets/customers/images/bg/page-bg-1.png);">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="page-banner-content text-center text-white">
                    <h1 class="page-title">Giới Thiệu</h1>
                    <ul class="breadcrumb-link text-white">
                        <li><a href="/home">Trang chủ</a></li>
                        <li class="active">Giới thiệu</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section><!--====== End Breadcrumb Section ======-->

<!--====== Start Features Section ======-->
<section class="features-section pt-100 pb-50">
    <div class="container">
        <div class="row align-items-xl-center">
            <div class="col-xl-5">
                <!--=== Features Content Box ===-->
                <div class="features-content-box pr-lg-70 mb-50 wow fadeInLeft">
                    <!--=== Section Title ===-->
                    <div class="section-title mb-30">
                        <span class="sub-title">Travel Tour</span>
                        <h2>Về Chúng Tôi</h2>
                    </div>
                    <p class="mb-30">Travel tour dịch vụ du lịch đáng tin cậy. <br>Chúng tôi cung cấp những dịch vụ tốt
                        nhất cho khách hàng
                        và chúng tôi luôn tạo ra nhiều chương trình hoạt động tour du lịch hấp dẫn và mới mẻ cho khách
                        hàng.</p>
                    <a href="/tours" class="main-btn filled-btn">Xem Tour<span class="fas fa-paper-plane"></span></a>
                </div>
            </div>
            <div class="col-xl-7 order-1 order-lg-2">
                <div class="features-item-area mb-20 pl-lg-70">
                    <div class="row">
                        <div class="col-md-6">
                            <!--=== Fancy Icon Box ===-->
                            <div class="fancy-icon-box-two mb-30 wow fadeInUp">
                                <div class="icon">
                                    <i class="flaticon-camping"></i>
                                </div>
                                <div class="text">
                                    <h3 class="title">Lều cắm trại</h3>
                                    <p>Một mùa hè sôi động chính thức bắt đầu!
                                        Không gì hay hơn nếu chúng ta bắt đầu mùa hè
                                        bằng một chuyến cắm trại.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <!--=== Fancy Icon Box ===-->
                            <div class="fancy-icon-box-two mb-30 wow fadeInUp">
                                <div class="icon">
                                    <i class="flaticon-biking-mountain"></i>
                                </div>
                                <div class="text">
                                    <h3 class="title">Trải nghiệm leo núi</h3>
                                    <p>Giảm 10% cho khách đặt tour
                                        leo núi trước ít nhất 60 ngày
                                        hoặc giảm 5% cho khách đặt tour
                                        leo núi trước ít nhất 30 ngày.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <!--=== Fancy Icon Box ===-->
                            <div class="fancy-icon-box-two mb-30 wow fadeInUp">
                                <div class="icon">
                                    <i class="flaticon-fishing-2"></i>
                                </div>
                                <div class="text">
                                    <h3 class="title">Câu cá và Chèo SUP</h3>
                                    <p>Cùng nhau trải nghiệm chèo SUP cho cả người lớn và trẻ em. <br>
                                        Thư giãn với chương trình câu cá khi đặt biển đảo và miền tây.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <!--=== Fancy Icon Box ===-->
                            <div class="fancy-icon-box-two mb-30 wow fadeInUp">
                                <div class="icon">
                                    <i class="flaticon-caravan"></i>
                                </div>
                                <div class="text">
                                    <h3 class="title">Nghĩ dưỡng</h3>
                                    <p>Trải nghiệm các khu nghĩ dưỡng cao cấp và các gói ưu đãi hạng sang dành riêng cho
                                        khách hàng thân thiết.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!--====== End Features Section ======-->

<!--====== Start We Section ======-->
<section class="who-we-section">
    <div class="container">
        <div class="row align-items-xl-center">
            <div class="col-lg-6 order-2 order-lg-1">
                <!--=== We Image Box ===-->
                <div class="we-image-box text-center text-lg-left wow fadeInDown">
                    <img src="/assets/customers/images/gallery/we-1.png" class="radius-top-left-right-288" alt="Image">
                </div>
            </div>
            <div class="col-lg-6 order-1 order-lg-2">
                <!--=== We Content Box ===-->
                <div class="we-one_content-box">
                    <div class="section-title mb-30 wow fadeInUp">
                        <span class="sub-title">Travel Tour</span>
                        <h2>Cơ hội tuyệt vời cho những chuyến đi phiêu lưu</h2>
                    </div>
                    <p class="wow fadeInDown">Bạn đã sẵn sàn cho chuyến đi của mình chưa ? <br>
                        Hơn 80% khách hàng của chúng tôi đã chọn tour trải nghiệm
                        để có thê hoàn mình cùng thiên nhiên
                        và thưởng thức ẩm thực đang dạng, phong phú của <br> Việt Nam chúng ta.</p>
                    <div class="skill-wrapper wow fadeInUp">
                        <div class="single-skill-circle text-center">
                            <div class="inner-circle">
                                <div class="line"></div>
                                <span class="number">60%</span>
                            </div>
                            <h5>Du lịch nghĩ dưỡng</h5>
                        </div>
                        <div class="single-skill-circle text-center">
                            <div class="inner-circle">
                                <div class="line"></div>
                                <span class="number">83%</span>
                            </div>
                            <h5>Du lịch trải nghiệm</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!--====== End We Section ======-->

<!--====== Start What We Section ======-->
<section class="we-section pt-100 pb-50">
    <div class="container">
        <div class="row align-items-xl-center">
            <div class="col-xl-6">
                <div class="we-content-box mb-10 wow fadeInLeft">
                    <div class="section-title mb-30">
                        <span class="sub-title">Travel Tour</span>
                        <h2>Tiêu chí làm việc của chúng tôi</h2>
                    </div>
                    <div class="features-list_one">
                        <div class="single-features-list mb-40">
                            <div class="icon-inner d-flex align-items-center">
                                <div class="icon-check">
                                    <span class="far fa-check-circle"></span>
                                </div>
                                <div class="icon">
                                    <i class="flaticon-helmet"></i>
                                </div>
                            </div>
                            <div class="content">
                                <h4>Đặt sự an toàn lên hàng đầu</h4>
                                <p>Chúng tôi luôn coi trọng sự an toàn của khách hàng như một ưu tiên hàng đầu. </p>
                            </div>
                        </div>
                        <div class="single-features-list mb-40">
                            <div class="icon-inner d-flex align-items-center">
                                <div class="icon-check">
                                    <span class="far fa-check-circle"></span>
                                </div>
                                <div class="icon">
                                    <i class="flaticon-best-price"></i>
                                </div>
                            </div>
                            <div class="content">
                                <h4>Giá cả hợp lý</h4>
                                <p>Chúng tôi luôn lựa chọn giá tốt nhất dành cho khách hàng.</p>
                            </div>
                        </div>
                        <div class="single-features-list mb-40">
                            <div class="icon-inner d-flex align-items-center">
                                <div class="icon-check">
                                    <span class="far fa-check-circle"></span>
                                </div>
                                <div class="icon">
                                    <i class="flaticon-travel"></i>
                                </div>
                            </div>
                            <div class="content">
                                <h4>Đáng tin cậy</h4>
                                <p>Lựa chọn Hướng dẫn viên uy tín đồng hàng cùng du khách, sẵn sàng hỗ trợ quý khách
                                    trong mọi trường hợp.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="we-two_image-box mb-20">
                    <div class="row align-items-end">
                        <div class="col-md-6">
                            <div class="we-image mb-30 wow fadeInLeft">
                                <img src="/assets/customers/images/gallery/we-3.jpg" alt="we Image">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="we-image mb-30 wow fadeInRight">
                                <img src="/assets/customers/images/gallery/we-4.jpg" alt="we Image">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="we-image mb-30 pr-lg-30 text-md-end wow fadeInDown">
                                <img src="/assets/customers/images/gallery/we-5.jpg" alt="we Image">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!--====== End What We Section ======-->

<!--====== Start CTA Section ======-->
<section class="cta-bg overlay bg_cover pt-150 pb-150"
         style="background-image: url(/assets/customers/images/bg/bg-sale.jpg);">
</section><!--====== End CTA Section ======-->

<!--====== Start Testimonial Section ======-->
<section class="testimonial-section pt-60 pb-60 ">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-8">
                <!--=== Section Title ===-->
                <div class="section-title text-center mb-60 wow fadeInDown">
                    <span class="sub-title">Đánh giá</span>
                    <h2>Khách du lịch của chúng tôi nói gì về các dịch vụ du lịch của chúng tôi</h2>
                </div>
            </div>
        </div>
        <div class="row align-items-xl-center">
            <div class="col-xl-5 col-lg-12 order-2 order-xl-1">
                <!--=== Testimonial Image ===-->
                <div class="testimonial-one_image-box mb-40 wow fadeInLeft">
                    <img src="/assets/customers/images/testimonial/testimonial-1.png" alt="Testimonial Image">
                </div>
            </div>
            <div class="col-xl-7 col-lg-12 order-1 order-xl-2">
                <!--=== Testimonial Slider ===-->
                <div class="testimonial-slider-one pl-lg-55 mb-40 wow fadeInRight">
                    <!--=== Testimonial Item ===-->
                    <div class="gw-testimonial-item">
                        <div class="testimonial-inner-content">
                            <div class="quote-rating-box">
                                <div class="icon">
                                    <img src="/assets/customers/images/testimonial/quote.png" alt="quote icon">
                                </div>
                                <div class="ratings-box">
                                    <h4>Chất lượng dịch vụ</h4>
                                    <ul class="ratings">
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                    </ul>
                                </div>
                            </div>
                            <p>Sau chuyến du lịch, cho tới hôm nay gia đình tôi vẫn luôn cảm thấy ấm lòng bởi cách đối
                                đãi với khách hàng của Travel tour.
                                Chúng tôi vui vẻ kể những trải nghiệm trên với bên nội, bên ngoại và bạn bè của mình và
                                cảm thấy rất tự hào
                                vì mình đã có duyên được đồng hành cùng Travel tour.</p>
                            <div class="author-thumb-title">
                                <div class="author-thumb">
                                    <img src="/assets/customers/images/testimonial/author-1.jpg" alt="Author Image">
                                </div>
                                <div class="author-title">
                                    <h3 class="title">Khách hàng Nguyễn Thị Hạnh</h3>
                                    <p class="position">Thành Phố Cần Thơ</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--=== Testimonial Item ===-->
                    <div class="gw-testimonial-item">
                        <div class="testimonial-inner-content">
                            <div class="quote-rating-box">
                                <div class="icon">
                                    <img src="/assets/customers/images/testimonial/quote.png" alt="quote icon">
                                </div>
                                <div class="ratings-box">
                                    <h4>Chất lượng dịch vụ</h4>
                                    <ul class="ratings">
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                    </ul>
                                </div>
                            </div>
                            <p>Hướng dẫn viên Nguyễn Hải Khương có sự chuyên nghiệp, nhiệt tình, và năng nổ cùng với
                                chất lượng dịch vụ
                                hàng đầu của công ty càng làm tăng thêm sự tín nhiệm của khách hàng chúng tôi vào quý
                                Công ty.
                                Travel tour sẽ luôn luôn là sự lựa chọn hàng đầu của tôi trong những hành trình tiếp
                                theo.</p>
                            <div class="author-thumb-title">
                                <div class="author-thumb">
                                    <img src="/assets/customers/images/testimonial/author-1.jpg" alt="Author Image">
                                </div>
                                <div class="author-title">
                                    <h3 class="title">Khách hàng Đức Minh</h3>
                                    <p class="position">Hậu Giang</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--=== Testimonial Item ===-->
                    <div class="gw-testimonial-item">
                        <div class="testimonial-inner-content">
                            <div class="quote-rating-box">
                                <div class="icon">
                                    <img src="/assets/customers/images/testimonial/quote.png" alt="quote icon">
                                </div>
                                <div class="ratings-box">
                                    <h4>hất lượng dịch vụ</h4>
                                    <ul class="ratings">
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                    </ul>
                                </div>
                            </div>
                            <p>Lãnh đạo Công ty VIVAVI và BTC chương trình đánh giá rất cao về sự hợp tác, hỗ trợ của
                                đội ngũ Travel tour tại Cần Thơ.
                                Anh chị em CB-NV VIVAS đã có khoảng thời gian nghỉ ngơi thư giãn,
                                có các hoạt động tập thể vui vẻ, và quan trọng nhất là đã được đảm bảo an toàn trong
                                suốt chuyến đi.</p>
                            <div class="author-thumb-title">
                                <div class="author-thumb">
                                    <img src="/assets/customers/images/testimonial/author-1.jpg" alt="Author Image">
                                </div>
                                <div class="author-title">
                                    <h3 class="title">Lê Hồng Nhung</h3>
                                    <p class="position">Giám đốc Hành chính - Nhân sự
                                        Công ty VIVAVI</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!--====== End Testimonial Section ======-->

<!--====== Start Partners Section ======-->
<section class="partners-section">
    <div class="container">
        <!--=== Partners Slider ===-->
        <div class="partner-slider-one pt-80 pb-70 wow fadeInUp">
            <!--=== Partner Item ===-->
            <div class="single-partner-item">
                <div class="partner-img">
                    <a href="#"><img src="/assets/customers/images/partner/partner-1.png" alt="Partner Image"></a>
                </div>
            </div>
            <!--=== Partner Item ===-->
            <div class="single-partner-item">
                <div class="partner-img">
                    <a href="#"><img src="/assets/customers/images/partner/partner-2.png" alt="Partner Image"></a>
                </div>
            </div>
            <!--=== Partner Item ===-->
            <div class="single-partner-item">
                <div class="partner-img">
                    <a href="#"><img src="/assets/customers/images/partner/partner-3.png" alt="Partner Image"></a>
                </div>
            </div>
            <!--=== Partner Item ===-->
            <div class="single-partner-item">
                <div class="partner-img">
                    <a href="#"><img src="/assets/customers/images/partner/partner-4.png" alt="Partner Image"></a>
                </div>
            </div>
            <!--=== Partner Item ===-->
            <div class="single-partner-item">
                <div class="partner-img">
                    <a href="#"><img src="/assets/customers/images/partner/partner-5.png" alt="Partner Image"></a>
                </div>
            </div>
            <!--=== Partner Item ===-->
            <div class="single-partner-item">
                <div class="partner-img">
                    <a href="#"><img src="/assets/customers/images/partner/partner-4.png" alt="Partner Image"></a>
                </div>
            </div>
        </div>
    </div>
</section><!--====== End Partners Section ======-->