<script src="/assets/customers/vendor/sweetalert/sweetalert2@11.js"></script>
<script src="/assets/customers/vendor/popper/popper.min.js"></script>
<script src="/assets/customers/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="/assets/customers/vendor/magnific-popup/dist/jquery.magnific-popup.min.js"></script>
<script src="/assets/customers/vendor/jquery.counterup.min.js"></script>
<script src="/assets/customers/vendor/jquery.waypoints.js"></script>
<script src="/assets/customers/vendor/nice-select/js/jquery.nice-select.min.js"></script>
<script src="/assets/customers/vendor/wow.min.js"></script>
<script src="/assets/customers/js/notification/SwalAlert.js"></script>
<script src="/assets/customers/js/theme.js"></script>