<h2 class="mb-3">THỂ LOẠI TOUR</h2>
<form class="row g-3" ng-submit="submitAdminType()"
      method="POST" role="form" name="typeform">
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <label for="typename" class="form-label" style="padding-left: 0;font-size: medium;padding-bottom: 10px;">TÊN LOẠI TOUR</label>
        <input type="text" class="form-control" id="typename"
               placeholder="Nhập tên loại tour"
               name="typename"
               ng-model="type.typename"
               ng-class="{ 'is-invalid': typeform.typename.$invalid && typeform.typename.$touched, 'is-valid': typeform.typename.$valid && typeform.typename.$touched }"
               required>
        <small class="text-danger"
               ng-show="typeform.typename.$touched && typeform.typename.$error.required">
            Vui lòng nhập tên loại tour !
        </small>
    </div>

    <div class="mb-6 mt-5">
        <div class="mb-4">
            <div class="d-flex flex-wrap gap-3">
                <!--search-->
                <div class="search-box">
                    <form class="position-relative" data-bs-toggle="search" data-bs-display="static">
                        <input class="form-control search-input search" type="search" placeholder="Tìm kiếm"
                               aria-label="Search">
                        <svg class="svg-inline--fa fa-magnifying-glass search-box-icon" aria-hidden="true" focusable="false"
                             data-prefix="fas" data-icon="magnifying-glass" role="img" xmlns="http://www.w3.org/2000/svg"
                             viewBox="0 0 512 512" data-fa-i2svg="">
                            <path fill="currentColor"
                                  d="M500.3 443.7l-119.7-119.7c27.22-40.41 40.65-90.9 33.46-144.7C401.8 87.79 326.8 13.32 235.2 1.723C99.01-15.51-15.51 99.01 1.724 235.2c11.6 91.64 86.08 166.7 177.6 178.9c53.8 7.189 104.3-6.236 144.7-33.46l119.7 119.7c15.62 15.62 40.95 15.62 56.57 0C515.9 484.7 515.9 459.3 500.3 443.7zM79.1 208c0-70.58 57.42-128 128-128s128 57.42 128 128c0 70.58-57.42 128-128 128S79.1 278.6 79.1 208z"></path>
                        </svg><!-- <span class="fas fa-search search-box-icon"></span> Font Awesome fontawesome.com -->
                    </form>
                </div>

                <!--export-->
                <div class="ms-xxl-auto">
                    <button class="btn btn-link text-900 me-4 px-0">
                        <i class="fa-solid fa-file-export me-1"></i>
                        Xuất file
                    </button>

                    <!--thêm tài khoản mới-->
                    <button class="btn btn-success me-1 ms-1">
                        <i class="fa-solid fa-plus"></i>
                        <span class="d-none d-sm-inline">Thêm</span>
                    </button>
                    <button class="btn btn-primary me-1 ms-1">
                        <i class="fa-solid fa-pen-to-square"></i>
                        <span class="d-none d-sm-inline">Cập nhật</span>
                    </button>
                    <button class="btn btn-secondary me-1 ms-1">
                        <i class="fa-solid fa-arrows-rotate"></i>
                        <span class="d-none d-sm-inline">Làm mới</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>

<main class="main" id="top">
    <div class="content" style="padding-top: 0">
        <div class="mb-9">
            <div id="products" data-list='{"valueNames":["customer","email","total-orders","total-spent","city","last-seen","last-order"],"page":10,"pagination":true}'>
                <div class="mx-n4 px-4 mx-lg-n6 px-lg-6 bg-white border-top border-bottom border-200 position-relative top-1">
                    <div class="table-responsive scrollbar-overlay mx-n1 px-1">
                        <table class="table table-sm fs--1 mb-0">
                            <thead>
                            <tr>
                                <th class="sort text-center align-middle" scope="col" style="width:10%;">STT</th>
                                <th class="sort text-center align-middle" scope="col" style="width:20%;">ID</th>
                                <th class="sort text-center align-middle" scope="col" style="width:50%;">LOẠI TOUR</th>
                                <th class="sort text-center align-middle" scope="col" style="width:20%;min-width: 150px;">HOẠT ĐỘNG</th>
                            </tr>
                            </thead>
                            <tbody class="list" id="customers-table-body">
                            <tr class="hover-actions-trigger btn-reveal-trigger position-static">
                                <td class="total-orders align-middle white-space-nowrap fw-semi-bold text-center">1</td>
                                <td class="total-orders align-middle white-space-nowrap fw-semi-bold text-center text-1000">89</td>
                                <td class="customer align-middle white-space-nowrap pe-5">
                                    <p class="mb-0 ms-3 text-1100">Khách sạn 5 sao</p>
                                </td>
                                <td class="last-seen align-middle white-space-nowrap text-700 text-center">
                                    <a class="btn btn-warning me-1 mb-1" href=""><i class="fa-solid fa-pen-to-square"></i></a>
                                    <a class="btn btn-danger me-1 mb-1" href=""><i class="fa-solid fa-trash-can"></i></a>
                                </td>
                            </tr>
                            <tr class="hover-actions-trigger btn-reveal-trigger position-static">
                                <td class="total-orders align-middle white-space-nowrap fw-semi-bold text-center">1</td>
                                <td class="total-orders align-middle white-space-nowrap fw-semi-bold text-center text-1000">89</td>
                                <td class="customer align-middle white-space-nowrap pe-5">
                                    <p class="mb-0 ms-3 text-1100">Khách sạn 5 sao</p>
                                </td>
                                <td class="last-seen align-middle white-space-nowrap text-700 text-center">
                                    <a class="btn btn-warning me-1 mb-1" href=""><i class="fa-solid fa-pen-to-square"></i></a>
                                    <a class="btn btn-danger me-1 mb-1" href=""><i class="fa-solid fa-trash-can"></i></a>
                                </td>
                            </tr>
                            <tr class="hover-actions-trigger btn-reveal-trigger position-static">
                                <td class="total-orders align-middle white-space-nowrap fw-semi-bold text-center">1</td>
                                <td class="total-orders align-middle white-space-nowrap fw-semi-bold text-center text-1000">89</td>
                                <td class="customer align-middle white-space-nowrap pe-5">
                                    <p class="mb-0 ms-3 text-1100">Khách sạn 5 sao</p>
                                </td>
                                <td class="last-seen align-middle white-space-nowrap text-700 text-center">
                                    <a class="btn btn-warning me-1 mb-1" href=""><i class="fa-solid fa-pen-to-square"></i></a>
                                    <a class="btn btn-danger me-1 mb-1" href=""><i class="fa-solid fa-trash-can"></i></a>
                                </td>
                            </tr>
                            <tr class="hover-actions-trigger btn-reveal-trigger position-static">
                                <td class="total-orders align-middle white-space-nowrap fw-semi-bold text-center">1</td>
                                <td class="total-orders align-middle white-space-nowrap fw-semi-bold text-center text-1000">89</td>
                                <td class="customer align-middle white-space-nowrap pe-5">
                                    <p class="mb-0 ms-3 text-1100">Khách sạn 5 sao</p>
                                </td>
                                <td class="last-seen align-middle white-space-nowrap text-700 text-center">
                                    <a class="btn btn-warning me-1 mb-1" href=""><i class="fa-solid fa-pen-to-square"></i></a>
                                    <a class="btn btn-danger me-1 mb-1" href=""><i class="fa-solid fa-trash-can"></i></a>
                                </td>
                            </tr>
                            <tr class="hover-actions-trigger btn-reveal-trigger position-static">
                                <td class="total-orders align-middle white-space-nowrap fw-semi-bold text-center">1</td>
                                <td class="total-orders align-middle white-space-nowrap fw-semi-bold text-center text-1000">89</td>
                                <td class="customer align-middle white-space-nowrap pe-5">
                                    <p class="mb-0 ms-3 text-1100">Khách sạn 5 sao</p>
                                </td>
                                <td class="last-seen align-middle white-space-nowrap text-700 text-center">
                                    <a class="btn btn-warning me-1 mb-1" href=""><i class="fa-solid fa-pen-to-square"></i></a>
                                    <a class="btn btn-danger me-1 mb-1" href=""><i class="fa-solid fa-trash-can"></i></a>
                                </td>
                            </tr>
                            <tr class="hover-actions-trigger btn-reveal-trigger position-static">
                                <td class="total-orders align-middle white-space-nowrap fw-semi-bold text-center">1</td>
                                <td class="total-orders align-middle white-space-nowrap fw-semi-bold text-center text-1000">89</td>
                                <td class="customer align-middle white-space-nowrap pe-5">
                                    <p class="mb-0 ms-3 text-1100">Khách sạn 5 sao</p>
                                </td>
                                <td class="last-seen align-middle white-space-nowrap text-700 text-center">
                                    <a class="btn btn-warning me-1 mb-1" href=""><i class="fa-solid fa-pen-to-square"></i></a>
                                    <a class="btn btn-danger me-1 mb-1" href=""><i class="fa-solid fa-trash-can"></i></a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="row align-items-center justify-content-between py-2 pe-0 fs--1">
                        <div class="col-auto d-flex">
                            <p class="mb-0 d-none d-sm-block me-3 fw-semi-bold text-900" data-list-info="data-list-info"></p><a class="fw-semi-bold" href="#!" data-list-view="*">View all<span class="fas fa-angle-right ms-1" data-fa-transform="down-1"></span></a><a class="fw-semi-bold d-none" href="#!" data-list-view="less">View Less<span class="fas fa-angle-right ms-1" data-fa-transform="down-1"></span></a>
                        </div>
                        <div class="col-auto d-flex"><button class="page-link" data-list-pagination="prev"><span class="fas fa-chevron-left"></span></button>
                            <ul class="mb-0 pagination"></ul><button class="page-link pe-0" data-list-pagination="next"><span class="fas fa-chevron-right"></span></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>