<div ng-include="'app/component/utils/loading-html.html'"></div>
<!--====== Start Breadcrumb Section ======-->
<section class="page-banner overlay pt-170 pb-170 bg_cover"
         style="background-image: url(/assets/customers/images/bg/page-bg-1.png);">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-10">
        <div class="page-banner-content text-center text-white">
          <h1 class="page-title">Đổi mật khẩu</h1>
          <ul class="breadcrumb-link text-white">
            <li><a href="/home">Trang chủ</a></li>
            <li class="active">Đổi mật khẩu</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section><!--====== End Breadcrumb Section ======-->

<!--====== Start Info Section ======-->
<section class="contact-info-section pt-100 pb-60">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-8">
        <!--=== Section Title ===-->
        <div class="section-title text-center mb-45 wow fadeInDown">
          <h3 class="mb-3">Link đổi mật khẩu đã quá hạn!</h3>
          <span class="sub-title">
            <a href="/forgot-password">
            Nhấn vào đây để thao tác lại lần nữa.
            </a>
          </span>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-4 col-md-6 col-sm-12">
        <!--=== Contact Info Item ===-->
        <div class="contact-info-item text-center mb-40 wow fadeInUp">
          <div class="icon">
            <img src="/assets/customers/images/icon/icon-1.png" alt="icon">
          </div>
          <div class="info">
            <span class="title">Địa chỉ công ty</span>
            <p>Số 1 Nguyễn Trãi, phường 4, quận 10, TP.HCM</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <!--=== Contact Info Item ===-->
        <div class="contact-info-item text-center mb-40 wow fadeInDown">
          <div class="icon">
            <img src="/assets/customers/images/icon/icon-2.png" alt="icon">
          </div>
          <div class="info">
            <span class="title">Địa chỉ Email</span>
            <p>
              <a href="https://demo.webtend.net/cdn-cgi/l/email-protection#1f6c6a6f6f706d6b767179705f78727e7673317c7072"><span
                      class="__cf_email__" data-cfemail="7f0c0a0f0f100d0b161119103f18121e1613511c1012">
                travel-tour@gmail.com</span>
              </a>
            </p>
            <p>
              <a href="https://demo.webtend.net/cdn-cgi/l/email-protection#1e6a6c7f687b727f7a687b706a6b6c7b30707b6a">
                Traveltour.com
              </a>
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <!--=== Contact Info Item ===-->
        <div class="contact-info-item text-center mb-40 wow fadeInUp">
          <div class="icon">
            <img src="/assets/customers/images/icon/icon-3.png" alt="icon">
          </div>
          <div class="info">
            <span class="title">Đường dây nóng</span>
            <p><a href="tel:+000(123)45688">+000 (123) 456 88</a></p>
            <p><a href="tel:+8596320">+859 63 20</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section><!--====== End Info Section ======-->