<!--Google font-->
<link href="/assets/customers/css/auth/css2980f.css?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300&amp;display=swap"
      rel="stylesheet">
<!-- Bootstrap css -->
<link rel="stylesheet" type="text/css" href="/assets/customers/css/auth/bootstrap.css">
<link rel="stylesheet" type="text/css" href="/assets/customers/css/auth/fontawesome.css">
<!-- Theme css -->
<link rel="stylesheet" type="text/css" href="/assets/customers/css/auth/login.css">

<!-- 01 Preloader -->
<div class="loader-wrapper" id="loader-wrapper">
    <div class="loader"></div>
</div>
<!-- Preloader end -->
<!-- 02 Main pages -->
<section class="page-section login-page">
    <div class="full-width-screen">
        <div class="container-fluid">
            <div class="content-detail">
                <div class="main-info">
                    <div class="hero-container">
                        <!-- Forgot form -->
                        <form class="signup-form" method="post" method="post" ng-submit="submitFormForgot()" name="formEmailForgot">
                            <div class="imgcontainer">
                                <a href="#" ng-click="goHome()">
                                    <img src="/assets/customers/images/logo/logo-black.png" class="avatar" alt="logo">
                                </a> <br>
                                <span class="mt-3 fs-4 fw-bold" style="color: #63ab45;">
                                    QUÊN MẬT KHẨU
                                </span>
                            </div>

                            <div class="row input-control">
                                <div class="col-12">
                                    <label style="color: #868686">Nhập địa chỉ email</label>
                                    <input type="text"
                                           class="form-control"
                                           placeholder="exam@gmail.com"
                                           name="email"
                                           ng-model="users.email"
                                           ng-class="{ 'is-invalid': formEmailForgot.email.$invalid && formEmailForgot.email.$touched, 'is-valid': formEmailForgot.email.$valid && formEmailForgot.email.$touched && emailError }"
                                           ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]+$/"
                                           ng-change="checkInputEmail()"
                                           required
                                    >
                                    <small class="text-danger"
                                           ng-show="formEmailForgot.email.$touched && formEmailForgot.email.$error.required">
                                        Vui lòng nhập địa chỉ email !
                                    </small>
                                    <small class="text-danger"
                                           ng-show="formEmailForgot.email.$touched && formEmailForgot.email.$error.pattern">
                                        Email sai định dạng !
                                    </small>
                                    <small class="text-danger" ng-show="formEmailForgot.email.$touched && !emailError">
                                        Email không tồn tại!
                                    </small>
                                </div>
                                <div class="col-12 mt-2">
                                    <label style="color: #868686">Nhập mã captcha</label>
                                    <input type="text" placeholder="Ghi đúng chữ hoa, thường" name="captcha"
                                           ng-model="users.captcha"
                                           ng-class="{ 'is-invalid': formEmailForgot.captcha.$invalid && formEmailForgot.captcha.$touched, 'is-valid': formEmailForgot.captcha.$valid && formEmailForgot.captcha.$touched && capCodeError }"
                                           ng-change="checkInputCaptcha()"required>
                                    <small class="text-danger"
                                           ng-show="formEmailForgot.captcha.$touched && formEmailForgot.captcha.$error.required">
                                        Vui lòng nhập mã Captcha !
                                    </small>
                                    <small class="text-danger" ng-show="formEmailForgot.captcha.$touched && !capCodeError">
                                        Mã Captcha không đúng!
                                    </small>
                                </div>
                                <div class="col-9 d-flex align-items-center mt-2">
                                    <img style="border-radius: 5px; border: 1px solid rgba(128, 128, 128, 0.67);"
                                         ng-src="{{captchaImage}}" alt="Captcha Image" class="captcha-image">
                                </div>
                                <div class="col-3 d-flex align-items-center justify-content-center">
                                    <a ng-click="refreshCaptcha()" role="button">
                                        <i class="fa-solid fa-arrows-rotate fa-2xl" style="color: #44ca85;"></i>
                                    </a>
                                </div>
                                <div class="login-btns mt-2">
                                    <button type="submit"
                                            ng-disabled="formEmailForgot.$invalid || !emailError || !capCodeError"
                                    >Xác nhận</button>
                                </div>
                                <div class="login-with-btns">
                                    <span class="already-acc">Quay lại trang
                                        <a href="/sign-in" class="login-btn">Đăng nhập</a>
                                    </span>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>