<!--Google font-->
<link href="/assets/customers/css/auth/css2980f.css?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300&amp;display=swap"
      rel="stylesheet">
<!-- Bootstrap css -->
<link rel="stylesheet" type="text/css" href="/assets/customers/css/auth/bootstrap.css">
<link rel="stylesheet" type="text/css" href="/assets/customers/css/auth/fontawesome.css">
<!-- Theme css -->
<link rel="stylesheet" type="text/css" href="/assets/customers/css/auth/login.css">

<!-- 01 Preloader -->
<div class="loader-wrapper" id="loader-wrapper">
    <div class="loader"></div>
</div>
<!-- Preloader end -->
<!-- 02 Main pages -->
<section class="page-section login-page">
    <div class="full-width-screen">
        <div class="container-fluid">
            <div class="content-detail">
                <div class="main-info">
                    <div class="hero-container">
                        <!-- Forgot form -->
                        <form class="signup-form" method="post">
                            <div class="imgcontainer">
                                <a href="#" ng-click="goHome()">
                                    <img src="/assets/customers/images/logo/logo-black.png" class="avatar" alt="logo">
                                </a>
                            </div>
                            <div class="input-control">
                                <p>Vui lòng nhập địa chỉ email, chúng tôi sẽ gửi cho bạn một mã OTP.</p>
                                <input type="email"
                                       placeholder="Địa chỉ email"
                                       name="email"
                                       required
                                >
                                <div class="login-btns">
                                    <button type="submit">Xác nhận</button>
                                </div>
                                <div class="login-with-btns">
                                    <span class="already-acc">Quay lại trang
                                        <a href="/sign-in" class="login-btn">Đăng nhập</a>
                                    </span>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>