<!--Google font-->
<link href="/assets/customers/css/auth/css2980f.css?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300&amp;display=swap"
      rel="stylesheet">
<!-- Bootstrap css -->
<link rel="stylesheet" type="text/css" href="/assets/customers/css/auth/bootstrap.css">
<link rel="stylesheet" type="text/css" href="/assets/customers/css/auth/fontawesome.css">
<!-- Theme css -->
<link rel="stylesheet" type="text/css" href="/assets/customers/css/auth/login.css">

<!-- 01 Preloader -->
<div class="loader-wrapper" id="loader-wrapper">
    <div class="loader"></div>
</div>
<!-- Preloader end -->
<!-- 02 Main pages -->
<section class="page-section login-page">
    <div class="full-width-screen">
        <div class="container-fluid">
            <div class="content-detail">
                <div class="main-info">
                    <div class="hero-container">
                        <!-- Forgot form -->
                        <form class="signup-form" id="form-newpass" ng-submit="updateCustomPassWord()" method="post" name="newPassForm">
                            <div class="imgcontainer">
                                <a href="#" ng-click="goHome()">
                                    <img src="/assets/customers/images/logo/logo-black.png" class="avatar" alt="logo">
                                </a> <br>
                                <span class="mt-3 fs-4 fw-bold" style="color: #63ab45;">
                                    MẬT KHẨU MỚI
                                </span>
                            </div>

                            <div class="row input-control">
                                <div class="col-12">
                                    <label style="color: #868686">Nhập mật khẩu mới
                                        <span id="toggleNewPassword" class="eye-icon" ng-click="toggleNewPass()"><i
                                                class="fa-solid fa-eye-slash"></i></span>
                                    </label>
                                    <input type="password"
                                           class="form-control"
                                           id="newPassword"
                                           placeholder="*********"
                                           name="newPass"
                                           ng-class="{ 'is-invalid': newPassForm.newPassInput.$invalid && newPassForm.newPassInput.$touched, 'is-valid': newPassForm.newPassInput.$valid && newPassForm.newPassInput.$touched }"
                                           ng-model="users.newPass"
                                           ng-minlength="6"
                                           required
                                    >
                                    <small class="text-danger"
                                           ng-show="newPassForm.newPass.$touched && newPassForm.newPass.$error.required">
                                        Vui lòng nhập mật khẩu !
                                    </small>
                                    <small class="text-danger"
                                           ng-show="newPassForm.newPass.$error.minlength && newPassForm.newPass.$dirty">
                                        Mật khẩu cần ít nhất 6 ký tự.
                                    </small>
                                </div>
                                <div class="col-12">
                                    <label style="color: #868686">Xác nhận lại mật khẩu
                                        <span id="toggleConfirmNewPassword" class="eye-icon"
                                              ng-click="toggleConfirmNewPass()">
                                        <i class="fa-solid fa-eye-slash"></i></span>
                                    </label>
                                    <input type="password" class="form-control"
                                           name="confirmPass"
                                           id="confirmNewPass"
                                           placeholder="*********"
                                           ng-class="{ 'is-invalid': newPassForm.confirmPass.$invalid && newPassForm.confirmPass.$touched, 'is-valid': newPassForm.confirmPass.$valid && newPassForm.confirmPass.$touched }"
                                           ng-pattern="users.newPass"
                                           ng-minlength="6"
                                           ng-model="users.confirmPass"
                                           required>
                                    <small class="text-danger"
                                           ng-show="newPassForm.confirmPass.$touched && newPassForm.confirmPass.$error.required">
                                        Vui lòng nhập mật khẩu !
                                    </small>
                                    <small class="text-danger"
                                           ng-show="newPassForm.confirmPass.$error.minlength && newPassForm.confirmPass.$dirty">
                                        Mật khẩu cần ít nhất 6 ký tự.
                                    </small>
                                    <small class="text-danger"
                                           ng-show="newPassForm.confirmPass.$touched && newPassForm.confirmPass.$error.pattern">
                                        Xác nhận mật khẩu không khớp.
                                    </small>
                                </div>
                                <div class="login-btns mt-2">
                                    <button type="submit"
                                            ng-disabled="newPassForm.$invalid"
                                    >Xác nhận</button>
                                </div>
                                <div class="login-with-btns">
                                    <span class="already-acc">Quay lại trang
                                        <a href="/sign-in" class="login-btn" type="button">Đăng nhập</a>
                                    </span>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>