<!--====== Start Breadcrumb Section ======-->
<section class="page-banner overlay pt-170 pb-170 bg_cover"
         style="background-image: url(/assets/customers/images/bg/banner-1.jpg);">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="page-banner-content text-center text-white">
                    <h1 class="page-title">Địa Điểm Tham Quan</h1>
                    <ul class="breadcrumb-link text-white">
                        <li><a href="/home">Trang chủ</a></li>
                        <li class="active">Tham quan</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section><!--====== End Breadcrumb Section ======-->

<!--====== Start Blog Section ======-->
<section class="blog-list-section pt-100 pb-70">
    <div class="container">
        <!--====== Products Filter ======-->
        <div class="page-item-filter mb-40 wow fadeInUp">
            <div class="row d-flex justify-content-center">
                <div class="col-md-7 d-flex align-items-center">
                    <div class="show-text">
                        <h3>Booking địa điểm tham quan</h3>
                    </div>
                </div>
                <div class="col-md-5">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xl-9">
                <div ng-include="'app/component/utils/loading-component.html'"></div>
                <div ng-if="!isLoading">
                    <!--=== Blog List Wrapper ===-->
                    <div class="blog-list-wrapper">
                        <!--=== Single Blog Post ===-->
                        <div class="single-blog-post-four mb-30 wow fadeInDown" ng-repeat="location in visitLocation">
                            <div class="post-thumbnail">
                                <img ng-src="{{ location.visitLocationImage }}" style="height: 300px" alt="Post Image">
                            </div>
                            <div class="entry-content">
                                <h6 class="post-meta">
                                    <span>{{ location.agenciesByAgenciesId.nameAgency }}</span>
                                </h6>
                                <h3 class="title text-capitalize">
                                    <a href="#"
                                       ng-click="redirectPage('/tourism-location/tourism-location-detail/',location.id)">
                                        {{ location.visitLocationName }}
                                    </a>
                                </h3>
                                <div class="post-meta" ng-repeat="ticket in location.visitLocationTicketsById">
                                <span>
                                    <i class="fa-solid fa-check text-green"></i>
                                    {{ ticket.ticketTypeName }}
                                    <span ng-if="!ticket.unitPrice"></span>
                                    <span ng-if="ticket.unitPrice">- {{ ticket.unitPrice | vnCurrency }}</span>
                                </span>
                                </div>
                                <a ng-click="redirectVisitLocationDetail(location.id)"
                                   class="main-btn filled-btn detail-link">
                                    Xem chi tiết
                                    <svg class="svg-inline--fa fa-paper-plane" aria-hidden="true" focusable="false"
                                         data-prefix="fas" data-icon="paper-plane" role="img"
                                         xmlns="http://www.w3.org/2000/svg" viewBox="-50 -23 680 520" data-fa-i2svg=""
                                         style="width: 25px;margin-top: 2px;margin-bottom: 2px;margin-right: 2px;">
                                        <path fill="currentColor"
                                              d="M511.6 36.86l-64 415.1c-1.5 9.734-7.375 18.22-15.97 23.05c-4.844 2.719-10.27 4.097-15.68 4.097c-4.188 0-8.319-.8154-12.29-2.472l-122.6-51.1l-50.86 76.29C226.3 508.5 219.8 512 212.8 512C201.3 512 192 502.7 192 491.2v-96.18c0-7.115 2.372-14.03 6.742-19.64L416 96l-293.7 264.3L19.69 317.5C8.438 312.8 .8125 302.2 .0625 289.1s5.469-23.72 16.06-29.77l448-255.1c10.69-6.109 23.88-5.547 34 1.406S513.5 24.72 511.6 36.86z"></path>
                                    </svg>
                                </a>
                            </div>
                        </div><!--=== Single Blog Post ===-->
                    </div>

                    <!--=== Pagination ===-->
                    <ul class="gowilds-pagination wow fadeInDown mt-60 mb-30 d-flex align-items-center justify-content-center">
                        <li class="m-1">
                            <button class="bg-white" ng-click="setPage(0)" ng-disabled="currentPage === 0">
                                <a class="cursor-pointer">
                                    <span class="fas fa-arrow-left"></span>
                                </a>
                            </button>
                        </li>

                        <li class="m-1" ng-if="currentPage > 2 && totalPages > 5">
                            <a>...</a>
                        </li>

                        <li ng-repeat="n in getPaginationRange()" class="m-1">
                            <a href="#" ng-class="{active: n === currentPage}" ng-click="setPage(n)">{{ n + 1 }}</a>
                        </li>

                        <!-- Ellipsis at the end -->
                        <li class="m-1" ng-if="currentPage < totalPages - 3 && totalPages > 5">
                            <a>...</a>
                        </li>

                        <li class="m-1">
                            <button class="bg-white" ng-click="setPage(totalPages - 1)"
                                    ng-disabled="currentPage === totalPages - 1">
                                <a class="cursor-pointer">
                                    <span class="fas fa-arrow-right"></span>
                                </a>
                            </button>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-xl-3 col-md-12">
                <div class="single-event-item mb-30 wow fadeInUp">
                    <!--=== Search Widget ===-->
                    <div class="sidebar-widget-area">
                        <div class="sidebar-widget search-widget mb-30 wow fadeInUp p-0">
                            <input type="text" list="datalistOptionsLocation"
                                   class="form-control"
                                   id="locationFilter"
                                   ng-model="filters.searchTerm"
                                   placeholder="Tìm kiếm...">
                            <datalist id="datalistOptionsLocation">
                                <option ng-repeat="visitLocationData in filteredDataList"
                                        value="{{visitLocationData}}">
                            </datalist>
                        </div>

                    </div><!--=== Search Widget ===-->

                    <div class="img-holder position-relative">
                        <img src="/assets/customers/images/hotel/map-image-customer.png" alt="map-image-customer.png">

                        <button type="button"
                                style="position: absolute;width: 200px; top: 50%; left: 50%; transform: translate(-50%, -50%);"
                                class="btn btn-green"
                                ng-click="openModelMapLocation()"
                        >
                            Hiển thị trên Bản Đồ
                        </button>
                    </div>

                    <div class="content">

                        <div class="find-item mb-3">
                            <p class="fw-medium">Ngân sách của bạn</p>
                            <div class="findHotelType">
                                <label for="rangePrice" class="form-label">Chọn ngân sách:</label>
                                <input type="range" class="form-range" id="rangePrice" ng-model="filters.price"
                                       min="100000"
                                       max="20000000" step="10000">
                                <p>{{ filters.price | number:'0' }} VND</p>
                            </div>
                        </div>

                        <div class="find-item mb-3">
                            <p class="fw-medium">Loại vé</p>
                            <div class="findHotelType" ng-repeat="ticket in tickets">
                                <div class="form-check">
                                    <input class="form-check-input"
                                           type="checkbox"
                                           ng-model="ticket.checked"
                                           value="{{ticket.id}}"
                                           id="{{ ticket.label }}"
                                           ng-change="chooseFromAVarietyOfTickets(ticket.label)"
                                    >
                                    <label class="form-check-label" for="{{ ticket.label }}">
                                        {{ ticket.label }}
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="find-item mb-3">
                            <p class="fw-medium">Loại địa điểm</p>
                            <div class="findHotelType"
                                 ng-repeat="type in visitLocationType | limitTo: limitLocationType">
                                <div class="form-check">
                                    <input class="form-check-input"
                                           type="checkbox"
                                           value="{{type.id}}"
                                           id="{{ type.visitLocationTypeName }}"
                                           ng-model="type.checked"
                                           ng-change="chooseFromAVarietyOfLocations(type.id)"
                                    >
                                    <label class="form-check-label" for="{{ type.visitLocationTypeName }}">
                                        {{ type.visitLocationTypeName }}
                                    </label>
                                </div>
                            </div>
                            <button class="btn text-green"
                                    ng-show="visitLocationType.length > 3 && !showMoreLocationType"
                                    ng-click="showMoreTypesOfLocations()">Hiển thị thêm <i
                                    class="fa-solid fa-angle-down"></i></button>
                            <button class="btn text-green" ng-show="showMoreLocationType"
                                    ng-click="showLessTypesOfLocations()">Ẩn bớt <i
                                    class="fa-solid fa-angle-up"></i>
                            </button>
                        </div>

                        <div class="find-item mb-3">
                            <p class="fw-medium">Điểm đánh giá của khách</p>
                            <div class="findHotelType">
                                <div class="form-check" ng-repeat="rating in ratings">
                                    <input class="form-check-input"
                                           type="radio"
                                           name="rating"
                                           ng-model="$parent.rating"
                                           ng-value="rating.id"
                                           id="{{ 'rating-' + rating.id }}"
                                    >
                                    <label class="form-check-label" for="{{ 'rating-' + rating.id }}">
                                        {{ rating.label }}
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="find-item mb-3 d-flex justify-content-center mt-3">
                            <button class="btn btn-green" ng-click="filterAllVisitCus()">
                                Lọc địa điểm
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!--====== End Blog Section ======-->

<!--====== Start CTA Section ======-->
<section class="cta-bg overlay bg_cover pt-150 pb-150"
         style="background-image: url(/assets/customers/images/bg/cta-bg2.jpg);">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-7 col-lg-8">
                <!--=== CTA Content Box ===-->
                <div class="cta-content-box text-white wow fadeInLeft">
                    <h2 class="mb-35">Bạn đã sẵn sàng cho chuyến du lịch của mình!</h2>
                    <a href="" class="main-btn primary-btn">Để Lại thông tin
                        <svg class="svg-inline--fa fa-paper-plane" aria-hidden="true" focusable="false"
                             data-prefix="fas" data-icon="paper-plane" role="img"
                             xmlns="http://www.w3.org/2000/svg" viewBox="-50 -23 680 520" data-fa-i2svg="">
                            <path fill="currentColor"
                                  d="M511.6 36.86l-64 415.1c-1.5 9.734-7.375 18.22-15.97 23.05c-4.844 2.719-10.27 4.097-15.68 4.097c-4.188 0-8.319-.8154-12.29-2.472l-122.6-51.1l-50.86 76.29C226.3 508.5 219.8 512 212.8 512C201.3 512 192 502.7 192 491.2v-96.18c0-7.115 2.372-14.03 6.742-19.64L416 96l-293.7 264.3L19.69 317.5C8.438 312.8 .8125 302.2 .0625 289.1s5.469-23.72 16.06-29.77l448-255.1c10.69-6.109 23.88-5.547 34 1.406S513.5 24.72 511.6 36.86z"></path>
                        </svg>
                    </a>
                </div>
            </div>
            <div class="col-xl-5 col-lg-4">
                <div class="play-box text-lg-end text-center wow fadeInRight">
                    <a href="https://www.youtube.com/watch?v=ibuUmMhD2Pg" class="video-popup"><span
                            class="fas fa-play"></span></a>
                </div>
            </div>
        </div>
    </div>
</section><!--====== End CTA Section ======-->

<!--====== Modal hiển thị tất cả điểm tham quan ======-->
<div class="modal fade" id="modalMapLocation" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalMapLocationLabel">Bản đồ</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body row">
                <div id="map" class="col-12" style="height: 500px"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Thoát</button>
            </div>
        </div>
    </div>
</div>