<!--====== Start Place Details Section ======-->
<section class="place-details-section">
    <!--====== Start Breadcrumb Section ======-->
    <section class="page-banner overlay bg_cover">
        <div id="carousel-tour" class="carousel slide carousel-fade" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="/assets/customers/images/background-banner/tour-6.png" class="d-block w-100"
                         style="height: 500px" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="/assets/customers/images/background-banner/tour-5.png" class="d-block w-100"
                         style="height: 500px" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="/assets/customers/images/background-banner/tour-1.png" class="d-block w-100"
                         style="height: 500px" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carousel-tour" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carousel-tour" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </section><!--====== End Breadcrumb Section ======-->

    <div ng-include="'app/component/utils/loading-component.html'"></div>

    <div class="container" ng-if="!isLoading">
        <!--=== Tour Details Wrapper ===-->
        <div class="tour-details-wrapper pt-80">
            <!--=== Tour Title Wrapper ===-->
            <div class="tour-title-wrapper wow fadeInUp">
                <div class="row">
                    <div class="col-xl-6">
                        <div class="tour-title mb-20">
                            <h3 class="title text-capitalize">{{ locationDetail.visitLocationName }}</h3>
                            <p>
                                <span class="fas fa-map-marker-alt"></span>
                                <span>
                                  {{ locationDetail.ward }} - {{ locationDetail.district }}
                                    - {{ locationDetail.province }}
                                </span>
                                <span ng-if="provinceName.length === 0">
                                    Hiện tại tour này không có điểm tham quan.
                                </span>
                            </p>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="tour-widget-info">
                            <div class="info-box mb-20">
                                <div class="icon">
                                    <span class="fal fa-box-usd"></span>
                                </div>
                                <div class="info">
                                    <h4><span>Chỉ từ</span>{{ priceTickets | vnCurrency }}</h4>
                                </div>
                            </div>

                            <div class="info-box mb-20">
                                <div class="icon">
                                    <svg style="width: 115%" viewBox="0 0 24 24" fill="none"
                                         xmlns="http://www.w3.org/2000/svg" data-id="IcSystemToolMap">
                                        <path d="M4 7.5L3 8V20L8 19M8 19L16 21M8 19V16M16 21L21 20V8H20M16 21V16"
                                              stroke="#687176" stroke-width="2" stroke-linecap="round"
                                              stroke-linejoin="round"></path>
                                        <path d="M12 14.5C12 14.5 7 11 7 7C7 4.5 9 2 12 2C15 2 17 4.5 17 7C17 11 12 14.5 12 14.5Z"
                                              stroke="#0194F3" stroke-width="2" stroke-linecap="round"
                                              stroke-linejoin="round"></path>
                                        <path d="M12 8.5C12.8284 8.5 13.5 7.82843 13.5 7C13.5 6.17157 12.8284 5.5 12 5.5C11.1716 5.5 10.5 6.17157 10.5 7C10.5 7.82843 11.1716 8.5 12 8.5Z"
                                              stroke="#0194F3" stroke-width="2" stroke-linecap="round"
                                              stroke-linejoin="round"></path>
                                    </svg>
                                </div>
                                <div class="info">
                                    <h4>
                                        <span class="text-green" style="cursor: pointer;" ng-click="scrollToMap()">
                                            Xem bản đồ
                                        </span>
                                        {{ locationDetail.district }}
                                    </h4>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <!--=== Tour Area Nav ===-->
            <div class="tour-area-nav pt-20 pb-20 wow fadeInUp">
                <div class="row align-items-center">
                    <div class="col-md-4">
                        <div class="ratings-box">
                            <ul class="ratings">
                                <li><span class="fas fa-star"></span></li>
                                <li><span class="fas fa-star"></span></li>
                                <li><span class="fas fa-star"></span></li>
                                <li><span class="fas fa-star"></span></li>
                                <li><span class="fas fa-star"></span></li>
                                <li><a href="#">(3k Lượt xem)</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="share-nav">
                            <a href="#">Chia sẻ<span class="fas fa-share"></span></a>
                            <a href="#" ng-click="likeLocation(locationDetail.id)">Yêu thích
                                <i ng-if="isLikeLocation">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"
                                         style="width: 14px; fill: red; padding-bottom: 4px">
                                        <!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
                                        <path
                                                d="M47.6 300.4L228.3 469.1c7.5 7 17.4 10.9 27.7 10.9s20.2-3.9 27.7-10.9L464.4 300.4c30.4-28.3 47.6-68 47.6-109.5v-5.8c0-69.9-50.5-129.5-119.4-141C347 36.5 300.6 51.4 268 84L256 96 244 84c-32.6-32.6-79-47.5-124.6-39.9C50.5 55.6 0 115.2 0 185.1v5.8c0 41.5 17.2 81.2 47.6 109.5z"/>
                                    </svg>
                                </i>
                                <i ng-if="!isLikeLocation">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"
                                         style="width: 14px;  padding-bottom: 4px">
                                        <!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
                                        <path
                                                d="M225.8 468.2l-2.5-2.3L48.1 303.2C17.4 274.7 0 234.7 0 192.8v-3.3c0-70.4 50-130.8 119.2-144C158.6 37.9 198.9 47 231 69.6c9 6.4 17.4 13.8 25 22.3c4.2-4.8 8.7-9.2 13.5-13.3c3.7-3.2 7.5-6.2 11.5-9c0 0 0 0 0 0C313.1 47 353.4 37.9 392.8 45.4C462 58.6 512 119.1 512 189.5v3.3c0 41.9-17.4 81.9-48.1 110.4L288.7 465.9l-2.5 2.3c-8.2 7.6-19 11.9-30.2 11.9s-22-4.2-30.2-11.9zM239.1 145c-.4-.3-.7-.7-1-1.1l-17.8-20c0 0-.1-.1-.1-.1c0 0 0 0 0 0c-23.1-25.9-58-37.7-92-31.2C81.6 101.5 48 142.1 48 189.5v3.3c0 28.5 11.9 55.8 32.8 75.2L256 430.7 431.2 268c20.9-19.4 32.8-46.7 32.8-75.2v-3.3c0-47.3-33.6-88-80.1-96.9c-34-6.5-69 5.4-92 31.2c0 0 0 0-.1 .1s0 0-.1 .1l-17.8 20c-.3 .4-.7 .7-1 1.1c-4.5 4.5-10.6 7-16.9 7s-12.4-2.5-16.9-7z"/>
                                    </svg>
                                </i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row sticky-row">
                <div class="col-xl-8 visit-parent-class sticky-left-column">
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade active show" id="nav-home" role="tabpanel"
                             aria-labelledby="nav-home-tab">

                            <div class="place-content-wrap my-4 wow fadeInUp max-wi"
                                 ng-bind-html="locationDetailDescription"
                                 style="text-align: justify; white-space: pre-line; font-family: 'Roboto',sans-serif;">
                            </div>
                            <div class="place-content-wrap mb-4 wow fadeInUp"
                                 ng-if="locationDetailDescription === null">
                                Chưa cập nhật thông tin chi tiết về địa điểm tham quan này.
                            </div>

                            <!--=== Map Box ===-->
                            <div class="map-box mb-40">
                                <div id="map" class="rounded-3" style="width: 100%; height: 500px;"></div>
                            </div><!--=== Map Box ===-->
                        </div>
                    </div>

                    <!--=== Reviews Area ===-->
                    <div class="reviews-wrapper mb-60 wow fadeInUp">
                        <div class="reviews-inner-box">
                            <div class="rating-value">
                                <h5>Đánh giá của khách hàng</h5>
                                <div class="rate-score">4.9</div>
                                <ul class="ratings">
                                    <li><span class="fas fa-star"></span></li>
                                    <li><span class="fas fa-star"></span></li>
                                    <li><span class="fas fa-star"></span></li>
                                    <li><span class="fas fa-star"></span></li>
                                    <li><span class="fas fa-star"></span></li>
                                    <li><a href="#">(4.9)</a></li>
                                </ul>
                                <span class="reviews">3k Đánh giá</span>
                            </div>
                            <div class="reviews-progress">
                                <div class="single-progress-bar">
                                    <div class="progress-title">
                                        <h6>Chất lượng <span class="rate">4.8</span></h6>
                                    </div>
                                    <div class="progress">
                                        <div class="progress-bar wow slideInLeft" style="width: 85%"></div>
                                    </div>
                                </div>
                                <div class="single-progress-bar">
                                    <div class="progress-title">
                                        <h6>Thành viên đội<span class="rate">4.6</span></h6>
                                    </div>
                                    <div class="progress">
                                        <div class="progress-bar wow slideInLeft" style="width: 75%"></div>
                                    </div>
                                </div>
                                <div class="single-progress-bar">
                                    <div class="progress-title">
                                        <h6>Địa điểm<span class="rate">4.7</span></h6>
                                    </div>
                                    <div class="progress">
                                        <div class="progress-bar wow slideInLeft" style="width: 90%"></div>
                                    </div>
                                </div>
                                <div class="single-progress-bar">
                                    <div class="progress-title">
                                        <h6>Trị giá<span class="rate">4.9</span></h6>
                                    </div>
                                    <div class="progress">
                                        <div class="progress-bar wow slideInLeft" style="width: 95%"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--=== Comments Area ===-->
                    <div class="comments-area wow fadeInUp">
                        <ul class="comment-list">
                            <li>
                                <div class="comment">
                                    <div class="comment-avatar">
                                        <img src="/assets/customers/images/place/comment-1.jpg"
                                             alt="comment author">
                                    </div>
                                    <div class="comment-wrap">
                                        <div class="comment-author-content">
                                            <span class="author-name">Nguyễn Văn A
                                                        <span class="time">
                                                            <span class="fas fa-clock"></span>
                                                            5 phút trước
                                                        </span>
                                                    </span>
                                            <ul class="comment-rating-ul mb-20">
                                                <li>
                                                    <span class="title">Chất lượng</span>
                                                    <span><span class="fas fa-star"></span></span>
                                                    <span><span class="fas fa-star"></span></span>
                                                    <span><span class="fas fa-star"></span></span>
                                                    <span><span class="fas fa-star"></span></span>
                                                    <span><span class="fas fa-star"></span></span>
                                                </li>
                                                <li>
                                                    <span class="title">Vị trí</span>
                                                    <span><span class="fas fa-star"></span></span>
                                                    <span><span class="fas fa-star"></span></span>
                                                    <span><span class="fas fa-star"></span></span>
                                                    <span><span class="fas fa-star"></span></span>
                                                    <span><span class="fas fa-star"></span></span>
                                                </li>
                                                <li>
                                                    <span class="title">Dịch vụ</span>
                                                    <span><span class="fas fa-star"></span></span>
                                                    <span><span class="fas fa-star"></span></span>
                                                    <span><span class="fas fa-star"></span></span>
                                                    <span><span class="fas fa-star"></span></span>
                                                    <span><span class="fas fa-star"></span></span>
                                                </li>
                                                <li>
                                                    <span class="title">Đội ngũ</span>
                                                    <span><span class="fas fa-star"></span></span>
                                                    <span><span class="fas fa-star"></span></span>
                                                    <span><span class="fas fa-star"></span></span>
                                                    <span><span class="fas fa-star"></span></span>
                                                    <span><span class="fas fa-star"></span></span>
                                                </li>
                                                <li>
                                                    <span class="title">Giá</span>
                                                    <span><span class="fas fa-star"></span></span>
                                                    <span><span class="fas fa-star"></span></span>
                                                    <span><span class="fas fa-star"></span></span>
                                                    <span><span class="fas fa-star"></span></span>
                                                    <span><span class="fas fa-star"></span></span>
                                                </li>
                                            </ul>
                                            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui
                                                blanditiis
                                                praesentium voluptatum deleniti atque corrupti quos dolores et quas
                                                molestias excepture</p>
                                            <a href="#" class="btn-link">Trả lời
                                                <span class="fas fa-angle-double-right"></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <ul class="comment-reply">
                                    <li>
                                        <div class="comment">
                                            <div class="comment-avatar">
                                                <img src="/assets/customers/images/place/comment-2.jpg"
                                                     alt="comment author">
                                            </div>
                                            <div class="comment-wrap">
                                                <div class="comment-author-content">
                                                    <span class="author-name">Nguyễn Văn B
                                                        <span class="time">
                                                            <span class="fas fa-clock"></span>
                                                            5 phút trước
                                                        </span>
                                                    </span>
                                                    <ul class="comment-rating-ul mb-20">
                                                        <li>
                                                            <span class="title">Chất lượng</span>
                                                            <span><span class="fas fa-star"></span></span>
                                                            <span><span class="fas fa-star"></span></span>
                                                            <span><span class="fas fa-star"></span></span>
                                                            <span><span class="fas fa-star"></span></span>
                                                            <span><span class="fas fa-star"></span></span>
                                                        </li>
                                                        <li>
                                                            <span class="title">Vị trí</span>
                                                            <span><span class="fas fa-star"></span></span>
                                                            <span><span class="fas fa-star"></span></span>
                                                            <span><span class="fas fa-star"></span></span>
                                                            <span><span class="fas fa-star"></span></span>
                                                            <span><span class="fas fa-star"></span></span>
                                                        </li>
                                                        <li>
                                                            <span class="title">Dịch vụ</span>
                                                            <span><span class="fas fa-star"></span></span>
                                                            <span><span class="fas fa-star"></span></span>
                                                            <span><span class="fas fa-star"></span></span>
                                                            <span><span class="fas fa-star"></span></span>
                                                            <span><span class="fas fa-star"></span></span>
                                                        </li>
                                                        <li>
                                                            <span class="title">Đội ngũ</span>
                                                            <span><span class="fas fa-star"></span></span>
                                                            <span><span class="fas fa-star"></span></span>
                                                            <span><span class="fas fa-star"></span></span>
                                                            <span><span class="fas fa-star"></span></span>
                                                            <span><span class="fas fa-star"></span></span>
                                                        </li>
                                                        <li>
                                                            <span class="title">Giá</span>
                                                            <span><span class="fas fa-star"></span></span>
                                                            <span><span class="fas fa-star"></span></span>
                                                            <span><span class="fas fa-star"></span></span>
                                                            <span><span class="fas fa-star"></span></span>
                                                            <span><span class="fas fa-star"></span></span>
                                                        </li>
                                                    </ul>
                                                    <p>At vero eos et accusamus et iusto odio dignissimos ducimus
                                                        qui
                                                        blanditiis praesentium voluptatum deleniti atque corrupti
                                                        quos
                                                        dolores et quas molestias excepture</p>
                                                    <a href="#" class="btn-link">Trả lời
                                                        <span class="fas fa-angle-double-right"></span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <ul class="comment-list">
                            <li>
                                <div class="comment">
                                    <div class="comment-avatar">
                                        <img src="/assets/customers/images/place/comment-3.jpg"
                                             alt="comment author">
                                    </div>
                                    <div class="comment-wrap">
                                        <div class="comment-author-content">
                                            <span class="author-name">Nguyễn Văn Tèo
                                                        <span class="time">
                                                            <span class="fas fa-clock"></span>
                                                            5 phút trước
                                                        </span>
                                                    </span>
                                            <ul class="comment-rating-ul mb-20">
                                                <li>
                                                    <span class="title">Chất lượng</span>
                                                    <span><span class="fas fa-star"></span></span>
                                                    <span><span class="fas fa-star"></span></span>
                                                    <span><span class="fas fa-star"></span></span>
                                                    <span><span class="fas fa-star"></span></span>
                                                    <span><span class="fas fa-star"></span></span>
                                                </li>
                                                <li>
                                                    <span class="title">Vị trí</span>
                                                    <span><span class="fas fa-star"></span></span>
                                                    <span><span class="fas fa-star"></span></span>
                                                    <span><span class="fas fa-star"></span></span>
                                                    <span><span class="fas fa-star"></span></span>
                                                    <span><span class="fas fa-star"></span></span>
                                                </li>
                                                <li>
                                                    <span class="title">Dịch vụ</span>
                                                    <span><span class="fas fa-star"></span></span>
                                                    <span><span class="fas fa-star"></span></span>
                                                    <span><span class="fas fa-star"></span></span>
                                                    <span><span class="fas fa-star"></span></span>
                                                    <span><span class="fas fa-star"></span></span>
                                                </li>
                                                <li>
                                                    <span class="title">Đội ngũ</span>
                                                    <span><span class="fas fa-star"></span></span>
                                                    <span><span class="fas fa-star"></span></span>
                                                    <span><span class="fas fa-star"></span></span>
                                                    <span><span class="fas fa-star"></span></span>
                                                    <span><span class="fas fa-star"></span></span>
                                                </li>
                                                <li>
                                                    <span class="title">Giá</span>
                                                    <span><span class="fas fa-star"></span></span>
                                                    <span><span class="fas fa-star"></span></span>
                                                    <span><span class="fas fa-star"></span></span>
                                                    <span><span class="fas fa-star"></span></span>
                                                    <span><span class="fas fa-star"></span></span>
                                                </li>
                                            </ul>
                                            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui
                                                blanditiis
                                                praesentium voluptatum deleniti atque corrupti quos dolores et quas
                                                molestias excepture</p>
                                            <a href="#" class="btn-link">Trả lời
                                                <span class="fas fa-angle-double-right"></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!--===  Comments Form  ===-->
                    <div class="comments-respond mb-30 wow fadeInUp">
                        <h3 class="comments-heading" style="margin-bottom: 15px;">Để lại một bình luận</h3>
                        <ul class="comment-rating-ul mb-20">
                            <li>
                                <span class="title">Chất lượng</span>
                                <span><span class="fas fa-star"></span></span>
                                <span><span class="fas fa-star"></span></span>
                                <span><span class="fas fa-star"></span></span>
                                <span><span class="fas fa-star"></span></span>
                                <span><span class="fas fa-star"></span></span>
                            </li>
                            <li>
                                <span class="title">Vị trí</span>
                                <span><span class="fas fa-star"></span></span>
                                <span><span class="fas fa-star"></span></span>
                                <span><span class="fas fa-star"></span></span>
                                <span><span class="fas fa-star"></span></span>
                                <span><span class="fas fa-star"></span></span>
                            </li>
                            <li>
                                <span class="title">Dịch vụ</span>
                                <span><span class="fas fa-star"></span></span>
                                <span><span class="fas fa-star"></span></span>
                                <span><span class="fas fa-star"></span></span>
                                <span><span class="fas fa-star"></span></span>
                                <span><span class="fas fa-star"></span></span>
                            </li>
                            <li>
                                <span class="title">Đội ngũ</span>
                                <span><span class="fas fa-star"></span></span>
                                <span><span class="fas fa-star"></span></span>
                                <span><span class="fas fa-star"></span></span>
                                <span><span class="fas fa-star"></span></span>
                                <span><span class="fas fa-star"></span></span>
                            </li>
                            <li>
                                <span class="title">Giá</span>
                                <span><span class="fas fa-star"></span></span>
                                <span><span class="fas fa-star"></span></span>
                                <span><span class="fas fa-star"></span></span>
                                <span><span class="fas fa-star"></span></span>
                                <span><span class="fas fa-star"></span></span>
                            </li>
                        </ul>
                        <form class="comment-form">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form_group">
                                        <input type="email"
                                               class="form_control"
                                               placeholder="Địa chỉ email"
                                               name="name"
                                               required
                                        >
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form_group">
                                        <input type="text"
                                               class="form_control"
                                               placeholder="Họ và tên"
                                               name="email"
                                               required
                                        >
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="form_group">
                                        <textarea name="message"
                                                  class="form_control"
                                                  rows="4"
                                                  placeholder="Nhập nội dung..."
                                        ></textarea>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="form_group">
                                        <button class="main-btn primary-btn">
                                            Gửi nội dung
                                            <span class="fas fa-angle-double-right"></span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-xl-4 sticky-right-column">
                    <!--=== Sidebar Widget Area ===-->
                    <div class="sidebar-widget-area pt-45 pl-lg-30">
                        <div class="sidebar-widget booking-info-widget wow fadeInUp mb-40"
                             ng-if="tickets.adultPrice || tickets.adultPrice">
                            <h4 class="widget-title">Đặt vé ngay</h4>
                            <ul class="info-list">
                                <li ng-if="tickets.adultPrice">
                                    <span class="d-flex align-items-center bd-highlight">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="29"
                                             viewBox="0 0 24 24" fill="none">
                                            <path d="M7 2V5M17 2V5M3 8H21M11.5 11.5H12.5V12.5H11.5V11.5ZM11.5 16.5H12.5V17.5H11.5V16.5ZM16.5 11.5H17.5V12.5H16.5V11.5ZM6.5 16.5H7.5V17.5H6.5V16.5ZM5 21H19C20.1046 21 21 20.1046 21 19V6C21 4.89543 20.1046 4 19 4H5C3.89543 4 3 4.89543 3 6V19C3 20.1046 3.89543 21 5 21Z"
                                                  stroke="#70A941" stroke-width="2" stroke-linecap="round"
                                                  stroke-linejoin="round"/>
                                            <path fill-rule="evenodd" clip-rule="evenodd"
                                                  d="M7.5 11.5V12.5H6.5V11.5H7.5Z" stroke="#0194F3" stroke-width="2"
                                                  stroke-linecap="round" stroke-linejoin="round"/>
                                        </svg>
                                        Ngày
                                        <span class="ms-auto bd-highlight">
                                            <input type="date" ng-model="tickets.departureDate" class="form-control"
                                                   min="{{getCurrentDate()}}" ng-blur="checkDate()"/>
                                        </span>
                                    </span>
                                </li>
                                <li ng-if="tickets.adultPrice">
                                    <span class="d-flex align-items-center bd-highlight">
                                       <span class="fas fa-user-circle"></span>
                                        Người lớn (trên 90cm)
                                        <span class="ms-auto bd-highlight" style="width: 70px">
                                            <input type="number" class="form-control" ng-model="tickets.adultTickets"
                                                   ng-change="calculateTotalPrice()"
                                                   ng-blur="onQuantityBlurAdult(tickets)" min="1" max="99"
                                                   oninput="validity.valid||(value='');">
                                        </span>
                                    </span>
                                </li>
                                <li ng-if="tickets.childrenPrice">
                                    <span class="d-flex align-items-center bd-highlight">
                                       <span class="fas fa-user-circle"></span>
                                        Trẻ em (dưới 90cm)
                                        <span class="ms-auto bd-highlight" style="width: 70px">
                                            <input type="number" class="form-control" ng-model="tickets.childrenTickets"
                                                   ng-change="calculateTotalPrice()"
                                                   ng-blur="onQuantityBlurChildren(tickets)" min="0" max="99"
                                                   oninput="validity.valid||(value='');">
                                        </span>
                                    </span>
                                </li>

                                <div class="booking-total mb-20">
                                    <div class="total">
                                        <label>Tạm tính ({{ tickets.totalTickets }}) vé</label>
                                        <span class="price">
                                            {{ tickets.totalPrice | vnCurrency }}
                                        </span>
                                    </div>
                                </div>
                                <div class="submit-button">
                                    <button type="submit" ng-click="submitBookingLocation()"
                                            class="main-btn primary-btn w-100 d-flex justify-content-between"
                                    >
                                        Đặt vé ngay
                                        <svg class="svg-inline--fa fa-paper-plane" aria-hidden="true"
                                             focusable="false"
                                             data-prefix="fas" data-icon="paper-plane" role="img"
                                             xmlns="http://www.w3.org/2000/svg" viewBox="0 0 650 512"
                                             data-fa-i2svg="">
                                            <path fill="currentColor"
                                                  d="M511.6 36.86l-64 415.1c-1.5 9.734-7.375 18.22-15.97 23.05c-4.844 2.719-10.27 4.097-15.68 4.097c-4.188 0-8.319-.8154-12.29-2.472l-122.6-51.1l-50.86 76.29C226.3 508.5 219.8 512 212.8 512C201.3 512 192 502.7 192 491.2v-96.18c0-7.115 2.372-14.03 6.742-19.64L416 96l-293.7 264.3L19.69 317.5C8.438 312.8 .8125 302.2 .0625 289.1s5.469-23.72 16.06-29.77l448-255.1c10.69-6.109 23.88-5.547 34 1.406S513.5 24.72 511.6 36.86z"></path>
                                        </svg>
                                    </button>
                                </div>
                            </ul>
                        </div>

                        <!--=== Recent Place Widget ===-->
                        <div class="sidebar-widget recent-place-widget mb-40 wow fadeInUp">
                            <h4 class="widget-title">Top 5 tour nổi bật</h4>
                            <ul class="recent-place-list">
                                <li class="place-thumbnail-content" ng-repeat="trend in locationTrendData">
                                    <img ng-src="{{ trend.visitLocationImage }}" alt="post thumb" src="">
                                    <div class="place-content">
                                        <ul class="ratings">
                                            <li><span class="fas fa-star"></span></li>
                                            <li><span class="fas fa-star"></span></li>
                                            <li><span class="fas fa-star"></span></li>
                                            <li><span class="fas fa-star"></span></li>
                                            <li><span class="fas fa-star"></span></li>
                                        </ul>
                                        <h5><a href="/home">{{ trend.visitLocationName }}</a>
                                        </h5>
                                        <span class="price">
                                            <span class="text m-0">Chỉ từ:</span>
                                            <span class="currency">{{ priceTicketsTrend | vnCurrency }}</span>
                                        </span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!--====== End Place Details Section ======-->

<!--====== Start CTA Section ======-->
<section class="cta-bg overlay bg_cover pt-150 pb-150"
         style="background-image: url(/assets/customers/images/bg/cta-bg2.jpg);">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-7 col-lg-8">
                <!--=== CTA Content Box ===-->
                <div class="cta-content-box text-white wow fadeInLeft">
                    <h2 class="mb-35">Bạn đã sẵn sàng cho chuyến du lịch của mình!</h2>
                    <a href="" class="main-btn primary-btn">Để Lại thông tin
                        <svg class="svg-inline--fa fa-paper-plane" aria-hidden="true" focusable="false"
                             data-prefix="fas" data-icon="paper-plane" role="img"
                             xmlns="http://www.w3.org/2000/svg" viewBox="-50 -23 680 520" data-fa-i2svg="">
                            <path fill="currentColor"
                                  d="M511.6 36.86l-64 415.1c-1.5 9.734-7.375 18.22-15.97 23.05c-4.844 2.719-10.27 4.097-15.68 4.097c-4.188 0-8.319-.8154-12.29-2.472l-122.6-51.1l-50.86 76.29C226.3 508.5 219.8 512 212.8 512C201.3 512 192 502.7 192 491.2v-96.18c0-7.115 2.372-14.03 6.742-19.64L416 96l-293.7 264.3L19.69 317.5C8.438 312.8 .8125 302.2 .0625 289.1s5.469-23.72 16.06-29.77l448-255.1c10.69-6.109 23.88-5.547 34 1.406S513.5 24.72 511.6 36.86z"></path>
                        </svg>
                    </a>
                </div>
            </div>
            <div class="col-xl-5 col-lg-4">
                <div class="play-box text-lg-end text-center wow fadeInRight">
                    <a href="https://www.youtube.com/watch?v=Au6LqK1UH8g&ab_channel=VirtualWorldVietnam"
                       class="video-popup">
                        <span class="fas fa-play"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section><!--====== End CTA Section ======-->

<!--====== Start Modal Section ======-->
<div id="formTourModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered" style="max-width: 40%; height: 80vh;">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="mapModalLabel">Bạn có đề xuất về Tour</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <button type="button" class="btn-close" data-dismiss="modal"
                            ng-click="closeFormModal()"></button>
                </button>
            </div>
            <div class="modal-body row">
                <div id="i-want" class="mapBoxModel col-12"
                     style="height: 100%; padding-left: 30px; padding-right: 30px; margin: 0;">
                    <form name="tourDetailForm" style="height: 100%">
                        <div class="col-12 mb-1">
                            <h4 style="font-size: larger;font-weight: bold;color: darkgreen;">{{ tourDetail.toursByTourId.tourName }}</h4>
                        </div>
                        <div class="col-12 mb-1">
                            <label for="departureDateF" class="form-label">Ngày đi</label>
                            <input class="form-control" type="date" id="departureDateF"
                                   name="birth"
                                   ng-model="customer.birth"
                                   ng-class="{ 'is-invalid': isBirthInvalid(),
                                            'is-valid': isBirthValid() }"
                                   ng-change="checkBirth()"
                                   required/>
                            <small class="text-danger"
                                   ng-show="customerForm.birth.$error.required">
                                Vui lòng nhập ngày sinh!
                            </small>
                            <small class="text-danger"
                                   ng-show="isBirthInvalid()">
                                Yêu cầu trên 16 tuổi!
                            </small>
                        </div>
                        <div class="col-12 mb-1">
                            <label for="arrivalDateF" class="form-label">Ngày về</label>
                            <input class="form-control" type="date" id="arrivalDateF"
                                   name="birth"
                                   ng-model="customer.birth"
                                   ng-class="{ 'is-invalid': isBirthInvalid(),
                                            'is-valid': isBirthValid() }"
                                   ng-change="checkBirth()"
                                   required/>
                            <small class="text-danger"
                                   ng-show="customerForm.birth.$error.required">
                                Vui lòng nhập ngày sinh!
                            </small>
                            <small class="text-danger"
                                   ng-show="isBirthInvalid()">
                                Yêu cầu trên 16 tuổi!
                            </small>
                        </div>
                        <div class="col-12 mb-1">
                            <label for="note" class="form-label">Ghi chú</label>
                            <textarea id="note" class="form-control" name="note" ng-model="customer.note" rows="4"
                                      maxlength="200"
                                      required></textarea>
                            <small class="text-danger"
                                   ng-show="customerForm.birth.$error.required">
                                Vui lòng nhập ngày sinh!
                            </small>
                            <small class="text-danger"
                                   ng-show="isBirthInvalid()">
                                Yêu cầu trên 16 tuổi!
                            </small>
                        </div>
                        <div class="mt-3 d-flex justify-content-center pb-0">
                            <button type="button" class="btn btn-green" style="padding: 8px 50px; border-radius: 30px"
                                    ng-click="closeFormModal()">Đóng
                            </button>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>