<!--====== Start Breadcrumb Section ======-->
<section class="page-banner overlay pt-170 pb-170 bg_cover"
         style="background-image: url(/assets/customers/images/bg/page-bg-1.png);">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="page-banner-content text-center text-white">
                    <h1 class="page-title">Booking Tours</h1>
                    <ul class="breadcrumb-link text-white">
                        <li><a href="/home">Trang chủ</a></li>
                        <li class="active">Booking tour</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section><!--====== End Breadcrumb Section ======-->

<!--====== Start Places Section ======-->
<section class="places-section pt-100 pb-100">
    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-md-6 col-sm-12 places-column" ng-repeat="detail in tourDetail">
                <div class="single-place-item mb-60 wow fadeInUp">
                    <div class="place-img">
                        <img ng-src="{{ detail.toursByTourId.tourImg }}" src="" alt="Place Image">
                    </div>
                    <div class="place-content">
                        <div class="info">
                            <ul class="ratings">
                                <li><span class="fas fa-star"></span></li>
                                <li><span class="fas fa-star"></span></li>
                                <li><span class="fas fa-star"></span></li>
                                <li><span class="fas fa-star"></span></li>
                                <li><span class="fas fa-star"></span></li>
                                <li><a href="#">(4.9)</a></li>
                            </ul>
                            <h4 class="title">
                                <a href="">{{ detail.toursByTourId.tourName }}</a>
                            </h4>
                            <p class="location">
                                <span class="fas fa-map-marker-alt"></span>
                                {{ detail.toLocation }}
                            </p>
                            <p class="price">
                                <span class="far fa-money-bill-alt"></span>
                                <span class="fw-bold">{{ detail.unitPrice | vnCurrency }}</span>
                            </p>
                            <div class="meta">
                                <span>
                                    <span class="fas fa-clock"></span>
                                    {{ detail.numberOfDays }} Ngày
                                </span>
                                <span>
                                    <span class="fas fa-user"></span>
                                    {{ detail.numberOfGuests }}
                                </span>
                                <span>
                                    <a href="/tour-detail/{{detail.id}}">Chi tiết<span
                                            class="fas fa-long-arrow-right"></span></a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <!--=== Gowilds Pagination ===-->
                <ul class="gowilds-pagination wow fadeInUp text-center">
                    <li>
                        <a href="#" ng-class="{disabled: currentPage === 0}" ng-click="setPage(0)">
                            <span class="fas fa-arrow-left"></span>
                        </a>
                    </li>

                    <li ng-if="currentPage > 2 && totalPages > 5">
                        <a>...</a>
                    </li>

                    <li ng-repeat="n in getPaginationRange()" class="mx-1">
                        <a href="#" ng-class="{active: n === currentPage}" ng-click="setPage(n)">{{ n + 1 }}</a>
                    </li>

                    <!-- Ellipsis at the end -->
                    <li ng-if="currentPage < totalPages - 3 && totalPages > 5">
                        <a>...</a>
                    </li>

                    <li>
                        <a ng-class="{disabled: currentPage === totalPages - 1}" ng-click="setPage(totalPages - 1)">
                            <span class="fas fa-arrow-right"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section><!--====== End Places Section ======-->

<!--====== Start Gallery Section ======-->
<section class="gallery-section mbm-150">
    <div class="container-fluid">
        <div class="slider-active-5-item wow fadeInUp">
            <!--=== Single Gallery Item ===-->
            <div class="single-gallery-item">
                <div class="gallery-img">
                    <img src="/assets/customers/images/gallery/gl-1.jpg" alt="Gallery Image">
                    <div class="hover-overlay">
                        <a href="/assets/customers/images/gallery/gl-1.jpg" class="icon-btn img-popup"><span
                                class="fas fa-plus"></span></a>
                    </div>
                </div>
            </div>
            <!--=== Single Gallery Item ===-->
            <div class="single-gallery-item">
                <div class="gallery-img">
                    <img src="/assets/customers/images/gallery/gl-2.jpg" alt="Gallery Image">
                    <div class="hover-overlay">
                        <a href="/assets/customers/images/gallery/gl-2.jpg" class="icon-btn img-popup"><span
                                class="fas fa-plus"></span></a>
                    </div>
                </div>
            </div>
            <!--=== Single Gallery Item ===-->
            <div class="single-gallery-item">
                <div class="gallery-img">
                    <img src="/assets/customers/images/gallery/gl-3.jpg" alt="Gallery Image">
                    <div class="hover-overlay">
                        <a href="/assets/customers/images/gallery/gl-3.jpg" class="icon-btn img-popup"><span
                                class="fas fa-plus"></span></a>
                    </div>
                </div>
            </div>
            <!--=== Single Gallery Item ===-->
            <div class="single-gallery-item">
                <div class="gallery-img">
                    <img src="/assets/customers/images/gallery/gl-4.jpg" alt="Gallery Image">
                    <div class="hover-overlay">
                        <a href="/assets/customers/images/gallery/gl-4.jpg" class="icon-btn img-popup"><span
                                class="fas fa-plus"></span></a>
                    </div>
                </div>
            </div>
            <!--=== Single Gallery Item ===-->
            <div class="single-gallery-item">
                <div class="gallery-img">
                    <img src="/assets/customers/images/gallery/gl-5.jpg" alt="Gallery Image">
                    <div class="hover-overlay">
                        <a href="/assets/customers/images/gallery/gl-5.jpg" class="icon-btn img-popup"><span
                                class="fas fa-plus"></span></a>
                    </div>
                </div>
            </div>
            <!--=== Single Gallery Item ===-->
            <div class="single-gallery-item">
                <div class="gallery-img">
                    <img src="/assets/customers/images/gallery/gl-3.jpg" alt="Gallery Image">
                    <div class="hover-overlay">
                        <a href="/assets/customers/images/gallery/gl-3.jpg" class="icon-btn img-popup"><span
                                class="fas fa-plus"></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!--====== End Gallery Section ======-->