<!--====== Start Place Details Section ======-->
<section class="place-details-section">
    <!--=== Place Slider ===-->
    <div class="place-slider-area overflow-hidden wow fadeInUp">
        <div class="place-slider">
            <div class="place-slider-item">
                <div class="place-img">
                    <img src="/assets/customers/images/place/single-place-1.jpg" alt="Place Image">
                </div>
            </div>
            <div class="place-item">
                <div class="place-img">
                    <img src="/assets/customers/images/place/single-place-2.jpg" alt="Place Image">
                </div>
            </div>
            <div class="place-slider-item">
                <div class="place-img">
                    <img src="/assets/customers/images/place/single-place-3.jpg" alt="Place Image">
                </div>
            </div>
            <div class="place-slider-item">
                <div class="place-img">
                    <img src="/assets/customers/images/place/single-place-2.jpg" alt="Place Image">
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <!--=== Tour Details Wrapper ===-->
        <div class="tour-details-wrapper pt-80">
            <!--=== Tour Title Wrapper ===-->
            <div class="tour-title-wrapper pb-30 wow fadeInUp">
                <div class="row">
                    <div class="col-xl-6">
                        <div class="tour-title mb-20">
                            <h3 class="title">{{ tourDetail.toursByTourId.tourName }}</h3>
                            <p><span class="fas fa-map-marker-alt"></span>Tambon Khlong Sok, Thailand</p>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="tour-widget-info">
                            <div class="info-box mb-20">
                                <div class="icon">
                                    <span class="fal fa-box-usd"></span>
                                </div>
                                <div class="info">
                                    <h4><span>Chỉ từ</span>{{ tourDetail.unitPrice | vnCurrency }}</h4>
                                </div>
                            </div>
                            <div class="info-box mb-20">
                                <div class="icon">
                                    <span class="fal fa-clock"></span>
                                </div>
                                <div class="info">
                                    <h4><span>Trong vòng</span>{{ tourDetail.numberOfDays }} Ngày</h4>
                                </div>
                            </div>
                            <div class="info-box mb-20">
                                <div class="icon">
                                    <span class="fal fa-planet-ringed"></span>
                                </div>
                                <div class="info">
                                    <h4><span>Số lượng khách</span>{{ tourDetail.numberOfGuests }} Người</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--=== Tour Area Nav ===-->
            <div class="tour-area-nav pt-20 pb-20 wow fadeInUp">
                <div class="row align-items-center">
                    <div class="col-md-4">
                        <div class="ratings-box">
                            <ul class="ratings">
                                <li><span class="fas fa-star"></span></li>
                                <li><span class="fas fa-star"></span></li>
                                <li><span class="fas fa-star"></span></li>
                                <li><span class="fas fa-star"></span></li>
                                <li><span class="fas fa-star"></span></li>
                                <li><a href="#">(3k Lượt xem)</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="share-nav">
                            <a href="#">Chia sẽ<span class="fas fa-share"></span></a>
                            <a href="#">Yêu thích<span class="fas fa-heart"></span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-8">
                    <div class="place-content-wrap mb-4 pt-45 wow fadeInUp" ng-bind-html="tourDetailDescription"
                         style="text-align: justify; white-space: pre-line; font-family: 'Roboto',sans-serif;">
                    </div>
                    <div class="place-content-wrap mb-4 pt-45 wow fadeInUp"
                         ng-if="tourDetail.tourDetailDescription.length === 10">
                        Không có nội dung ghi chú.
                    </div>
                    <!--=== Days Area ===-->
                    <div class="days-area mb-55 wow fadeInUp">
                        <div class="section-title mb-3">
                            <h3>Lịch trình hoạt động - di chuyển của chuyến đi</h3>
                        </div>
                        <ul class="nav nav-tabs mb-35">
                            <li class="nav-item">
                                <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#day1">Ngày 1
                                </button>
                            </li>
                            <li class="nav-item">
                                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#day2">Ngày 2</button>
                            </li>
                            <li class="nav-item">
                                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#day3">Ngày 3</button>
                            </li>
                            <li class="nav-item">
                                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#day4">Ngày 4</button>
                            </li>
                            <li class="nav-item">
                                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#day5">Ngày 5</button>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="day1">
                                <div class="content-box">
                                    <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit sed
                                        quia consequuntur magne doloreseos qui ratione voluptatem sequi nesciunt. Neque
                                        porro quisquam est, qui dolorem ipsum quia dolor si amet consectetur adipisci
                                        velit sed quian numquam eius modi tempora incidunt</p>
                                    <ul class="check-list">
                                        <li><span class="far fa-check-circle"></span>Parking in the Camp</li>
                                        <li><span class="far fa-check-circle"></span>kayaking Sport</li>
                                        <li><span class="far fa-check-circle"></span>Mountain Hiking</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="day2">
                                <div class="content-box">
                                    <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit sed
                                        quia consequuntur magne doloreseos qui ratione voluptatem sequi nesciunt. Neque
                                        porro quisquam est, qui dolorem ipsum quia dolor si amet consectetur adipisci
                                        velit sed quian numquam eius modi tempora incidunt</p>
                                    <ul class="check-list">
                                        <li><span class="far fa-check-circle"></span>Parking in the Camp</li>
                                        <li><span class="far fa-check-circle"></span>kayaking Sport</li>
                                        <li><span class="far fa-check-circle"></span>Mountain Hiking</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="day3">
                                <div class="content-box">
                                    <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit sed
                                        quia consequuntur magne doloreseos qui ratione voluptatem sequi nesciunt. Neque
                                        porro quisquam est, qui dolorem ipsum quia dolor si amet consectetur adipisci
                                        velit sed quian numquam eius modi tempora incidunt</p>
                                    <ul class="check-list">
                                        <li><span class="far fa-check-circle"></span>Parking in the Camp</li>
                                        <li><span class="far fa-check-circle"></span>kayaking Sport</li>
                                        <li><span class="far fa-check-circle"></span>Mountain Hiking</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="day4">
                                <div class="content-box">
                                    <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit sed
                                        quia consequuntur magne doloreseos qui ratione voluptatem sequi nesciunt. Neque
                                        porro quisquam est, qui dolorem ipsum quia dolor si amet consectetur adipisci
                                        velit sed quian numquam eius modi tempora incidunt</p>
                                    <ul class="check-list">
                                        <li><span class="far fa-check-circle"></span>Parking in the Camp</li>
                                        <li><span class="far fa-check-circle"></span>kayaking Sport</li>
                                        <li><span class="far fa-check-circle"></span>Mountain Hiking</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="day5">
                                <div class="content-box">
                                    <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit sed
                                        quia consequuntur magne doloreseos qui ratione voluptatem sequi nesciunt. Neque
                                        porro quisquam est, qui dolorem ipsum quia dolor si amet consectetur adipisci
                                        velit sed quian numquam eius modi tempora incidunt</p>
                                    <ul class="check-list">
                                        <li><span class="far fa-check-circle"></span>Parking in the Camp</li>
                                        <li><span class="far fa-check-circle"></span>kayaking Sport</li>
                                        <li><span class="far fa-check-circle"></span>Mountain Hiking</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--=== Map Box ===-->
                    <div class="map-box mb-60 wow fadeInUp">
                        <div id="map" style="height: 500px;"></div>
                    </div>
                    <!--=== Calendar Box ===-->
                    <div class="calendar-wrapper wow fadeInUp">
                        <div class="calendar-container mb-45"></div>
                    </div>
                    <!--=== Releted Tour Place ===-->
                    <div class="related-tour-place wow fadeInUp">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="section-title mb-35">
                                    <h3>Hình ảnh về chuyến đi</h3>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="place-arrows mb-35"></div>
                            </div>
                        </div>
                        <div class="recent-place-slider" ng-repeat="img in tourDetailImagesById">
                            <!--=== Single Place Item ===-->
                            <div class="single-place-item mb-60">
                                <div class="place-img-detail">
                                    <img src="{{ img.tourDetailImg }}" alt="Place Image">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--=== Reviews Area ===-->
                    <div class="reviews-wrapper mb-60 wow fadeInUp">
                        <div class="reviews-inner-box">
                            <div class="rating-value">
                                <h4>Clients Reviews</h4>
                                <div class="rate-score">4.9</div>
                                <ul class="ratings">
                                    <li><span class="fas fa-star"></span></li>
                                    <li><span class="fas fa-star"></span></li>
                                    <li><span class="fas fa-star"></span></li>
                                    <li><span class="fas fa-star"></span></li>
                                    <li><span class="fas fa-star"></span></li>
                                    <li><a href="#">(4.9)</a></li>
                                </ul>
                                <span class="reviews">3k Reviews</span>
                            </div>
                            <div class="reviews-progress">
                                <div class="single-progress-bar">
                                    <div class="progress-title">
                                        <h6>Quality <span class="rate">4.8</span></h6>
                                    </div>
                                    <div class="progress">
                                        <div class="progress-bar wow slideInLeft" style="width: 85%"></div>
                                    </div>
                                </div>
                                <div class="single-progress-bar">
                                    <div class="progress-title">
                                        <h6>Team Member<span class="rate">4.6</span></h6>
                                    </div>
                                    <div class="progress">
                                        <div class="progress-bar wow slideInLeft" style="width: 75%"></div>
                                    </div>
                                </div>
                                <div class="single-progress-bar">
                                    <div class="progress-title">
                                        <h6>Locations<span class="rate">4.7</span></h6>
                                    </div>
                                    <div class="progress">
                                        <div class="progress-bar wow slideInLeft" style="width: 90%"></div>
                                    </div>
                                </div>
                                <div class="single-progress-bar">
                                    <div class="progress-title">
                                        <h6>Cost<span class="rate">4.9</span></h6>
                                    </div>
                                    <div class="progress">
                                        <div class="progress-bar wow slideInLeft" style="width: 95%"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--=== Comments Area ===-->
                    <div class="comments-area wow fadeInUp">
                        <ul class="comment-list">
                            <li>
                                <div class="comment">
                                    <div class="comment-avatar">
                                        <img src="/assets/customers/images/place/comment-1.jpg" alt="comment author">
                                    </div>
                                    <div class="comment-wrap">
                                        <div class="comment-author-content">
                                            <span class="author-name">Glenn M. Whitaker<span class="time"><span
                                                    class="fas fa-clock"></span>5 Minute Ago</span></span>
                                            <span class="position">CEO & Founder</span>
                                            <ul class="comment-rating-ul">
                                                <li>
                                                    <span class="title">Quality</span>
                                                    <span><span class="fas fa-star"></span></span>
                                                    <span><span class="fas fa-star"></span></span>
                                                    <span><span class="fas fa-star"></span></span>
                                                    <span><span class="fas fa-star"></span></span>
                                                    <span><span class="fas fa-star"></span></span>
                                                </li>
                                                <li>
                                                    <span class="title">Location</span>
                                                    <span><span class="fas fa-star"></span></span>
                                                    <span><span class="fas fa-star"></span></span>
                                                    <span><span class="fas fa-star"></span></span>
                                                    <span><span class="fas fa-star"></span></span>
                                                    <span><span class="fas fa-star"></span></span>
                                                </li>
                                                <li>
                                                    <span class="title">Services</span>
                                                    <span><span class="fas fa-star"></span></span>
                                                    <span><span class="fas fa-star"></span></span>
                                                    <span><span class="fas fa-star"></span></span>
                                                    <span><span class="fas fa-star"></span></span>
                                                    <span><span class="fas fa-star"></span></span>
                                                </li>
                                                <li>
                                                    <span class="title">Team</span>
                                                    <span><span class="fas fa-star"></span></span>
                                                    <span><span class="fas fa-star"></span></span>
                                                    <span><span class="fas fa-star"></span></span>
                                                    <span><span class="fas fa-star"></span></span>
                                                    <span><span class="fas fa-star"></span></span>
                                                </li>
                                                <li>
                                                    <span class="title">Price</span>
                                                    <span><span class="fas fa-star"></span></span>
                                                    <span><span class="fas fa-star"></span></span>
                                                    <span><span class="fas fa-star"></span></span>
                                                    <span><span class="fas fa-star"></span></span>
                                                    <span><span class="fas fa-star"></span></span>
                                                </li>
                                            </ul>
                                            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
                                                praesentium voluptatum deleniti atque corrupti quos dolores et quas
                                                molestias excepture</p>
                                            <a href="#" class="btn-link">Reply<span
                                                    class="fas fa-angle-double-right"></span></a>
                                        </div>
                                    </div>
                                </div>
                                <ul class="comment-reply">
                                    <li>
                                        <div class="comment">
                                            <div class="comment-avatar">
                                                <img src="/assets/customers/images/place/comment-2.jpg"
                                                     alt="comment author">
                                            </div>
                                            <div class="comment-wrap">
                                                <div class="comment-author-content">
                                                    <span class="author-name">Glenn M. Whitaker<span class="time"><span
                                                            class="fas fa-clock"></span>5 Minute Ago</span></span>
                                                    <span class="position">CEO & Founder</span>
                                                    <ul class="comment-rating-ul">
                                                        <li>
                                                            <span class="title">Quality</span>
                                                            <span><span class="fas fa-star"></span></span>
                                                            <span><span class="fas fa-star"></span></span>
                                                            <span><span class="fas fa-star"></span></span>
                                                            <span><span class="fas fa-star"></span></span>
                                                            <span><span class="fas fa-star"></span></span>
                                                        </li>
                                                        <li>
                                                            <span class="title">Location</span>
                                                            <span><span class="fas fa-star"></span></span>
                                                            <span><span class="fas fa-star"></span></span>
                                                            <span><span class="fas fa-star"></span></span>
                                                            <span><span class="fas fa-star"></span></span>
                                                            <span><span class="fas fa-star"></span></span>
                                                        </li>
                                                        <li>
                                                            <span class="title">Services</span>
                                                            <span><span class="fas fa-star"></span></span>
                                                            <span><span class="fas fa-star"></span></span>
                                                            <span><span class="fas fa-star"></span></span>
                                                            <span><span class="fas fa-star"></span></span>
                                                            <span><span class="fas fa-star"></span></span>
                                                        </li>
                                                        <li>
                                                            <span class="title">Team</span>
                                                            <span><span class="fas fa-star"></span></span>
                                                            <span><span class="fas fa-star"></span></span>
                                                            <span><span class="fas fa-star"></span></span>
                                                            <span><span class="fas fa-star"></span></span>
                                                            <span><span class="fas fa-star"></span></span>
                                                        </li>
                                                        <li>
                                                            <span class="title">Price</span>
                                                            <span><span class="fas fa-star"></span></span>
                                                            <span><span class="fas fa-star"></span></span>
                                                            <span><span class="fas fa-star"></span></span>
                                                            <span><span class="fas fa-star"></span></span>
                                                            <span><span class="fas fa-star"></span></span>
                                                        </li>
                                                    </ul>
                                                    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui
                                                        blanditiis praesentium voluptatum deleniti atque corrupti quos
                                                        dolores et quas molestias excepture</p>
                                                    <a href="#" class="btn-link">Reply<span
                                                            class="fas fa-angle-double-right"></span></a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <div class="comment">
                                    <div class="comment-avatar">
                                        <img src="/assets/customers/images/place/comment-3.jpg" alt="comment author">
                                    </div>
                                    <div class="comment-wrap">
                                        <div class="comment-author-content">
                                            <span class="author-name">Glenn M. Whitaker<span class="time"><span
                                                    class="fas fa-clock"></span>5 Minute Ago</span></span>
                                            <span class="position">CEO & Founder</span>
                                            <ul class="comment-rating-ul">
                                                <li>
                                                    <span class="title">Quality</span>
                                                    <span><span class="fas fa-star"></span></span>
                                                    <span><span class="fas fa-star"></span></span>
                                                    <span><span class="fas fa-star"></span></span>
                                                    <span><span class="fas fa-star"></span></span>
                                                    <span><span class="fas fa-star"></span></span>
                                                </li>
                                                <li>
                                                    <span class="title">Location</span>
                                                    <span><span class="fas fa-star"></span></span>
                                                    <span><span class="fas fa-star"></span></span>
                                                    <span><span class="fas fa-star"></span></span>
                                                    <span><span class="fas fa-star"></span></span>
                                                    <span><span class="fas fa-star"></span></span>
                                                </li>
                                                <li>
                                                    <span class="title">Services</span>
                                                    <span><span class="fas fa-star"></span></span>
                                                    <span><span class="fas fa-star"></span></span>
                                                    <span><span class="fas fa-star"></span></span>
                                                    <span><span class="fas fa-star"></span></span>
                                                    <span><span class="fas fa-star"></span></span>
                                                </li>
                                                <li>
                                                    <span class="title">Team</span>
                                                    <span><span class="fas fa-star"></span></span>
                                                    <span><span class="fas fa-star"></span></span>
                                                    <span><span class="fas fa-star"></span></span>
                                                    <span><span class="fas fa-star"></span></span>
                                                    <span><span class="fas fa-star"></span></span>
                                                </li>
                                                <li>
                                                    <span class="title">Price</span>
                                                    <span><span class="fas fa-star"></span></span>
                                                    <span><span class="fas fa-star"></span></span>
                                                    <span><span class="fas fa-star"></span></span>
                                                    <span><span class="fas fa-star"></span></span>
                                                    <span><span class="fas fa-star"></span></span>
                                                </li>
                                            </ul>
                                            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
                                                praesentium voluptatum deleniti atque corrupti quos dolores et quas
                                                molestias excepture</p>
                                            <a href="#" class="btn-link">Reply<span
                                                    class="fas fa-angle-double-right"></span></a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!--===  Comments Form  ===-->
                    <div class="comments-respond mb-30 wow fadeInUp">
                        <h3 class="comments-heading" style="margin-bottom: 15px;">Leave a Comments</h3>
                        <ul class="comment-rating-ul mb-20">
                            <li>
                                <span class="title">Quality</span>
                                <span><span class="fas fa-star"></span></span>
                                <span><span class="fas fa-star"></span></span>
                                <span><span class="fas fa-star"></span></span>
                                <span><span class="fas fa-star"></span></span>
                                <span><span class="fas fa-star"></span></span>
                            </li>
                            <li>
                                <span class="title">Location</span>
                                <span><span class="fas fa-star"></span></span>
                                <span><span class="fas fa-star"></span></span>
                                <span><span class="fas fa-star"></span></span>
                                <span><span class="fas fa-star"></span></span>
                                <span><span class="fas fa-star"></span></span>
                            </li>
                            <li>
                                <span class="title">Services</span>
                                <span><span class="fas fa-star"></span></span>
                                <span><span class="fas fa-star"></span></span>
                                <span><span class="fas fa-star"></span></span>
                                <span><span class="fas fa-star"></span></span>
                                <span><span class="fas fa-star"></span></span>
                            </li>
                            <li>
                                <span class="title">Team</span>
                                <span><span class="fas fa-star"></span></span>
                                <span><span class="fas fa-star"></span></span>
                                <span><span class="fas fa-star"></span></span>
                                <span><span class="fas fa-star"></span></span>
                                <span><span class="fas fa-star"></span></span>
                            </li>
                            <li>
                                <span class="title">Price</span>
                                <span><span class="fas fa-star"></span></span>
                                <span><span class="fas fa-star"></span></span>
                                <span><span class="fas fa-star"></span></span>
                                <span><span class="fas fa-star"></span></span>
                                <span><span class="fas fa-star"></span></span>
                            </li>
                        </ul>
                        <form class="comment-form">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form_group">
                                        <input type="email" class="form_control" placeholder="Email Address" name="name"
                                               required>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form_group">
                                        <input type="text" class="form_control" placeholder="Enter Name" name="email"
                                               required>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="form_group">
                                        <textarea name="message" class="form_control" rows="4"
                                                  placeholder="Write Comments"></textarea>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="form_group">
                                        <button class="main-btn primary-btn">Send comments<span
                                                class="fas fa-angle-double-right"></span></button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-xl-4">
                    <!--=== Sidebar Widget Area ===-->
                    <div class="sidebar-widget-area pt-60 pl-lg-30">
                        <!--=== Booking Widget ===-->
                        <div class="sidebar-widget booking-form-widget wow fadeInUp mb-40">
                            <h4 class="widget-title">Đặt Tour</h4>
                            <form class="sidebar-booking-form">
                                <div class="booking-date-time mb-20">
                                    <div class="booking-item">
                                        <label>Ngày</label>
                                        <div class="bk-item booking-date">
                                            <span class="fas fa-calendar-alt"></span>
                                            <input type="date" placeholder="Select Date" class="datepicker">
                                        </div>
                                    </div>
                                    <div class="booking-item">
                                        <label>Giờ</label>
                                        <div class="bk-item booking-time">
                                            <span class="fas fa-calendar-alt"></span>
                                            <select class="wide">
                                                <option value="01">12.00 Am</option>
                                                <option value="01">01.00 Am</option>
                                                <option value="01">02.00 Am</option>
                                                <option value="01">03.00 Am</option>
                                                <option value="01">04.00 Am</option>
                                                <option value="01">05.00 Am</option>
                                                <option value="01">06.00 Am</option>
                                                <option value="01">07.00 Am</option>
                                                <option value="01">08.00 Am</option>
                                                <option value="01">09.00 Am</option>
                                                <option value="01">10.00 Am</option>
                                                <option value="01">11.00 Am</option>
                                                <option value="01">12.00 Pm</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="booking-guest-box mb-20">
                                    <h6 class="mb-20">Vé</h6>
                                    <div class="booking-item">
                                        <label>Người lớn (18 tuổi) $43</label>
                                        <div class="bk-item booking-user">
                                            <span class="fas fa-user"></span>
                                            <select class="wide">
                                                <option value="01">1</option>
                                                <option value="02">2</option>
                                                <option value="03">3</option>
                                                <option value="04">4</option>
                                                <option value="05">5</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="booking-item">
                                        <label>Trẻ em (13-17 tuổi) $29</label>
                                        <div class="bk-item booking-user">
                                            <span class="fas fa-user"></span>
                                            <select class="wide">
                                                <option value="01">1</option>
                                                <option value="02">2</option>
                                                <option value="03">3</option>
                                                <option value="04">4</option>
                                                <option value="05">5</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="booking-extra mb-15 wow fadeInUp">
                                    <h6 class="mb-10">Dịch vụ bổ sung</h6>
                                    <div class="extra">
                                        <span class="fas fa-check-circle"></span>Dịch vụ mỗi lần đặt chỗ <span><span
                                            class="currency">$</span>50</span>
                                    </div>
                                    <div class="extra">
                                        <span class="fas fa-check-circle"></span>Dịch vụ mỗi người <span><span
                                            class="currency">$</span>20</span>
                                    </div>
                                </div>
                                <div class="booking-total mb-20">
                                    <div class="total">
                                        <label>Tổng tiền</label>
                                        <span class="price"><span class="currency">$</span>70</span>
                                    </div>
                                </div>
                                <div class="submit-button">
                                    <a href="/booking" role="button" class="main-btn primary-btn">Đặt tour ngay
                                        <svg class="svg-inline--fa fa-paper-plane" aria-hidden="true" focusable="false"
                                             data-prefix="fas" data-icon="paper-plane" role="img"
                                             xmlns="http://www.w3.org/2000/svg" viewBox="0 0 650 512" data-fa-i2svg="">
                                            <path fill="currentColor"
                                                  d="M511.6 36.86l-64 415.1c-1.5 9.734-7.375 18.22-15.97 23.05c-4.844 2.719-10.27 4.097-15.68 4.097c-4.188 0-8.319-.8154-12.29-2.472l-122.6-51.1l-50.86 76.29C226.3 508.5 219.8 512 212.8 512C201.3 512 192 502.7 192 491.2v-96.18c0-7.115 2.372-14.03 6.742-19.64L416 96l-293.7 264.3L19.69 317.5C8.438 312.8 .8125 302.2 .0625 289.1s5.469-23.72 16.06-29.77l448-255.1c10.69-6.109 23.88-5.547 34 1.406S513.5 24.72 511.6 36.86z"></path>
                                        </svg>
                                    </a>
                                </div>
                            </form>
                        </div>
                        <!--=== Booking Info Widget ===-->
                        <div class="sidebar-widget booking-info-widget wow fadeInUp mb-40">
                            <h4 class="widget-title">Thông tin chuyến đi</h4>
                            <ul class="info-list">
                                <li><span><span
                                        class="fas fa-user-circle"></span>Khách tối đa<span>{{ tourDetail.numberOfGuests }}</span></span>
                                </li>
                                <li><span><span
                                        class="fas fa-user-circle"></span>Khách tối thiểu<span>{{ tourDetail.minimumNumberOfGuests }}</span></span>
                                </li>
                                <li><span><span
                                        class="fas fa-map-marker-alt"></span>Địa điểm<span>{{ tourDetail.toLocation }}</span></span>
                                </li>
                                <li><span><span class="fas fa-globe"></span>Ngôn ngữ<span>Tiếng việt</span></span></li>
                            </ul>
                        </div>
                        <!--=== Recent Place Widget ===-->
                        <div class="sidebar-widget recent-place-widget mb-40 wow fadeInUp">
                            <h4 class="widget-title">Last Minute Deals</h4>
                            <ul class="recent-place-list">
                                <li class="place-thumbnail-content">
                                    <img src="/assets/customers/images/place/thumb-1.jpg" alt="post thumb">
                                    <div class="place-content">
                                        <ul class="ratings">
                                            <li><span class="fas fa-star"></span></li>
                                            <li><span class="fas fa-star"></span></li>
                                            <li><span class="fas fa-star"></span></li>
                                            <li><span class="fas fa-star"></span></li>
                                            <li><span class="fas fa-star"></span></li>
                                        </ul>
                                        <h5><a href="tour-details.html">Infinity Pool Nears
                                            Beach</a></h5>
                                        <span class="price"><span class="text">From :</span><span
                                                class="currency">$</span>45.23</span>
                                    </div>
                                </li>
                                <li class="place-thumbnail-content">
                                    <img src="/assets/customers/images/place/thumb-2.jpg" alt="post thumb">
                                    <div class="place-content">
                                        <ul class="ratings">
                                            <li><span class="fas fa-star"></span></li>
                                            <li><span class="fas fa-star"></span></li>
                                            <li><span class="fas fa-star"></span></li>
                                            <li><span class="fas fa-star"></span></li>
                                            <li><span class="fas fa-star-half-alt"></span></li>
                                        </ul>
                                        <h5><a href="tour-details.html">Infinity Pool Nears
                                            Beach</a></h5>
                                        <span class="price"><span class="text">From :</span><span
                                                class="currency">$</span>45.23</span>
                                    </div>
                                </li>
                                <li class="place-thumbnail-content">
                                    <img src="/assets/customers/images/place/thumb-3.jpg" alt="post thumb">
                                    <div class="place-content">
                                        <ul class="ratings">
                                            <li><span class="fas fa-star"></span></li>
                                            <li><span class="fas fa-star"></span></li>
                                            <li><span class="fas fa-star"></span></li>
                                            <li><span class="fas fa-star"></span></li>
                                            <li><span class="fas fa-star"></span></li>
                                        </ul>
                                        <h5><a href="tour-details.html">Infinity Pool Nears
                                            Beach</a></h5>
                                        <span class="price"><span class="text">From :</span><span
                                                class="currency">$</span>45.23</span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <!--=== Banner Widget ===-->
                        <div class="sidebar-widget sidebar-banner-widget wow fadeInUp mb-40">
                            <div class="banner-widget-content">
                                <div class="banner-img">
                                    <img src="/assets/customers/images/blog/banner-1.jpg" alt="Post Banner">
                                    <div class="hover-overlay">
                                        <div class="hover-content">
                                            <h4 class="title"><a href="#">Swimming Pool</a></h4>
                                            <p><span class="fas fa-map-marker-alt"></span>Marrakesh, Morocco</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!--====== End Place Details Section ======-->
<!--====== Start Gallery Section ======-->
<section class="gallery-section mbm-150">
    <div class="container-fluid">
        <div class="slider-active-5-item wow fadeInUp">
            <!--=== Single Gallery Item ===-->
            <div class="single-gallery-item">
                <div class="gallery-img">
                    <img src="/assets/customers/images/gallery/gl-1.jpg" alt="Gallery Image">
                    <div class="hover-overlay">
                        <a href="/assets/customers/images/gallery/gl-1.jpg" class="icon-btn img-popup"><span
                                class="fas fa-plus"></span></a>
                    </div>
                </div>
            </div>
            <!--=== Single Gallery Item ===-->
            <div class="single-gallery-item">
                <div class="gallery-img">
                    <img src="/assets/customers/images/gallery/gl-2.jpg" alt="Gallery Image">
                    <div class="hover-overlay">
                        <a href="/assets/customers/images/gallery/gl-2.jpg" class="icon-btn img-popup"><span
                                class="fas fa-plus"></span></a>
                    </div>
                </div>
            </div>
            <!--=== Single Gallery Item ===-->
            <div class="single-gallery-item">
                <div class="gallery-img">
                    <img src="/assets/customers/images/gallery/gl-3.jpg" alt="Gallery Image">
                    <div class="hover-overlay">
                        <a href="/assets/customers/images/gallery/gl-3.jpg" class="icon-btn img-popup"><span
                                class="fas fa-plus"></span></a>
                    </div>
                </div>
            </div>
            <!--=== Single Gallery Item ===-->
            <div class="single-gallery-item">
                <div class="gallery-img">
                    <img src="/assets/customers/images/gallery/gl-4.jpg" alt="Gallery Image">
                    <div class="hover-overlay">
                        <a href="/assets/customers/images/gallery/gl-4.jpg" class="icon-btn img-popup"><span
                                class="fas fa-plus"></span></a>
                    </div>
                </div>
            </div>
            <!--=== Single Gallery Item ===-->
            <div class="single-gallery-item">
                <div class="gallery-img">
                    <img src="/assets/customers/images/gallery/gl-5.jpg" alt="Gallery Image">
                    <div class="hover-overlay">
                        <a href="/assets/customers/images/gallery/gl-5.jpg" class="icon-btn img-popup"><span
                                class="fas fa-plus"></span></a>
                    </div>
                </div>
            </div>
            <!--=== Single Gallery Item ===-->
            <div class="single-gallery-item">
                <div class="gallery-img">
                    <img src="/assets/customers/images/gallery/gl-3.jpg" alt="Gallery Image">
                    <div class="hover-overlay">
                        <a href="/assets/customers/images/gallery/gl-3.jpg" class="icon-btn img-popup"><span
                                class="fas fa-plus"></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!--====== End Gallery Section ======-->