<!--====== Start Place Details Section ======-->
<section class="place-details-section">
    <!--====== Start Breadcrumb Section ======-->
    <section class="page-banner overlay pt-170 pb-170 bg_cover"
             style="background-image: url(/assets/customers/images/bg/banner-tour.jpeg);">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-10">
                    <div class="page-banner-content text-center text-white">
                        <h1 class="page-title">Tour chi tiết</h1>
                        <ul class="breadcrumb-link text-white">
                            <li><a href="/home">Trang chủ</a></li>
                            <li><a href="/tours">Tour</a></li>
                            <li class="active">Tour chi tiết</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section><!--====== End Breadcrumb Section ======-->

    <div ng-include="'app/component/utils/loading-component.html'"></div>

    <div class="container" ng-if="!isLoading">
        <!--=== Tour Details Wrapper ===-->
        <div class="tour-details-wrapper pt-80">
            <!--=== Tour Title Wrapper ===-->
            <div class="tour-title-wrapper pb-30 wow fadeInUp">
                <div class="row">
                    <div class="col-xl-6">
                        <div class="tour-title mb-20">
                            <h3 class="title">{{ tourDetail.toursByTourId.tourName }}</h3>
                            <p>
                                <span class="fas fa-map-marker-alt"></span>
                                <span ng-repeat="province in provinceName">
                                    {{ province }}
                                    <span ng-if="!$last">- &nbsp;</span>
                                </span>
                                <span ng-if="provinceName.length === 0">
                                    Hiện tại tour này không có điểm tham quan.
                                </span>
                            </p>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="tour-widget-info">
                            <div class="info-box mb-20">
                                <div class="icon">
                                    <span class="fal fa-box-usd"></span>
                                </div>
                                <div class="info">
                                    <h4><span>Chỉ từ</span>{{ tourDetail.unitPrice | vnCurrency }}</h4>
                                </div>
                            </div>
                            <div class="info-box mb-20">
                                <div class="icon">
                                    <span class="fal fa-clock"></span>
                                </div>
                                <div class="info">
                                    <h4><span>Trong vòng</span>{{ tourDetail.numberOfDays }} Ngày</h4>
                                </div>
                            </div>
                            <div class="info-box mb-20">
                                <div class="icon">
                                    <span class="fal fa-planet-ringed"></span>
                                </div>
                                <div class="info">
                                    <h4><span>Số lượng khách</span>{{ tourDetail.numberOfGuests }} Người</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--=== Tour Area Nav ===-->
            <div class="tour-area-nav pt-20 pb-20 wow fadeInUp">
                <div class="row align-items-center">
                    <div class="col-md-4">
                        <div class="ratings-box">
                            <ul class="ratings">
                                <li><span class="fas fa-star"></span></li>
                                <li><span class="fas fa-star"></span></li>
                                <li><span class="fas fa-star"></span></li>
                                <li><span class="fas fa-star"></span></li>
                                <li><span class="fas fa-star"></span></li>
                                <li><a href="#">(3k Lượt xem)</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="share-nav">
                            <a href="#">Chia sẻ<span class="fas fa-share"></span></a>
                            <a href="#">Yêu thích<span class="fas fa-heart"></span></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-8">
                    <nav class="pt-45">
                        <div class="nav nav-tabs mb-3" id="nav-tab" role="tablist">
                            <button class="nav-link active fw-medium text-green" id="nav-home-tab" data-bs-toggle="tab"
                                    data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home"
                                    aria-selected="true">Thông tin tour
                            </button>
                            <button class="nav-link fw-medium text-green" id="tab-map" data-bs-toggle="tab"
                                    data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile"
                                    aria-selected="false" ng-click="changeTab('mapTab')">Lịch trình của tour
                            </button>
                        </div>
                    </nav>

                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade active show" id="nav-home" role="tabpanel"
                             aria-labelledby="nav-home-tab">

                            <div class="place-content-wrap mb-4 wow fadeInUp visit-parent-class"
                                 ng-bind-html="tourDetailDescription"
                                 style="text-align: justify; white-space: pre-line; font-family: 'Roboto',sans-serif;">
                            </div>
                            <div class="place-content-wrap mb-4 wow fadeInUp"
                                 ng-if="tourDetail.tourDetailDescription.length === 10">
                                Không có nội dung ghi chú.
                            </div>

                            <!--=== Map Box ===-->
                            <div class="map-box mb-40">
                                <div id="map-schedules" class="rounded-3" style="width: 100%; height: 500px;"></div>
                            </div><!--=== Map Box ===-->
                        </div>

                        <div class="tab-pane face" id="nav-profile" role="tabpanel" aria-labelledby="tab-map">
                            <div class="section-title mb-3">
                                <h3>Lịch trình hoạt động - di chuyển của chuyến đi</h3>
                            </div>

                            <!--=== Days Area ===-->
                            <div class="days-area mb-55">
                                <div class="tab-content">
                                    <div class="tour-trips-list">
                                        <div class="tour-trips-header p-2 bg-green rounded-top-3 d-flex">
                                            <h5 class="text-white m-1 ms-4 fs-6" ng-repeat="day in dayInTrip">
                                                <a href="javascript:void(0)" ng-if="dayInTrip.length !== 0"
                                                   ng-click="changeLocationOnMap(day.dayTrip)">
                                                    <i class="fa-regular fa-calendar-days"></i>
                                                    Ngày {{ day.dayTrip }}
                                                </a>
                                            </h5>
                                            <h5 class="text-white m-1 ms-4 fs-6" ng-if="dayInTrip.length === 0">
                                                Không có ngày dự kiến cho lịch trình
                                            </h5>
                                        </div>

                                        <!--=== Map Box ===-->
                                        <div class="map-box mb-40">
                                            <div id="map-trips" class="rounded-bottom-3" resize-map
                                                 style="width: 100%; height: 500px;"></div>
                                        </div><!--=== Map Box ===-->

                                        <!--content-->
                                        <div class="tour-chips-item mb-5" ng-repeat="trip in tourTrips">
                                            <div class="row" id="SCROLL_{{ trip.id }}">
                                                <div class="col-sm-3 text-center ">
                                                    <div class="d-flex justify-content-center align-items-center">
                                                        <a href="javascript:void(0)"
                                                           ng-click="zoomLocation(trip.placeAddress)">
                                                            <div class="border-solid-border">
                                                                <img ng-src="{{ trip.placeImage }}"
                                                                     class="img-fluid"
                                                                     alt="Place Image">
                                                            </div>
                                                        </a>
                                                    </div>
                                                    <div class="time text-center mt-3">
                                                        <h5 class="text-orange">{{ trip.timeGo }}</h5>
                                                    </div>
                                                </div>
                                                <div class="col-sm-9">
                                                    <div class="tour-trips-item-content">
                                                        <div class="h4 text-orange">{{ trip.placeName }}</div>
                                                        <div class="fw-medium">
                                                            <i class="fa-solid fa-location-dot"></i>
                                                            {{ trip.placeAddress }}
                                                        </div>
                                                        <div class="mb-2">
                                                            <p>
                                                                {{ trip.activityInDay }}
                                                            </p>
                                                        </div>
                                                        <div class="tour-trips-item-footer">
                                                            <div class="row">
                                                                <div class="fw-medium col-sm-4 text-center">
                                                                    <i class="fa-solid fa-taxi"></i>
                                                                    <span>{{ trip.transportationTypesByTransportationTypeId.transportationTypeName }}</span>
                                                                </div>
                                                                <div class="fw-medium col-sm-4 text-center">
                                                                    <i class="fa-solid fa-turn-down"></i>
                                                                    <span>8,3 Km</span>
                                                                </div>
                                                                <div class="fw-medium col-sm-4 text-center">
                                                                    <i class="fa-solid fa-tag"></i>
                                                                    <span ng-if="trip.placeCost === 0">
                                                                        Miễn phí
                                                                    </span>
                                                                    <span ng-if="trip.placeCost !== 0">
                                                                        {{ trip.placeCost | vnCurrency }}
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div><!--content-->
                                    </div>
                                </div>
                            </div><!--=== Days Area ===-->

                            <!--=== Releted Tour Place ===-->
                            <div class="related-tour-place wow fadeInUp">
                                <div class="row">
                                    <div class="col-md-8">
                                        <div class="section-title mb-35">
                                            <h3>Hình ảnh về chuyến đi</h3>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="place-arrows mb-35"></div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4 col-md-6 col-12" ng-repeat="img in tourDetailImagesById">
                                        <div class="recent-place-slider m-0">
                                            <!--=== Single Place Item ===-->
                                            <div class="single-place-item mb-60">
                                                <div class="place-img-detail">
                                                    <img src="{{ img.tourDetailImg }}" alt="Place Image">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><!--=== Releted Tour Place ===-->
                        </div>
                    </div>

                    <!--=== Đánh giá ===-->
                    <div class="reviews-wrapper mb-60 wow fadeInUp">
                        <div class="reviews-inner-box">
                            <div class="rating-value">
                                <h5>Đánh giá của khách hàng</h5>
                                <div class="rate-score">4.9</div>
                                <ul class="ratings">
                                    <li><span class="fas fa-star"></span></li>
                                    <li><span class="fas fa-star"></span></li>
                                    <li><span class="fas fa-star"></span></li>
                                    <li><span class="fas fa-star"></span></li>
                                    <li><span class="fas fa-star"></span></li>
                                    <li><a href="#">(4.9)</a></li>
                                </ul>
                                <span class="reviews">3k Đánh giá</span>
                            </div>
                            <div class="reviews-progress">
                                <div class="single-progress-bar">
                                    <div class="progress-title">
                                        <h6>Chất lượng <span class="rate">4.8</span></h6>
                                    </div>
                                    <div class="progress">
                                        <div class="progress-bar wow slideInLeft" style="width: 85%"></div>
                                    </div>
                                </div>
                                <div class="single-progress-bar">
                                    <div class="progress-title">
                                        <h6>Thành viên đội<span class="rate">4.6</span></h6>
                                    </div>
                                    <div class="progress">
                                        <div class="progress-bar wow slideInLeft" style="width: 75%"></div>
                                    </div>
                                </div>
                                <div class="single-progress-bar">
                                    <div class="progress-title">
                                        <h6>Địa điểm<span class="rate">4.7</span></h6>
                                    </div>
                                    <div class="progress">
                                        <div class="progress-bar wow slideInLeft" style="width: 90%"></div>
                                    </div>
                                </div>
                                <div class="single-progress-bar">
                                    <div class="progress-title">
                                        <h6>Trị giá<span class="rate">4.9</span></h6>
                                    </div>
                                    <div class="progress">
                                        <div class="progress-bar wow slideInLeft" style="width: 95%"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--=== Comments Area ===-->
                    <div class="comments-area wow fadeInUp">
                        <ul class="comment-list">
                            <li>
                                <div class="comment">
                                    <div class="comment-avatar">
                                        <img src="/assets/customers/images/place/comment-1.jpg"
                                             alt="comment author">
                                    </div>
                                    <div class="comment-wrap">
                                        <div class="comment-author-content">
                                            <span class="author-name">Nguyễn Văn A
                                                        <span class="time">
                                                            <span class="fas fa-clock"></span>
                                                            5 phút trước
                                                        </span>
                                                    </span>
                                            <ul class="comment-rating-ul mb-20">
                                                <li>
                                                    <span class="title">Chất lượng</span>
                                                    <span><span class="fas fa-star"></span></span>
                                                    <span><span class="fas fa-star"></span></span>
                                                    <span><span class="fas fa-star"></span></span>
                                                    <span><span class="fas fa-star"></span></span>
                                                    <span><span class="fas fa-star"></span></span>
                                                </li>
                                                <li>
                                                    <span class="title">Vị trí</span>
                                                    <span><span class="fas fa-star"></span></span>
                                                    <span><span class="fas fa-star"></span></span>
                                                    <span><span class="fas fa-star"></span></span>
                                                    <span><span class="fas fa-star"></span></span>
                                                    <span><span class="fas fa-star"></span></span>
                                                </li>
                                                <li>
                                                    <span class="title">Dịch vụ</span>
                                                    <span><span class="fas fa-star"></span></span>
                                                    <span><span class="fas fa-star"></span></span>
                                                    <span><span class="fas fa-star"></span></span>
                                                    <span><span class="fas fa-star"></span></span>
                                                    <span><span class="fas fa-star"></span></span>
                                                </li>
                                                <li>
                                                    <span class="title">Đội ngũ</span>
                                                    <span><span class="fas fa-star"></span></span>
                                                    <span><span class="fas fa-star"></span></span>
                                                    <span><span class="fas fa-star"></span></span>
                                                    <span><span class="fas fa-star"></span></span>
                                                    <span><span class="fas fa-star"></span></span>
                                                </li>
                                                <li>
                                                    <span class="title">Giá</span>
                                                    <span><span class="fas fa-star"></span></span>
                                                    <span><span class="fas fa-star"></span></span>
                                                    <span><span class="fas fa-star"></span></span>
                                                    <span><span class="fas fa-star"></span></span>
                                                    <span><span class="fas fa-star"></span></span>
                                                </li>
                                            </ul>
                                            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui
                                                blanditiis
                                                praesentium voluptatum deleniti atque corrupti quos dolores et quas
                                                molestias excepture</p>
                                            <a href="#" class="btn-link">Trả lời
                                                <span class="fas fa-angle-double-right"></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <ul class="comment-reply">
                                    <li>
                                        <div class="comment">
                                            <div class="comment-avatar">
                                                <img src="/assets/customers/images/place/comment-2.jpg"
                                                     alt="comment author">
                                            </div>
                                            <div class="comment-wrap">
                                                <div class="comment-author-content">
                                                    <span class="author-name">Nguyễn Văn B
                                                        <span class="time">
                                                            <span class="fas fa-clock"></span>
                                                            5 phút trước
                                                        </span>
                                                    </span>
                                                    <ul class="comment-rating-ul mb-20">
                                                        <li>
                                                            <span class="title">Chất lượng</span>
                                                            <span><span class="fas fa-star"></span></span>
                                                            <span><span class="fas fa-star"></span></span>
                                                            <span><span class="fas fa-star"></span></span>
                                                            <span><span class="fas fa-star"></span></span>
                                                            <span><span class="fas fa-star"></span></span>
                                                        </li>
                                                        <li>
                                                            <span class="title">Vị trí</span>
                                                            <span><span class="fas fa-star"></span></span>
                                                            <span><span class="fas fa-star"></span></span>
                                                            <span><span class="fas fa-star"></span></span>
                                                            <span><span class="fas fa-star"></span></span>
                                                            <span><span class="fas fa-star"></span></span>
                                                        </li>
                                                        <li>
                                                            <span class="title">Dịch vụ</span>
                                                            <span><span class="fas fa-star"></span></span>
                                                            <span><span class="fas fa-star"></span></span>
                                                            <span><span class="fas fa-star"></span></span>
                                                            <span><span class="fas fa-star"></span></span>
                                                            <span><span class="fas fa-star"></span></span>
                                                        </li>
                                                        <li>
                                                            <span class="title">Đội ngũ</span>
                                                            <span><span class="fas fa-star"></span></span>
                                                            <span><span class="fas fa-star"></span></span>
                                                            <span><span class="fas fa-star"></span></span>
                                                            <span><span class="fas fa-star"></span></span>
                                                            <span><span class="fas fa-star"></span></span>
                                                        </li>
                                                        <li>
                                                            <span class="title">Giá</span>
                                                            <span><span class="fas fa-star"></span></span>
                                                            <span><span class="fas fa-star"></span></span>
                                                            <span><span class="fas fa-star"></span></span>
                                                            <span><span class="fas fa-star"></span></span>
                                                            <span><span class="fas fa-star"></span></span>
                                                        </li>
                                                    </ul>
                                                    <p>At vero eos et accusamus et iusto odio dignissimos ducimus
                                                        qui
                                                        blanditiis praesentium voluptatum deleniti atque corrupti
                                                        quos
                                                        dolores et quas molestias excepture</p>
                                                    <a href="#" class="btn-link">Trả lời
                                                        <span class="fas fa-angle-double-right"></span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <ul class="comment-list">
                            <li>
                                <div class="comment">
                                    <div class="comment-avatar">
                                        <img src="/assets/customers/images/place/comment-3.jpg"
                                             alt="comment author">
                                    </div>
                                    <div class="comment-wrap">
                                        <div class="comment-author-content">
                                            <span class="author-name">Nguyễn Văn Tèo
                                                        <span class="time">
                                                            <span class="fas fa-clock"></span>
                                                            5 phút trước
                                                        </span>
                                                    </span>
                                            <ul class="comment-rating-ul mb-20">
                                                <li>
                                                    <span class="title">Chất lượng</span>
                                                    <span><span class="fas fa-star"></span></span>
                                                    <span><span class="fas fa-star"></span></span>
                                                    <span><span class="fas fa-star"></span></span>
                                                    <span><span class="fas fa-star"></span></span>
                                                    <span><span class="fas fa-star"></span></span>
                                                </li>
                                                <li>
                                                    <span class="title">Vị trí</span>
                                                    <span><span class="fas fa-star"></span></span>
                                                    <span><span class="fas fa-star"></span></span>
                                                    <span><span class="fas fa-star"></span></span>
                                                    <span><span class="fas fa-star"></span></span>
                                                    <span><span class="fas fa-star"></span></span>
                                                </li>
                                                <li>
                                                    <span class="title">Dịch vụ</span>
                                                    <span><span class="fas fa-star"></span></span>
                                                    <span><span class="fas fa-star"></span></span>
                                                    <span><span class="fas fa-star"></span></span>
                                                    <span><span class="fas fa-star"></span></span>
                                                    <span><span class="fas fa-star"></span></span>
                                                </li>
                                                <li>
                                                    <span class="title">Đội ngũ</span>
                                                    <span><span class="fas fa-star"></span></span>
                                                    <span><span class="fas fa-star"></span></span>
                                                    <span><span class="fas fa-star"></span></span>
                                                    <span><span class="fas fa-star"></span></span>
                                                    <span><span class="fas fa-star"></span></span>
                                                </li>
                                                <li>
                                                    <span class="title">Giá</span>
                                                    <span><span class="fas fa-star"></span></span>
                                                    <span><span class="fas fa-star"></span></span>
                                                    <span><span class="fas fa-star"></span></span>
                                                    <span><span class="fas fa-star"></span></span>
                                                    <span><span class="fas fa-star"></span></span>
                                                </li>
                                            </ul>
                                            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui
                                                blanditiis
                                                praesentium voluptatum deleniti atque corrupti quos dolores et quas
                                                molestias excepture</p>
                                            <a href="#" class="btn-link">Trả lời
                                                <span class="fas fa-angle-double-right"></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!--===  Comments Form  ===-->
                    <div class="comments-respond mb-30 wow fadeInUp">
                        <h3 class="comments-heading" style="margin-bottom: 15px;">Để lại một bình luận</h3>
                        <ul class="comment-rating-ul mb-20">
                            <li>
                                <span class="title">Chất lượng</span>
                                <span><span class="fas fa-star"></span></span>
                                <span><span class="fas fa-star"></span></span>
                                <span><span class="fas fa-star"></span></span>
                                <span><span class="fas fa-star"></span></span>
                                <span><span class="fas fa-star"></span></span>
                            </li>
                            <li>
                                <span class="title">Vị trí</span>
                                <span><span class="fas fa-star"></span></span>
                                <span><span class="fas fa-star"></span></span>
                                <span><span class="fas fa-star"></span></span>
                                <span><span class="fas fa-star"></span></span>
                                <span><span class="fas fa-star"></span></span>
                            </li>
                            <li>
                                <span class="title">Dịch vụ</span>
                                <span><span class="fas fa-star"></span></span>
                                <span><span class="fas fa-star"></span></span>
                                <span><span class="fas fa-star"></span></span>
                                <span><span class="fas fa-star"></span></span>
                                <span><span class="fas fa-star"></span></span>
                            </li>
                            <li>
                                <span class="title">Đội ngũ</span>
                                <span><span class="fas fa-star"></span></span>
                                <span><span class="fas fa-star"></span></span>
                                <span><span class="fas fa-star"></span></span>
                                <span><span class="fas fa-star"></span></span>
                                <span><span class="fas fa-star"></span></span>
                            </li>
                            <li>
                                <span class="title">Giá</span>
                                <span><span class="fas fa-star"></span></span>
                                <span><span class="fas fa-star"></span></span>
                                <span><span class="fas fa-star"></span></span>
                                <span><span class="fas fa-star"></span></span>
                                <span><span class="fas fa-star"></span></span>
                            </li>
                        </ul>
                        <form class="comment-form">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form_group">
                                        <input type="email"
                                               class="form_control"
                                               placeholder="Địa chỉ email"
                                               name="name"
                                               required
                                        >
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form_group">
                                        <input type="text"
                                               class="form_control"
                                               placeholder="Họ và tên"
                                               name="email"
                                               required
                                        >
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="form_group">
                                        <textarea name="message"
                                                  class="form_control"
                                                  rows="4"
                                                  placeholder="Nhập nội dung..."
                                        ></textarea>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="form_group">
                                        <button class="main-btn primary-btn">
                                            Gửi nội dung
                                            <span class="fas fa-angle-double-right"></span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="col-xl-4">
                    <!--=== Sidebar Widget Area ===-->
                    <div class="sidebar-widget-area pt-45 pl-lg-30">
                        <div class="sidebar-widget booking-info-widget wow fadeInUp mb-40">
                            <h4 class="widget-title">Thông tin chuyến đi</h4>
                            <ul class="info-list">
                                <li>
                                    <span><span class="fas fa-user-circle"></span>
                                        Lượt khách tối đa
                                        <span>{{ tourDetail.numberOfGuests }} Người</span>
                                    </span>
                                </li>
                                <li>
                                    <span><span class="fas fa-user-circle"></span>
                                        Đã đặt
                                        <span>
                                            {{ tourDetail.bookedSeat }}/{{ tourDetail.numberOfGuests }}
                                        </span>
                                    </span>
                                </li>
                                <li>
                                    <span><span class="fas fa-map-marker-alt"></span>
                                        Điểm xuất phát
                                        <span>{{ tourDetail.fromLocation }}</span>
                                    </span>
                                </li>
                                <li>
                                    <span title="Điểm đến {{ tourDetail.toLocation }}">
                                        <span class="fas fa-map-marker-alt"></span>
                                        Điểm đến
                                        <span>{{ tourDetail.toLocation | limitTo: 15 }}</span>
                                        <span ng-show="tourDetail.toLocation.length > 15">...</span>
                                    </span>
                                </li>
                            </ul>
                        </div>

                        <!--=== Booking Widget ===-->
                        <div class="sidebar-widget booking-form-widget wow fadeInUp mb-40">
                            <h4 class="widget-title">Đặt vé ngay</h4>
                            <form ng-submit="submitBooking()" class="sidebar-booking-form">
                                <div class="booking-date-time mb-20">
                                    <div class="booking-item">
                                        <label class="fw-normal">Ngày đi:</label>
                                        <div class="bk-item booking-date fw-medium">
                                            <span>{{ tourDetail.departureDate | formatDate }}</span>
                                        </div>
                                    </div>
                                    <div class="booking-item">
                                        <label class="fw-normal">Thời gian dự kiến:</label>
                                        <div class="bk-item booking-date fw-medium">
                                            <span>
                                                <span>{{ tourDetail.departureDate | calculateDaysAndNights:tourDetail.arrivalDate }}</span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="booking-guest-box mb-20">
                                    <h6 class="mb-20">Vé</h6>
                                    <div class="booking-item">
                                        <label>Người lớn (trên 90cm) {{ tourDetail.unitPrice | vnCurrency }}</label>
                                        <div class="bk-item booking-user">
                                            <span class="fas fa-user"></span>
                                            <select class="wide-select"
                                                    ng-model="ticket.adults"
                                                    ng-change="updateTotalPrice()"
                                                    ng-disabled="tourDetail.bookedSeat === tourDetail.numberOfGuests"
                                            >
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                <option value="6">6</option>
                                                <option value="7">7</option>
                                                <option value="8">8</option>
                                                <option value="9">9</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="booking-item">
                                        <label>Trẻ em (dưới 90cm) {{ tourDetail.unitPrice * 0.3 | vnCurrency }}</label>
                                        <div class="bk-item booking-user">
                                            <span class="fas fa-user"></span>
                                            <select class="wide-select"
                                                    ng-model="ticket.children"
                                                    ng-change="updateTotalPrice()"
                                                    ng-disabled="ticket.children < isExceedGuestLimit()"
                                            >
                                                <option value="0">0</option>
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="booking-item">
                                        <label>Em bé 0đ</label>
                                        <div class="bk-item booking-user">
                                            <span class="fas fa-user"></span>
                                            <select class="wide-select"
                                                    ng-model="ticket.baby"
                                                    ng-change="updateTotalPrice()"
                                                    ng-disabled="ticket.baby < isExceedGuestLimit()"
                                            >
                                                <option value="0">0</option>
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="booking-total mb-20">
                                    <div class="total">
                                        <label>Tạm tính ({{ totalTikets }}) vé</label>
                                        <span class="price">
                                            {{ totalPrice | vnCurrency }}
                                        </span>
                                    </div>
                                </div>
                                <div class="submit-button">
                                    <button type="submit"
                                            class="main-btn primary-btn"
                                            ng-if="tourDetail.bookedSeat !== tourDetail.numberOfGuests"
                                    >
                                        Đặt tour ngay
                                        <svg class="svg-inline--fa fa-paper-plane" aria-hidden="true"
                                             focusable="false"
                                             data-prefix="fas" data-icon="paper-plane" role="img"
                                             xmlns="http://www.w3.org/2000/svg" viewBox="0 0 650 512"
                                             data-fa-i2svg="">
                                            <path fill="currentColor"
                                                  d="M511.6 36.86l-64 415.1c-1.5 9.734-7.375 18.22-15.97 23.05c-4.844 2.719-10.27 4.097-15.68 4.097c-4.188 0-8.319-.8154-12.29-2.472l-122.6-51.1l-50.86 76.29C226.3 508.5 219.8 512 212.8 512C201.3 512 192 502.7 192 491.2v-96.18c0-7.115 2.372-14.03 6.742-19.64L416 96l-293.7 264.3L19.69 317.5C8.438 312.8 .8125 302.2 .0625 289.1s5.469-23.72 16.06-29.77l448-255.1c10.69-6.109 23.88-5.547 34 1.406S513.5 24.72 511.6 36.86z"></path>
                                        </svg>
                                    </button>
                                    <span class="d-flex justify-content-center text-danger fw-medium"
                                          ng-if="tourDetail.bookedSeat === tourDetail.numberOfGuests">
                                        Hiện tại tour đã hết vé !
                                    </span>
                                </div>
                            </form>
                        </div>
                        <!--=== Booking Info Widget ===-->

                        <!--=== Call Tour Widget ===-->
                        <div class="sidebar-widget booking-form-widget wow fadeInUp mb-40">
                            <div class="img-holder position-relative" style="padding-top: 45px">
                                <button type="button"
                                        style="position: absolute;width: 250px; top: 50%; left: 50%; transform: translate(-50%, -50%);"
                                        class="btn btn-green" data-toggle="modal" data-target="#formTourModal"
                                        ng-click="showCallTourModal()">Bạn có đề xuất gì không ?
                                </button>
                            </div>
                        </div>
                        <!--=== Call Tour Widget ===-->

                        <!--=== Recent Place Widget ===-->
                        <div class="sidebar-widget recent-place-widget mb-40 wow fadeInUp">
                            <h4 class="widget-title">Top 5 tour nổi bật</h4>
                            <ul class="recent-place-list">
                                <li class="place-thumbnail-content" ng-repeat="trend in tourTrendData">
                                    <img ng-src="{{ trend.tourImg }}" alt="post thumb" height="90" src="">
                                    <div class="place-content">
                                        <ul class="ratings">
                                            <li><span class="fas fa-star"></span></li>
                                            <li><span class="fas fa-star"></span></li>
                                            <li><span class="fas fa-star"></span></li>
                                            <li><span class="fas fa-star"></span></li>
                                            <li><span class="fas fa-star"></span></li>
                                        </ul>
                                        <h5><a href="/home">{{ trend.tourName }}</a>
                                        </h5>
                                        <span class="price">
                                            <span class="text m-0">Chỉ từ:</span>
                                            <span class="currency">{{ trend.unitPrice | vnCurrency }}</span>
                                        </span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!--====== End Place Details Section ======-->

<!--====== Start CTA Section ======-->
<section class="cta-bg overlay bg_cover pt-150 pb-150"
         style="background-image: url(/assets/customers/images/bg/cta-bg2.jpg);">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-7 col-lg-8">
                <!--=== CTA Content Box ===-->
                <div class="cta-content-box text-white wow fadeInLeft">
                    <h2 class="mb-35">Bạn đã sẵn sàng cho chuyến du lịch của mình!</h2>
                    <a href="" class="main-btn primary-btn">Để Lại thông tin
                        <svg class="svg-inline--fa fa-paper-plane" aria-hidden="true" focusable="false"
                             data-prefix="fas" data-icon="paper-plane" role="img"
                             xmlns="http://www.w3.org/2000/svg" viewBox="-50 -23 680 520" data-fa-i2svg="">
                            <path fill="currentColor"
                                  d="M511.6 36.86l-64 415.1c-1.5 9.734-7.375 18.22-15.97 23.05c-4.844 2.719-10.27 4.097-15.68 4.097c-4.188 0-8.319-.8154-12.29-2.472l-122.6-51.1l-50.86 76.29C226.3 508.5 219.8 512 212.8 512C201.3 512 192 502.7 192 491.2v-96.18c0-7.115 2.372-14.03 6.742-19.64L416 96l-293.7 264.3L19.69 317.5C8.438 312.8 .8125 302.2 .0625 289.1s5.469-23.72 16.06-29.77l448-255.1c10.69-6.109 23.88-5.547 34 1.406S513.5 24.72 511.6 36.86z"></path>
                        </svg>
                    </a>
                </div>
            </div>
            <div class="col-xl-5 col-lg-4">
                <div class="play-box text-lg-end text-center wow fadeInRight">
                    <a href="https://www.youtube.com/watch?v=ibuUmMhD2Pg" class="video-popup"><span
                            class="fas fa-play"></span></a>
                </div>
            </div>
        </div>
    </div>
</section><!--====== End CTA Section ======-->

<!--====== Start Modal Section ======-->
<div id="formTourModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered" style="max-width: 40%; height: 80vh;">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="mapModalLabel">Bạn có đề xuất về Tour</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <button type="button" class="btn-close" data-dismiss="modal"
                            ng-click="closeFormModal()"></button>
                </button>
            </div>
            <div class="modal-body row">
                <div id="i-want" class="mapBoxModel col-12"
                     style="height: 100%; padding-left: 30px; padding-right: 30px; margin: 0;">
                    <form name="tourDetailForm" style="height: 100%">
                        <div class="col-12 mb-1">
                            <h4 style="font-size: larger;font-weight: bold;color: darkgreen;">{{ tourDetail.toursByTourId.tourName }}</h4>
                        </div>
                        <div class="col-12 mb-1">
                            <label for="departureDate" class="form-label">Ngày đi</label>
                            <input class="form-control" type="date"
                                   name="birth"
                                   ng-model="customer.birth"
                                   ng-class="{ 'is-invalid': isBirthInvalid(),
                                            'is-valid': isBirthValid() }"
                                   ng-change="checkBirth()"
                                   required/>
                            <small class="text-danger"
                                   ng-show="customerForm.birth.$error.required">
                                Vui lòng nhập ngày sinh!
                            </small>
                            <small class="text-danger"
                                   ng-show="isBirthInvalid()">
                                Yêu cầu trên 16 tuổi!
                            </small>
                        </div>
                        <div class="col-12 mb-1">
                            <label for="arrivalDate" class="form-label">Ngày về</label>
                            <input class="form-control" type="date"
                                   name="birth"
                                   ng-model="customer.birth"
                                   ng-class="{ 'is-invalid': isBirthInvalid(),
                                            'is-valid': isBirthValid() }"
                                   ng-change="checkBirth()"
                                   required/>
                            <small class="text-danger"
                                   ng-show="customerForm.birth.$error.required">
                                Vui lòng nhập ngày sinh!
                            </small>
                            <small class="text-danger"
                                   ng-show="isBirthInvalid()">
                                Yêu cầu trên 16 tuổi!
                            </small>
                        </div>
                        <div class="col-12 mb-1">
                            <label for="arrivalDate" class="form-label">Ghi chú</label>
                            <textarea class="form-control" name="note" ng-model="customer.note" rows="4" maxlength="200"
                                      required></textarea>
                            <small class="text-danger"
                                   ng-show="customerForm.birth.$error.required">
                                Vui lòng nhập ngày sinh!
                            </small>
                            <small class="text-danger"
                                   ng-show="isBirthInvalid()">
                                Yêu cầu trên 16 tuổi!
                            </small>
                        </div>
                        <div class="mt-3 d-flex justify-content-center pb-0">
                            <button type="button" class="btn btn-green" style="padding: 8px 50px; border-radius: 30px"
                                    ng-click="closeFormModal()">Đóng
                            </button>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>