<!--====== Start Breadcrumb Section ======-->
<section class="page-banner overlay pt-170 pb-170 bg_cover"
         style="background-image: url(/assets/customers/images/bg/banner-tour.jpeg);">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="page-banner-content text-center text-white">
                    <h1 class="page-title">Booking Tours</h1>
                    <ul class="breadcrumb-link text-white">
                        <li><a href="/home">Trang chủ</a></li>
                        <li class="active">Booking tour</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section><!--====== End Breadcrumb Section ======-->

<!--====== Start Events Section ======-->
<section class="events-section pt-100 pb-100">
    <div class="container">
        <!--====== Products Filter ======-->
        <div class="page-item-filter mb-40 wow fadeInUp">
            <div class="row align-items-center justify-content-center">
                <div class="col-md-7 d-flex align-items-center">
                    <!--====== Show Text ======-->
                    <div class="show-text">
                        <h3>Trải nghiệm những chuyến đi</h3>
                    </div>
                </div>
                <div class="col-md-5">
                    <!--====== Product Dropdown ======-->
                    <div class="product-dropdown float-md-end d-flex justify-content-end align-items-center">
                        <span class="m-3 fw-medium">Sắp xếp</span>
                        <select class="wide" ng-model="sortPrice" ng-change="sortData('unitPrice', sortPrice)">
                            <option value="" data-display="asc">Mặc định</option>
                            <option value="asc">Giá tăng dần</option>
                            <option value="desc">Giá giảm dần</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-xl-3 col-md-12">
                <div class="single-event-item mb-30 wow fadeInUp">
                    <div class="img-holder position-relative">
                        <img src="/assets/customers/images/hotel/map-image-customer.png" alt="map-image-customer.png">

                        <button type="button"
                                style="position: absolute;width: 200px; top: 50%; left: 50%; transform: translate(-50%, -50%);"
                                class="btn btn-green" data-toggle="modal" data-target="#mapModal"
                                ng-click="showMapModal()">Hiển thị trên Bản Đồ
                        </button>
                    </div>
                    <div class="content">
                        <div class="find-item mb-3">
                            <p class="fw-medium">Ngân sách của bạn</p>
                            <div class="findHotelType">
                                <label for="rangePrice" class="form-label">Chọn ngân sách:</label>
                                <input type="range" class="form-range" id="rangePrice" ng-model="filters.price"
                                       min="100000"
                                       max="30000000" step="100000">
                                <p>{{ filters.price | number:'0' }} VND</p>
                            </div>
                        </div>

                        <div class="find-item mb-3">
                            <p class="fw-medium">Loại tour</p>
                            <div class="findHotelType" ng-repeat="type in tourType | limitTo: limitTourType">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox"
                                           value="{{type.id}}"
                                           ng-model="hotelType.checked"
                                           id="{{type.tourTypeName}}"
                                           ng-change="ChooseFromAVarietyOfTours(type.id)">
                                    <label class="form-check-label" for="{{type.tourTypeName}}">
                                        {{ type.tourTypeName }}
                                    </label>
                                </div>
                            </div>
                            <button class="btn text-green"
                                    ng-show="tourType.length > 5 && !showMoreTourType"
                                    ng-click="showMoreItemsTourType()">Hiển thị thêm
                                <i class="fa-solid fa-angle-down"></i>
                            </button>
                            <button class="btn text-green"
                                    ng-show="showMoreTourType"
                                    ng-click="showLessItemsTourType()">Ẩn bớt
                                <i class="fa-solid fa-angle-up"></i>
                            </button>
                        </div>

                        <div class="find-item mb-3">
                            <p class="fw-medium">Điểm đánh giá của khách</p>
                            <div class="findHotelType">
                                <div class="form-check" ng-repeat="rating in ratings">
                                    <input class="form-check-input"
                                           type="radio"
                                           name="rating"
                                           ng-model="$parent.selectedRating"
                                           ng-value="rating.id"
                                           id="{{ 'rating-' + rating.id }}"
                                    >
                                    <label class="form-check-label" for="{{ 'rating-' + rating.id }}">
                                        {{ rating.label }}
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="find-item mb-3 d-flex justify-content-center mt-3">
                            <button class="btn btn-green" ng-click="filterAllTour()">
                                Lọc tour
                            </button>
                        </div>
                    </div>
                </div>
                <div class="single-event-item mb-30 wow fadeInUp" style="min-height: 70px">
                    <div class="img-holder position-relative" style="padding-top: 45px">
                        <button type="button"
                                style="position: absolute;width: 250px; top: 50%; left: 50%; transform: translate(-50%, -50%);"
                                class="btn btn-green" data-toggle="modal" data-target="#formTourModal"
                                ng-click="showCallTourModal()">Bạn có đề xuất gì không ?
                        </button>
                    </div>
                </div>
            </div>

            <div class="col-xl-9 col-md-12">
                <div class="mb-5 w-100">
                    <div class="row single-event-item d-flex align-items-end">
                        <div class="col-md-6">
                            <label for="locationFilter" class="form-label">Tìm kiếm</label>
                            <input type="text" list="datalistOptionsTour"
                                   class="form-control"
                                   id="locationFilter"
                                   ng-model="filters.searchTerm"
                                   placeholder="Nhập nơi bạn muốn đến..."
                            >
                            <datalist id="datalistOptionsTour">
                                <option ng-repeat="tourDetailData in tourDetailDataList" value="{{tourDetailData}}">
                            </datalist>

                        </div>
                        <div class="col-md-4">
                            <label for="checkInDateFiller" class="form-label">Ngày đi (dự kiến)</label>
                            <input type="date" class="form-control" id="checkInDateFiller"
                                   ng-model="filters.checkInDateFiller" ng-change="validateDates()">

                        </div>
                        <div class="col-md-2">
                            <button type="button" class="btn btn-green float-end" ng-click="filterAllTour()"><i
                                    class="fa-solid fa-magnifying-glass"></i> Tìm tour
                            </button>
                        </div>
                        <div class="col-md-6"></div>
                        <div class="col-md-4">
                           <span class="text-danger" ng-if="errorCheckInDateFiller">
                                {{ errorCheckInDateFiller }}
                            </span>
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                </div>

                <div ng-include="'app/component/utils/loading-component.html'"></div>
                <div ng-if="!isLoading">
                    <div ng-repeat="tour in tourDetail" ng-if="tourDetail.length > 0">
                        <div class="single-event-item mb-30 wow fadeInUp row">
                            <div class="img-holder col-xl-3 col-lg-4 p-0">
                                <img ng-src="{{tour.toursByTourId.tourImg}}" style="height: 170px"
                                     onerror="this.src='/assets/admin/assets/img/bg/default-image-hotel.png'"/>

                            </div>
                            <div class=" col-xl-9 col-lg-8">
                                <div class="meta row">
                                    <div class="col-lg-8 container-hotel">
                                        <div>
                                        <span>
                                            <i class="fa-solid fa-street-view"></i>
                                            <a class="fw-medium">
                                                {{ tour.tourTypes.tourTypeName }}
                                            </a>
                                        </span>
                                            <h3 class="fw-medium">
                                                <a href="#">{{ tour.toursByTourId.tourName }}</a>
                                            </h3>
                                            <div class="d-flex align-items-center mb-3"
                                                 style="border-bottom: 1px solid rgba(29, 35, 31, 0.1);">
                                                <div class="location text-orange" style="font-size: 14px">
                                                    <p>
                                                        <i class="fa-solid fa-user-tie"></i>
                                                        Khách đã đặt: {{ tour.bookedSeat }}/{{ tour.numberOfGuests }} chổ
                                                    </p>
                                                </div>

                                                <a href="#"
                                                   class="btn text-green"
                                                   style="font-size: 14px"
                                                   ng-click="showMapModalByTourId(tour.id)"
                                                >
                                                    Xem trên bản đồ
                                                </a>
                                            </div>
                                        </div>

                                        <div class="roomTypeByHotel mb-3"
                                             style="padding-left: 10px ;border-left: 1px solid rgba(29, 35, 31, 0.1)">
                                            <div style="font-size: 14px; line-height: 20px">
                                                <p class="fs-7 mb-1">Điểm đi:
                                                    <span class="fw-medium">{{ tour.fromLocation }}</span>
                                                </p>
                                                <p class="fs-7 mb-1">Điểm đến:
                                                    <span class="fw-medium">{{ tour.toLocation }}</span>
                                                </p>
                                                <p class="fs-7 mb-1">Dự kiến đi trong:
                                                    {{ tour.departureDate | calculateDaysAndNights:tour.arrivalDate }}
                                                </p>
                                                <div class="text-green">
                                                    <i class="fa-solid fa-check"></i> Xe có WIFI miễn phí
                                                </div>
                                                <div class="text-green">
                                                    <i class="fa-solid fa-check"></i> Miễn phí nước suối
                                                </div>

                                                <div class="text-danger mt-3 fw-medium"
                                                     ng-if="tour.numberOfGuests - tour.bookedSeat <= 5 && tour.bookedSeat !== tour.numberOfGuests"
                                                >
                                                    <i class="fa-solid fa-exclamation"></i>
                                                    Chỉ còn {{ tour.numberOfGuests - tour.bookedSeat }} vé với giá này
                                                    trên trang của TravelTour.
                                                </div>
                                                <div class="text-danger mt-3 fw-medium"
                                                     ng-if="tour.bookedSeat === tour.numberOfGuests">
                                                    <i class="fa-solid fa-exclamation"></i>
                                                    Tour này đã hết vé, Nhưng bạn có thể chọn tour của TravelTour.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="infoHotel h-100 w-100 position-relative row">
                                            <div class="rating col-xl-12 col-lg-12 col-sm-6 col-6">
                                                <div class="float-end" style="font-size: 14px; line-height: 20px">
                                                    <div class="d-flex align-items-center">
                                                        <div class="rating-content float-end m-2">
                                                            <p>Rất tốt</p>
                                                            <p>133 Đánh giá</p>
                                                        </div>
                                                        <div class="rating-content float-end">
                                                            <div class="btn-green text-center"
                                                                 style="width: 50px; height: 50px; line-height: 50px; border-radius: 8px">
                                                                <span class="fw-medium fs-5">4.9</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="price position-absolute bottom-0 end-0 mb-3 me-3 col-xl-12 col-lg-12 col-sm-6 col-6">
                                                <div class="box">
                                                    <div class="fw-medium text-end" style="font-size: 20px">
                                                        <span class="fs-6">Giá chỉ từ:</span>
                                                        <br>
                                                        {{ tour.unitPrice | number:0 }} VND
                                                    </div>
                                                    <p class="fs-7 float-end">
                                                        {{ tour.departureDate | calculateDaysAndNights:tour.arrivalDate }}
                                                    </p>
                                                    <a href="/tours/tour-detail/{{ tour.id }}"
                                                       class="btn btn-green w-100 mt-3">
                                                        Xem chi tiết
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="div" ng-if="tourDetail.length <= 0">
                        <div class="d-flex justify-content-center align-items-center">
                            Không có tour nào phù hợp với yêu cầu của bạn
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <!--=== Gowilds Pagination ===-->
                            <ul class="gowilds-pagination wow fadeInUp text-center d-flex align-items-center justify-content-center">
                                <li class="m-1">
                                    <button class="bg-white" ng-click="setPage(0)" ng-disabled="currentPage === 0">
                                        <a class="cursor-pointer">
                                            <span class="fas fa-arrow-left"></span>
                                        </a>
                                    </button>
                                </li>

                                <li class="m-1" ng-if="currentPage > 2 && totalPages > 5">
                                    <a>...</a>
                                </li>

                                <li class="m-1" ng-repeat="n in getPaginationRange()">
                                    <a href="#" ng-class="{active: n === currentPage}"
                                       ng-click="setPage(n)">{{ n + 1 }}</a>
                                </li>

                                <!-- Ellipsis at the end -->
                                <li class="m-1" ng-if="currentPage < totalPages - 3 && totalPages > 5">
                                    <a>...</a>
                                </li>

                                <li class="m-1">
                                    <button class="bg-white" ng-click="setPage(totalPages - 1)"
                                            ng-disabled="currentPage === totalPages - 1">
                                        <a class="cursor-pointer">
                                            <span class="fas fa-arrow-right"></span>
                                        </a>
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!--====== End Events Section ======-->

<!--====== Start CTA Section ======-->
<section class="cta-bg overlay bg_cover pt-150 pb-150"
         style="background-image: url(/assets/customers/images/bg/cta-bg2.jpg);">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-7 col-lg-8">
                <!--=== CTA Content Box ===-->
                <div class="cta-content-box text-white wow fadeInLeft">
                    <h2 class="mb-35">Bạn đã sẵn sàng cho chuyến du lịch của mình!</h2>
                    <button href="" class="main-btn primary-btn">Để Lại thông tin
                        <svg class="svg-inline--fa fa-paper-plane" aria-hidden="true" focusable="false"
                             data-prefix="fas" data-icon="paper-plane" role="img"
                             xmlns="http://www.w3.org/2000/svg" viewBox="-50 -23 680 520" data-fa-i2svg="">
                            <path fill="currentColor"
                                  d="M511.6 36.86l-64 415.1c-1.5 9.734-7.375 18.22-15.97 23.05c-4.844 2.719-10.27 4.097-15.68 4.097c-4.188 0-8.319-.8154-12.29-2.472l-122.6-51.1l-50.86 76.29C226.3 508.5 219.8 512 212.8 512C201.3 512 192 502.7 192 491.2v-96.18c0-7.115 2.372-14.03 6.742-19.64L416 96l-293.7 264.3L19.69 317.5C8.438 312.8 .8125 302.2 .0625 289.1s5.469-23.72 16.06-29.77l448-255.1c10.69-6.109 23.88-5.547 34 1.406S513.5 24.72 511.6 36.86z"></path>
                        </svg>
                    </button>
                </div>
            </div>
            <div class="col-xl-5 col-lg-4">
                <div class="play-box text-lg-end text-center wow fadeInRight">
                    <a href="https://www.youtube.com/watch?v=ibuUmMhD2Pg" class="video-popup"><span
                            class="fas fa-play"></span></a>
                </div>
            </div>
        </div>
    </div>
</section><!--====== End CTA Section ======-->

<!--Modal hiển thị điểm đến trên bản đồ-->
<div class="modal fade" id="modelMap" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabelMap">Bản đồ</h5>
                <button type="button" class="btn-close" ng-click="hideModel()"></button>
            </div>
            <div class="modal-body">
                <div id="map" class="col-12" style="height: 500px"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" ng-click="hideModel()">Thoát</button>
            </div>
        </div>
    </div>
</div>

<!--====== Start Modal Section ======-->
<div id="formTourModal" class="modal fade" role="dialog">
    <div  class="modal-dialog modal-dialog-centered" style="max-width: 40%; height: 80vh;">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="mapModalLabel">Bạn có đề xuất về Tour</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <button type="button" class="btn-close" data-dismiss="modal"
                            ng-click="closeFormModal()"></button>
                </button>
            </div>
            <div class="modal-body row">
                <div id="i-want" class="mapBoxModel col-12" style="height: 100%; padding-left: 30px; padding-right: 30px; margin: 0;">
                    <form name="tourDetailForm" style="height: 100%">
                        <div class="col-12 mb-1">
                            <label for="tourNameSelect" class="form-label">Tên tour</label>
                            <select id="tourNameSelect" class="form-select" name="tourNameSelect" ng-model="selectedTour"
                                    ng-options="tour.id as (tour.id + '-' + tour.tourName) for tour in tourBasicList" required>
                                <option value="" disabled selected>Chọn tour</option>
                            </select>
                            <small class="text-danger"
                                   ng-show="tourDetailForm.tourNameSelect.$touched && tourDetailForm.tourNameSelect.$error.required">
                                Vui lòng chọn tên tour!
                            </small>
                        </div>
                        <div class="col-12 mb-1">
                            <label for="departureDate" class="form-label">Ngày đi</label>
                            <input class="form-control" type="date"
                                   name="birth"
                                   ng-model="customer.birth"
                                   ng-class="{ 'is-invalid': isBirthInvalid(),
                                            'is-valid': isBirthValid() }"
                                   ng-change="checkBirth()"
                                   required/>
                            <small class="text-danger"
                                   ng-show="customerForm.birth.$error.required">
                                Vui lòng nhập ngày sinh!
                            </small>
                            <small class="text-danger"
                                   ng-show="isBirthInvalid()">
                                Yêu cầu trên 16 tuổi!
                            </small>
                        </div>
                        <div class="col-12 mb-1">
                            <label for="arrivalDate" class="form-label">Ngày về</label>
                            <input class="form-control" type="date"
                                   name="birth"
                                   ng-model="customer.birth"
                                   ng-class="{ 'is-invalid': isBirthInvalid(),
                                            'is-valid': isBirthValid() }"
                                   ng-change="checkBirth()"
                                   required/>
                            <small class="text-danger"
                                   ng-show="customerForm.birth.$error.required">
                                Vui lòng nhập ngày sinh!
                            </small>
                            <small class="text-danger"
                                   ng-show="isBirthInvalid()">
                                Yêu cầu trên 16 tuổi!
                            </small>
                        </div>
                        <div class="col-12 mb-1">
                            <label for="arrivalDate" class="form-label">Ghi chú</label>
                            <textarea class="form-control" name="note" ng-model="customer.note" rows="4" maxlength="200" required></textarea>
                            <small class="text-danger"
                                   ng-show="customerForm.birth.$error.required">
                                Vui lòng nhập ngày sinh!
                            </small>
                            <small class="text-danger"
                                   ng-show="isBirthInvalid()">
                                Yêu cầu trên 16 tuổi!
                            </small>
                        </div>
                        <div class="mt-3 d-flex justify-content-center pb-0">
                            <button type="button" class="btn btn-green" style="padding: 8px 50px; border-radius: 30px"
                                    ng-click="closeFormModal()">Đóng
                            </button>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>