<div class="px-3">
    <div class="row min-vh-100 flex-center p-5">
        <div class="col-12 col-xl-10 col-xxl-8">
            <div class="row justify-content-center align-items-center g-5">
                <div class="col-12 col-lg-6 text-center order-lg-1">
                    <img class="img-fluid w-lg-100 d-dark-none"
                         src="/assets/admin/assets/img/error/404-illustration.png" alt="" width="400">
                    <img class="img-fluid w-md-50 w-lg-100 d-light-none"
                         src="/assets/admin/assets/img/error/dark_404-illustration.png" alt="" width="540">
                </div>
                <div class="col-12 col-lg-6 text-center text-lg-start">
                    <img class="img-fluid mb-6 w-50 w-lg-75 d-dark-none"
                         src="/assets/admin/assets/img/error/404.png" alt="">
                    <img class="img-fluid mb-6 w-50 w-lg-75 d-light-none"
                         src="/assets/admin/assets/img/error/dark_404.png" alt="">
                    <h2 class="text-800 fw-bolder mb-3">Trang bạn tìm kiếm không tồn tại!</h2>
                    <p class="text-900 mb-5">Nhưng đừng lo lắng! Đà điểu của chúng tôi đang tìm kiếm khắp nơi
                        <br class="d-none d-sm-block">trong khi bạn chờ đợi an toàn.
                    </p>
                    <a class="btn btn-lg btn-primary" href="/home">Quay về trang chủ</a>
                </div>
            </div>
        </div>
    </div>
</div>