<div class="container">
    <div class="container-fluid">
        <div class="header-control mb-4">
            <div class="header-control-center">
                <div class="d-flex justify-content-between align-items-center row ">
                    <div class="col-xl-6 mt-3">
                        <h3 class="color-greend fw-bold">DANH SÁCH BOOKING PHƯƠNG TIỆN</h3>
                    </div>
                    <div class="col-xl-6 d-flex align-items-center justify-content-end header-control-center mt-3">
                        <div class="row ">
                            <div class="col-sm-3 d-flex align-items-center">
                                <button class="btn d-flex ">
                                    <i class="fa-solid fa-file-export"></i>
                                    <span>Xuất</span>
                                </button>
                            </div>
                            <div class="col-sm-9">
                                <a href="/business/transport/transports-list/transports-create" class="btn btn-greend">
                                    <i class="fa-solid fa-plus" style="margin-right: 10px"></i>
                                    Booking phương tiện
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="">
            <div class="card card-customer">
                <div class="row" style="margin: 20px 16px 20px 16px">
                    <div class="col-xl-4">
                        Bạn muốn tìm kiếm gì ?
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1">
                                <a href="#" class="bg-light">
                                    <i class="fa-solid fa-magnifying-glass bg-light"></i>
                                </a>
                            </span>
                            <input type="text" class="form-control" placeholder="Tìm kiếm" aria-label="Username"
                                   aria-describedby="basic-addon1">
                        </div>
                    </div>
                    <div class="col-xl-3 mb-3">
                        Lọc
                        <select class="form-select" aria-label="Default select example">
                            <option selected>Tất cả</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                    <div class="col-xl-3 mb-3">
                        Trạng thái
                        <select class="form-select" aria-label="Default select example">
                            <option selected>Thành công</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                    <div class="col-xl-2 d-flex align-items-center justify-content-end mb-3 h-100"
                         style="margin: 20px 0 0 0">
                        <button class="btn btn-primary">Tìm kiếm</button>
                    </div>
                </div>
            </div>
        </div>


        <div class="table-components table-responsive mb-5">
            <div class="card table-responsive table-customer">
                <div class="card-header ">
                    <div class="row">
                        <div class="h4 col-lg-5 d-flex align-items-center h-100">
                            <div class="d-flex align-items-center">
                                <span class="h4">Danh sách loại phòng</span>
                            </div>
                        </div>
                        <div class="d-flex justify-content-end align-items-baseline col-lg-2">
                            <select class="form-select" aria-label="Default select example">
                                <option selected>Tất cả hàng</option>
                                <option value="5">5</option>
                                <option value="10">10</option>
                                <option value="15">15</option>
                            </select>
                        </div>
                        <div class="d-flex align-items-center justify-content-end h-100 col-lg-5">
                            <nav aria-label="Page navigation example float-end">
                                <ul class="pagination justify-content-center align-items-center">
                                    <li class="page-item bg-light">
                                        <a class="page-link"><i class="fa-solid fa-chevron-left"></i></a>
                                    </li>
                                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    <li class="page-item">
                                        <a class="page-link" href="#"><i class="fa-solid fa-angle-right"></i></a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
                <table class="table table-responsive text-center">
                    <thead>
                    <tr class="bg-light">
                        <th><span><input class="form-check-input checkbox-all" type="checkbox" value="" id=""></span>
                        </th>
                        <th scope="col"># <i class="fa-solid fa-sort"></i></th>
                        <th scope="col">ID <i class="fa-solid fa-sort"></i></th>
                        <th scope="col">Mã phương tiện <i class="fa-solid fa-sort"></i></th>
                        <th scope="col">Họ tên <i class="fa-solid fa-sort"></i></th>
                        <th scope="col">Số điện thoại <i class="fa-solid fa-sort"></i></th>
                        <th scope="col">Số vé <i class="fa-solid fa-sort"></i></th>
                        <th scope="col">Tổng tiền <i class="fa-solid fa-sort"></i></th>
                        <th scope="col">Ngày đặt <i class="fa-solid fa-sort"></i></th>
                        <th scope="col">Trạng thái <i class="fa-solid fa-sort"></i></th>
                        <th scope="col">Thao tác</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><span><input class="form-check-input" type="checkbox" value="" id=""></span></td>
                        <td>1</td>
                        <td>P0001</td>
                        <td>Phòng studio</td>
                        <td>2</td>
                        <td>2</td>
                        <td>1</td>
                        <td>Giường đôi</td>
                        <td>300.000</td>
                        <td>
                            <div class="d-flex align-items-center justify-content-center">
                                <span class="status-success"></span> <span class="text-status-success">Đang book</span>
                            </div>
                        </td>
                        <td class="d-flex align-items-center justify-content-center" style="padding-right: 10px">
                            <button data-bs-toggle="modal" data-bs-target="#info-booking"
                                    type="button" class="btn" style="background: #5cafaf; margin-right: 5px">
                                <i class="fa-solid fa-info text-white"></i>
                            </button>
                            <a href="business/transport/transports-list/transports-update"
                               role="button" class="btn" style="background: #ffc107; margin-right: 5px">
                                <i class="fa-solid fa-pen-to-square text-white"></i>
                            </a>
                            <a href="business/transport/transports-list/transports-update"
                               role="button" class="btn" style="background: #dc3545">
                                <i class="fa-solid fa-trash  text-white"></i>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td><span><input class="form-check-input" type="checkbox" value="" id=""></span></td>
                        <td>2</td>
                        <td>P0001</td>
                        <td>Phòng studio</td>
                        <td>2</td>
                        <td>2</td>
                        <td>1</td>
                        <td>Giường đôi</td>
                        <td>300.000</td>
                        <td>
                            <div class="d-flex align-items-center justify-content-center">
                                <span class="status-warning"></span> <span class="text-status-warning">Cảnh báo</span>
                            </div>
                        </td>
                        <td class="d-flex align-items-center justify-content-center" style="padding-right: 10px">
                            <a href="business/transport/transports-list/transports-update"
                               role="button" class="btn" style="background: #5cafaf; margin-right: 5px">
                                <i class="fa-solid fa-info text-white"></i>
                            </a>
                            <a href="business/transport/transports-list/transports-update"
                               role="button" class="btn" style="background: #ffc107; margin-right: 5px">
                                <i class="fa-solid fa-pen-to-square text-white"></i>
                            </a>
                            <a href="business/transport/transports-list/transports-update"
                               role="button" class="btn" style="background: #dc3545">
                                <i class="fa-solid fa-trash  text-white"></i>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="card-footer">
                    <div class="d-flex justify-content-end">
                        5 trong tổng số 15
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="info-booking" tabindex="-1" aria-labelledby="modalInfoBooking" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalInfoBooking">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>