<div ng-include="'app/component/utils/loading-html.html'"></div>
<div class="container mt-3 mb-5">
    <div class="header-control mb-4">
        <div class="">
            <div class="d-flex align-items-center row">
                <div class="col-lg-6">
                    <h3 class="color-green fw-bold">CẬP NHẬT BOOKING</h3>
                </div>
            </div>
            <div class="mt-3 fw-bold">Công ty: <span>{{ transportBrand.transportationBrandName }}</span></div>
        </div>
    </div>

    <div class="card card-custom">
        <form class="row g-3 form-input-custom" ng-submit="updateOrderTransport()" name="form_booking" role="form">
            <div class="col-4">
                <label for="inputState" class="form-label">MÃ CHUYẾN ĐI</label>
                <select id="inputState"
                        class="form-select"
                        name="transportationScheduleId"
                        ng-class="{ 'is-invalid': form_booking.transportationScheduleId.$invalid && form_booking.transportationScheduleId.$touched, 'is-valid': form_booking.transportationScheduleId.$valid && form_booking.transportationScheduleId.$touched }"
                        ng-options="schedules.id as schedules.id + ' - ' + schedules.fromLocation + ' - ' + schedules.toLocation for schedules in transportSchedules"
                        ng-disabled="schedules.isStatus === 1 || schedules.isStatus === 2"
                        ng-model="bookings.transportationScheduleId"
                        ng-change="updateAmountAndTotal()"
                        required
                >
                    <option value="" disabled selected>Chọn mã chuyến đi</option>
                    <option>Demo</option>
                </select>
                <small class="text-danger"
                       ng-show="form_booking.transportationScheduleId.$touched && form_booking.transportationScheduleId.$error.required">
                    Vui lòng chọn mã chuyến đi !
                </small>
            </div>

            <div class="col-md-4">
                <label class="form-label">SỐ LƯỢNG VÉ KHÁCH ĐẶT</label>
                <input type="number"
                       class="form-control"
                       placeholder="Tối đa khách đặt 4 vé"
                       name="amountTicket"
                       ng-model="bookings.amountTicket"
                       ng-class="{ 'is-invalid': form_booking.amountTicket.$invalid && form_booking.amountTicket.$touched, 'is-valid': form_booking.amountTicket.$valid && form_booking.amountTicket.$touched }"
                       ng-disabled="schedules.isStatus === 1 || schedules.isStatus === 2"
                       ng-pattern="/^[1-4]$/"
                       ng-maxlength="1"
                       ng-change="updateTotal()"
                       required
                >
                <small class="text-danger"
                       ng-show="form_booking.amountTicket.$touched && form_booking.amountTicket.$error.required">
                    Vui lòng nhập số vé !
                </small>
                <small class="text-danger"
                       ng-show="form_booking.amountTicket.$touched && form_booking.amountTicket.$error.maxlength">
                    Số vé không được vượt quá 4 !
                </small>
                <small class="text-danger"
                       ng-show="form_booking.amountTicket.$touched && form_booking.amountTicket.$error.pattern">
                    Số vé không đúng định dạng !
                </small>
            </div>

            <div class="col-md-4">
                <label class="form-label">TỔNG TIỀN</label>
                <input type="text"
                       class="form-control"
                       placeholder="100.000 ₫"
                       format-price-input
                       name="orderTotal"
                       ng-model="bookings.orderTotal"
                       ng-class="{ 'is-invalid': form_booking.orderTotal.$invalid && form_booking.orderTotal.$touched, 'is-valid': form_booking.orderTotal.$valid && form_booking.orderTotal.$touched }"
                       disabled
                       required
                >
                <small class="text-danger"
                       ng-show="form_booking.orderTotal.$touched && form_booking.orderTotal.$error.required">
                    Vui lòng nhập tổng tiền !
                </small>
            </div>

            <div class="col-md-3">
                <label class="form-label">TÊN KHÁCH HÀNG ĐẶT</label>
                <input type="text"
                       class="form-control"
                       placeholder="Nguyễn Văn A"
                       name="customerName"
                       ng-model="bookings.customerName"
                       ng-disabled="schedules.isStatus === 1 || schedules.isStatus === 2"
                       ng-class="{ 'is-invalid': form_booking.customerName.$invalid && form_booking.customerName.$touched, 'is-valid': form_booking.customerName.$valid && form_booking.customerName.$touched }"
                       ng-pattern="/^[\p{L}'][\p{L}'\s-]{0,}$/u"
                       required
                >
                <small class="text-danger"
                       ng-show="form_booking.customerName.$touched && form_booking.customerName.$error.required">
                    Vui lòng nhập tên khách hàng !
                </small>
                <small class="text-danger"
                       ng-show="form_booking.customerName.$touched && form_booking.customerName.$error.pattern">
                    Tên khách hàng không đúng định dạng !
                </small>
            </div>

            <div class="col-md-3">
                <label class="form-label">CMND / CCCD</label>
                <input type="text"
                       class="form-control"
                       placeholder="987654321012"
                       name="customerCitizenCard"
                       ng-model="bookings.customerCitizenCard"
                       ng-disabled="schedules.isStatus === 1 || schedules.isStatus === 2"
                       ng-class="{ 'is-invalid': form_booking.customerCitizenCard.$invalid && form_booking.customerCitizenCard.$touched, 'is-valid': form_booking.customerCitizenCard.$valid && form_booking.customerCitizenCard.$touched }"
                       ng-pattern="/^[0-9]{9,12}$/"
                       required
                >
                <small class="text-danger"
                       ng-show="form_booking.customerCitizenCard.$touched && form_booking.customerCitizenCard.$error.required">
                    Vui lòng nhập CMND / CCCD !
                </small>
                <small class="text-danger"
                       ng-show="form_booking.customerCitizenCard.$touched && form_booking.customerCitizenCard.$error.pattern">
                    CMND / CCCD không đúng định dạng !
                </small>
            </div>

            <div class="col-md-3">
                <label class="form-label">EMAIL</label>
                <input type="text"
                       class="form-control"
                       placeholder="exam@gmail.com"
                       name="customerEmail"
                       ng-model="bookings.customerEmail"
                       ng-disabled="schedules.isStatus === 1 || schedules.isStatus === 2"
                       ng-class="{ 'is-invalid': form_booking.customerEmail.$invalid && form_booking.customerEmail.$touched, 'is-valid': form_booking.customerEmail.$valid && form_booking.customerEmail.$touched }"
                       ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]+$/"
                       required
                >
                <small class="text-danger"
                       ng-show="form_booking.customerEmail.$touched && form_booking.customerEmail.$error.required">
                    Vui lòng nhập địa chỉ email !
                </small>
                <small class="text-danger"
                       ng-show="form_booking.customerEmail.$touched && form_booking.customerEmail.$error.pattern">
                    Địa chỉ email không đúng định dạng !
                </small>
            </div>

            <div class="col-md-3">
                <label class="form-label">SỐ ĐIỆN THOẠI</label>
                <input type="text"
                       class="form-control"
                       placeholder="0969653264"
                       name="customerPhone"
                       ng-model="bookings.customerPhone"
                       ng-disabled="schedules.isStatus === 1 || schedules.isStatus === 2"
                       ng-class="{ 'is-invalid': form_booking.customerPhone.$invalid && form_booking.customerPhone.$touched, 'is-valid': form_booking.customerPhone.$valid && form_booking.customerPhone.$touched }"
                       ng-pattern="/^(0[0-9]{9}|84[0-9]{9})$/"
                       required
                >
                <small class="text-danger"
                       ng-show="form_booking.customerPhone.$touched && form_booking.customerPhone.$error.required">
                    Vui lòng nhập số điện thoại !
                </small>
                <small class="text-danger"
                       ng-show="form_booking.customerPhone.$touched && form_booking.customerPhone.$error.pattern">
                    Số điện thoại không đúng định dạng !
                </small>
            </div>

            <div class="col-md-12">
                <label class="form-label">HÌNH THỨC THANH TOÁN</label>
                <select class="form-select"
                        name="paymentMethod"
                        ng-class="{ 'is-invalid': form_booking.paymentMethod.$invalid && form_booking.paymentMethod.$touched, 'is-valid': form_booking.paymentMethod.$valid && form_booking.paymentMethod.$touched }"
                        ng-disabled="schedules.isStatus === 1 || schedules.isStatus === 2"
                        ng-model="bookings.paymentMethod"
                        required
                >
                    <option value="" disabled selected>Chọn hình thức thanh toán</option>
                    <option value="true" ng-selected="bookings.paymentMethod === true">Thanh toán tại quầy</option>
                    <option value="false" ng-selected="bookings.paymentMethod === false">
                        Thanh toán bằng ví điện tử
                    </option>
                </select>
                <small class="text-danger"
                       ng-show="form_booking.paymentMethod.$touched && form_booking.paymentMethod.$error.required">
                    Vui lòng chọn trạng thái !
                </small>
            </div>

            <div class="col-md-12">
                <label class="form-label">GHI CHÚ</label>
                <textarea class="form-control"
                          cols="30" rows="3"
                          placeholder="Nội dung..."
                          ng-disabled="schedules.isStatus === 1 || schedules.isStatus === 2"
                          ng-model="bookings.orderNote"
                >
                </textarea>
            </div>

            <div class="col-12 d-flex justify-content-end mt-5">
                <button type="button" class="btn" style="margin-right: 20px">
                    <a class="btn" href="/business/transport/booking-management">Trở về</a>
                </button>
                <button type="submit"
                        class="btn btn-submit fw-bold"
                        ng-disabled="form_booking.$invalid || schedules.isStatus === 1 || schedules.isStatus === 2"
                >
                    Cập nhật
                </button>
            </div>
        </form>
    </div>
</div>