<!--====== Start Breadcrumb Section ======-->
<section class="page-banner overlay pt-170 pb-170 bg_cover"
         style="background-image: url(/assets/customers/images/bg/banner-transport.jpg);">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="page-banner-content text-center text-white">
                    <h1 class="page-title">Phương Tiện Di Chuyển</h1>
                    <ul class="breadcrumb-link text-white">
                        <li><a href="/home">Trang chủ</a></li>
                        <li class="active">Phương tiện di chuyển</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section><!--====== End Breadcrumb Section ======-->

<!--====== Start Events Section ======-->
<section class="events-section pt-100 pb-100">
    <div class="container">
        <!--====== Products Filter ======-->
        <div class="page-item-filter mb-40 wow fadeInUp">
            <div class="row align-items-center justify-content-center">
                <div class="col-md-7">
                    <!--====== Show Text ======-->
                    <div class="show-text mb-20">
                        <h3>Đặt Vé Xe Khách</h3>
                    </div>
                </div>
                <div class="col-md-5">
                    <!--====== Product Dropdown ======-->
                    <div class="product-dropdown float-md-end">
                        <span class="title">Sắp xếp</span>
                        <select class="wide">
                            <option data-display="Default">Default</option>
                            <option value="01">Best Event</option>
                            <option value="02">New Events</option>
                            <option value="03">Upcoming Event</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-xl-4 col-md-6 col-sm-12">
                <div class="single-event-item mb-30 wow fadeInUp">
                    <div class="img-holder">
                        <img src="/assets/customers/images/event/event-1.jpg" alt="Event Image">
                    </div>
                    <div class="content">
                        <div class="meta">
                            <span><span class="fas fa-calendar-alt"></span><a href="#">September 25, 2022</a></span>
                            <h3 class="title"><a href="/drive-move-detail">How To Enjoy Adventure
                                Trip With Gowilds</a></h3>
                            <p class="location"><span class="fas fa-map-marker-alt"></span> Gaafu Dhaalu Atoll, Maldives
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6 col-sm-12">
                <div class="single-event-item mb-30 wow fadeInUp">
                    <div class="img-holder">
                        <img src="/assets/customers/images/event/event-2.jpg" alt="Event Image">
                    </div>
                    <div class="content">
                        <div class="meta">
                            <span><span class="fas fa-calendar-alt"></span><a href="#">September 25, 2022</a></span>
                            <h3 class="title"><a href="#">Great Advice For Build Awesome Mintality</a></h3>
                            <p class="location"><span class="fas fa-map-marker-alt"></span> Gaafu Dhaalu Atoll, Maldives
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6 col-sm-12">
                <div class="single-event-item mb-30 wow fadeInUp">
                    <div class="img-holder">
                        <img src="/assets/customers/images/event/event-3.jpg" alt="Event Image">
                    </div>
                    <div class="content">
                        <div class="meta">
                            <span><span class="fas fa-calendar-alt"></span><a href="#">September 25, 2022</a></span>
                            <h3 class="title"><a href="#">How To Enjoy Adventure
                                Trip With Gowilds</a></h3>
                            <p class="location"><span class="fas fa-map-marker-alt"></span> Gaafu Dhaalu Atoll, Maldives
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6 col-sm-12">
                <div class="single-event-item mb-30 wow fadeInUp">
                    <div class="img-holder">
                        <img src="/assets/customers/images/event/event-4.jpg" alt="Event Image">
                    </div>
                    <div class="content">
                        <div class="meta">
                            <span><span class="fas fa-calendar-alt"></span><a href="#">September 25, 2022</a></span>
                            <h3 class="title"><a href="#">How To Enjoy Adventure
                                Trip With Gowilds</a></h3>
                            <p class="location"><span class="fas fa-map-marker-alt"></span> Gaafu Dhaalu Atoll, Maldives
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6 col-sm-12">
                <div class="single-event-item mb-30 wow fadeInUp">
                    <div class="img-holder">
                        <img src="/assets/customers/images/event/event-5.jpg" alt="Event Image">
                    </div>
                    <div class="content">
                        <div class="meta">
                            <span><span class="fas fa-calendar-alt"></span><a href="#">September 25, 2022</a></span>
                            <h3 class="title"><a href="#">Grocery & Specialty For Food West</a></h3>
                            <p class="location"><span class="fas fa-map-marker-alt"></span> Gaafu Dhaalu Atoll, Maldives
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6 col-sm-12">
                <div class="single-event-item mb-30 wow fadeInUp">
                    <div class="img-holder">
                        <img src="/assets/customers/images/event/event-6.jpg" alt="Event Image">
                    </div>
                    <div class="content">
                        <div class="meta">
                            <span><span class="fas fa-calendar-alt"></span><a href="#">September 25, 2022</a></span>
                            <h3 class="title"><a href="#">Vancouver International Travel Expo</a></h3>
                            <p class="location"><span class="fas fa-map-marker-alt"></span> Gaafu Dhaalu Atoll, Maldives
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6 col-sm-12">
                <div class="single-event-item mb-30 wow fadeInUp">
                    <div class="img-holder">
                        <img src="/assets/customers/images/event/event-7.jpg" alt="Event Image">
                    </div>
                    <div class="content">
                        <div class="meta">
                            <span><span class="fas fa-calendar-alt"></span><a href="#">September 25, 2022</a></span>
                            <h3 class="title"><a href="#">How To Enjoy Adventure
                                Trip With Gowilds</a></h3>
                            <p class="location"><span class="fas fa-map-marker-alt"></span> Gaafu Dhaalu Atoll, Maldives
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6 col-sm-12">
                <div class="single-event-item mb-30 wow fadeInUp">
                    <div class="img-holder">
                        <img src="/assets/customers/images/event/event-8.jpg" alt="Event Image">
                    </div>
                    <div class="content">
                        <div class="meta">
                            <span><span class="fas fa-calendar-alt"></span><a href="#">September 25, 2022</a></span>
                            <h3 class="title"><a href="#">How To Enjoy Adventure
                                Trip With Gowilds</a></h3>
                            <p class="location"><span class="fas fa-map-marker-alt"></span> Gaafu Dhaalu Atoll, Maldives
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6 col-sm-12">
                <div class="single-event-item mb-30 wow fadeInUp">
                    <div class="img-holder">
                        <img src="/assets/customers/images/event/event-9.jpg" alt="Event Image">
                    </div>
                    <div class="content">
                        <div class="meta">
                            <span><span class="fas fa-calendar-alt"></span><a href="#">September 25, 2022</a></span>
                            <h3 class="title"><a href="#">How To Enjoy Adventure
                                Trip With Gowilds</a></h3>
                            <p class="location"><span class="fas fa-map-marker-alt"></span> Gaafu Dhaalu Atoll, Maldives
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="gowilds-pagination wow fadeInUp text-center">
                    <li><a href="#"><span class="fas fa-arrow-left"></span></a></li>
                    <li><a href="#" class="active">01</a></li>
                    <li><a href="#">02</a></li>
                    <li><a href="#">03</a></li>
                    <li><a href="#">04</a></li>
                    <li><a href="#"><span class="fas fa-arrow-right"></span></a></li>
                </ul>
            </div>
        </div>
    </div>
</section><!--====== End Events Section ======-->

<!--====== Start CTA Section ======-->
<section class="cta-bg overlay bg_cover pt-150 pb-150"
         style="background-image: url(/assets/customers/images/bg/cta-bg2.jpg);">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-7 col-lg-8">
                <!--=== CTA Content Box ===-->
                <div class="cta-content-box text-white wow fadeInLeft">
                    <h2 class="mb-35">Bạn đã sẵn sàng cho chuyến du lịch của mình!</h2>
                    <a href="" class="main-btn primary-btn">Để Lại thông tin
                        <svg class="svg-inline--fa fa-paper-plane" aria-hidden="true" focusable="false"
                             data-prefix="fas" data-icon="paper-plane" role="img"
                             xmlns="http://www.w3.org/2000/svg" viewBox="-50 -23 680 520" data-fa-i2svg="">
                            <path fill="currentColor"
                                  d="M511.6 36.86l-64 415.1c-1.5 9.734-7.375 18.22-15.97 23.05c-4.844 2.719-10.27 4.097-15.68 4.097c-4.188 0-8.319-.8154-12.29-2.472l-122.6-51.1l-50.86 76.29C226.3 508.5 219.8 512 212.8 512C201.3 512 192 502.7 192 491.2v-96.18c0-7.115 2.372-14.03 6.742-19.64L416 96l-293.7 264.3L19.69 317.5C8.438 312.8 .8125 302.2 .0625 289.1s5.469-23.72 16.06-29.77l448-255.1c10.69-6.109 23.88-5.547 34 1.406S513.5 24.72 511.6 36.86z"></path>
                        </svg>
                    </a>
                </div>
            </div>
            <div class="col-xl-5 col-lg-4">
                <div class="play-box text-lg-end text-center wow fadeInRight">
                    <a href="https://www.youtube.com/watch?v=ibuUmMhD2Pg" class="video-popup"><span
                            class="fas fa-play"></span></a>
                </div>
            </div>
        </div>
    </div>
</section><!--====== End CTA Section ======-->