<div ng-include="'app/component/utils/loading-html.html'"></div>

<!--====== Start Booking Form ======-->
<div class="container-fluid overflow-hidden px-lg-0">
    <section class="h-100" id="cart">
        <div class="container py-4">
            <!--====== Start Breadcrumb Section ======-->
            <section class="pt-15 pb-15 mt-50 rounded-2"
                     style="background: rgb(238, 251, 244); border: 1px solid rgb(39, 174, 96)">
                <div class="container d-flex justify-content-center">
                    <span class="fw-medium fs-5 mx-2">Thời gian thanh toán còn lại là</span>
                    <div class="container-time pb-1">
                        <p class="time fw-bold fs-5 pt-1 text-white">
                            {{ minutes }} : {{ seconds | twoDigit }}
                        </p>
                    </div>
                </div>
            </section><!--====== End Breadcrumb Section ======-->

            <form ng-submit="submitBooking()" method="post" name="transportBookingForm">
                <div class="row d-flex justify-content-center my-4">
                    <div class="col-md-8">
                        <div class="card mb-4">
                            <div class="card-header py-3 bg-white">
                                <h5 class="mb-0">
                                    Thông tin liên hệ
                                </h5>
                            </div>

                            <div class="card-body">
                                <div class="form-floating mb-3">
                                    <input type="text"
                                           class="form-control"
                                           id="customer_name"
                                           name="customerName"
                                           ng-model="bookingTransport.customerName"
                                           ng-class="{ 'is-invalid': transportBookingForm.customerName.$invalid && transportBookingForm.customerName.$touched,
                                                                'is-valid': transportBookingForm.customerName.$valid && transportBookingForm.customerName.$touched }"
                                           ng-pattern="/^[\p{L}'][\p{L}'\s-]{0,}$/u"
                                           placeholder="name@example.com"
                                           required
                                    >
                                    <label for="customer_name">Tên người đại diện
                                        <i class="text-danger">*</i>
                                    </label>
                                    <small class="text-danger"
                                           ng-show="transportBookingForm.customerName.$touched && transportBookingForm.customerName.$error.required">
                                        Vui lòng nhập họ và tên !
                                    </small>
                                    <small class="text-danger"
                                           ng-show="transportBookingForm.customerName.$touched && transportBookingForm.customerName.$error.pattern">
                                        Họ và tên không đúng định dạng !
                                    </small>
                                </div>

                                <div class="row">
                                    <div class="col-6">
                                        <div class="form-floating mb-3">
                                            <input type="tel"
                                                   class="form-control"
                                                   id="customer_phone"
                                                   maxlength="10"
                                                   name="customerPhone"
                                                   ng-model="bookingTransport.customerPhone"
                                                   ng-class="{ 'is-invalid': transportBookingForm.customerPhone.$invalid && transportBookingForm.customerPhone.$touched, 
                                                                'is-valid': transportBookingForm.customerPhone.$valid && transportBookingForm.customerPhone.$touched }"
                                                   ng-pattern="/^(0[0-9]{9}|84[0-9]{9})$/"
                                                   placeholder="name@example.com"
                                                   required
                                            >
                                            <label for="customer_phone">
                                                Số điện thoại<i class="text-danger">*</i>
                                            </label>
                                            <small class="text-danger"
                                                   ng-show="transportBookingForm.customerPhone.$touched && transportBookingForm.customerPhone.$error.required">
                                                Vui lòng nhập số điện thoại !
                                            </small>
                                            <small class="text-danger"
                                                   ng-show="transportBookingForm.customerPhone.$touched && transportBookingForm.customerPhone.$error.pattern">
                                                Số điện thoại không đúng định dạng !
                                            </small>
                                        </div>
                                    </div>

                                    <div class="col-6">
                                        <div class="form-floating mb-3">
                                            <input type="email"
                                                   class="form-control"
                                                   id="customer_email"
                                                   name="customerEmail"
                                                   ng-model="bookingTransport.customerEmail"
                                                   ng-class="{ 'is-invalid': transportBookingForm.customerEmail.$invalid && transportBookingForm.customerEmail.$touched, 
                                                                'is-valid': transportBookingForm.customerEmail.$valid && transportBookingForm.customerEmail.$touched }"
                                                   ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]+$/"
                                                   placeholder="name@example.com"
                                                   required
                                            >
                                            <label for="customer_phone">Email để nhận thông tin đặt chổ
                                                <i class="text-danger">*</i>
                                            </label>
                                            <small class="text-danger"
                                                   ng-show="transportBookingForm.customerEmail.$touched && transportBookingForm.customerEmail.$error.required">
                                                Vui lòng nhập địa chỉ email !
                                            </small>
                                            <small class="text-danger"
                                                   ng-show="transportBookingForm.customerEmail.$touched && transportBookingForm.customerEmail.$error.pattern">
                                                Địa chỉ email không đúng định dạng !
                                            </small>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-floating mb-3">
                                    <textarea class="form-control"
                                              rows="5"
                                              id="order_note"
                                              name="orderNote"
                                              ng-model="bookingTransport.orderNote"
                                              placeholder="name@example.com"
                                    ></textarea>
                                    <label for="order_note">Ghi chú trong chuyến đi</label>
                                </div>

                                <div class="TrustMessage__Container-bei6cg-0 denlzE trust-message-content-container trust undefined">
                                    <div class="d-flex justify-content-center">
                                        <img src="/assets/customers/images/transport/verified_user.png"
                                             class="img-fluid w-50" alt="">
                                    </div>
                                    <p class="fw-medium trust-message-content">
                                        Số điện thoại và email được sử dụng để gửi thông tin đơn hàng và liên hệ khi cần
                                        thiết.</p>
                                </div>
                            </div>
                        </div>

                        <div class="card mb-4 mb-lg-0">
                            <div class="row m-1 mt-4">
                                <div class="col-lg-12 mb-3 border-bottom">
                                    <div class="ehBbRO payment-method-detail mb-3">
                                        <label class="COP ant-radio-wrapper d-flex align-items-center">
                                            <input type="radio" class="ant-radio-input" value="Travel"
                                                   ng-model="selectedPaymentMethod"
                                                   ng-click="togglePaymentGuide('Travel')">
                                            <img src="https://229a2c9fe669f7b.cmccloud.com.vn/httpImage/bus_station.svg"
                                                 alt="COP"
                                                 class="PaymentMethodDetail__SvgIcon-w82yqq-2 ofcui ms-2 mx-2">
                                            <span>
                                            <p class="fw-medium fs-6">
                                                Thanh toán tại nhà xe
                                            </p>
                                        </span>
                                        </label>
                                        <div class="detail-content-container">
                                            <p class="base__Body02-sc-1tvbuqk-23 gymsWw">
                                                Bạn phải ra văn phòng nhà xe thanh toán cho nhân viên tại quầy để lấy vé
                                                trước
                                            </p>
                                        </div>
                                        <div class="PaymentMethodDetail__GuideWrapper-w82yqq-1 OlGSl"
                                             ng-show="showPaymentGuide.Travel">
                                            <div class="ant-collapse ant-collapse-icon-position-left">
                                                <div class="ant-collapse-item">
                                                    <div class="ant-collapse-content ant-collapse-content-active"
                                                         style="">
                                                        <div class="ant-collapse-content-box mt-3">
                                                        <span class="fw-medium">
                                                            Hướng dẫn thanh toán
                                                        </span>
                                                            <div class="PaymentMethods__GuildContainer-sc-6pvdqp-5 jCaFku">
                                                                <p>
                                                                    Bạn hãy đến phòng vé của nhà xe Bình Minh Bus để
                                                                    thanh toán số tiền 1.498.000đ cho mã đặt chỗ
                                                                    M15Y9R6.
                                                                    <br>
                                                                    Địa chỉ:
                                                                    <br>
                                                                    VP Sài Gòn: 99 Nguyễn Cư Trinh, P.Nguyễn Cư Trinh,
                                                                    Q1
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 mb-3 border-bottom">
                                    <div class="ehBbRO payment-method-detail mb-3">
                                        <label class="COP ant-radio-wrapper d-flex align-items-center">
                                            <input type="radio" class="ant-radio-input" value="Momo"
                                                   ng-model="selectedPaymentMethod"
                                                   ng-click="togglePaymentGuide('Momo')">
                                            <img src="https://229a2c9fe669f7b.cmccloud.com.vn/httpImage/momo.svg"
                                                 alt="COP"
                                                 class="PaymentMethodDetail__SvgIcon-w82yqq-2 ofcui ms-2 mx-2">
                                            <span>
                                            <p class="fw-medium fs-6">
                                                Ví MoMo
                                            </p>
                                        </span>
                                        </label>
                                        <div class="detail-content-container">
                                            <p class="base__Body02-sc-1tvbuqk-23 gymsWw">
                                                Điện thoại của bạn phải được cài đặt ứng dụng MoMo
                                                <br>
                                                Nhập mã MMVXR40, MMVXR200 hoặc MMVXR500 tại ứng dụng MoMo - Giảm đến
                                                500K
                                                cho khách hàng mới của MoMo khi mua vé trên ứng dụng/website Vexere
                                                <br>
                                                Điều kiện sử dụng
                                            </p>
                                        </div>
                                        <div class="PaymentMethodDetail__GuideWrapper-w82yqq-1 OlGSl"
                                             ng-show="showPaymentGuide.Momo">
                                            <div class="ant-collapse ant-collapse-icon-position-left">
                                                <div class="ant-collapse-item">
                                                    <div class="ant-collapse-content ant-collapse-content-active"
                                                         style="">
                                                        <div class="ant-collapse-content-box mt-3">
                                                        <span class="fw-medium">
                                                            Hướng dẫn thanh toán
                                                        </span>
                                                            <div class="PaymentMethods__GuildContainer-sc-6pvdqp-5 jCaFku">
                                                                <p>1. Bạn sẽ được chuyển đến ứng dụng Momo<br>
                                                                    2. Nhập thông tin thẻ thanh toán mới hoặc chọn thanh
                                                                    toán qua ví Momo/thẻ đã liên kết với ví Momo<br>
                                                                    3. Chọn "Thanh toán" để tiến thành thanh toán vé
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 mb-3 border-bottom">
                                    <div class="ehBbRO payment-method-detail mb-3">
                                        <label class="COP ant-radio-wrapper d-flex align-items-center">
                                            <input type="radio" class="ant-radio-input" value="VNPay"
                                                   ng-model="selectedPaymentMethod"
                                                   ng-click="togglePaymentGuide('VNPay')">
                                            <img src="https://229a2c9fe669f7b.cmccloud.com.vn/httpImage/vn_pay.svg"
                                                 alt="COP"
                                                 class="PaymentMethodDetail__SvgIcon-w82yqq-2 ofcui ms-2 mx-2">
                                            <span>
                                            <p class="fw-medium fs-6">
                                                Ví VNPAY
                                            </p>
                                        </span>
                                        </label>
                                        <div class="detail-content-container">
                                            <p class="base__Body02-sc-1tvbuqk-23 gymsWw">
                                                Thiết bị cần cài đặt Ứng dụng ngân hàng (Mobile Banking) hoặc Ví VNPAY
                                                <br>
                                                Nhập mã VNPAYVEXERE tại ứng dụng VNPAY – Giảm đến 40K khi đặt dịch vụ
                                                Vexere
                                                <br>
                                                Điều kiện sử dụng
                                            </p>
                                        </div>
                                        <div class="PaymentMethodDetail__GuideWrapper-w82yqq-1 OlGSl"
                                             ng-show="showPaymentGuide.VNPay">
                                            <div class="ant-collapse ant-collapse-icon-position-left">
                                                <div class="ant-collapse-item">
                                                    <div class="ant-collapse-content ant-collapse-content-active"
                                                         style="">
                                                        <div class="ant-collapse-content-box mt-3">
                                                        <span class="fw-medium">
                                                            Hướng dẫn thanh toán
                                                        </span>
                                                            <div class="PaymentMethods__GuildContainer-sc-6pvdqp-5 jCaFku">
                                                                <p>
                                                                    1. Đăng nhập Ứng dụng ngân hàng hoặc Ví VNPAY
                                                                    <br>
                                                                    2. Quét mã VNPAY-QR để thanh toán
                                                                    <br>
                                                                    3. Nhập số tiền thanh toán & mã giảm giá (nếu có),
                                                                    xác minh giao dịch để đặt vé
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 mb-3">
                                    <div class="ehBbRO payment-method-detail mb-3">
                                        <label class="COP ant-radio-wrapper d-flex align-items-center">
                                            <input type="radio"
                                                   value="ZaloPay"
                                                   class="ant-radio-input"
                                                   ng-model="selectedPaymentMethod"
                                                   ng-click="togglePaymentGuide('ZaloPay')">
                                            <img src="https://229a2c9fe669f7b.cmccloud.com.vn/httpImage/zalo_pay.svg"
                                                 alt="COP"
                                                 class="PaymentMethodDetail__SvgIcon-w82yqq-2 ofcui ms-2 mx-2">
                                            <span>
                                            <p class="fw-medium fs-6">
                                                Ví Zalopay
                                            </p>
                                        </span>
                                        </label>
                                        <div class="detail-content-container">
                                            <p class="base__Body02-sc-1tvbuqk-23 gymsWw">
                                                Điện thoại của bạn phải được cài đặt ứng dụng Zalopay
                                                <br>
                                                Nhập mã XEKHACH10 hoặc XEKHACH100 tại ứng dụng ZaloPay - Giảm đến 10%
                                                tối đa
                                                100K cho đơn hàng Vexere khi thanh toán bằng ví ZaloPay
                                                <br>
                                                Điều kiện sử dụng
                                            </p>
                                        </div>
                                        <div class="PaymentMethodDetail__GuideWrapper-w82yqq-1 OlGSl"
                                             ng-show="showPaymentGuide.ZaloPay">
                                            <div class="ant-collapse ant-collapse-icon-position-left">
                                                <div class="ant-collapse-item">
                                                    <div class="ant-collapse-content ant-collapse-content-active"
                                                         style="">
                                                        <div class="ant-collapse-content-box mt-3">
                                                        <span class="fw-medium">
                                                            Hướng dẫn thanh toán
                                                        </span>
                                                            <div class="PaymentMethods__GuildContainer-sc-6pvdqp-5 jCaFku">
                                                                <p>
                                                                    1. Bạn sẽ được chuyển đến ứng dụng ZaloPay
                                                                    <br>
                                                                    2. Nhập thông tin thẻ thanh toán mới hoặc chọn thanh
                                                                    toán qua ví ZaloPay/thẻ đã liên kết với ví ZaloPay
                                                                    <br>
                                                                    3. Chọn "Thanh toán" để tiến thành thanh toán vé.
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="private-policy mt-4">
                                    <div class="mb-3">
                                        <label class="form-check-label">
                                            <input type="checkbox"
                                                   class="form-check-input"
                                                   ng-model="checkPrivatePolicy"
                                            >
                                            Tôi đã đọc và đồng ý
                                            <strong class="fw-medium text-green">
                                                <a href="/payment-policy">điều khoản</a>
                                            </strong>
                                        </label>
                                        <br>
                                        <div style="width:100%;height:250px;overflow-y: scroll;padding: 10px;margin:0;border: 1px solid #ccc;border-right: 2px solid #ccc;">
                                            <p>Điều khoản này là sự thoả thuận đồng ý của quý khách khi sử dụng dịch vụ
                                                thanh toán trên trang web <a href="">TravelTour</a>
                                                của Công ty Dịch vụ Lữ hành TravelTour (Lữ hành TravelTour) và những
                                                trang web của bên thứ ba. Việc quý khách đánh dấu vào ô “Đồng ý” và nhấp
                                                chuột vào thanh “Chấp nhận” nghĩa là quý khách đồng ý tất cả các điều
                                                khoản
                                                thỏa thuận trong các trang web này.</p>

                                            <p>&nbsp;</p>

                                            <p><strong>Giải thích từ ngữ</strong></p>

                                            <p>Điều khoản: là những điều quy định giữa Lữ hành TravelTour và quý
                                                khách</p>

                                            <p>Bên thứ ba: là những đơn vị liên kết với Lữ hành TravelTour (OnePay,
                                                Vietcombank) nhằm hỗ trợ việc thanh toán qua mạng cho quý khách</p>

                                            <p>Vé điện tử: là những thông tin và hành trình của quý khách cho chuyến đi
                                                được
                                                thể hiện trên một trang giấy mà quý khách có thể in ra được</p>

                                            <p><strong>Về sở hữu bản quyền</strong></p>

                                            <p>Trang web <a href="">TravelTour</a>
                                                thuộc quyền sở hữu của Lữ hành TravelTour và được bảo vệ theo luật bản
                                                quyền, quý khách chỉ được sử dụng trang web này với mục đích xem thông
                                                tin
                                                và đăng ký thanh toán online cho cá nhân chứ không được sử dụng cho bất
                                                cứ
                                                mục đích thương mại nào khác.</p>

                                            <p>Việc lấy nội dung để tham khảo, làm tài liệu cho nghiên cứu phải ghi rõ
                                                ràng
                                                nguồn lấy từ nội dung trang web Lữ hành TravelTour. Không được sử dụng
                                                các logo, các nhãn hiệu&nbsp;Lữ hành Lữ hành TravelTour dưới mọi hình
                                                thức nếu chưa có sự đồng ý của&nbsp;Lữ hành&nbsp;TravelTour bằng văn
                                                bản.</p>

                                            <p><strong>Về thông tin khách hàng</strong></p>

                                            <p>Khi đăng ký thanh toán qua mạng, quý khách sẽ được yêu cầu cung cấp một
                                                số
                                                thông tin cá nhân và thông tin tài khoản.</p>

                                            <p>Đối với thông tin cá nhân: Những thông tin này chỉ để phục vụ cho nhu cầu
                                                xác
                                                nhận sự mua dịch vụ của quý khách và sẽ hiển thị những nội dung cần
                                                thiết
                                                trên vé điện tử. Lữ hành TravelTour cũng sẽ sử dụng những thông tin liên
                                                lạc này để gửi đến quý khách những sự kiện, những tin tức khuyến mãi và
                                                những ưu đãi đặc biệt nếu quý khách đồng ý. Những thông tin này của quý
                                                khách sẽ được Lữ hành TravelTour bảo mật và không tiết lộ cho bên thứ ba
                                                biết ngoại trừ sự đồng ý của quý khách hoặc là phải tiết lộ theo sự tuân
                                                thủ
                                                luật pháp quy định.</p>

                                            <p>Đối với thông tin tài khoản: Những thông tin này sẽ được Lữ hành
                                                TravelTour và bên thứ ba áp dụng những biện pháp bảo mật cao nhất do các
                                                hệ thống thanh toán nổi tiếng trên thế giới như Visa và MasterCard cung
                                                cấp
                                                nhằm đảm bảo sự an toàn tuyệt đối của thông tin tài khoản quý khách.</p>

                                            <p><strong>Về trang web liên kết</strong></p>

                                            <p>Các trang web của Lữ hành TravelTour có chứa những liên hệ kết nối với
                                                trang web của bên thứ ba. Việc liên kết trang web của bên thứ ba này
                                                nhằm
                                                chỉ cung cấp những sự tiện lợi cho quý khách chứ không phải là sự tán
                                                thành,
                                                chấp nhận những nội dung, thông tin sản phẩm của những trang web bên thứ
                                                ba.
                                                Lữ hành TravelTour sẽ không chiu trách nhiệm về bất cứ trách nhiệm pháp
                                                lý nào liên quan đến những thông tin gì trong các trang web bên thứ
                                                ba.</p>

                                            <p><strong>Về hủy tour</strong></p>

                                            <p>Trong trường hợp hủy tour, quý khách vui lòng gửi email thông báo hủy
                                                tour
                                                đến Lữ hành TravelTour. Lữ hành TravelTour sẽ trao đổi và xác nhận lại
                                                tất cả các thông tin của quý khách. Khi hoàn tất việc xác nhận thông
                                                tin, Lữ
                                                hành TravelTour sẽ hoàn tiền vào đúng tài khoản quý khách đã thanh toán
                                                sau khi trừ các khoản lệ phí hủy tour. Lệ phí hủy tour sẽ tùy thuộc vào
                                                từng
                                                tour tuyến quý khách đăng ký.</p>

                                            <p><strong>Trách nhiệm của Lữ hành TravelTour</strong></p>

                                            <p>Lữ hành TravelTour có nhiệm vụ bảo mật và lưu trữ an toàn các thông tin
                                                của quý khách với sự nghiêm túc cao nhất.</p>

                                            <p>Giải quyết những thắc mắc, sai sót, vi phạm mà quý khách gặp phải trong
                                                quá
                                                trình thanh toán nếu do lỗi của Lữ hành TravelTour.</p>

                                            <p>Đảm bảo thực hiện đầy đủ mọi dịch vụ theo đúng chương trình mà quý khách
                                                đăng
                                                ký. Tuy nhiên chúng tôi có toàn quyền thay đổi lộ trình hoặc hủy bỏ
                                                chuyến
                                                đi du lịch bất cứ lúc nào mà chúng tôi thấy cần thiết vì sự an toàn cho
                                                quý
                                                khách.</p>

                                            <p>Mọi thay đổi nếu có sẽ được thông báo nhanh chóng cho quý khách ngay
                                                trước
                                                ngày khởi hành hoặc ngay sau khi phát hiện những phát sinh.</p>

                                            <p><strong>Trường hợp miễm trách nhiệm đối với Lữ hành TravelTour</strong>
                                            </p>

                                            <p>Lữ hành TravelTour không chịu trách nhiệm về tất cả những thông tin mà
                                                quý
                                                khách cung cấp bởi chúng tôi không dễ dàng xác nhận chính xác quý khách
                                                nào
                                                đăng ký thông tin.</p>

                                            <p>Lữ hành TravelTour không chịu trách nhiệm về việc thông tin của quý khách
                                                bị lấy cắp nếu như việc lấy cắp được thực hiện từ máy của quý khách do
                                                bị
                                                nhiễm virus máy tính hay do nguyên nhân nào khác.</p>

                                            <p>Lữ hành TravelTour không chịu trách nhiệm đối với quý khách nếu xảy ra
                                                việc hệ thống máy tính của quý khách bị hư hại trong khi đang thanh toán
                                                hoặc bị can thiệp liên quan tới việc sử dụng một trang bên ngoài.</p>

                                            <p>Lữ hành TravelTour không chịu trách nhiệm về việc mất dữ liệu thông tin
                                                của quý khách do sự cố khách quan như: thiên tai, hạn hán, hỏa hoạn,
                                                chiến
                                                tranh,…</p>

                                            <p><strong>Trách nhiệm của khách hàng</strong></p>

                                            <p>Quý khách cam kết hoàn toàn chịu trách nhiệm về các thông tin cá nhân,
                                                thông
                                                tin thẻ tín dụng đã được khai báo là trung thực, chính xác. Nếu có sai
                                                sót,
                                                giả mạo hay tranh chấp phát sinh thì Lữ hành TravelTour có quyền hủy
                                                tour
                                                đã mua của quý khách.</p>

                                            <p>Quý khách có nhiệm vụ kiểm tra thông tin tài khoản để kịp thời để báo cho
                                                Lữ
                                                hành TravelTour nếu có những sự cố. Thời hạn trong vòng 30 ngày tính từ
                                                ngày thanh toán, Lữ hành TravelTour sẽ không nhận giải quyết bất cứ kiếu
                                                nại nào từ việc thanh toán.</p>

                                            <p>Quý khách không sử dụng các nội dung của trang web do Lữ hành TravelTour
                                                quản lý cho mục đích thương mại nếu như chưa có sự đồng ý.</p>

                                            <p>Quý khách cần tự áp dụng cài đặt các biện pháp phòng ngừa để bảo đảm rằng
                                                bất
                                                cứ lựa chọn nào của quý khách khi sử dụng các trang web của Lữ hành
                                                TravelTour không bị virus hoặc bất cứ mối đe dọa nào khác từ ngoài có
                                                thể
                                                can thiệp hoặc gây hư hại cho hệ thống máy tính của quý khách.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="button-footer-transport mt-30">
                            <a class="btn btn-outline-green rounded-0 ps-4 p-2 px-4 ms-4"
                               href="#" ng-click="goBack()" role="button">
                                <i class="fa-solid fa-arrow-left"></i>
                                TRỞ VỀ
                            </a>
                            <button type="submit"
                                    ng-disabled="transportBookingForm.$invalid"
                                    class="btn btn-outline-green rounded-0 ps-4 p-2 px-4 mx-4 float-end">
                                TIẾP THEO
                                <i class="fa-solid fa-arrow-right"></i>
                            </button>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card mb-4">
                            <div class="card-header py-3 bg-white">
                                <h5 class="mb-0">Thông tin chuyến đi</h5>
                            </div>
                            <div class="card-body">
                                <div class="BoxReviewInfoTicketRoundTrip__Container-as8crw-0 cKlGoa">
                                    <div class="section-ticket-header pointer">
                                        <div class="section-ticket-header-left">
                                            <img class="bus-blue-icon ls-is-cached lazyloaded"
                                                 data-src="https://229a2c9fe669f7b.cmccloud.com.vn/svgIcon/bus_blue_24dp.svg"
                                                 src="https://229a2c9fe669f7b.cmccloud.com.vn/svgIcon/bus_blue_24dp.svg"
                                                 alt="bus_blue_icon" width="16" height="16">
                                            <p class="base__Caption01Highlight-sc-1tvbuqk-17 jCbuWT">
                                                {{ transportSchedule.departureTime | formatTime }} •
                                                Tại bến xe trung tâm {{ transportSchedule.fromLocation }}
                                            </p>
                                            <div class="total-ticket ms-4">
                                                <img class="people-icon ls-is-cached lazyloaded"
                                                     data-src="https://229a2c9fe669f7b.cmccloud.com.vn/svgIcon/people_alt_black_24dp.svg"
                                                     src="https://229a2c9fe669f7b.cmccloud.com.vn/svgIcon/people_alt_black_24dp.svg"
                                                     alt="people_alt_black_icon" width="16"
                                                     height="16">
                                                <p class="jPSIDj">{{ totalAmountSeat }}</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="section-ticket-content">
                                        <div class="border-bottom">
                                            <div class="row mt-3 mb-3 d-flex align-items-center">
                                                <div class="col-3">
                                                    <a href="#">
                                                        <img ng-src="{{ transportSchedule.transportationsByTransportationId.transportationImg }}"
                                                             ng-click="openImageModal(transportSchedule.transportationsByTransportationId.transportationImg)"
                                                             class="rounded-3"
                                                             alt="avatar"
                                                             src=""
                                                        >
                                                    </a>
                                                </div>
                                                <div class="col-8">
                                                    <p class="base__Headline03-sc-1tvbuqk-15 boemqK fw-medium fs-6">
                                                        {{ transportSchedule.transportationBrandsByTransportationBrandId.transportationBrandName }}
                                                    </p>
                                                    <p class="base__SmallCaption-sc-1tvbuqk-32 eSKsXb">
                                                        {{
                                                            transportSchedule.transportationTypesByTransportationTypeId.transportationTypeName +
                                                            ' (' + transportSchedule.transportationsByTransportationId.amountSeat + ' chổ)'
                                                        }}
                                                    </p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="BoxReviewInfoTicketRoundTrip__BoxTicketRouteDetailContainer-as8crw-2 evVLoJ">
                                            <div class="section-route-info">
                                                <div class="AreaPointDetailRoundTrip__Container-sc-1wmtowp-0 dlwjtp">
                                                    <div class="area-point-container pointer">
                                                        <div class="date-time-container">
                                                            <div class="date-time-container-pick-up">
                                                                <div class="base__Headline01-sc-1tvbuqk-44 kxACTE">
                                                                    {{ transportSchedule.departureTime | formatTime }}
                                                                </div>
                                                                <p class="gzSlSc" style="font-size: 14px">
                                                                    ({{ transportSchedule.departureTime | formatDate }})
                                                                </p>
                                                            </div>
                                                        </div>
                                                        <div class="icon-container">
                                                            <div class="icon-container-top"><img
                                                                    class="pickup-icon ls-is-cached lazyloaded"
                                                                    data-src="https://229a2c9fe669f7b.cmccloud.com.vn/svgIcon/pickup_vex_blue_24dp.svg"
                                                                    src="https://229a2c9fe669f7b.cmccloud.com.vn/svgIcon/pickup_vex_blue_24dp.svg"
                                                                    alt="pickup-icon" width="12" height="12">
                                                            </div>
                                                            <div class="icon-container-divider">
                                                                <div class="icon-container-divider-border-right"></div>
                                                                <div class="icon-container-divider-border-left"></div>
                                                            </div>
                                                        </div>
                                                        <div class="section-area">
                                                            <div class="section-area-picker">
                                                                <p class="base__Caption01Highlight-sc-1tvbuqk-17 jCbuWT">
                                                                    Vp bến xe {{ transportSchedule.fromLocation }}
                                                                </p>
                                                                <p class="base__SmallCaption-sc-1tvbuqk-32 eSKsXb color--medium-sub">
                                                                    {{ transportSchedule.fromAddress }}
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="AreaPointDetailRoundTrip__Container-sc-1wmtowp-0 dlwjtp">
                                                    <div class="area-point-container pointer">
                                                        <div class="date-time-container">
                                                            <div class="date-time-container-drop-off">
                                                                <div class="base__Headline01-sc-1tvbuqk-44 kxACTE">
                                                                    {{ transportSchedule.arrivalTime | formatTime }}
                                                                </div>
                                                                <p class="gzSlSc" style="font-size: 14px">
                                                                    ({{ transportSchedule.arrivalTime | formatDate }})
                                                                </p>
                                                            </div>
                                                        </div>
                                                        <div class="progress-location">
                                                            <div class="icon-container">
                                                                <div class="icon-container-divider">
                                                                    <div class="icon-container-divider-border-right"></div>
                                                                    <div class="icon-container-divider-border-left"></div>
                                                                </div>
                                                                <div class="icon-container-bottom">
                                                                    <img class="dropoff-icon ls-is-cached lazyloaded"
                                                                         data-src="https://229a2c9fe669f7b.cmccloud.com.vn/svgIcon/dropoff_semantic_negative_12dp.svg"
                                                                         src="https://229a2c9fe669f7b.cmccloud.com.vn/svgIcon/dropoff_semantic_negative_12dp.svg"
                                                                         alt="dropoff-icon" width="12" height="12">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="section-area">
                                                            <div class="section-area-picker">
                                                                <p class="base__Caption01Highlight-sc-1tvbuqk-17 jCbuWT">
                                                                    Vp bến xe {{ transportSchedule.toLocation }}
                                                                </p>
                                                                <p class="base__SmallCaption-sc-1tvbuqk-32 eSKsXb color--medium-sub">
                                                                    {{ transportSchedule.toAddress }}
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card mb-4">
                            <div class="card-header py-3 bg-white">
                                <h5 class="mb-0">Chi tiết đơn hàng</h5>
                            </div>
                            <div class="card-body">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item d-flex justify-content-between border-0 px-0 pb-0">
                                        Giá vé:
                                        <div class="info-ticket">
                                            <span class="fw-medium float-end">
                                                {{ totalPrice / totalAmountSeat | vnCurrency }} x {{ totalAmountSeat }}
                                            </span>
                                            <br>
                                            <span style="font-size: 13px">Mã ghế/giường:
                                                <span class="fw-medium text-green" ng-repeat="seat in seatNumber">
                                                    {{ seat }}<span ng-if="!$last">,&nbsp;</span>
                                                </span>
                                            </span>
                                        </div>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3">
                                        <div class="sub-total">
                                            <strong>Tạm tính:</strong>
                                            <strong><p class="mb-0">(Đã bao gồm phí VAT)</p></strong>
                                        </div>
                                        <span class="fw-medium">{{ totalPrice | vnCurrency }}</span>
                                    </li>
                                </ul>
                                <div class="d-flex justify-content-center fw-medium text-danger">
                                    Kiểm tra kỹ thông tin trước khi thanh toán
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>
</div><!--====== End Booking Form ======-->

<!-- Modal -->
<div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="imageModalLabel">Ảnh xe</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <img src="" id="modalImage" class="img-fluid" alt="Ảnh phương tiện">
            </div>
        </div>
    </div>
</div>