<div class="container">
    <div class="header-control mb-4">
        <div class="header-control-center">
            <div class="d-flex justify-content-between align-items-center row ">
                <div class="col-xl-6 mt-3">
                    <h3 class="color-green fw-bold">LỊCH HOẠT ĐỘNG PHƯƠNG TIỆN</h3>
                </div>
            </div>
            <div class="mt-3 fw-bold">Công ty:
                <span>{{ transportBrand.transportationBrandName || 'Đang tải...' }}</span></div>
        </div>
    </div>

    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
        <li class="nav-item" role="presentation">
            <a class="nav-link cursor-pointer" id="pills-false-tab" data-bs-toggle="pill" role="tab"
               ng-class="{active: currentTab === 'permanent'}"
               ng-click="changeTab('permanent', false)">Xe tuyến cố định</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link cursor-pointer" id="pills-true-tab" data-bs-toggle="pill" role="tab"
               ng-class="{active: currentTab === 'contract'}"
               ng-click="changeTab('contract', true)">Xe hợp đồng</a>
        </li>
    </ul>

    <div class="">
        <div class="card card-customer">
            <div class="row" style="margin: 20px 16px 20px 16px">
                <div class="col-xl-4">
                    Bạn muốn tìm kiếm gì ?
                    <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1">
                                <a href="#" class="bg-light text-dark">
                                    <i class="fa-solid fa-magnifying-glass bg-light"></i>
                                </a>
                            </span>
                        <input type="text"
                               class="form-control"
                               placeholder="Tìm kiếm mã, giá, điểm đi, đến..."
                               ng-model="searchTerm"
                               ng-change="searchTransportationSchedules()"
                        >
                    </div>
                </div>
                <div class="col-xl-8 d-flex align-items-center justify-content-end mb-3 h-100"
                     style="margin: 20px 0 0 0">
                    <a href="/business/transport/schedules-management/create-schedules" class="btn btn-primary">
                        <i class="fa-solid fa-plus" style="margin-right: 10px"></i>
                        Tạo lịch trình
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="table-components table-responsive mb-5" ng-show="currentTab === 'permanent'">
        <div class="card table-responsive table-customer">
            <div class="card-header ">
                <div class="row">
                    <div class="h4 col-lg-5 d-flex align-items-center h-100">
                        <div class="d-flex align-items-center">
                            <span class="h4">Danh sách xe tuyến cố định</span>
                        </div>
                    </div>
                    <div class="d-flex justify-content-end align-items-baseline col-lg-2">
                        <select class="form-select" aria-label="Default select example"
                                ng-model="pageSize"
                                ng-init="pageSize='5'"
                                ng-change="pageSizeChanged()">
                            <option value="5">5</option>
                            <option value="10">10</option>
                            <option value="15">15</option>
                        </select>
                    </div>
                    <div class="d-flex align-items-center justify-content-end h-100 col-lg-5">
                        <nav aria-label="Page navigation example float-end">
                            <ul class="pagination justify-content-center align-items-center">
                                <!-- Previous Page -->
                                <li class="page-item cursor-pointer" ng-class="{disabled: currentPage === 0}">
                                    <a class="page-link" ng-click="setPage(0)">
                                        <i class="fa-solid fa-angles-left"></i>
                                    </a>
                                </li>

                                <!-- Ellipsis at the beginning -->
                                <li class="page-item" ng-if="currentPage > 2 && totalPages > 5">
                                    <span class="page-link">...</span>
                                </li>

                                <!-- Pagination Numbers -->
                                <li class="page-item cursor-pointer" ng-repeat="n in getPaginationRange()"
                                    ng-class="{active: n === currentPage}">
                                    <a class="page-link" ng-click="setPage(n)">{{ n + 1 }}</a>
                                </li>

                                <!-- Ellipsis at the end -->
                                <li class="page-item" ng-if="currentPage < totalPages - 3 && totalPages > 5">
                                    <span class="page-link">...</span>
                                </li>

                                <!-- Next Page -->
                                <li class="page-item cursor-pointer"
                                    ng-class="{disabled: currentPage === totalPages - 1}">
                                    <a class="page-link" ng-click="setPage(totalPages - 1)">
                                        <i class="fa-solid fa-angles-right"></i>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
            <table class="table table-responsive text-center table-striped">
                <div ng-include="'app/component/utils/loading-table.html'"></div>
                <thead>
                <tr class="bg-light">
                    <th>#</th>
                    <th ng-click="sortData('id')">
                        <div class="icon-left">ID
                            <span class="sorting-icon" ng-bind-html="getSortIcon('id')"></span>
                        </div>
                    </th>
                    <th ng-click="sortData('transportationId')">
                        <div class="icon-left">Phương tiện
                            <span class="sorting-icon" ng-bind-html="getSortIcon('transportationId')"></span>
                        </div>
                    </th>
                    <th ng-click="sortData('fromLocation')">
                        <div class="icon-left">Điểm đi
                            <span class="sorting-icon" ng-bind-html="getSortIcon('fromLocation')"></span>
                        </div>
                    </th>
                    <th ng-click="sortData('toLocation')">
                        <div class="icon-left">Điểm đến
                            <span class="sorting-icon" ng-bind-html="getSortIcon('toLocation')"></span>
                        </div>
                    </th>
                    <th ng-click="sortData('bookedSeat')">
                        <div class="icon-left">Số chổ ngồi
                            <span class="sorting-icon" ng-bind-html="getSortIcon('bookedSeat')"></span>
                        </div>
                    </th>
                    <th ng-click="sortData('bookedSeat')">
                        <div class="icon-left">Đã đặt
                            <span class="sorting-icon" ng-bind-html="getSortIcon('bookedSeat')"></span>
                        </div>
                    </th>
                    <th ng-click="sortData('unitPrice')">
                        <div class="icon-left">Giá tiền
                            <span class="sorting-icon" ng-bind-html="getSortIcon('unitPrice')"></span>
                        </div>
                    </th>
                    <th ng-click="sortData('isStatus')">
                        <div class="icon-left">Trạng thái
                            <span class="sorting-icon" ng-bind-html="getSortIcon('isStatus')"></span>
                        </div>
                    </th>
                    <th>Thao tác</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="schedule in transportationScheduleList">
                    <td>{{ $index + 1 }}</td>
                    <td>{{ schedule.id }}</td>
                    <td>{{ transportationList[schedule.transportationId].licensePlate || 'Đang tải...' }}</td>
                    <td>
                        <span custom-tooltip="{{ schedule.fromLocation }}">
                            <span>{{ schedule.fromLocation | limitTo: 8 }}</span>
                            <span ng-show="schedule.fromLocation.length > 8">...</span>
                        </span>
                    </td>
                    <td>
                        <span custom-tooltip="{{ schedule.toLocation }}">
                            <span>{{ schedule.toLocation | limitTo: 8 }}</span>
                            <span ng-show="schedule.toLocation.length > 8">...</span>
                        </span>
                    </td>
                    <td>{{ transportationList[schedule.transportationId].amountSeat + ' Chỗ' || 'Đang tải...' }}</td>
                    <td>{{ schedule.bookedSeat + ' Chỗ' }}</td>
                    <td>{{ schedule.unitPrice | vnCurrency }}</td>
                    <td ng-if="schedule.isStatus == 0">
                        <div class="d-flex align-items-center justify-content-center">
                            <span class="status-warning"></span>
                            <span class="text-status-warning">Chờ vận hành</span>
                        </div>
                    </td>
                    <td ng-if="schedule.isStatus == 1">
                        <div class="d-flex align-items-center justify-content-center">
                            <span class="status-success"></span>
                            <span class="text-status-success">Đang vận hành</span>
                        </div>
                    </td>
                    <td ng-if="schedule.isStatus == 2">
                        <div class="d-flex align-items-center justify-content-center">
                            <span class="status-success"></span>
                            <span class="text-status-success">Đã hoàn tất</span>
                        </div>
                    </td>
                    <td ng-if="schedule.isStatus == 3">
                        <div class="d-flex align-items-center justify-content-center">
                            <span class="status-error"></span>
                            <span class="text-status-error">Hủy chuyến đi</span>
                        </div>
                    </td>
                    <td>
                        <a href="#"
                           ng-click="redirectPage('/business/transport/schedules-management/update-schedules/', schedule.id)"
                           role="button" class="fs-1 px-2 btn text-warning">
                            <span custom-tooltip="Cập nhật lịch trình">
                                <i class="fa-solid fa-pen-to-square"></i>
                            </span>
                        </a>
                        <a href="#"
                           ng-click="redirectPage('/business/transport/schedules-management/order-transport-management/', schedule.id)"
                           role="button" class="fs-1 btn text-primary px-2">
                            <span custom-tooltip="Đặt vé xe">
                                <i class="fa-solid fa-clipboard-list"></i>
                            </span>
                        </a>
                        <a href="#" ng-click="deleteSchedule(schedule.id, schedule.fromLocation, schedule.toLocation)"
                           role="button" class="fs-1 px-2 btn text-danger">
                            <span custom-tooltip="Xóa lịch trình">
                                <i class="fa-solid fa-trash"></i>
                            </span>
                        </a>
                    </td>
                </tr>
                <tr ng-if="transportationScheduleList.length === 0">
                    <td colspan="10">Không có dữ liệu chuyến đi.</td>
                </tr>
                </tbody>
            </table>
            <div class="card-footer">
                <div class="d-flex justify-content-end">
                    {{ getDisplayRange() }} trong tổng số {{ totalElements }}
                </div>
            </div>
        </div>
    </div>
    <div class="table-components table-responsive mb-5" ng-show="currentTab === 'contract'">
        <div class="card table-responsive table-customer">
            <div class="card-header ">
                <div class="row">
                    <div class="h4 col-lg-5 d-flex align-items-center h-100">
                        <div class="d-flex align-items-center">
                            <span class="h4">Danh sách xe hợp đồng</span>
                        </div>
                    </div>
                    <div class="d-flex justify-content-end align-items-baseline col-lg-2">
                        <select class="form-select" aria-label="Default select example"
                                ng-model="pageSize"
                                ng-init="pageSize='5'"
                                ng-change="pageSizeChanged()">
                            <option value="5">5</option>
                            <option value="10">10</option>
                            <option value="15">15</option>
                        </select>
                    </div>
                    <div class="d-flex align-items-center justify-content-end h-100 col-lg-5">
                        <nav aria-label="Page navigation example float-end">
                            <ul class="pagination justify-content-center align-items-center">
                                <!-- Previous Page -->
                                <li class="page-item cursor-pointer" ng-class="{disabled: currentPage === 0}">
                                    <a class="page-link" ng-click="setPage(0)">
                                        <i class="fa-solid fa-angles-left"></i>
                                    </a>
                                </li>

                                <!-- Ellipsis at the beginning -->
                                <li class="page-item" ng-if="currentPage > 2 && totalPages > 5">
                                    <span class="page-link">...</span>
                                </li>

                                <!-- Pagination Numbers -->
                                <li class="page-item cursor-pointer" ng-repeat="n in getPaginationRange()"
                                    ng-class="{active: n === currentPage}">
                                    <a class="page-link" ng-click="setPage(n)">{{ n + 1 }}</a>
                                </li>

                                <!-- Ellipsis at the end -->
                                <li class="page-item" ng-if="currentPage < totalPages - 3 && totalPages > 5">
                                    <span class="page-link">...</span>
                                </li>

                                <!-- Next Page -->
                                <li class="page-item cursor-pointer"
                                    ng-class="{disabled: currentPage === totalPages - 1}">
                                    <a class="page-link" ng-click="setPage(totalPages - 1)">
                                        <i class="fa-solid fa-angles-right"></i>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
            <table class="table table-responsive text-center table-striped">
                <div ng-include="'app/component/utils/loading-table.html'"></div>
                <thead>
                <tr class="bg-light">
                    <th>#</th>
                    <th ng-click="sortData('id')">
                        <div class="icon-left">ID
                            <span class="sorting-icon" ng-bind-html="getSortIcon('id')"></span>
                        </div>
                    </th>
                    <th ng-click="sortData('transportationId')">
                        <div class="icon-left">Phương tiện
                            <span class="sorting-icon" ng-bind-html="getSortIcon('transportationId')"></span>
                        </div>
                    </th>
                    <th ng-click="sortData('fromLocation')">
                        <div class="icon-left">Điểm đi
                            <span class="sorting-icon" ng-bind-html="getSortIcon('fromLocation')"></span>
                        </div>
                    </th>
                    <th ng-click="sortData('toLocation')">
                        <div class="icon-left">Điểm đến
                            <span class="sorting-icon" ng-bind-html="getSortIcon('toLocation')"></span>
                        </div>
                    </th>
                    <th ng-click="sortData('bookedSeat')">
                        <div class="icon-left">Số chổ ngồi
                            <span class="sorting-icon" ng-bind-html="getSortIcon('bookedSeat')"></span>
                        </div>
                    </th>
                    <th ng-click="sortData('bookedSeat')">
                        <div class="icon-left">Đã đặt
                            <span class="sorting-icon" ng-bind-html="getSortIcon('bookedSeat')"></span>
                        </div>
                    </th>
                    <th ng-click="sortData('unitPrice')">
                        <div class="icon-left">Giá tiền
                            <span class="sorting-icon" ng-bind-html="getSortIcon('unitPrice')"></span>
                        </div>
                    </th>
                    <th ng-click="sortData('isStatus')">
                        <div class="icon-left">Trạng thái
                            <span class="sorting-icon" ng-bind-html="getSortIcon('isStatus')"></span>
                        </div>
                    </th>
                    <th>Thao tác</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="schedule in transportationScheduleList">
                    <td>{{ $index + 1 }}</td>
                    <td>{{ schedule.id }}</td>
                    <td>{{ transportationList[schedule.transportationId].licensePlate || 'Đang tải...' }}</td>
                    <td>
                        <span custom-tooltip="{{ schedule.fromLocation }}">
                            <span>{{ schedule.fromLocation | limitTo: 8 }}</span>
                            <span ng-show="schedule.fromLocation.length > 8">...</span>
                        </span>
                    </td>
                    <td>
                        <span custom-tooltip="{{ schedule.toLocation }}">
                            <span>{{ schedule.toLocation | limitTo: 8 }}</span>
                            <span ng-show="schedule.toLocation.length > 8">...</span>
                        </span>
                    </td>
                    <td>{{ transportationList[schedule.transportationId].amountSeat + ' Chỗ' || 'Đang tải...' }}</td>
                    <td>{{ schedule.bookedSeat + ' Chỗ' }}</td>
                    <td>{{ schedule.unitPrice | vnCurrency }}</td>
                    <td ng-if="schedule.isStatus === 4">
                        <div class="d-flex align-items-center justify-content-center">
                            <span class="status-warning"></span>
                            <span class="text-status-warning" custom-tooltip="Chuyến đi đang trống">
                                Chuyến đi đa...
                            </span>
                        </div>
                    </td>
                    <td ng-if="schedule.isStatus === 5">
                        <div class="d-flex align-items-center justify-content-center">
                            <span class="status-warning"></span>
                            <span class="text-status-warning">Đang đợi duyệt</span>
                        </div>
                    </td>
                    <td ng-if="schedule.isStatus === 6">
                        <div class="d-flex align-items-center justify-content-center">
                            <span class="status-success"></span>
                            <span class="text-status-success">Đã được duyệt</span>
                        </div>
                    </td>
                    <td ng-if="schedule.isStatus === 7">
                        <div class="d-flex align-items-center justify-content-center">
                            <span class="status-error"></span>
                            <span class="text-status-error">Từ chối duyệt</span>
                        </div>
                    </td>
                    <td ng-if="schedule.isStatus === 4">
                        <a href="#"
                           ng-click="redirectPage('/business/transport/schedules-management/update-schedules/', schedule.id)"
                           role="button" class="fs-1 px-2 btn text-warning">
                            <span custom-tooltip="Cập nhật">
                                <i class="fa-solid fa-pen-to-square"></i>
                            </span>
                        </a>
                        <a href="#" ng-click="deleteSchedule(schedule.id, schedule.fromLocation, schedule.toLocation)"
                           role="button" class="fs-1 px-2 btn text-danger">
                            <span custom-tooltip="Xóa lịch trình">
                                <i class="fa-solid fa-trash"></i>
                            </span>
                        </a>
                    </td>
                    <td ng-if="schedule.isStatus === 5 || schedule.isStatus === 6 || schedule.isStatus === 7">
                        <button type="button" class="btn text-info"
                                ng-click="modalDetailSchedule(transportationList[schedule.transportationId].id, schedule.id)">
                            <span custom-tooltip="Xem chi tiết">
                                <i class="fs-1 fa-regular fa-eye"></i>
                            </span>
                        </button>
                    </td>
                </tr>
                <tr ng-if="transportationScheduleList.length === 0">
                    <td colspan="10">Không có dữ liệu chuyến đi.</td>
                </tr>
                </tbody>
            </table>
            <div class="card-footer">
                <div class="d-flex justify-content-end">
                    {{ getDisplayRange() }} trong tổng số {{ totalElements }}
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal xem thông tin chi tiết của lịch trình -->
<div class="modal fade" id="modal-schedule-detail" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header text-white">
                <h5 class="modal-title" id="exampleModalLabel">
                    Chi tiết lịch trình của phượng tiện - {{ transportation.licensePlate }}
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <div class="card mb-3">
                                <img class="img-fluid rounded-2" ng-src="{{ transportation.transportationImg }}"
                                     style="height: 500px"/>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="card mb-3">
                                <div class="card-header p-3 fw-bold">
                                    Thông tin xe khách
                                </div>
                                <div class="card-body p-3">
                                    <p class="m-2 fw-medium">Mã xe khách: <span
                                            class="fw-medium">{{ transportation.id }}</span></p>
                                    <p class="m-2 fw-medium">Biển số xe: <span
                                            class="fw-medium">{{ transportation.licensePlate }}</span></p>
                                    <p class="m-2 fw-medium">Số ghế ngồi: <span
                                            class="fw-medium">{{ transportation.amountSeat }} Chổ</span></p>
                                    <p class="m-2 fw-medium">Loại chổ ngồi:
                                        <span class="fw-normal"
                                              ng-if="transportation.isTransportBed === false">
                                                Xe ghế ngồi
                                        </span>
                                        <span class="fw-normal"
                                              ng-if="transportation.isTransportBed === true">
                                                Xe giường nằm
                                        </span>
                                    </p>
                                    <p class="m-2 fw-medium">Loại xe: <span
                                            class="fw-normal">{{ transportType.transportationTypeName }}</span></p>
                                    <p class="m-2 fw-medium">
                                        Trạng thái:
                                        <span class="fw-medium color-green"
                                              ng-if="transportation.isActive === true">
                                                Đang hoạt động
                                        </span>
                                        <span class="fw-medium color-green"
                                              ng-if="transportation.isActive === false">
                                                Ngưng hoạt động
                                        </span>
                                    </p>
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-header p-3 fw-bold">
                                    Các tiện ích của xe
                                </div>
                                <div class="card-body p-3">
                                    <div ng-repeat="util in transportUtilityModal">
                                        <li class="m-2">{{ util.title }}</li>
                                    </div>
                                    <div class="d-flex justify-content-center"
                                         ng-if="transportUtilityModal.length === 0">
                                        Xe <span class="fw-medium">&nbsp;{{ transportation.licensePlate }}&nbsp;</span>
                                        chưa có tiện ích.
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="card">
                                <div class="card-header p-3 fw-bold">
                                    Thông tin chuyến đi của bạn
                                </div>
                                <div class="card-body p-3">
                                    <p class="m-2 fw-medium">Mã chuyến đi:
                                        <span class="fw-medium">
                                            {{ transportationSchedule.id }}
                                        </span>
                                    </p>
                                    <p class="m-2 fw-medium">Điểm đi:
                                        <span class="fw-medium text-warning">
                                            {{ transportationSchedule.fromAddress }}
                                        </span>
                                    </p>
                                    <p class="m-2 fw-medium">Điểm đến:
                                        <span class="fw-medium text-warning">
                                            {{ transportationSchedule.toAddress }}
                                        </span>
                                    </p>
                                    <p class="m-2 fw-medium">Ngày / giờ đi:
                                        <span class="fw-medium text-warning">
                                            {{ transportationSchedule.departureTime | vietnameseDateTime }}
                                        </span>
                                    </p>
                                    <p class="m-2 fw-medium">Ngày / giờ về:
                                        <span class="fw-medium text-warning">
                                            {{ transportationSchedule.arrivalTime | vietnameseDateTime }}
                                        </span>
                                    </p>
                                    <p class="m-2 fw-medium">Ghi chú:
                                        <span class="fw-medium text-success"
                                              ng-if="transportationSchedule.scheduleNote">
                                            {{ transportationSchedule.scheduleNote }}
                                        </span>
                                        <span class="fw-medium text-dark"
                                              ng-if="!transportationSchedule.scheduleNote">
                                            Không có nội dung ghi chú.
                                        </span>
                                    </p>
                                    <p class="m-2 fw-medium">Trạng thái:
                                        <span class="fw-medium text-warning"
                                              ng-if="transportationSchedule.isStatus === 4">
                                                Chuyến đi đang trống
                                        </span>
                                        <span class="fw-medium text-warning"
                                              ng-if="transportationSchedule.isStatus === 5">
                                                Đang đợi duyệt
                                        </span>
                                        <span class="fw-medium text-success"
                                              ng-if="transportationSchedule.isStatus === 6">
                                                Đã được duyệt
                                        </span>
                                        <span class="fw-medium text-danger"
                                              ng-if="transportationSchedule.isStatus === 7">
                                                Từ chối duyệt
                                        </span>
                                    </p>
                                    <p class="m-2 fw-medium">Tổng tiền:
                                        <span class="fw-medium text-success">
                                            {{ transportationSchedule.unitPrice | vnCurrency }}
                                        </span>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 mb-5 mt-5 p-3">
                            <div class="row mb-3">
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-xl-3 p-1" ng-repeat="img in transportationImages">
                                            <img class="img-fluid" style="height: 100%; width: 100%; border-radius: 8px"
                                                 loading="lazy" ng-src="{{img.imagePath}}"/>
                                        </div>
                                        <div class="col-12" ng-if="transportationImages.length === 0">
                                            Không có hình ảnh.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn" data-bs-dismiss="modal">
                    <i class="fa-solid fa-arrow-left"></i>
                    Thoát
                </button>
                <button type="button"
                        class="btn btn-success"
                        ng-click="deleteSchedule(transportationSchedule.id, transportationSchedule.fromLocation, transportationSchedule.toLocation)"
                        ng-if="transportationSchedule.isStatus === 4 || transportationSchedule.isStatus === 7"
                >
                    Xóa lịch trình
                </button>
            </div>
        </div>
    </div>
</div>