<div class="content pt-0">
    <div class="chat d-flex phoenix-offcanvas-container pt-1 mt-n1 mb-9">
        <div class="card p-3 p-xl-1 mt-xl-n1 chat-sidebar me-3 phoenix-offcanvas phoenix-offcanvas-start"
             id="chat-sidebar">
            <button class="btn d-none d-sm-block d-xl-none mb-2" data-bs-toggle="modal"
                    data-bs-target="#chatSearchBoxModal"><span
                    class="fa-solid fa-magnifying-glass text-600 fs-1"></span></button>
            <div class="form-icon-container mb-4 d-sm-none d-xl-block"><input class="form-control form-icon-input"
                                                                              type="text" placeholder="Tìm kiếm"/><span
                    class="fas fa-user text-900 fs--1 form-icon"></span></div>
            <ul class="nav nav-phoenix-pills mb-5 d-sm-none d-xl-flex" id="contactListTab"
                data-chat-thread-tab="data-chat-thread-tab" role="tablist">
                <li class="nav-item" role="presentation"><a class="nav-link cursor-pointer active" data-bs-toggle="tab"
                                                            data-chat-thread-list="all" role="tab" aria-selected="true">Tất
                    cả</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link cursor-pointer" data-bs-toggle="tab"
                                                            role="tab" data-chat-thread-list="read"
                                                            aria-selected="false">Đã xem</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link cursor-pointer" data-bs-toggle="tab"
                                                            role="tab" data-chat-thread-list="unread"
                                                            aria-selected="false">Chưa xem</a></li>
            </ul>
            <div class="scrollbar">
                <div class="tab-content" id="contactListTabContent">
                    <div data-chat-thread-tab-content="data-chat-thread-tab-content">
                        <ul class="nav chat-thread-tab flex-column list">
                            <li class="nav-item unread" role="presentation" ng-repeat="userChat in userChatsList">
                                <a class="nav-link d-flex align-items-center justify-content-center p-2 unread "
                                   data-bs-toggle="tab" data-chat-thread="data-chat-thread" href="#tab-thread-4"
                                   role="tab" aria-selected="true" ng-click="updateStatusMessenger(userChat)">
                                    <div class="avatar avatar-xl position-relative me-2 me-sm-0 me-xl-2"
                                         ng-class="{'status-online': userChat.status === 'ONLINE'}">
                                        <img class="rounded-circle border border-2 border-white"
                                             ng-src="{{userChat.avatar}}"
                                             alt="" onerror="this.src='assets/customers/images/icon/user.png'"/>
                                        <span class="bg-primary rounded-circle top-0 end-0 position-absolute text-white d-flex flex-center fs--2 fw-semi-bold d-none d-sm-flex d-xl-none lh-1"
                                              style="height: 1rem; width: 1rem;"></span>
                                    </div>
                                    <div class="flex-1 d-sm-none d-xl-block" style="font-size: 16px">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <h5 class=" fw-normal name text-nowrap" ng-bind="userChat.fullName"></h5>
                                            <span class=" badge rounded-pill bg-primary mx-1"
                                                  ng-if="displayUserChat.role === 'ROLE_CUSTOMER'"></span>
                                            <span class=" badge rounded-pill bg-success mx-1"
                                                  ng-if="displayUserChat.role === 'ROLE_STAFF'"></span>
                                            <p class="fs--2 text-600 mb-0 text-nowrap"
                                               ng-bind="userChat.timeMessage | formatHoursRight"></p>
                                        </div>
                                        <div class="d-flex justify-content-between user-chat-new-message">
                                            <p class="fs--1 text-600 mb-0 text-nowrap"
                                               ng-if="userChat.newMessage === null && true"
                                               ng-class="{'message': userChat.countMessageUnread > 0}"
                                               ng-bind-html="trustAsHtml(userChat.newMessage)"
                                               style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap; max-width: 200px;">Không có tin nhắn</p>
                                            <p class="fs--1 text-600 mb-0 text-nowrap"
                                               ng-if="userChat.newMessage !== null"
                                               ng-class="{'message': userChat.countMessageUnread > 0}"
                                               ng-bind-html="trustAsHtml(userChat.newMessage)"
                                               style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap; max-width: 200px; "></p>
                                            <span class="badge badge-phoenix badge-phoenix-primary px-1 unread-badge"
                                                  ng-show="userChat.countMessageUnread > 0"
                                                  ng-bind="userChat.countMessageUnread"></span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="chat-content tab-content flex-1">
            <div class="tab-pane h-100 fade active show" id="tab-thread-1" role="tabpanel"
                 aria-labelledby="tab-thread-1">
                <div class="card flex-1 h-100 phoenix-offcanvas-container">
                    <div class="card-header p-3 p-md-4 d-flex flex-between-center">
                        <div class="d-flex align-items-center">
                            <button class="btn ps-0 pe-2 text-700 d-sm-none" data-phoenix-toggle="offcanvas"
                                    data-phoenix-target="#chat-sidebar"><span class="fa-solid fa-chevron-left"></span>
                            </button>
                            <div class="d-flex flex-column flex-md-row align-items-md-center">
                                <button class="btn fs-1 fw-semi-bold text-1100 d-flex align-items-center p-0 me-3 text-start"
                                        data-phoenix-toggle="offcanvas" data-phoenix-target="#thread-details-0">
                                    <span class="line-clamp-1" ng-bind="displayUserChat.fullName"></span>
                                    <span class=" badge rounded-pill bg-primary mx-1"
                                          ng-if="displayUserChat.role === 'ROLE_CUSTOMER'">Khách hàng</span>
                                    <span class=" badge rounded-pill bg-success mx-1"
                                          ng-if="displayUserChat.role === 'ROLE_STAFF'">Quản trị viên</span>
                                </button>
                                <p class="fs--1 mb-0 me-2" ng-if="displayUserChat.status === 'ONLINE'"><span
                                        ng-show="displayUserChat.status === 'ONLINE'"
                                        class="fa-solid fa-circle text-success fs--3 me-2"></span> Đang hoạt động</p>
                                <p class="fs--1 mb-0 me-2" ng-if="displayUserChat.status !== 'ONLINE'"
                                   ng-bind="displayUserChat.lastUpdated | statusOnlineUser"></p>
                            </div>
                        </div>
                    </div>
                    <div class="card-body p-3 p-sm-4 scrollbar" id="chatMessages">
                        <div ng-repeat="(index, messages) in displayMessages">
                            <div class="d-flex chat-message"
                                 ng-show="messages.senderId.toString() !== userAgencyId.id.toString()">
                                <div class="d-flex mb-2 flex-1">
                                    <div class="w-100 w-xxl-75">
                                        <div class="d-flex hover-actions-trigger">
                                            <div class="avatar avatar-m me-3 flex-shrink-0">
                                                <img class="rounded-circle" ng-src="{{displayUserChat.avatar}}" alt=""
                                                     onerror="this.src='assets/customers/images/icon/user.png'"></div>
                                            <div class="chat-message-content received me-2">
                                                <div class="mb-1 received-message-content border rounded-2 p-3">
                                                    <p class="mb-0 content-chat-image"
                                                       ng-bind-html="trustAsHtml(messages.content)"></p>
                                                </div>
                                            </div>
                                            <div class="d-none d-sm-flex">
                                                <div class="hover-actions position-relative align-self-center me-2">
                                                    <button class="btn p-2 fs--2">
                                                        <svg class="svg-inline--fa fa-reply" aria-hidden="true"
                                                             focusable="false" data-prefix="fas" data-icon="reply"
                                                             role="img" xmlns="http://www.w3.org/2000/svg"
                                                             viewBox="0 0 512 512" data-fa-i2svg="">
                                                            <path fill="currentColor"
                                                                  d="M8.31 189.9l176-151.1c15.41-13.3 39.69-2.509 39.69 18.16v80.05C384.6 137.9 512 170.1 512 322.3c0 61.44-39.59 122.3-83.34 154.1c-13.66 9.938-33.09-2.531-28.06-18.62c45.34-145-21.5-183.5-176.6-185.8v87.92c0 20.7-24.31 31.45-39.69 18.16l-176-151.1C-2.753 216.6-2.784 199.4 8.31 189.9z"></path>
                                                        </svg>
                                                        <!-- <span class="fa-solid fa-reply"></span> Font Awesome fontawesome.com -->
                                                    </button>
                                                    <button class="btn p-2 fs--2">
                                                        <svg class="svg-inline--fa fa-trash" aria-hidden="true"
                                                             focusable="false" data-prefix="fas" data-icon="trash"
                                                             role="img" xmlns="http://www.w3.org/2000/svg"
                                                             viewBox="0 0 448 512" data-fa-i2svg="">
                                                            <path fill="currentColor"
                                                                  d="M135.2 17.69C140.6 6.848 151.7 0 163.8 0H284.2C296.3 0 307.4 6.848 312.8 17.69L320 32H416C433.7 32 448 46.33 448 64C448 81.67 433.7 96 416 96H32C14.33 96 0 81.67 0 64C0 46.33 14.33 32 32 32H128L135.2 17.69zM394.8 466.1C393.2 492.3 372.3 512 346.9 512H101.1C75.75 512 54.77 492.3 53.19 466.1L31.1 128H416L394.8 466.1z"></path>
                                                        </svg>
                                                        <!-- <span class="fa-solid fa-trash"></span> Font Awesome fontawesome.com -->
                                                    </button>
                                                    <button class="btn p-2 fs--2">
                                                        <svg class="svg-inline--fa fa-share" aria-hidden="true"
                                                             focusable="false" data-prefix="fas" data-icon="share"
                                                             role="img" xmlns="http://www.w3.org/2000/svg"
                                                             viewBox="0 0 512 512" data-fa-i2svg="">
                                                            <path fill="currentColor"
                                                                  d="M503.7 226.2l-176 151.1c-15.38 13.3-39.69 2.545-39.69-18.16V272.1C132.9 274.3 66.06 312.8 111.4 457.8c5.031 16.09-14.41 28.56-28.06 18.62C39.59 444.6 0 383.8 0 322.3c0-152.2 127.4-184.4 288-186.3V56.02c0-20.67 24.28-31.46 39.69-18.16l176 151.1C514.8 199.4 514.8 216.6 503.7 226.2z"></path>
                                                        </svg>
                                                        <!-- <span class="fa-solid fa-share"></span> Font Awesome fontawesome.com -->
                                                    </button>
                                                    <button class="btn p-2 fs--2">
                                                        <svg class="svg-inline--fa fa-face-smile" aria-hidden="true"
                                                             focusable="false" data-prefix="fas" data-icon="face-smile"
                                                             role="img" xmlns="http://www.w3.org/2000/svg"
                                                             viewBox="0 0 512 512" data-fa-i2svg="">
                                                            <path fill="currentColor"
                                                                  d="M0 256C0 114.6 114.6 0 256 0C397.4 0 512 114.6 512 256C512 397.4 397.4 512 256 512C114.6 512 0 397.4 0 256zM164.1 325.5C158.3 318.8 148.2 318.1 141.5 323.9C134.8 329.7 134.1 339.8 139.9 346.5C162.1 372.1 200.9 400 255.1 400C311.1 400 349.8 372.1 372.1 346.5C377.9 339.8 377.2 329.7 370.5 323.9C363.8 318.1 353.7 318.8 347.9 325.5C329.9 346.2 299.4 368 255.1 368C212.6 368 182 346.2 164.1 325.5H164.1zM176.4 176C158.7 176 144.4 190.3 144.4 208C144.4 225.7 158.7 240 176.4 240C194 240 208.4 225.7 208.4 208C208.4 190.3 194 176 176.4 176zM336.4 240C354 240 368.4 225.7 368.4 208C368.4 190.3 354 176 336.4 176C318.7 176 304.4 190.3 304.4 208C304.4 225.7 318.7 240 336.4 240z"></path>
                                                        </svg>
                                                        <!-- <span class="fa-solid fa-face-smile"></span> Font Awesome fontawesome.com -->
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="d-sm-none hover-actions align-self-center me-2 end-0">
                                                <div class="bg-white rounded-pill d-flex align-items-center border border-300 px-2 actions">
                                                    <button class="btn p-2" type="button">
                                                        <svg class="svg-inline--fa fa-reply text-primary"
                                                             aria-hidden="true" focusable="false" data-prefix="fas"
                                                             data-icon="reply" role="img"
                                                             xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"
                                                             data-fa-i2svg="">
                                                            <path fill="currentColor"
                                                                  d="M8.31 189.9l176-151.1c15.41-13.3 39.69-2.509 39.69 18.16v80.05C384.6 137.9 512 170.1 512 322.3c0 61.44-39.59 122.3-83.34 154.1c-13.66 9.938-33.09-2.531-28.06-18.62c45.34-145-21.5-183.5-176.6-185.8v87.92c0 20.7-24.31 31.45-39.69 18.16l-176-151.1C-2.753 216.6-2.784 199.4 8.31 189.9z"></path>
                                                        </svg>
                                                        <!-- <span class="fa-solid fa-reply text-primary"></span> Font Awesome fontawesome.com -->
                                                    </button>
                                                    <button class="btn p-2" type="button">
                                                        <svg class="svg-inline--fa fa-trash text-primary"
                                                             aria-hidden="true" focusable="false" data-prefix="fas"
                                                             data-icon="trash" role="img"
                                                             xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"
                                                             data-fa-i2svg="">
                                                            <path fill="currentColor"
                                                                  d="M135.2 17.69C140.6 6.848 151.7 0 163.8 0H284.2C296.3 0 307.4 6.848 312.8 17.69L320 32H416C433.7 32 448 46.33 448 64C448 81.67 433.7 96 416 96H32C14.33 96 0 81.67 0 64C0 46.33 14.33 32 32 32H128L135.2 17.69zM394.8 466.1C393.2 492.3 372.3 512 346.9 512H101.1C75.75 512 54.77 492.3 53.19 466.1L31.1 128H416L394.8 466.1z"></path>
                                                        </svg>
                                                        <!-- <span class="fa-solid fa-trash text-primary"></span> Font Awesome fontawesome.com -->
                                                    </button>
                                                    <button class="btn p-2" type="button">
                                                        <svg class="svg-inline--fa fa-share text-primary"
                                                             aria-hidden="true" focusable="false" data-prefix="fas"
                                                             data-icon="share" role="img"
                                                             xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"
                                                             data-fa-i2svg="">
                                                            <path fill="currentColor"
                                                                  d="M503.7 226.2l-176 151.1c-15.38 13.3-39.69 2.545-39.69-18.16V272.1C132.9 274.3 66.06 312.8 111.4 457.8c5.031 16.09-14.41 28.56-28.06 18.62C39.59 444.6 0 383.8 0 322.3c0-152.2 127.4-184.4 288-186.3V56.02c0-20.67 24.28-31.46 39.69-18.16l176 151.1C514.8 199.4 514.8 216.6 503.7 226.2z"></path>
                                                        </svg>
                                                        <!-- <span class="fa-solid fa-share text-primary"></span> Font Awesome fontawesome.com -->
                                                    </button>
                                                    <button class="btn p-2" type="button">
                                                        <svg class="svg-inline--fa fa-face-smile text-primary"
                                                             aria-hidden="true" focusable="false" data-prefix="fas"
                                                             data-icon="face-smile" role="img"
                                                             xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"
                                                             data-fa-i2svg="">
                                                            <path fill="currentColor"
                                                                  d="M0 256C0 114.6 114.6 0 256 0C397.4 0 512 114.6 512 256C512 397.4 397.4 512 256 512C114.6 512 0 397.4 0 256zM164.1 325.5C158.3 318.8 148.2 318.1 141.5 323.9C134.8 329.7 134.1 339.8 139.9 346.5C162.1 372.1 200.9 400 255.1 400C311.1 400 349.8 372.1 372.1 346.5C377.9 339.8 377.2 329.7 370.5 323.9C363.8 318.1 353.7 318.8 347.9 325.5C329.9 346.2 299.4 368 255.1 368C212.6 368 182 346.2 164.1 325.5H164.1zM176.4 176C158.7 176 144.4 190.3 144.4 208C144.4 225.7 158.7 240 176.4 240C194 240 208.4 225.7 208.4 208C208.4 190.3 194 176 176.4 176zM336.4 240C354 240 368.4 225.7 368.4 208C368.4 190.3 354 176 336.4 176C318.7 176 304.4 190.3 304.4 208C304.4 225.7 318.7 240 336.4 240z"></path>
                                                        </svg>
                                                        <!-- <span class="fa-solid fa-face-smile text-primary"></span> Font Awesome fontawesome.com -->
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        <p class="mb-0 fs--2 text-600 fw-semi-bold ms-7"
                                           ng-bind="messages.timestamp | formatHoursRight"></p>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex chat-message" id="chat-message-show"
                                 ng-show="messages.senderId.toString() === userAgencyId.id.toString()">
                                <div class="d-flex mb-2 justify-content-end flex-1">
                                    <div class="w-100 w-xxl-75">
                                        <div class="d-flex flex-end-center hover-actions-trigger">
                                            <div class="d-sm-none hover-actions align-self-center me-2 start-0">
                                                <div class="bg-white rounded-pill d-flex align-items-center border border-300 px-2 actions">
                                                    <button class="btn p-2" type="button">
                                                        <svg class="svg-inline--fa fa-reply text-primary"
                                                             aria-hidden="true" focusable="false" data-prefix="fas"
                                                             data-icon="reply" role="img"
                                                             xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"
                                                             data-fa-i2svg="">
                                                            <path fill="currentColor"
                                                                  d="M8.31 189.9l176-151.1c15.41-13.3 39.69-2.509 39.69 18.16v80.05C384.6 137.9 512 170.1 512 322.3c0 61.44-39.59 122.3-83.34 154.1c-13.66 9.938-33.09-2.531-28.06-18.62c45.34-145-21.5-183.5-176.6-185.8v87.92c0 20.7-24.31 31.45-39.69 18.16l-176-151.1C-2.753 216.6-2.784 199.4 8.31 189.9z"></path>
                                                        </svg>
                                                        <!-- <span class="fa-solid fa-reply text-primary"></span> Font Awesome fontawesome.com -->
                                                    </button>
                                                    <button class="btn p-2" type="button">
                                                        <svg class="svg-inline--fa fa-pen-to-square text-primary"
                                                             aria-hidden="true" focusable="false" data-prefix="fas"
                                                             data-icon="pen-to-square" role="img"
                                                             xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"
                                                             data-fa-i2svg="">
                                                            <path fill="currentColor"
                                                                  d="M490.3 40.4C512.2 62.27 512.2 97.73 490.3 119.6L460.3 149.7L362.3 51.72L392.4 21.66C414.3-.2135 449.7-.2135 471.6 21.66L490.3 40.4zM172.4 241.7L339.7 74.34L437.7 172.3L270.3 339.6C264.2 345.8 256.7 350.4 248.4 353.2L159.6 382.8C150.1 385.6 141.5 383.4 135 376.1C128.6 370.5 126.4 361 129.2 352.4L158.8 263.6C161.6 255.3 166.2 247.8 172.4 241.7V241.7zM192 63.1C209.7 63.1 224 78.33 224 95.1C224 113.7 209.7 127.1 192 127.1H96C78.33 127.1 64 142.3 64 159.1V416C64 433.7 78.33 448 96 448H352C369.7 448 384 433.7 384 416V319.1C384 302.3 398.3 287.1 416 287.1C433.7 287.1 448 302.3 448 319.1V416C448 469 405 512 352 512H96C42.98 512 0 469 0 416V159.1C0 106.1 42.98 63.1 96 63.1H192z"></path>
                                                        </svg>
                                                        <!-- <span class="fa-solid fa-pen-to-square text-primary"></span> Font Awesome fontawesome.com -->
                                                    </button>
                                                    <button class="btn p-2" type="button">
                                                        <svg class="svg-inline--fa fa-trash text-primary"
                                                             aria-hidden="true" focusable="false" data-prefix="fas"
                                                             data-icon="trash" role="img"
                                                             xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"
                                                             data-fa-i2svg="">
                                                            <path fill="currentColor"
                                                                  d="M135.2 17.69C140.6 6.848 151.7 0 163.8 0H284.2C296.3 0 307.4 6.848 312.8 17.69L320 32H416C433.7 32 448 46.33 448 64C448 81.67 433.7 96 416 96H32C14.33 96 0 81.67 0 64C0 46.33 14.33 32 32 32H128L135.2 17.69zM394.8 466.1C393.2 492.3 372.3 512 346.9 512H101.1C75.75 512 54.77 492.3 53.19 466.1L31.1 128H416L394.8 466.1z"></path>
                                                        </svg>
                                                        <!-- <span class="fa-solid fa-trash text-primary"></span> Font Awesome fontawesome.com -->
                                                    </button>
                                                    <button class="btn p-2" type="button">
                                                        <svg class="svg-inline--fa fa-share text-primary"
                                                             aria-hidden="true" focusable="false" data-prefix="fas"
                                                             data-icon="share" role="img"
                                                             xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"
                                                             data-fa-i2svg="">
                                                            <path fill="currentColor"
                                                                  d="M503.7 226.2l-176 151.1c-15.38 13.3-39.69 2.545-39.69-18.16V272.1C132.9 274.3 66.06 312.8 111.4 457.8c5.031 16.09-14.41 28.56-28.06 18.62C39.59 444.6 0 383.8 0 322.3c0-152.2 127.4-184.4 288-186.3V56.02c0-20.67 24.28-31.46 39.69-18.16l176 151.1C514.8 199.4 514.8 216.6 503.7 226.2z"></path>
                                                        </svg>
                                                        <!-- <span class="fa-solid fa-share text-primary"></span> Font Awesome fontawesome.com -->
                                                    </button>
                                                    <button class="btn p-2" type="button">
                                                        <svg class="svg-inline--fa fa-face-smile text-primary"
                                                             aria-hidden="true" focusable="false" data-prefix="fas"
                                                             data-icon="face-smile" role="img"
                                                             xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"
                                                             data-fa-i2svg="">
                                                            <path fill="currentColor"
                                                                  d="M0 256C0 114.6 114.6 0 256 0C397.4 0 512 114.6 512 256C512 397.4 397.4 512 256 512C114.6 512 0 397.4 0 256zM164.1 325.5C158.3 318.8 148.2 318.1 141.5 323.9C134.8 329.7 134.1 339.8 139.9 346.5C162.1 372.1 200.9 400 255.1 400C311.1 400 349.8 372.1 372.1 346.5C377.9 339.8 377.2 329.7 370.5 323.9C363.8 318.1 353.7 318.8 347.9 325.5C329.9 346.2 299.4 368 255.1 368C212.6 368 182 346.2 164.1 325.5H164.1zM176.4 176C158.7 176 144.4 190.3 144.4 208C144.4 225.7 158.7 240 176.4 240C194 240 208.4 225.7 208.4 208C208.4 190.3 194 176 176.4 176zM336.4 240C354 240 368.4 225.7 368.4 208C368.4 190.3 354 176 336.4 176C318.7 176 304.4 190.3 304.4 208C304.4 225.7 318.7 240 336.4 240z"></path>
                                                        </svg>
                                                        <!-- <span class="fa-solid fa-face-smile text-primary"></span> Font Awesome fontawesome.com -->
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="d-none d-sm-flex">
                                                <div class="hover-actions position-relative align-self-center">
                                                    <button class="btn p-2 fs--2">
                                                        <svg class="svg-inline--fa fa-reply text-primary"
                                                             aria-hidden="true" focusable="false" data-prefix="fas"
                                                             data-icon="reply" role="img"
                                                             xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"
                                                             data-fa-i2svg="">
                                                            <path fill="currentColor"
                                                                  d="M8.31 189.9l176-151.1c15.41-13.3 39.69-2.509 39.69 18.16v80.05C384.6 137.9 512 170.1 512 322.3c0 61.44-39.59 122.3-83.34 154.1c-13.66 9.938-33.09-2.531-28.06-18.62c45.34-145-21.5-183.5-176.6-185.8v87.92c0 20.7-24.31 31.45-39.69 18.16l-176-151.1C-2.753 216.6-2.784 199.4 8.31 189.9z"></path>
                                                        </svg>
                                                        <!-- <span class="fa-solid fa-reply text-primary"></span> Font Awesome fontawesome.com -->
                                                    </button>
                                                    <button class="btn p-2 fs--2">
                                                        <svg class="svg-inline--fa fa-pen-to-square text-primary"
                                                             aria-hidden="true" focusable="false" data-prefix="fas"
                                                             data-icon="pen-to-square" role="img"
                                                             xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"
                                                             data-fa-i2svg="">
                                                            <path fill="currentColor"
                                                                  d="M490.3 40.4C512.2 62.27 512.2 97.73 490.3 119.6L460.3 149.7L362.3 51.72L392.4 21.66C414.3-.2135 449.7-.2135 471.6 21.66L490.3 40.4zM172.4 241.7L339.7 74.34L437.7 172.3L270.3 339.6C264.2 345.8 256.7 350.4 248.4 353.2L159.6 382.8C150.1 385.6 141.5 383.4 135 376.1C128.6 370.5 126.4 361 129.2 352.4L158.8 263.6C161.6 255.3 166.2 247.8 172.4 241.7V241.7zM192 63.1C209.7 63.1 224 78.33 224 95.1C224 113.7 209.7 127.1 192 127.1H96C78.33 127.1 64 142.3 64 159.1V416C64 433.7 78.33 448 96 448H352C369.7 448 384 433.7 384 416V319.1C384 302.3 398.3 287.1 416 287.1C433.7 287.1 448 302.3 448 319.1V416C448 469 405 512 352 512H96C42.98 512 0 469 0 416V159.1C0 106.1 42.98 63.1 96 63.1H192z"></path>
                                                        </svg>
                                                        <!-- <span class="fa-solid fa-pen-to-square text-primary"></span> Font Awesome fontawesome.com -->
                                                    </button>
                                                    <button class="btn p-2 fs--2">
                                                        <svg class="svg-inline--fa fa-share text-primary"
                                                             aria-hidden="true" focusable="false" data-prefix="fas"
                                                             data-icon="share" role="img"
                                                             xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"
                                                             data-fa-i2svg="">
                                                            <path fill="currentColor"
                                                                  d="M503.7 226.2l-176 151.1c-15.38 13.3-39.69 2.545-39.69-18.16V272.1C132.9 274.3 66.06 312.8 111.4 457.8c5.031 16.09-14.41 28.56-28.06 18.62C39.59 444.6 0 383.8 0 322.3c0-152.2 127.4-184.4 288-186.3V56.02c0-20.67 24.28-31.46 39.69-18.16l176 151.1C514.8 199.4 514.8 216.6 503.7 226.2z"></path>
                                                        </svg>
                                                        <!-- <span class="fa-solid fa-share text-primary"></span> Font Awesome fontawesome.com -->
                                                    </button>
                                                    <button class="btn p-2 fs--2">
                                                        <svg class="svg-inline--fa fa-trash text-primary"
                                                             aria-hidden="true" focusable="false" data-prefix="fas"
                                                             data-icon="trash" role="img"
                                                             xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"
                                                             data-fa-i2svg="">
                                                            <path fill="currentColor"
                                                                  d="M135.2 17.69C140.6 6.848 151.7 0 163.8 0H284.2C296.3 0 307.4 6.848 312.8 17.69L320 32H416C433.7 32 448 46.33 448 64C448 81.67 433.7 96 416 96H32C14.33 96 0 81.67 0 64C0 46.33 14.33 32 32 32H128L135.2 17.69zM394.8 466.1C393.2 492.3 372.3 512 346.9 512H101.1C75.75 512 54.77 492.3 53.19 466.1L31.1 128H416L394.8 466.1z"></path>
                                                        </svg>
                                                        <!-- <span class="fa-solid fa-trash text-primary"></span> Font Awesome fontawesome.com -->
                                                    </button>
                                                    <button class="btn p-2 fs--2">
                                                        <svg class="svg-inline--fa fa-face-smile text-primary"
                                                             aria-hidden="true" focusable="false" data-prefix="fas"
                                                             data-icon="face-smile" role="img"
                                                             xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"
                                                             data-fa-i2svg="">
                                                            <path fill="currentColor"
                                                                  d="M0 256C0 114.6 114.6 0 256 0C397.4 0 512 114.6 512 256C512 397.4 397.4 512 256 512C114.6 512 0 397.4 0 256zM164.1 325.5C158.3 318.8 148.2 318.1 141.5 323.9C134.8 329.7 134.1 339.8 139.9 346.5C162.1 372.1 200.9 400 255.1 400C311.1 400 349.8 372.1 372.1 346.5C377.9 339.8 377.2 329.7 370.5 323.9C363.8 318.1 353.7 318.8 347.9 325.5C329.9 346.2 299.4 368 255.1 368C212.6 368 182 346.2 164.1 325.5H164.1zM176.4 176C158.7 176 144.4 190.3 144.4 208C144.4 225.7 158.7 240 176.4 240C194 240 208.4 225.7 208.4 208C208.4 190.3 194 176 176.4 176zM336.4 240C354 240 368.4 225.7 368.4 208C368.4 190.3 354 176 336.4 176C318.7 176 304.4 190.3 304.4 208C304.4 225.7 318.7 240 336.4 240z"></path>
                                                        </svg>
                                                        <!-- <span class="fa-solid fa-face-smile text-primary"></span> Font Awesome fontawesome.com -->
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="chat-message-content me-2">
                                                <div class="mb-1 sent-message-content light bg-primary rounded-2 p-3 header-white text-white">
                                                    <p class="mb-0" ng-bind-html="trustAsHtml(messages.content)"
                                                       style="max-width: 600px"></p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="text-end ">
                                            <p class="mb-0 fs--2 text-600 fw-semi-bold">
                                                <span ng-bind="messages.timestamp | formatHoursLeft"
                                                      style="margin: 10px 20px 0 0; line-height: 27px   "></span>
                                                <span class="float-end badge rounded-pill bg-light text-dark mt-2"
                                                      ng-if="index === displayMessages.length - 1"
                                                      style="font-size: 8px;" ng-bind="statusSendMessage"></span>
                                            </p>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer"
                         ng-show="displayUserChat !== null && displayUserChat !== undefined && displayUserChat">
                        <div class="container-chat mb-3" rich-text-editor>
                            <div class="options" style="font-size: 16px">
                                <!-- Text Format -->
                                <button id="bold" type="button" class="option-button format">
                                    <i class="fa-solid fa-bold"></i>
                                </button>
                                <button id="italic" type="button" class="option-button format">
                                    <i class="fa-solid fa-italic"></i>
                                </button>
                                <button id="underline" type="button" class="option-button format">
                                    <i class="fa-solid fa-underline"></i>
                                </button>
                                <button id="strikethrough" type="button" class="option-button format">
                                    <i class="fa-solid fa-strikethrough"></i>
                                </button>
                                <button id="superscript" type="button" class="option-button script">
                                    <i class="fa-solid fa-superscript"></i>
                                </button>
                                <button id="subscript" type="button" class="option-button script">
                                    <i class="fa-solid fa-subscript"></i>
                                </button>
                                <!-- List -->
                                <button id="insertOrderedList" type="button" class="option-button">
                                    <i class="fa-solid fa-list-ol"></i>
                                </button>
                                <button id="insertUnorderedList" type="button" class="option-button">
                                    <i class="fa-solid fa-list"></i>
                                </button>
                                <!-- Table -->
                                <button id="createTable" type="button">
                                    <i class="fa-solid fa-table"></i>
                                </button>
                                <!-- Undo/Redo -->
                                <button id="undo" type="button" class="option-button">
                                    <i class="fa-solid fa-rotate-left"></i>
                                </button>
                                <button id="redo" type="button" class="option-button">
                                    <i class="fa-solid fa-rotate-right"></i>
                                </button>
                                <!-- Alignment -->
                                <button id="justifyLeft" type="button" class="option-button align">
                                    <i class="fa-solid fa-align-left"></i>
                                </button>
                                <button id="justifyCenter" type="button" class="option-button align">
                                    <i class="fa-solid fa-align-center"></i>
                                </button>
                                <button id="justifyRight" type="button" class="option-button align">
                                    <i class="fa-solid fa-align-right"></i>
                                </button>
                                <button id="justifyFull" type="button" class="option-button align">
                                    <i class="fa-solid fa-align-justify"></i>
                                </button>
                                <button id="indent" type="button" class="option-button spacing">
                                    <i class="fa-solid fa-indent"></i>
                                </button>
                                <button id="outdent" type="button" class="option-button spacing">
                                    <i class="fa-solid fa-outdent"></i>
                                </button>
                                <!-- Headings -->
                                <select id="formatBlock" type="section" class="adv-option-button">
                                    <option value="H1">H1</option>
                                    <option value="H2">H2</option>
                                    <option value="H3">H3</option>
                                    <option value="H4">H4</option>
                                    <option value="H5">H5</option>
                                    <option value="H6">H6</option>
                                </select>
                                <!-- Font -->
                                <select id="fontName" type="select" class="adv-option-button"></select>
                                <select id="fontSize" type="select" class="adv-option-button"></select>
                                <button type="button" class="option-button" ng-click="toggleHeight()">
                                    <i class="fa-solid fa-up-right-and-down-left-from-center"></i>
                                </button>
                            </div>
                            <div class="d-flex justify-content-center">
                                <div class="form-control mb-1 content-chat-image" contenteditable="true" id="chat-input"
                                     ng-model="messageContent" ng-blur="setTouched()"
                                     ng-style="{'height': editorHeight}"
                                     ng-keypress="onKeyPress($event)">
                                </div>

                                <div class="mx-4 " style="margin-top: 10px">
                                    <button class="btn btn-primary fs--2 d-flex justify-content-center" type="button"
                                            style="width: 150px; height: 40px"
                                            ng-click="sendMessage(displayUserChat.userId)">
                                        <span>Gửi tin nhắn</span> <i class="fa-solid fa-paper-plane ms-1"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>