<div ng-include="'app/component/utils/loading-html.html'"></div>
<div class="container mt-3 mb-5">
    <div class="header-control mb-4">
        <div class="">
            <div class="d-flex align-items-center row">
                <div class="col-lg-6">
                    <h3 class="color-green fw-bold">THÊM PHƯƠNG TIỆN MỚI</h3>
                </div>
            </div>
            <div class="mt-3 fw-bold">Công ty: <span>{{ transportBrand.transportationBrandName }}</span></div>
        </div>
    </div>

    <div class="card card-custom">
        <form class="row g-3 form-input-custom" ng-submit="createTrans()" name="form_transport">
            <div class="col-12">
                <label for="inputState" class="form-label">LOẠI PHƯƠNG TIỆN</label>
                <select id="inputState"
                        class="form-select"
                        name="transportationTypeId"
                        ng-class="{ 'is-invalid': form_transport.transportationTypeId.$invalid && form_transport.transportationTypeId.$touched, 'is-valid': form_transport.transportationTypeId.$valid && form_transport.transportationTypeId.$touched }"
                        ng-options="transport.id as transport.transportationTypeName for transport in transportType"
                        ng-model="transportation.transportationTypeId"
                        required
                >
                    <option value="" disabled selected>Chọn loại phương tiện</option>
                    <option>Demo</option>
                </select>
                <small class="text-danger"
                       ng-show="form_transport.transportationTypeId.$touched && form_transport.transportationTypeId.$error.required">
                    Vui lòng chọn loại phương tiện !
                </small>
            </div>

            <div class="col-md-6">
                <label class="form-label">BIỂN SỐ XE</label>
                <input type="text"
                       class="form-control"
                       placeholder="30B-029.29"
                       name="licensePlate"
                       ng-model="transportation.licensePlate"
                       ng-class="{ 'is-invalid': form_transport.licensePlate.$invalid && form_transport.licensePlate.$touched, 'is-valid': form_transport.licensePlate.$valid && form_transport.licensePlate.$touched && !licenseError }"
                       ng-pattern="/^[0-9]{2}[A-Z]-[0-9]{3,4}\.[0-9]{2}$/"
                       ng-change="checkDuplicateLicense()"
                       required
                >
                <small class="text-danger"
                       ng-show="form_transport.licensePlate.$touched && form_transport.licensePlate.$error.required">
                    Vui lòng nhập biển số xe !
                </small>
                <small class="text-danger"
                       ng-show="form_transport.licensePlate.$touched && form_transport.licensePlate.$error.pattern">
                    Biển số xe không đúng định dạng !
                </small>
                <small class="text-danger"
                       ng-show="form_transport.licensePlate.$touched && licenseError">
                    Biển số xe đã tồn tại !
                </small>
            </div>

            <div class="col-md-3">
                <label class="form-label">SỐ CHỔ NGỒI</label>
                <input type="text"
                       class="form-control"
                       placeholder="29"
                       name="amountSeat"
                       ng-model="transportation.amountSeat"
                       ng-class="{ 'is-invalid': form_transport.amountSeat.$invalid && form_transport.amountSeat.$touched, 'is-valid': form_transport.amountSeat.$valid && form_transport.amountSeat.$touched }"
                       ng-pattern="/^[0-9]*$/"
                       required
                >
                <small class="text-danger"
                       ng-show="form_transport.amountSeat.$touched && form_transport.amountSeat.$error.required">
                    Vui lòng nhập số chổ ngồi !
                </small>
                <small class="text-danger"
                       ng-show="form_transport.amountSeat.$touched && form_transport.amountSeat.$error.pattern">
                    Số chổ ngồi không đúng định dạng !
                </small>
            </div>

            <div class="col-lg-3">
                <label for="isTransportBed" class="form-label">LOẠI CHỔ NGỒI (GHẾ/GIƯỜNG)</label>
                <select id="isTransportBed"
                        class="form-select"
                        name="isTransportBed"
                        ng-class="{ 'is-invalid': form_transport.isTransportBed.$invalid && form_transport.isTransportBed.$touched,
                                    'is-valid': form_transport.isTransportBed.$valid && form_transport.isTransportBed.$touched }"
                        ng-model="transportation.isTransportBed"
                        required
                >
                    <option value="" disabled selected>Chọn loại phương tiện</option>
                    <option value="false">Xe ghế ngồi</option>
                    <option value="true">Xe giường nằm</option>
                </select>
                <small class="text-danger"
                       ng-show="form_transport.isTransportBed.$touched && form_transport.isTransportBed.$error.required">
                    Vui lòng chọn loại phương tiện !
                </small>
            </div>

            <div class="col-6">
                <label class="form-label">Ảnh đại diện xe</label>
                <input class="form-control"
                       type="file"
                       name="transportationImg"
                       accept="image/*"
                       ng-model="transportation.transportationImg"
                       ng-class="{ 'is-invalid': form_transport.transportationImg.$invalid && form_transport.transportationImg.$touched, 'is-valid': form_transport.transportationImg.$valid && form_transport.transportationImg.$touched }"
                       ngf-select="uploadAvatarTransport($file)"
                       ngf-max-size="10MB"
                       required
                >
                <small class="text-danger"
                       ng-show="form_transport.transportationImg.$touched && form_transport.transportationImg.$error.required">
                    Vui lòng chọn ít nhất một ảnh!
                </small>
            </div>

            <div class="col-6 mb-4">
                <label class="form-label">Hình ảnh xe</label>
                <input class="form-control"
                       type="file"
                       name="transportTypeImg"
                       ng-model="transportation.transportTypeImg"
                       accept="image/*"
                       ng-class="{ 'is-invalid': form_transport.transportTypeImg.$invalid && form_transport.transportTypeImg.$touched, 'is-valid': form_transport.transportTypeImg.$valid && form_transport.transportTypeImg.$touched }"
                       ngf-select="uploadTransportTypeImg($files)"
                       ngf-multiple="true"
                       ngf-max-size="10MB"
                       ngf-max-files="5"
                       required
                >
                <small class="text-danger"
                       ng-show="form_transport.transportTypeImg.$touched && form_transport.transportTypeImg.$error.required">
                    Vui lòng chọn ít nhất một ảnh!
                </small>
                <small class="text-danger"
                       ng-show="form_transport.transportTypeImg.$error.ngfMaxFiles">
                    Bạn chỉ được chọn tối đa 5 ảnh!
                </small>
            </div>

            <div class="col-12 row">
                <label class="form-label mb-2">Tiện ích nhà xe</label>
                <div class="col-2" ng-repeat="util in transportUtilities">
                    <div class="mb-3">
                        <label for="util-{{ util.id }}" class="form-check-label">
                            <input id="util-{{ util.id }}"
                                   type="checkbox"
                                   ng-click="selectedTransportUtilities(util.id)"
                                   class="form-check-input"
                            >
                            {{ util.title }}
                        </label>
                    </div>
                </div>
            </div>

            <div class="col-12 d-flex justify-content-end mt-5">
                <button type="button" class="btn" style="margin-right: 20px">
                    <a class="btn" href="/business/transport/transport-management">Trở về</a>
                </button>
                <button type="submit"
                        class="btn btn-submit fw-bold"
                >
                    Thêm mới
                </button>
            </div>
        </form>
    </div>
</div>