<div class="container">
    <div class="header-control mb-4">
        <div class="header-control-center">
            <div class="d-flex justify-content-between align-items-center row ">
                <div class="col-xl-6 mt-3">
                    <h3 class="color-green fw-bold">DANH SÁCH PHƯƠNG TIỆN</h3>
                </div>
            </div>
            <div class="mt-3 fw-bold">Công ty:
                <span>{{ transportBrand.transportationBrandName || 'Đang tải...' }}</span></div>
        </div>
    </div>

    <div class="">
        <div class="card card-customer">
            <div class="row" style="margin: 20px 16px 20px 16px">
                <div class="col-xl-4">
                    Bạn muốn tìm kiếm gì ?
                    <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1">
                                <a href="#" class="bg-light text-dark">
                                    <i class="fa-solid fa-magnifying-glass bg-light"></i>
                                </a>
                            </span>
                        <input type="text"
                               class="form-control"
                               placeholder="Tìm kiếm biển số xe, số chổ ngồi..."
                               ng-model="searchTerm"
                               ng-change="searchTransportBrand()"
                        >
                    </div>
                </div>
                <div class="col-xl-8 d-flex align-items-center justify-content-end mb-3 h-100"
                     style="margin: 20px 0 0 0">
                    <a href="/business/transport/transport-management/create-transport" class="btn btn-primary">
                        <i class="fa-solid fa-plus" style="margin-right: 10px"></i>
                        Thêm phương tiện
                    </a>
                </div>
            </div>
        </div>
    </div>


    <div class="table-components table-responsive mb-5">
        <div class="card table-responsive table-customer">
            <div class="card-header ">
                <div class="row">
                    <div class="h4 col-lg-5 d-flex align-items-center h-100">
                        <div class="d-flex align-items-center">
                            <span class="h4">Danh sách phương tiện</span>
                        </div>
                    </div>
                    <div class="d-flex justify-content-end align-items-baseline col-lg-2">
                        <select class="form-select" aria-label="Default select example"
                                ng-model="pageSize"
                                ng-init="pageSize='5'"
                                ng-change="pageSizeChanged()">
                            <option value="5">5</option>
                            <option value="10">10</option>
                            <option value="15">15</option>
                        </select>
                    </div>
                    <div class="d-flex align-items-center justify-content-end h-100 col-lg-5">
                        <nav aria-label="Page navigation example float-end">
                            <ul class="pagination justify-content-center align-items-center">
                                <!-- Previous Page -->
                                <li class="page-item cursor-pointer" ng-class="{disabled: currentPage === 0}">
                                    <a class="page-link" ng-click="setPage(0)">
                                        <i class="fa-solid fa-angles-left"></i>
                                    </a>
                                </li>

                                <!-- Ellipsis at the beginning -->
                                <li class="page-item" ng-if="currentPage > 2 && totalPages > 5">
                                    <span class="page-link">...</span>
                                </li>

                                <!-- Pagination Numbers -->
                                <li class="page-item cursor-pointer" ng-repeat="n in getPaginationRange()"
                                    ng-class="{active: n === currentPage}">
                                    <a class="page-link" ng-click="setPage(n)">{{ n + 1 }}</a>
                                </li>

                                <!-- Ellipsis at the end -->
                                <li class="page-item" ng-if="currentPage < totalPages - 3 && totalPages > 5">
                                    <span class="page-link">...</span>
                                </li>

                                <!-- Next Page -->
                                <li class="page-item cursor-pointer"
                                    ng-class="{disabled: currentPage === totalPages - 1}">
                                    <a class="page-link" ng-click="setPage(totalPages - 1)">
                                        <i class="fa-solid fa-angles-right"></i>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
            <table class="table table-responsive text-center">
                <div ng-include="'app/component/utils/loading-table.html'"></div>
                <thead>
                <tr class="bg-light">
                    <th>#</th>
                    <th ng-click="sortData('id')">
                        <div class="icon-left">Ảnh
                            <span class="sorting-icon" ng-bind-html="getSortIcon('id')"></span>
                        </div>
                    </th>
                    <th ng-click="sortData('licensePlate')">
                        <div class="icon-left">Biển số
                            <span class="sorting-icon" ng-bind-html="getSortIcon('licensePlate')"></span>
                        </div>
                    </th>
                    <th ng-click="sortData('transportationTypeId')">
                        <div class="icon-left">Loại phương tiện
                            <span class="sorting-icon" ng-bind-html="getSortIcon('transportationTypeId')"></span>
                        </div>
                    </th>
                    <th ng-click="sortData('amountSeat')">
                        <div class="icon-left">Số chổ ngồi
                            <span class="sorting-icon" ng-bind-html="getSortIcon('amountSeat')"></span>
                        </div>
                    </th>
                    <th ng-click="sortData('dateCreated')">
                        <div class="icon-left">Ngày tạo
                            <span class="sorting-icon" ng-bind-html="getSortIcon('dateCreated')"></span>
                        </div>
                    </th>
                    <th ng-click="sortData('isActive')">
                        <div class="icon-left">Trạng thái
                            <span class="sorting-icon" ng-bind-html="getSortIcon('isActive')"></span>
                        </div>
                    </th>
                    <th>Thao tác</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="transport in transportData">
                    <td>{{ $index + 1 }}</td>
                    <td>
                        <img ng-src="{{ transport.transportationImg }}" class="img-fluid" alt="avatar"
                             width="55" title="Xem ảnh xe">
                    </td>
                    <td>{{ transport.licensePlate }}</td>
                    <td>{{ transportTypeName[transport.transportationTypeId] || 'Đang tải...' }}</td>
                    <td>{{ transport.amountSeat + ' Chỗ' }}</td>
                    <td>{{ transport.dateCreated | vietnameseDateTime }}</td>
                    <td ng-if="transport.isActive == true">
                        <div class="d-flex align-items-center justify-content-center">
                            <span class="status-success"></span>
                            <span class="text-status-success">Đang hoạt động</span>
                        </div>
                    </td>
                    <td ng-if="transport.isActive == false">
                        <div class="d-flex align-items-center justify-content-center">
                            <span class="status-error"></span>
                            <span class="text-status-error">Ngưng hoạt động</span>
                        </div>
                    </td>
                    <td class="d-flex align-items-center justify-content-center" style="padding-right: 10px">
                        <button class="fs-1 btn text-info px-2" ng-click="openModal(transport.id)">
                            <i class="fa-regular fa-eye"></i>
                        </button>
                    </td>
                </tr>
                <tr ng-if="transportData.length === 0">
                    <td colspan="9">Trang này không có dữ liệu.</td>
                </tr>
                </tbody>
            </table>
            <div class="card-footer">
                <div class="d-flex justify-content-end">
                    {{ getDisplayRange() }} trong tổng số {{ totalElements }}
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal thông tin chi tiết -->
<div class="modal fade" id="modal-transport-detail" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header text-white">
                <h5 class="modal-title" id="exampleModalLabel">
                    Chi tiết phượng tiện - {{ transportation.licensePlate }}
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <div class="card mb-3">
                                <img class="img-fluid rounded-2" ng-src="{{ transportation.transportationImg }}"
                                     style="height: 500px"/>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="card">
                                <div class="card-header p-3 fw-bold">
                                    Thông tin xe khách
                                </div>
                                <div class="card-body p-3">
                                    <p class="m-2 fw-medium">Mã nhà xe: <span
                                            class="fw-medium">{{ transportBrand.id }}</span></p>
                                    <p class="m-2 fw-medium">Tên nhà xe: <span
                                            class="fw-normal">{{ transportBrand.transportationBrandName }}</span></p>
                                    <p class="m-2 fw-medium">Ngày tạo: <span
                                            class="fw-normal">{{ transportBrand.dateCreated | vietnameseDateTime }}</span>
                                    </p>
                                    <p class="m-2 fw-medium">Ghi chú: <span
                                            class="fw-normal">{{ transportBrand.transportationBrandDescription }}</span>
                                    </p>
                                    <p class="m-2 fw-medium">
                                        Trạng thái:
                                        <span class="fw-medium color-green"
                                              ng-if="transportBrand.isActive === true">
                                                Đang hoạt động
                                        </span>
                                        <span class="fw-medium color-green"
                                              ng-if="transportBrand.isActive === false">
                                                Ngưng hoạt động
                                        </span>
                                    </p>

                                    <hr>

                                    <p class="m-2 fw-medium">Mã xe khách: <span
                                            class="fw-medium">{{ transportation.id }}</span></p>
                                    <p class="m-2 fw-medium">Biển số xe: <span
                                            class="fw-medium">{{ transportation.licensePlate }}</span></p>
                                    <p class="m-2 fw-medium">Số ghế ngồi: <span
                                            class="fw-medium">{{ transportation.amountSeat }} Chổ</span></p>
                                    <p class="m-2 fw-medium">Loại chổ ngồi:
                                        <span class="fw-normal"
                                              ng-if="transportation.isTransportBed === false">
                                                Xe ghế ngồi
                                        </span>
                                        <span class="fw-normal"
                                              ng-if="transportation.isTransportBed === true">
                                                Xe giường nằm
                                        </span>
                                    </p>
                                    <p class="m-2 fw-medium">Loại xe: <span
                                            class="fw-normal">{{ transportType.transportationTypeName }}</span></p>
                                    <p class="m-2 fw-medium">
                                        Trạng thái:
                                        <span class="fw-medium color-green"
                                              ng-if="transportation.isActive === true">
                                                Đang hoạt động
                                        </span>
                                        <span class="fw-medium color-green"
                                              ng-if="transportation.isActive === false">
                                                Ngưng hoạt động
                                        </span>
                                    </p>
                                </div>
                                <div class="card-footer d-flex justify-content-center p-3">
                                    <button role="button"
                                            ng-click="redirectPage('/business/transport/transport-management/update-transport/', transportation.id)"
                                            data-bs-dismiss="modal"
                                            class="btn btn-green"
                                    >
                                        Cập nhật thông tin nhà xe
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="card">
                                <div class="card-header p-3 fw-bold">
                                    Các tiện ích của xe
                                </div>
                                <div class="card-body p-3">
                                    <div ng-repeat="util in transportUtilityModal">
                                        <li class="m-2">{{ util.title }}</li>
                                    </div>
                                    <div class="d-flex justify-content-center"
                                         ng-if="transportUtilityModal.length === 0">
                                        Xe <span class="fw-medium">&nbsp;{{ transportation.licensePlate }}&nbsp;</span>
                                        chưa có tiện ích.
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 mb-5 mt-5 p-3">
                            <div class="row mb-3">
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-xl-3 p-1" ng-repeat="img in transportationImages">
                                            <img class="img-fluid" style="height: 100%; width: 100%; border-radius: 8px"
                                                 ng-src="{{img.imagePath}}"/>
                                        </div>
                                        <div class="col-12" ng-if="transportationImages.length === 0">
                                            Không có hình ảnh.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex justify-content-center align-items-center">
                                <a href="#"
                                   ng-click="redirectPage('/business/transport/transport-management/transport-image/', transportation.id)"
                                   data-bs-dismiss="modal"
                                   class="btn btn-green"
                                >
                                    Chỉnh sửa hình ảnh
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-dismiss="modal"
                        ng-click="deleteTrans(transportation.id, transportation.licensePlate)">Xóa
                </button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Thoát</button>
            </div>
        </div>
    </div>
</div>