<section id="welcome">
    <div class="container row">
        <div class="banner">
            <div class="d-flex align-items-center">
                <div class="banner-content">
                    <h2 class="fw-bold" style="margin-bottom: 80px">Cảm ơn bạn đã sử dụng</h2>
                    <h4 class="mt-5 mb-4 fw-medium">Chào mừng quý khách quay trở lại với Travel-Tour</h4>
                    <p>Chúng tôi rất vui mừng và hân hạnh khi bạn quay trở lại với chúng tôi tại Travel Tour.
                        Đây là nơi mà chúng tôi đồng hành cùng bạn trên hành trình khám phá thế giới thông qua những
                        trải nghiệm du lịch tuyệt vời. hãy bắt đầu với doanh nghiệp của bạn</p>
                    <a class="btn btn-start mb-5">Bắt đầu</a>
                    <div class="d-flex align-items-center">
                        <div class="d-flex align-items-center program-item">
                            <div class="item m-2"
                                 style="padding: 40px; border: 1px solid #d4d8e3; border-radius: 20px ">
                                <img class="img-fluid" src="/assets/admin/assets/img/welcome/management.png"
                                     style="width: 60px; height: 60px" alt="">
                            </div>
                            <div class="item m-2" style="padding: 40px; border: 1px solid #d4d8e3; border-radius: 20px">
                                <img class="img-fluid" src="/assets/admin/assets/img/welcome/analytics.png"
                                     style="width: 60px; height: 60px" alt="">
                            </div>
                            <div class="item m-2" style="padding: 40px; border: 1px solid #d4d8e3; border-radius: 20px">
                                <img class="img-fluid" src="/assets/admin/assets/img/welcome/statistics.png"
                                     style="width: 60px; height: 60px" alt="">
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bg">
        <div class="img">
            <img class="img-fluid img-bg" src="/assets/admin/assets/img/welcome/welcome.png" alt="welcome"/>
        </div>
    </div>
</section>
