<!-- Sidebar -->
<div class="position-sticky">
    <ul class="nav flex-column" style="font-size: 16px">
        <!-- Thông tin cá nhân -->
        <li class="nav-item active bg-light fw-medium">
            <a class="nav-link text-dark" href="/information/{{user.id}}">
                Thông tin tài khoản
            </a>
        </li>
        <!-- Lịch trình -->
        <li class="nav-item">
            <a class="nav-link text-dark" href="/information/change-password">
                Đổi mật khẩu
            </a>
        </li>
        <!-- Lịch trình -->
        <li class="nav-item">
            <a class="nav-link text-dark" href="#">
                Lịch sử đi tour
            </a>
        </li>
        <!-- Lịch trình -->
        <li class="nav-item">
            <a class="nav-link text-dark" href="#">
                Lịch trình
            </a>
        </li>
        <!-- Đăng xuất -->
        <li class="nav-item">
            <a class="nav-link text-dark" href="#" ng-click="logoutAuth()">
                Đăng xuất
            </a>
        </li>
    </ul>
</div>
