<div class="container">
    <div class="header-control mb-4">
        <div class="header-control-center">
            <div class="d-flex justify-content-between align-items-center row ">
                <div class="col-xl-6 mt-3">
                    <h3 class="color-green fw-bold">DANH SÁCH VÉ THAM QUAN</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="">
        <div class="card card-customer">
            <div class="row" style="margin: 20px 16px 20px 16px">
                <div class="col-xl-4">
                    Bạn muốn tìm kiếm gì ?
                    <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1">
                                <a href="#" class="bg-light text-dark">
                                    <i class="fa-solid fa-magnifying-glass bg-light"></i>
                                </a>
                            </span>
                        <input type="text"
                               class="form-control"
                               placeholder="Tìm kiếm"
                               ng-model="searchTerm"
                               ng-change="searchVisitTicket()"
                        >
                    </div>
                </div>
                <div class="col-xl-8 d-flex align-items-center justify-content-end mb-3 h-100"
                     style="margin: 20px 0 0 0">
                    <a href="/business/visit/visit-ticket-management/create-visit-ticket" class="btn btn-primary">
                        <i class="fa-solid fa-plus" style="margin-right: 10px"></i>
                        Tạo vé tham quan
                    </a>
                </div>
            </div>
        </div>
    </div>


    <div class="table-components table-responsive mb-5">
        <div class="card table-responsive table-customer">
            <div class="card-header ">
                <div class="row">
                    <div class="h4 col-lg-5 d-flex align-items-center h-100">
                        <div class="d-flex align-items-center">
                            <span class="h4">Danh sách vé tham quan</span>
                        </div>
                    </div>
                    <div class="d-flex justify-content-end align-items-baseline col-lg-2">
                        <select class="form-select" aria-label="Default select example"
                                ng-model="pageSize"
                                ng-init="pageSize='5'"
                                ng-change="pageSizeChanged()">
                            <option value="5">5</option>
                            <option value="10">10</option>
                            <option value="15">15</option>
                        </select>
                    </div>
                    <div class="d-flex align-items-center justify-content-end h-100 col-lg-5">
                        <nav aria-label="Page navigation example float-end">
                            <ul class="pagination justify-content-center align-items-center">
                                <!-- Previous Page -->
                                <li class="page-item cursor-pointer" ng-class="{disabled: currentPage === 0}">
                                    <a class="page-link" ng-click="setPage(0)">
                                        <i class="fa-solid fa-angles-left"></i>
                                    </a>
                                </li>

                                <!-- Ellipsis at the beginning -->
                                <li class="page-item" ng-if="currentPage > 2 && totalPages > 5">
                                    <span class="page-link">...</span>
                                </li>

                                <!-- Pagination Numbers -->
                                <li class="page-item cursor-pointer" ng-repeat="n in getPaginationRange()"
                                    ng-class="{active: n === currentPage}">
                                    <a class="page-link" ng-click="setPage(n)">{{ n + 1 }}</a>
                                </li>

                                <!-- Ellipsis at the end -->
                                <li class="page-item" ng-if="currentPage < totalPages - 3 && totalPages > 5">
                                    <span class="page-link">...</span>
                                </li>

                                <!-- Next Page -->
                                <li class="page-item cursor-pointer"
                                    ng-class="{disabled: currentPage === totalPages - 1}">
                                    <a class="page-link" ng-click="setPage(totalPages - 1)">
                                        <i class="fa-solid fa-angles-right"></i>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
            <table class="table table-responsive text-center">
                <div ng-include="'app/component/utils/loading-table.html'"></div>
                <thead>
                <tr class="bg-light">
                    <th>
                        <span>
                            <input class="form-check-input checkbox-all" type="checkbox" value="">
                        </span>
                    </th>
                    <th>#</th>
                    <th ng-click="sortData('id')">
                        <div class="icon-left">Ảnh
                            <span class="sorting-icon" ng-bind-html="getSortIcon('id')"></span>
                        </div>
                    </th>
                    <th ng-click="sortData('visitLocationId')">
                        <div class="icon-left">Tên địa điểm
                            <span class="sorting-icon" ng-bind-html="getSortIcon('id')"></span>
                        </div>
                    </th>
                    <th ng-click="sortData('visitLocationId')">
                        <div class="icon-left">Số điện thoại
                            <span class="sorting-icon" ng-bind-html="getSortIcon('id')"></span>
                        </div>
                    </th>
                    <th ng-click="sortData('ticketTypeName')">
                        <div class="icon-left">Loại vé
                            <span class="sorting-icon" ng-bind-html="getSortIcon('id')"></span>
                        </div>
                    </th>
                    <th ng-click="sortData('unitPrice')">
                        <div class="icon-left">Giá tiền
                            <span class="sorting-icon" ng-bind-html="getSortIcon('id')"></span>
                        </div>
                    </th>
                    <th ng-click="sortData('visitLocationId')">
                        <div class="icon-left">Địa chỉ
                            <span class="sorting-icon" ng-bind-html="getSortIcon('id')"></span>
                        </div>
                    </th>
                    <th scope="col">Thao tác</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="ticket in visitTicketData">
                    <td>
                        <span>
                            <input class="form-check-input" type="checkbox" value="">
                        </span>
                    </td>
                    <td>{{ $index + 1 }}</td>
                    <td>
                        <img ng-src="{{ visitLocations.visitLocationImage || 'Đang tải...' }}" class="img-fluid cursor-pointer" alt="avatar"
                             width="60" title="Xem ảnh xe" ng-click="openImageModal(visitLocations.visitLocationImage)">
                    </td>
                    <td>{{ visitLocations.visitLocationName }}</td>
                    <td>{{ visitLocations.phone }}</td>
                    <td>{{ ticket.ticketTypeName }}</td>
                    <td>{{ ticket.unitPrice | vnCurrency }}</td>
                    <td>{{ visitLocations.province }}</td>
                    <td class="d-flex align-items-center justify-content-center" style="padding-right: 10px">
                        <a href="/business/visit/visit-ticket-management/update-visit-ticket/{{ ticket.id }}"
                           role="button" class="fs-1 btn text-warning">
                            <i class="fa-solid fa-pen-to-square"></i>
                        </a>
                        <a href="#" ng-click="deleteVisitTicket(ticket.id, visitLocations.visitLocationName)"
                           role="button" class="fs-1 btn text-danger">
                            <i class="fa-solid fa-trash"></i>
                        </a>
                    </td>
                </tr>
                <tr ng-if="visitTicketData.length === 0">
                    <td colspan="9">Không có dữ liệu phương tiện.</td>
                </tr>
                </tbody>
            </table>
            <div class="card-footer">
                <div class="d-flex justify-content-end">
                    {{ getDisplayRange() }} trong tổng số {{ totalElements }}
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="imageModalLabel">Ảnh địa điểm tham quan</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <img src="" id="modalImage" class="img-fluid" alt="Ảnh phương tiện">
            </div>
        </div>
    </div>
</div>
