<div class="pb-6" ng-controller="ChartControllerAD">
    <div class="row align-items-center justify-content-between g-3 mb-6">
        <div class="col-12 col-md-auto">
            <h2 class="mb-0 fw-bold">Hoạt động kinh doanh</h2>
        </div>
        <div class="col-12 col-md-auto">
            <div class="flatpickr-input-container">
                <div class="flatpickr-input-container">
                    <input class="form-control ps-6 datetimepicker" id="datepicker" type="text"
                           value="{{clock.currentDate + ' - ' + clock.currentTime}}" readonly/>
                    <span class="uil uil-calendar-alt flatpickr-icon text-700" style="top:47%"></span>
                </div>
                <p></p>
            </div>
        </div>
    </div>
    <div class="px-3 mb-6">
        <div class="row justify-content-between">
            <div class="col-6 col-md-4 col-xxl-2 text-center border-start-xxl border-end-xxl-0 border-bottom-xxl-0 border-end border-bottom pb-4 pb-xxl-0 ">
                <img src="assets/admin/assets/img/dashboard/customer_revenue.png">
                <h1 class="fs-3 pt-3">{{ (countAmount.amountUsers) * 678 }}</h1>
                <p class="fs--6 mb-0 fw-bold text-uppercase text-muted">khách hàng</p>
            </div>
            <div class="col-6 col-md-4 col-xxl-2 text-center border-start-xxl border-end-xxl-0 border-bottom-xxl-0 border-end-md border-bottom pb-4 pb-xxl-0">
                <img src="assets/admin/assets/img/dashboard/tour_reveune.png">
                <h1 class="fs-3 pt-3">{{ (countAmount.amountTour) * 121 }}</h1>
                <p class="fs--6 mb-0 fw-bold text-uppercase text-muted">tour du lịch</p>
            </div>
            <div class="col-6 col-md-4 col-xxl-2 text-center border-start-xxl border-bottom-xxl-0 border-bottom border-end border-end-md-0 pb-4 pb-xxl-0 pt-4 pt-md-0">
                <img src="assets/admin/assets/img/dashboard/agency_revenue.png">
                <h1 class="fs-3 pt-3">{{ (countAmount.amountAgencies) * 134 }}</h1>
                <p class="fs--6 mb-0 fw-bold text-uppercase text-muted">doanh nghiệp</p>
            </div>
            <div class="col-6 col-md-4 col-xxl-2 text-center border-start-xxl border-end-md border-end-xxl-0 border-bottom border-bottom-md-0 pb-4 pb-xxl-0 pt-4 pt-xxl-0">
                <img src="assets/admin/assets/img/dashboard/hotel_revenue.png">
                <h1 class="fs-3 pt-3">{{ (countAmount.amountHotels) * 107 }}</h1>
                <p class="fs--6 mb-0 fw-bold text-uppercase text-muted">khách sạn</p>
            </div>
            <div class="col-6 col-md-4 col-xxl-2 text-center border-start-xxl border-end border-end-xxl-0 pb-md-4 pb-xxl-0 pt-4 pt-xxl-0">
                <img src="assets/admin/assets/img/dashboard/vehicle_revenue.png">
                <h1 class="fs-3 pt-3">{{ (countAmount.amountTrans) * 142 }}</h1>
                <p class="fs--6 mb-0 fw-bold text-uppercase text-muted">chuyến xe</p>
            </div>
            <div class="col-6 col-md-4 col-xxl-2 text-center border-start-xxl border-end-xxl pb-md-4 pb-xxl-0 pt-4 pt-xxl-0">
                <img src="assets/admin/assets/img/dashboard/visit_revenue.png">
                <h1 class="fs-3 pt-3">{{ (countAmount.amountVisit) * 111 }}</h1>
                <p class="fs--6 mb-0 fw-bold text-uppercase text-muted">khu tham quan</p>
            </div>
        </div>
    </div>
    <div class="mx-n4 px-4 mx-lg-n6 px-lg-6 bg-white pt-6 pb-3 border-y border-300">
        <div class="row gx-6">
            <div class="col-12 col-md-6 col-lg-12 col-xl-6 mb-5 mb-md-3 mb-lg-5 mb-xl-2 mb-xxl-3">
                <div class="scrollbar">
                    <h3>Doanh Thu Từ Tour Trong 4 Năm Gần Đây</h3>
                    <p class="text-700">Hiển thị doanh thu từ các tour từ năm 2021 - 2024.</p>
                    <!-- Bất kỳ nội dung bổ sung nào khác bạn muốn đặt trước biểu đồ -->
                </div>
                <div class="mb-5 mt-5"></div>
                <div class="echart-email-campaign-report echart-contacts-width"
                     style="user-select: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); position: relative;">
                    <div style="position: relative; width: 573px; height: 430px; padding: 0px; margin: 0px; border-width: 0px; cursor: default;">
                        <canvas data-zr-dom-id="zr_0" width="716" height="537"
                                style=" position: absolute; left: 0px; top: 0px; width: 573px; height: 430px; user-select: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); padding: 0px; margin: 0px; border-width: 0px;"></canvas>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-12 col-xl-6 mb-5 mb-md-3 mb-lg-5 mb-xl-2 mb-xxl-3">
                <div class="scrollbar row">
                    <div class="col-auto col-lg-12 mb-2 ps-5">
                        <h4>Hiển thị số lượng tour đã đi và đang đi theo loại tour</h4>
                        <p class="text-700 mb-0">Dữ liệu được hiển thị theo loại tour và số năm</p>
                    </div>
                    <div class="col-lg-8 mb-3 ps-5">
                        <select class="form-select form-select-sm" ng-model="tourTypeId"
                                ng-options="tourType.id as tourType.tourTypeName for tourType in tourTypesList">
                            <option value="">Tất cả loại tour</option>
                        </select>
                    </div>
                    <div class="col-lg-4 mb-3 pe-5">
                        <select class="form-select form-select-sm" ng-model="year" ng-options="y for y in selectYearList">
                        </select>
                    </div>
                    <div class="echart-email-campaign-report echart-contacts-width"
                         style="user-select: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); position: relative;">
                        <div style="position: relative; width: 573px; height: 430px; padding: 0; margin: 0px; border-width: 0px; cursor: default;">
                            <canvas id="line" class="chart chart-line"
                                    style="position: absolute; left: 0; top: 0; width: 573px; height: 430px; user-select: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); padding: 0; margin: 0; border-width: 0;">
                            </canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>